<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
     <link rel="stylesheet" href="/public/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="w-full overflow-hidden pt-[48px] min-h-screen">


    
        <div class="max-w-[600px] mx-auto text-center m-[120px_16px]">
            <div class="text-center w-fit mx-auto mb-[32px]">
                <img src="/public/img/cms404-img.svg" alt="noFilter">
            </div>
            <h2 class="text-[24px] font-semibold text-[#262626] mb-[8px] leading-[30px]">
                PAGE NOT FOUND</h2>
            <p class="text-[#262626] mb-[24px] text-center text-[16px] font-normal leading-[15px]  ">
                The page you are looking for might have been removed had its name changed or
                is temporarily unavailable.</p>
        </div>

    
    </section>
</body>

</html>