{{define "emailmodal"}}
{{$Translate := .translate}}

<!-- Modal -->

<!-- <div class="modal fade" id="emailtemplateModal"  tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">

     <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered px-[16px] py-8 2xl:py-20 h-full m-auto max-w-[800px]" role="document">
         <div class="modal-content b-0 rounded-[3px]">
             <div class=" modal-header px-6 py-[8px] border-b border-[#EDEDED] flex justify-between items-center">
                 <h5 class="mb-0 text-bold-black font-medium text-base" id="modalTitleId">
                     OTP Generate
                 </h5>
                 <div class="flex gap-3">
                     <a href="javascript:void(0);" data-bs-dismiss="modal"
                         class="h-8 flex items-center justify-center px-3  text-sm font-normal text-bold-black bg-[#FAFAFA] hover:bg-[#e0e0e0] rounded-[4px] no-underline">Cancel</a>
                     <button id="update-templatebtn"
                         class="h-8 flex items-center justify-center px-3  text-sm font-normal text-white bg-[#10A27F]  hover:bg-[#148569] rounded-[4px] no-underline">Update
                     </button>
                 </div>
             </div>
             <div class="overflow-auto modal-body p-0">
                <form id="mailtemplate_form" method="post" name="emailtemplateform" novalidate="novalidate">
                    <input type="hidden" name="csrf" value="{{.csrf}}">
                    <input type="hidden" id="input-pagefind" name="pathname" value="">
                    <input type="hidden" id="input-tempid" name="userid" value="">
                 <div class="p-6 flex flex-col gap-[24px]">
                     <div id="namegrb">
                         <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Emailtemplate.EmailName}}</label>
                         <input type="text" placeholder="Enter Name" name="tempname" id="emailname"
                             class="field bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                     </div>
                     <div id="subgrb">
                         <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Emailtemplate.EmailSub}}</label>
                         <input type="text" placeholder="Enter Subject" name="tempsub" id="emailsub"
                             class="bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                     </div>
                     <div id="desgrb">
                         <label class="text-[14px] font-normal leading-[17.5px] text-[#152027] mb-[6px]">{{$Translate.Emailtemplate.EmailDesc}}</label>
                         <textarea name="tempdesc" id="emaildesc"
                             class="bg-[#F7F7F5] p-2 px-3 rounded-[4px] text-[14px] font-normal leading-[17.5px] tracking-[0.005em]  outline-none h-[120px] block w-full resize-none scrollbar-none" placeholder="Enter mail subject"></textarea>
                     </div>
                     <div class="input-group email-con-module" id="contgrb">
                        <input type="hidden" id="ckeditor-data" name="temcont" value="">
                     <div class="channel-editor">
                         <label class="text-[14px] font-normal leading-[17.5px] text-[#152027] mb-[6px]">{{$Translate.Emailtemplate.EmailCont}}</label>
                         <textarea name="" id="text"
                             class="bg-[#F7F7F5] p-2 px-3 rounded-[4px] text-[14px] font-normal leading-[17.5px] tracking-[0.005em]  outline-none h-[240px] block w-full resize-none scrollbar-none"></textarea>
                     </div>
                    </div>

                </form>
                 </div>
             </div>
         </div>
     </div>

 </div> -->

<!-- new email model -->

<div class="modal right fade" id="emailtemplateModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable !max-w-[650px] !w-full" role="document">
        <div class="modal-content b-0 rounded-[3px]">
            <div class=" modal-header px-6 py-[8px] border-b border-[#EDEDED] flex justify-between items-center max-sm:p-[6px_16px]">
                <h5 class="mb-0 text-bold-black font-medium text-base" id="modalTitleId">
                    {{$Translate.Emailtemplate.Updatetemplateemail}}
                </h5>
                <div class="flex space-x-[12px]">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" id="emailEditCloseBtn"
                        class="h-8 flex items-center justify-center px-3  text-sm font-normal text-bold-black bg-[#FAFAFA] hover:bg-[#e0e0e0] rounded-[4px] no-underline">{{$Translate.Cancel}}</a>
                    <button id="update-templatebtn"
                        class="h-8 flex items-center justify-center px-3  text-sm font-normal text-white bg-[#10A27F]  hover:bg-[#148569] rounded-[4px] no-underline">{{$Translate.Update}}
                    </button>
                </div>
            </div>
            <div class="overflow-auto modal-body p-0 scrollbar-thin">
                <form id="mailtemplate_form" method="post" name="emailtemplateform" novalidate="novalidate" action="">
                    <input type="hidden" name="csrf" value="{{.csrf}}">
                    <input type="hidden" id="input-pagefind" name="pathname" value="">
                    <input type="hidden" id="input-tempid" name="userid" value="">
                    <div class="p-6 flex flex-col space-y-[24px] max-sm:p-[16px]">
                        <div id="namegrb">
                            <label
                                class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Emailtemplate.EmailName}}</label>
                            <input type="text" placeholder="Enter Name" name="tempname" id="emailname"
                                class="field bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                        </div>
                        <div id="subgrb">
                            <label
                                class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Emailtemplate.EmailSub}}</label>
                            <input type="text" placeholder="Enter Subject" name="tempsub" id="emailsub"
                                class="bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2] [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs">
                        </div>
                        <div id="desgrb">
                            <label
                                class="text-[14px] font-normal leading-[17.5px] text-[#152027] mb-[6px]">{{$Translate.Emailtemplate.EmailDesc}}</label>
                            <textarea name="tempdesc" id="emaildesc"
                                class="bg-[#F7F7F5] p-2 px-3 rounded-[4px] text-[14px] border border-[#EDEDED] font-normal leading-[17.5px] tracking-[0.005em]  outline-none h-[120px] block w-full resize-none scrollbar-none [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs"
                                placeholder="Enter mail subject "></textarea>
                        </div>
                        <div class="input-group email-con-module" id="contgrb">
                            <input type="hidden" id="ckeditor-data" name="temcont" value="">
                            <div class="channel-editor">
                                <label
                                    class="text-[14px] font-normal leading-[17.5px] text-[#152027] mb-[6px]">{{$Translate.Emailtemplate.EmailCont}}</label>
                                <div name="temcont" id="text"
                                    class="bg-[#F7F7F5] p-2 px-3 rounded-[4px] text-[14px] font-normal leading-[17.5px] tracking-[0.005em]  outline-none h-[240px] block w-full resize-none scrollbar-none [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs"></div>
                            </div>
                            <!-- <div id="editor"></textarea> -->
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>

</div>

{{end}}