@import url(variables.css);

.flexx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
}

/* table */
.table-responsive {
    overflow: visible;
    height: fit-content;
    overflow-x: visible !important;
}

.table-responsive table {
    caption-side: top;
    min-width: 768px;
}

.table-responsive table caption {
    padding: 8px 16px;
    border-bottom: 1px solid #EDEDED;
}

.table-responsive table caption p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #A1A1A1;
}

.table-responsive table caption p span {
    font-weight: 600;
    color: #262626;
}

.table-responsive thead tr th {
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    border-bottom: .0625rem solid #EDEDED !important;
    vertical-align: middle;
    line-height: 17.5px;
}

.table-responsive tbody tr td {
    padding: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #717171;
    border-bottom: .0625rem solid #EDEDED;
    vertical-align: middle;
    line-height: normal;
}

.tbl-img-content {
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.tbl-img-content .tbl-img {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    overflow: hidden;
}

.tbl-img-content h4 {
    font-size: 12px;
    font-weight: 400;
    color: #152027;
}

.tbl-img-name {
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.tbl-img-name .tbl-img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
}

.tbl-img-name h4 {
    font-size: 12px;
    font-weight: 400;
    color: #152027;
}

.tbl-img-content .default {
    border-radius: .1875rem;
    padding: 3px 8px;
    background-color: var(--clr-dropdown-hover);
    color: var(--clr-primary-color);
    font-size: 10px;
    font-weight: 400;
}

.table-responsive tbody tr td .toggle {
    display: inline-flex;
}

.table-responsive tbody tr td .dropdown-toggle {
    background-color: transparent;
    border: 0;
    display: grid;
    place-items: center;
    align-items: center;
    gap: 5px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}


.table-responsive tbody tr td .dropdown-toggle:hover,
.table-responsive tbody tr td .dropdown-toggle.show {
    background-color: #F5F5F5;
}

.table-responsive tbody tr td .dropdown-toggle::after {
    display: none;
}

.table-responsive tbody tr td .dropdown-menu {
    min-width: 220px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0rem .0625rem .625rem 0rem rgba(0, 0, 0, 0.08);
    padding: 12px 0;
    border: 0;
}

.table-responsive tbody tr td .dropdown-item {
    height: 44px;
    width: 100%;
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 16px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #262626;
    align-items: center;
    padding: 12px 16px;
    line-height: 20px;
}

.table-responsive tbody tr td .dropdown-item span {
    width: 16px;
    height: 16px;
    display: grid;
    place-items: center;
}

.table-responsive tbody tr td .dropdown-item span img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.table-responsive tbody tr td .dropdown-item:hover {
    background-color: #F5F5F5;
}

.status {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
}

.status.published {
    background-color: #E2F7E3;
    color: #278E2B;
}

.status.unpublished {
    background-color: #E2EDFC;
    color: #0E56B3;
}

.status.draft {
    background-color: #FDF1E4;
    color: #FC770F;
}


/* pagination */
.pogination {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 232px);
    right: 0;
    background-color: #ffffff;
}

.pogination p {
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    line-height: 14px;
}

.pogination ul {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pogination ul li a {
    width: 33px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: .0625rem solid #ECECEC;
    background: #FFF;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}

.pogination ul li:first-child a.disabled {
    opacity: 0.5;
}

.pogination ul li a.current {
    border: none;
    color: #FFFFFF;
    background-color: #10A37F;
    font-weight: 700;
}

.pogination ul li a.current:hover {
    background-color: #148569;
}

.pogination ul li a.next {
    border: .0625rem solid #ECECEC;
    width: 77px;
    height: 36px;
    gap: 4px;
}

.pogination ul li a:hover {
    background-color: #F5F5F5;

}

/* Checkbox */
.chk-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.chk-group label {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #262626;
    letter-spacing: 0.005em;

}

.chk-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    background-image: url("/public/img/unchecked-box.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.chk-group input:checked+label:before {
    background-image: url("/public/img/checked-box.svg");
}

.filter-btn {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn.show,
.search-btn:hover {
    background-color: #F0FFFB;
}

.toggle-img:hover img:first-of-type,
.toggle-img.show img:first-of-type {
    display: none;
}



.toggle-img img:last-of-type {
    display: none;
}


.toggle-img:hover img:last-of-type,
.toggle-img.show img:last-of-type {
    display: inline-block;
}


.filter-dropDown>.dropdown-menu {
    box-shadow: 0px 1px 10px 0px #00000014;
    width: 280px;
    padding: 12px;
    border-radius: 3px;
    border: none;
}

.filterDrp-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 12px;
}

.filterDrp-head h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: #262626;
}

.filter-dropDown .flter-option>a,
.filter-dropDown .flter-option>input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F5;
    padding: 8px;
    border-radius: 4px;
    height: 32px;
    border: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.75px;
    width: 100%;
    outline: none;
    min-width: 158px;
}

.filter-dropDown .flter-option input::placeholder {
    color: #717171;
}

.filter-dropDown .flter-option span {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.75px;
    color: #717171;

}

.filterDrp-fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 16px;
}

.filterDrp-fields:last-of-type {
    margin-bottom: 0;
}

.filterDrp-fields p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #152027;
}

.editor-tabs.close {
    width: 0;
}



.search-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-btn.active {
    width: 300px;
    justify-content: start;
    padding: 8px 16px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    gap: 12px;
    overflow: hidden;

}

.search-btn.active input {
    width: calc(100% - 36px);
    visibility: visible;
    height: 100%;
}

.search-btn input {
    border: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    flex-grow: 1;
    border: none;
    outline: none;
    width: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    right: 0;

}

.search-btn input::placeholder {
    color: #AAAAAA;
}

.srchBtn-togg {
    display: grid;
    height: 100%;
    width: 32px;
    place-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.search-btn.active:hover {
    background-color: transparent;
}

.table-responsive table tr .check-cell {
    padding-left: 16px;
    padding-right: 0;
}

.table-responsive table tr .chk-group label {
    width: 14px;
    height: 14px;
}

.table-responsive tbody tr td .dropdown-menu>li:last-of-type {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #EDEDED;

}












@import url(variables.css);


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"');

/* font */
@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-ExtraLight.woff2') format('woff2'),
        url('../css/fonts/Lexend-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Bold.woff2') format('woff2'),
        url('../css/fonts/Lexend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Medium.woff2') format('woff2'),
        url('../css/fonts/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Black.woff2') format('woff2'),
        url('../css/fonts/Lexend-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-ExtraBold.woff2') format('woff2'),
        url('../css/fonts/Lexend-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Light.woff2') format('woff2'),
        url('../css/fonts/Lexend-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Regular.woff2') format('woff2'),
        url('../css/fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-SemiBold.woff2') format('woff2'),
        url('../css/fonts/Lexend-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../css/fonts/Lexend-Thin.woff2') format('woff2'),
        url('../css/fonts/Lexend-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
abbr,
acronym,
big,
font,
img,
small,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
select,
a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Lexend';
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
button,
p {
    margin: 0;
    font-weight: 400;
    color: var(--clr-text-dark-color);
}

a,
a:hover {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
}

.flexx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
}

/* Text */
.heading {
    font-size: 1.125rem;
    font-weight: 400;
}

.heading-second {
    font-size: 1rem;
}

.heading-three {
    font-size: 0.875rem;
}

.heading-four {
    font-size: 0.8125rem;
}

.para {
    font-size: 0.75rem;
}

.para-light {
    font-size: 0.6875rem;
}

.para-extralight {
    font-size: 0.625rem;
    font-weight: 300;
    color: var(--clr-text-light-color);
}

/* inputs */
::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #d2d2d2;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-group .input-label {
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: #152027;
    padding: 0.3125rem 0.5rem;
    border-radius: 0.1875rem 0.1875rem 0 0 !important;
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    border-bottom: 0;
    position: relative;
    left: -1px;
}

.ig-row {
    display: block;
    width: 100%;
    position: relative;
}

.ig-row input,
.ig-row textarea,
.ig-row select {
    width: 100%;
    height: 2.125rem;
    border: 1px solid #EDEDED;
    border-radius: 0 0.1875rem 0.1875rem 0.1875rem;
    padding-inline: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #112D55;
    background-color: white;
}

.input-group-focused .input-label {
    background-color: #112D55;
    border: 1px solid #112D55;
    color: #fff;
}

.input-group-focused .ig-row input,
.input-group-focused .ig-row textarea,
.input-group-focused .ig-row select {
    border: 1px solid #112D55;
}

.input-group-error .input-label {
    background-color: #F26674;
    border: 1px solid #F26674;
    color: #fff;
}

.input-group-error .ig-row input,
.input-group-error .ig-row textarea,
.input-group-error .ig-row select {
    border: 1px solid #F26674;
}

.error-text {
    position: absolute;
    bottom: -1.125rem;
    left: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: #F26674;
}

.ig-row textarea {
    height: 6rem;
    padding: 0.5rem
}

/* Button */
.btn-reg {
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0;
}

.button-reg {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: var(--font-13);
    font-weight: 500;
    color: var(--text-color-white);
    border: 0;
    gap: 10px;
    padding-inline: 10px;
}


.btn-lg {
    height: 2.625rem;
    padding-inline: 2.5rem;
}

.btn-md {
    height: 2.125rem;
    padding-inline: 1.5rem;
}

.btn-sm {
    height: 2rem;
    padding-inline: 1rem;
}

.btn-xs {
    height: 1.4375rem;
    padding-inline: 0.5rem;
    font-size: 0.75rem;
}

.primary {
    background-color: var(--clr-primary-color);
    color: #fff;
}

.secondary {
    background-color: #F4F4F4;
    color: var(--clr-text-dark-color);
}

.btn-outline {
    border: 1px solid var(--clr-primary-color);
    background-color: transparent;
    color: var(--clr-primary-color);
}

/* Toggle */
.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 1.8125rem;
    height: 0.9375rem;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-light+.tgl-btn {
    background: #999999;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.tgl-light:checked+.tgl-btn {
    background: #09D989;
}


/* Radio */
.radio {}

.radio label {
    line-height: 1;
    position: relative;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #333;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    position: relative;
    top: 0em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #333;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #333;
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 2px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}

.radio-label input[type=radio]+.radio-label {
    padding-left: 1.25rem;
    font-size: 0.875rem;
}

.radio-label input[type=radio]+.radio-label:before {
    position: absolute;
    left: 0;
}

.primary-link {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--clr-primary-color);
    text-decoration: underline;
}

.primary-link:hover {
    color: var(--clr-primary-color);
    text-decoration: underline;
}

.secondary-link {
    font-size: 0.75rem;
    font-weight: 400;
    color: #555;
    text-decoration: underline;
}

.secondary-link:hover {
    color: #555;
    text-decoration: underline;
}

/* Right Modal */
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 31.25rem;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: 0;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 0px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -31.25rem;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -31.25rem;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal.right .modal-header {
    height: 3.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-bottom: 1px solid #DFE1E1;
}

.modal.right .modal-header h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #152027;
}

.modal.right .modal-header .close {
    background-color: transparent;
    border: 0;
    padding: 0;
}

/* Center Modal */

.modal .modal-content {
    border-radius: 0;
    border: 0;
}

.modal .modal-header {
    height: 4.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-bottom: 1px solid #DFE1E1;
}

.modal .modal-header h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #152027;
}

.modal .modal-header .close {
    background-color: transparent;
    border: 0;
    padding: 0;
}

/*modal*/
.modalHeader-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.modalHeader h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #262626;
}

.modal-content {
    border-radius: 4px !important;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 24px;
    border-bottom: 1px solid #ECECEC;
}



.center-mdl .modal-body {
    padding: 24px;
}



.center-mdl-md .modal-dialog {
    max-width: 608px !important;
}

.tab-inputGrp.input-bordered input,
.tab-inputGrp.input-bordered .dropdown>a {
    height: 36px;
}

.tab-inputGrp.input-bordered input,
.tab-inputGrp.input-bordered textarea,
.tab-inputGrp.input-bordered .dropdown>a {
    border: 1px solid #EDEDED;
}

.tab-inputGrp.input-bordered label {
    color: #152027;
}

.filter-btn {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn.show,
.search-btn:hover {
    background-color: #F0FFFB;
}

.toggle-img:hover img:first-of-type,
.toggle-img.show img:first-of-type {
    display: none;
}



.toggle-img img:last-of-type {
    display: none;
}


.toggle-img:hover img:last-of-type,
.toggle-img.show img:last-of-type {
    display: inline-block;
}


.filter-dropDown>.dropdown-menu {
    box-shadow: 0px 1px 10px 0px #00000014;
    width: 280px;
    padding: 12px;
    border-radius: 3px;
    border: none;
}

.filterDrp-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 12px;
}

.filterDrp-head h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: #262626;
}

.flter-option>a,
.flter-option>input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F5;
    padding: 8px;
    border-radius: 4px;
    height: 32px;
    border: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.75px;
    width: 100%;
    outline: none;
    min-width: 158px;
}

.flter-option input::placeholder {
    color: #717171;
}

.flter-option span {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.75px;
    color: #717171;

}

.filterDrp-fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 16px;
}

.filterDrp-fields:last-of-type {
    margin-bottom: 0;
}

.filterDrp-fields p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #152027;
}

.caption {
    padding: 8px 16px;
    border-bottom: 1px solid #EDEDED;
}

.caption p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #A1A1A1;
}

.caption p span {
    font-weight: 600;
    color: #262626;
}