@import url(variables.css);
/* font */
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-ExtraLight.woff2') format('woff2'),
      url('../css/fonts/Lexend-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Bold.woff2') format('woff2'),
      url('../css/fonts/Lexend-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Medium.woff2') format('woff2'),
      url('../css/fonts/Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Black.woff2') format('woff2'),
      url('../css/fonts/Lexend-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-ExtraBold.woff2') format('woff2'),
      url('../css/fonts/Lexend-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Light.woff2') format('woff2'),
      url('../css/fonts/Lexend-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Regular.woff2') format('woff2'),
      url('../css/fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-SemiBold.woff2') format('woff2'),
      url('../css/fonts/Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend';
  src: url('../css/fonts/Lexend-Thin.woff2') format('woff2'),
      url('../css/fonts/Lexend-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,  blockquote,  abbr, acronym, big, font, img, small, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, input, textarea, select, a {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-family: 'Lexend';
  vertical-align:baseline;
  box-sizing:border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}
body {
  font-family: 'Lexend';
  background-color: #F9F9FA;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button,p {
  margin: 0;
  font-weight: 400;
  color: var(--clr-text-dark-color);
}
a, a:hover { text-decoration: none; }
button { outline: none; cursor: pointer; }
.flexx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
}

/* Text */
.heading {
    font-size: 1.125rem;
    font-weight: 400;
}
.heading-second {
    font-size: 1rem;
}
.heading-three {
    font-size: 0.875rem;
}
.heading-four {
    font-size: 0.8125rem;
}
.para {
    font-size: 0.75rem;
}
.para-light {
    font-size: 0.6875rem;
}
.para-extralight {
    font-size: 0.625rem;
    font-weight: 300;
    color: var(--clr-text-light-color);
}

/* inputs */
::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #d2d2d2;
}
.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.input-group .input-label {
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: #152027;
    padding: 0.3125rem 0.5rem;
    border-radius: 0.1875rem 0.1875rem 0 0!important;
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    border-bottom: 0;
    position: relative;
    left: -1px;
}
.ig-row {
    display: block;
    width: 100%;
    position: relative;
}
.ig-row input,
.ig-row textarea,
.ig-row select {
    width: 100%;
    height: 2.125rem;
    border: 1px solid #EDEDED;
    border-radius: 0 0.1875rem 0.1875rem 0.1875rem;
    padding-inline: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #112D55;
    background-color: white;
}
.input-group-focused .input-label {
    background-color: #112D55;
    border: 1px solid #112D55;
    color: #fff;
}
.input-group-focused .ig-row input,
.input-group-focused .ig-row textarea,
.input-group-focused .ig-row select  {
    border: 1px solid #112D55;
}
.input-group-error .input-label {
    background-color: #F26674;
    border: 1px solid #F26674;
    color: #fff;
}
.input-group-error .ig-row input,
.input-group-error .ig-row textarea,
.input-group-error .ig-row select {
    border: 1px solid #F26674;
}
.error-text {
    position: absolute;
    bottom: -1.125rem;
    left: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: #F26674;
}
.ig-row textarea {
    height: 6rem;
    padding: 0.5rem
}

/* Button */
.btn-reg {
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0;
}
.btn-lg {
    height: 2.625rem;
    padding-inline: 2.5rem;
}
.btn-md {
    height: 2.125rem;
    padding-inline: 1.5rem;
}
.btn-sm {
    height: 2rem;
    padding-inline: 1rem;
}
.btn-xs {
    height: 1.4375rem;
    padding-inline: 0.5rem;
    font-size: 0.75rem;
}
.primary {
    background-color: var(--clr-primary-color);
    color: #fff;
}
.secondary {
    background-color: #F4F4F4;
    color: var(--clr-text-dark-color);
}
.btn-outline {
    border: 1px solid var(--clr-primary-color);
    background-color: transparent;
    color: var(--clr-primary-color);
}

/* Toggle */
.tgl {
    display: none;
 }
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 1.8125rem;
    height: 0.9375rem;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}  
.tgl-light + .tgl-btn {
    background: #999999;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #09D989;
}

/* Checkbox */
.chk-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}  
.chk-group label {
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
}  
.chk-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #333333;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.25rem;
    vertical-align: top;
}
/* .chk-group label:hover::after, */
.chk-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
    width: 5px;
    height: 9px;
    border: solid #333;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
.chk-group input:checked + label:after {
    border: solid #fff;
    border-width: 0 1px 1px 0;
}
.chk-group input:checked + label:before {
    background-color: #333;
}
.chk-group-label label {
    line-height: 1;
    padding-left: 1.5rem;
}
.chk-group-label label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
.chk-group-label label:hover::after,
.chk-group-label input:checked + label:after {
    top: 0.17rem;
}

/* Radio */
.radio {
    
}
.radio label {
    line-height: 1;
    position: relative;
}
.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #333;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    position: relative;
    top: 0em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
    background-color: #333;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
    outline: none;
    border-color: #333;
}
.radio input[type=radio]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 2px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
    margin-right: 0;
}
.radio-label input[type=radio] + .radio-label {
    padding-left: 1.25rem;
    font-size: 0.875rem;
}
.radio-label input[type=radio] + .radio-label:before {
    position: absolute;
    left: 0;
}
.primary-link {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--clr-primary-color);
    text-decoration: underline;
}
.primary-link:hover {
    color: var(--clr-primary-color);
    text-decoration: underline;
}
.secondary-link {
    font-size: 0.75rem;
    font-weight: 400;
    color: #555;
    text-decoration: underline;
}
.secondary-link:hover {
    color: #555;
    text-decoration: underline;
}

/* table */
.table-responsive {
    overflow: visible;
}
.table-responsive thead tr th {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #152027;
    border-bottom: 1px solid #EDEDED;
    vertical-align: middle;
}
.table-responsive tbody tr:hover {
    background-color: var(--clr-dropdown-hover);
}
.table-responsive tbody tr td {
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: #152027;
    border-bottom: 1px solid #EDEDED;
    vertical-align: middle;
}
.tbl-img-content {
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.tbl-img-content .tbl-img {
    width: 1.4375rem;
    height: 1.4375rem;
    border-radius: 50%;
    overflow: hidden;
}
.tbl-img-content h4 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #152027;
}
.tbl-img-name {
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}
.tbl-img-name .tbl-img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.tbl-img-name h4 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #152027;
}
.tbl-img-content .default {
    border-radius: 3px;
    padding: 0.1875rem 0.5rem;
    background-color: var(--clr-dropdown-hover);
    color: var(--clr-primary-color);
    font-size: 0.625rem;
    font-weight: 400;
}
.table-responsive tbody tr td .toggle {
    display: inline-flex;
}
.table-responsive tbody tr td .dropdown-toggle {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3125rem;
}
.table-responsive tbody tr td .dropdown-toggle::after {
    display: none;
}
.table-responsive tbody tr td .dropdown-menu {
    min-width: 7.5625rem;
    border-radius: 0.1875rem;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
    padding: 0.25rem;
    border: 0;
}
.table-responsive tbody tr td .dropdown-item {
    height: 1.5625rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.625rem 1fr;
    gap: 0.5rem;
    border-radius: 0.1875rem;
    font-size: 0.75rem;
    font-weight: 300;
    color: #222; 
    align-items: center;
}
.table-responsive tbody tr td .dropdown-item:hover {
    background-color: var(--clr-dropdown-hover);
}
.status {
    padding: 0.1875rem 0.5rem;
    border-radius: 3px;    
    font-size: 0.75rem;
    font-weight: 400;
}
.status.published {
    background-color: #E2F7E3;
    color: #08940C;
}
.status.unpublished {
    background-color: #E2EDFC;
    color: #0E56B3;
}
.status.draft {
    background-color: #FDF1E4;
    color: #FC770F;
}

/* pagination */
.pogination {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pogination p{
    margin-left: auto;
    font-size: 0.75rem;
    font-weight: 400;
}
.pogination ul {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.pogination ul li a {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #DFE3E8;
    background: #FFF;
    font-size: .875rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50); 
}
.pogination ul li:first-child a img {
    transform: rotate(180deg);
}
.pogination ul li:first-child a.disabled {
    opacity: 0.5;
}
/* .pogination ul li a.current {
    border: 1px solid var(--clr-primary-color);
    color: var(--clr-primary-color); 
} */
.pogination ul li a.next {
    border: 1px solid rgba(0, 0, 0, 0.80);
}

/* Right Modal */
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 31.25rem;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: 0;
}
.modal.left .modal-body,
.modal.right .modal-body {
    padding: 0px;
}
/*Left*/
.modal.left.fade .modal-dialog{
    left: -31.25rem;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.show .modal-dialog{
    left: 0;
}
/*Right*/
.modal.right.fade .modal-dialog {
    right: -31.25rem;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
.modal.right .modal-header {
    height: 3.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-bottom: 1px solid #DFE1E1;
}
.modal.right .modal-header h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #152027;
}
.modal.right .modal-header .close {
    background-color: transparent;
    border: 0;
    padding: 0;
}

/* Center Modal */
.modal .modal-dialog {
    max-width: 50rem;
}
.modal .modal-content {
    border-radius: 0;
    border: 0;
}
.modal .modal-header {
    height: 4.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-bottom: 1px solid #DFE1E1;
}
.modal .modal-header h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #152027;
}
.modal .modal-header .close {
    background-color: transparent;
    border: 0;
    padding: 0;
}