.input-group label.error {
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 400;
  color: #F26674;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.1875rem 0.1875rem 0 0 !important;
  border-bottom: 0;
  position: relative;
  left: -1px;
}

.searchbtn {
  padding-top: 12px;
  position: absolute;
  padding-left: 9px;
  cursor: pointer;
}


/*146 24-11-2023*/
.toast-msg {
  width: 23.125rem;
  height: 3.125rem;
  border-radius: .25rem;
  z-index: 5;
  display: flex;
  gap: .625rem;
  align-items: center;
  padding-inline: .8125rem;
  position: absolute;
  top: 4.0625rem;
  right: .3125rem;
}

.sucs-green {
  border: solid .0625rem #3fc063;
  background-color: #ebf7ee;

}

.info-blu {
  border: solid .0625rem #88ade9;
  background-color: #e5effa;

}

.warn-org {
  border: solid .0625rem #f4b854;
  background-color: #fef7ea;
}

.dang-red {
  border: solid .0625rem #ffc4bd;
  background-color: #fcedea;
}

.toast-msg span {
  font-size: .8125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #171b1e;
}

.toast-msg>a {
  position: absolute;
  right: .4375rem;
  top: .4375rem;
  width: .4375rem;
  height: .4375rem;
}

.toast-msg .rgt-img {
  width: 0.4375rem;
  height: 0.4375rem;
}


.expand .roles-head {
  width: calc(100% - 25.5rem) !important;
}

.expand .roles-head,
.expand footer {
  left: 25.5rem !important;
}

#langflag {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.langdata .dropdown-menu {
  min-width: 8.5rem !important;
  top: 0.625rem !important;
  padding: 1rem 0.5rem!important;
}

.header-rht .langdata .dropdown-menu li {
  padding: 0;
}

.header-rht .btn-group.langdata .dropdown-menu li button {
  display: grid;
  grid-template-columns: 1.125rem 1fr;
  gap: 0.5rem;
  text-transform: capitalize;
}
.header-rht .btn-group.langdata .dropdown-menu li button img {
  border-radius: 0.0625rem;
}

.transitionSearch.active input {
  font-size: 0.825rem;
  font-weight: 400;
}

/*046  24-11-2023*/
.search-grp {
  position: relative;
  display: flex;
  align-items: center;
}

.search-grp a {
  position: absolute;
  left: 0.5rem;
}

/*176 24-11-2023 */
.user-drop-down.input-group-error a {
  border: 1px solid #F26674;
}

.user-drop-down.input-group-focused a {
  border: 1px solid #112D55 !important;
}

.input-group-focused .input-label {
  background-color: #112D55 !important;
  border: 1px solid #112D55 !important;
  color: #fff !important;
}

.input-group-focused .ig-row input,
.input-group-focused .ig-row textarea,
.input-group-focused .ig-row select {
  border: 1px solid #112D55 !important;
}

/* .input-group-error .input-label {
  background-color: #F26674;
  border: 1px solid #F26674;
  color: #fff;
} */

.input-group-focused .input-label {
  background-color: #112D55;
  border: 1px solid #112D55;
  color: #fff;
}

/* .input-group .input-label {
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 400;
  color: #152027;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.1875rem 0.1875rem 0 0!important;
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
  border-bottom: 0;
  position: relative;
  left: -1px;
} */

/*146 25-11-2023*/
.categories-list-child:hover {
  border: 1px solid #112D55;
}

.categories-list {
  max-height: calc(100vh - 32rem);
  overflow: auto;
  display: flex !important;
  flex-direction: column;
  height: 100vh;
}

.available-selected-Categories {
  height: auto !important;
}

/* 046 25-11-2023 */
.lang_file {
  display: none;
  color: #F26674;
  font-size: 0.75rem;
  font-weight: 400;
  border-radius: 0.1875rem;
  background-color: #EDEDED;
  padding: 0.3125rem 0.5rem;
}

.input-group-focused span {
  background-color: #112D55;
  border: 1px solid #112D55;
  color: #fff;
}

.input-group-focused .file-upload {
  border: 1px solid #112D55;
}

/*146 27-11-2023*/
.options-added-row {
  width: 100%;
  border-bottom: solid 1px #d1cfcf;
  padding: 0.3125rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.825rem;
  font-weight: 400;
  color: #828282;
}


.options-added-row button {
  background-color: transparent;
  border: 0;
}

.field-tab:hover {
  /* background: #AFEFFF; */
}

.fieldapp.active {
  border: 1px solid #112D55;
}

.section-fields-content {
  min-height: 10.3125rem;
}

.section-fields-content:hover {
  border: 1px dashed #C0C6CB
}

.section-fields-content.active {
  border: 1px dashed #C0C6CB
}

.section-class {
  display: flex;
  justify-content: space-between;
}

.section-class .section-title {
  font-size: 0.825rem;
}

.section-class button {
  border: 0;
  background-color: white;
}

/*046 27-11-2023 */
.input-grp-focused label {
  background-color: #112D55 !important;
  border: 1px solid #112D55 !important;
  color: #fff !important;
}

.input-grp-focused .input-label {
  background-color: #112D55 !important;
  border: 1px solid #112D55 !important;
  color: #fff !important;
}

/*146 28-11-2023*/
.propinput .ig-row input {
  /* color: #D2D2D2; */
}



/*176 30-11-2023*/
.cropimg-left {
  text-align: center;
  width: 596px;
  height: 303px;
}

input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #00acd7;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #00acd7;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #00acd7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00acd7;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #00acd7;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #00acd7;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #00acd7;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #00acd7;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #00acd7;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #00acd7;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #00acd7;
  cursor: pointer;
}

#rotateSlider {
  width: 100%;
  padding: 10px 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #00acd7;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

/*media crop*/
/* .cr-boundary {
  min-width: 300px;
  min-height: 300px; 
  max-width: 300px; 
  max-height: calc(100vh - 21rem);
  width: 300px !important;
  height: 300px !important;
} */ 

.cr-resizer {
  max-width: 300px;
  max-height: 300px;

}

#myfile {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.admin-header {
  width: 100%;
  position: relative;
  margin-bottom: 3.1875rem;
}

.admin-header .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0;
  opacity: 1;
  background: none;
}
.admin-header .btn-close:focus {
  box-shadow: none;
}

.admin-header p {
  font-weight: 400;
  font-size: .75rem;
  line-height: normal;
  color: rgba(137, 137, 137, 0.9);
}

.admin-header h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  color: #282828;
  margin-bottom: .1875rem;
}

.admincropimg-wrap {
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.flexx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-reg.clear {
  background-color: transparent;
  color: #2371a3;
  min-width: auto;
}

.button-reg.clear:hover {
  color: #2371a3;
}

.button-reg.save {
  background-color: var(--clr-primary-color);
  color: #fff;
}

.button-reg.cancel {
  background-color: #F4F4F4;
  color: #2d2d2d;
  border: solid 1px #d1d1d1;
  font-weight: 400;
}

.admincropimg-left {
  width: calc(100% - 364px);
  background: #282b32;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /* padding: 60px; */
  height: 370px;
}

.admincropimg-wrap {
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.admincrop-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  background-color: var(--clr-primary-color);
  color: #282b32;
  font-size: .8125rem;
  letter-spacing: .0094rem;
  font-weight: 500;
  padding: .6875rem 1.1875rem;
  border: 0;
  border-radius: .1875rem;
  background-color: #ffff;
}

.admincropimg-right {
  width: 344px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admincropimg-rht-preview {
  display: block;
  width: 100%;
  padding: 0 1.5rem;
}

.admincropimg-rht-preview-show {
  width: 100%;
  height: 238px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* .admincropping-fade {
  background-color: #67696e;
  width: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.75rem 0rem 7.5rem;
} */

/* .admincropping-fade img {
  max-width: 202px;
} */


.button-reg {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: var(--font-13);
  font-weight: 500;
  color: var(--text-color-white);
  border: 0;
  gap: 10px;
  padding-inline: 10px;
}

.btn-md {
  height: 2.375rem;
}

.save-cancel {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3.6875rem;
  padding-inline: 0.925rem;
  background-color: var(--bg-color-fff);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  border-top: solid 1px #dddcdc;
  z-index: 1;
}

.cropImagemodal .modal-content {
  padding: 2.5rem;
  background-color: #ffff;
  border-radius: 0.3125rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border: solid 0.0625rem #e9e9e9;
}

.cropImagemodal.modal .modal-dialog {
  max-width: 1040px;
  width: 95%;
}

.cropImagemodal.modal .save-cancel {
  position: static;
  border: 0;
  padding: 0;
  margin-top: 2rem;
}

/* 059 01-12-2023 */
.upload-logo:hover .delete-flag {
  display: block;
}

.upload-logo:hover .hover-delete-img {
  opacity: 1;
}

.upload-logo {
  position: relative;
}

.upload-logo>img {
  max-height: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
}

/* 059 02-12-2023 */
.expand .logo img.logo-expand {
  max-height: 1rem;
}

/* .bgclr1 {
  background-color: rgb(242, 102, 116) !important;
}

.bgclr2 {
  background-color: rgb(174, 62, 249) !important;
}

.bgclr3 {
  background-color: rgb(130, 189, 244) !important;
}

.bgclr4 {
  background-color: rgb(9, 171, 216) !important;
}

.bgclr5 {
  background-color: rgb(255, 222, 118) !important;
}

.bgclr6 {
  background-color: rgb(248, 131, 76) !important;
}

.bgclr7 {
  background-color: rgb(181, 224, 140) !important;
}

.bgclr8 {
  background-color: rgb(157, 204, 107) !important;
}

.bgclr9 {
  background-color: rgb(21, 32, 39) !important;
}

.bgclr-default {
  background-color: rgb(9, 171, 216) !important;
} */

/*146 02-12-2023*/
.img-div {
  min-width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
}


/*046 4-dec-23*/
.accessAccord-childgrp {
  display: flex;
  gap: 0.62rem;
  align-items: center;
}

.accessAccord-childgrp span {
  color: var(--clr-text-light-color);

}

/*046 05-dec-23*/
.accord-collapse .para-light,
.accord-collapse .para {
  text-align: left;
}

#ca-inpt-error {
  display: none;
  color: #F26674;
  font-size: 0.75rem;
  font-weight: 400;
  /* border-radius: 0.1875rem;
  background-color: #EDEDED; */
  padding: 0.3125rem 0.5rem;
}

#ca-inpt {
  max-width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-text-dark-color);
}
#ca-inpt::placeholder {
  font-size: 1.25rem;
  font-weight: 400;
  color: #525252; 
  opacity: 1;
}

/* 059 06-12-2023 */
/* .txtclr1 {
  color: rgb(242, 102, 116) !important;
}

.txtclr2 {
  color: rgb(174, 62, 249) !important;
}

.txtclr3 {
  color: rgb(130, 189, 244) !important;
}

.txtclr4 {
  color: rgb(9, 171, 216) !important;
}

.txtclr5 {
  color: rgb(255, 222, 118) !important;
}

.txtclr6 {
  color: rgb(248, 131, 76) !important;
}

.txtclr7 {
  color: rgb(181, 224, 140) !important;
}

.txtclr8 {
  color: rgb(157, 204, 107) !important;
}

.txtclr9 {
  color: rgb(21, 32, 39) !important;
}

.txtclr-default {
  color: rgb(9, 171, 216) !important;
} */

.circle-change {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
}

/*146 06-12-2023*/
.ck-restricted-editing_mode_standard {
  height: calc(100vh - 2rem);
}

/*046 06-12-2023*/
.pogination ul li:last-child a.disabled {
  opacity: 0.5;
}

.access-top .ig-row input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-text-light-color);
}

.access-top .ig-row input {
  font-size: 16px;
}

.btn-disable {
  opacity: 0.3;
  cursor: not-allowed;
}

/* 059 06-12-2023 */
/* .brclr1 {
  border: 1px solid rgb(242, 102, 116) !important;
}

.brclr2 {
  border: 1px solid rgb(174, 62, 249) !important;
}

.brclr3 {
  border: 1px solid rgb(130, 189, 244) !important;
}

.brclr4 {
  border: 1px solid rgb(9, 171, 216) !important;
}

.brclr5 {
  border: 1px solid rgb(255, 222, 118) !important;
}

.brclr6 {
  border: 1px solid rgb(248, 131, 76) !important;
}

.brclr7 {
  border: 1px solid rgb(181, 224, 140) !important;
}

.brclr8 {
  border: 1px solid rgb(157, 204, 107) !important;
}

.brclr9 {
  border: 1px solid rgb(21, 32, 39) !important;
}

.brclr-default {
  border: 1px solid rgb(9, 171, 216) !important;
} */

.page-ponit {
  /* min-height: calc(100% - 106px); */
}

.sticky-pagination {
  padding-top: 0.94rem;
  position: sticky;
  bottom: -18px;
  background-color: #fff;
}

/* 053 7/12/2023 */

.media-modal.right .modal-dialog {
  max-width: 800px;
  width: 95%;
}

.media-modal.right .modal-body {
  padding: 0 !important;
}

.media-library-filter {
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  border-bottom: solid thin #F4F4F4;
  padding: 0.5rem 1rem;
}

.media-library-filter .btn-group .dropdown-toggle {
  background-color: transparent;
  border: 0;
}

.media-select-del {
  justify-content: flex-end;
  align-items: center;
  padding: 0.625rem 1rem 1.25rem;
  gap: 1.25rem;
}

.media-library-row {
  padding: 0 1rem;
}

.media-library-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 1rem;
}

.media-library-card {
  border: solid thin #EDEDED;
  background-color: white;
  width: 100%;
  position: relative;
  border-radius: 0.25rem;
}

.media-library-card .newck-group {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  z-index: 5;
}

.media-library-content {
  padding: 1rem;
}

.media-library-folder {
  min-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-library-content h5 {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--clr-text-dark-color);
  margin-bottom: 0.5rem;
}

.media-library-content p {
  font-size: 0.625rem;
  font-weight: 400;
  color: #525252;
}

.mlc-image {
  padding: 0.3125rem 1rem;
}

.mlc-image h5 {
  margin: 0;
}

.category-modal-btn {
  justify-content: center;
  align-items: center;
  padding: 1.6875rem 1rem;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 95%;
  width: 50rem;
  background-color: white;
}

.user-drop-down .dropdown-menu button .img {
  margin-inline: 0.125rem;
}

/* media add folder btn */

.media-btn {
  display: flex;
  max-width: 50%;
  margin-left: auto;
}


.media-btn input {
  border-radius: 2px 0 0 2px;
}

.media-btn button {
  border-radius: 0px 2px 2px 0;
}

/*046 07-12-2023*/
.para-light {
  margin-left: 6px;
}

.all-tab-content .tablePagination-wrapper {
  min-height: calc(100vh - 10.8125rem);
  overflow: auto;
}

.all-tab-content .tablePagination-wrapper .pogination {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  padding-top: 0.94rem;

}

/*046 09-12-2023*/
.memberAccess-container {
  height: calc(100vh - 207.9062px);

}

.verticalScroll {
  max-height: 100% !important;
  overflow: auto !important;
}

.memberSpace-combo {
  min-height: calc(100vh - 15rem);
  /* padding-bottom: 72px;  */
}

.select-allCell {
  position: sticky;
  top: 0;
  z-index: 1;
}


.list-container {
  height: calc(100vh - 140px);
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.list-container .verticalScroll {
  min-height: auto;
}


/*053 11/12/2023  */
.spaceCard-btm p.desclist {
  height: 1.875rem;
}

/*146 11-12-2023*/
.propinput {
  margin-bottom: 20px;
}

#pagetitle {
  color: var(--clr-text-dark-color);
  font-family: Lexend;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  /* max-width: 56.129rem; */
}


.all-tab-content .member-tablePagination-wrapper {
  min-height: calc(100vh - 8.8125rem);
}

.entries-table {
  overflow-y: auto;
  height: calc(100vh - 14.813rem);
  position: relative;
  z-index: 1;
}

.table-responsive table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
}

.table-responsive .table>thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

.all-tab-content .member-tablePagination-wrapper .entries-table {
  height: calc(100vh - 11.813rem);
}

.spaceCards {
  overflow: scroll;
  height: calc(100vh - 9rem);
  place-content: start;
}

.modal-body .input-group.user-drop-down {
  margin-bottom: 0;
}

.roles-permission {
  height: auto;
}

.roles-permission .table-responsive {
  overflow-y: auto;
  height: calc(100vh - 17.813rem);
  position: relative;
  z-index: 1;
}

.language-details .table-responsive {
  height: calc(100vh - 12.813rem);
}

.emailtemp-details {
  height: calc(100vh - 7.5rem);
}

.section-drop-able {
  max-height: calc(100% - 13rem);
  overflow-y: auto;
}

.channel-section-drop-able {
  max-height: calc(100% - 3.2617rem);
}

.configurationContent-section-lft.verticalScroll {
  height: calc(100vh - 19.5rem);
  padding-inline: 1rem;
}

.drag-able {
  cursor: grabbing;
}

.fieldapp{
  cursor: pointer;
}

.space-body .pageselected {
  background-color: #FAFAFA;
}

.subpageselected {
  background-color: #FAFAFA;
}


.input-group .logScr.error {
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 400;
  color: #F26674;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.1875rem 0.1875rem 0 0 !important;
  border-bottom: 0;
  position: relative;
  left: -1px;

}

.blogBottom-textArea #titleid::placeholder {
  font-size: 25px;

}

.ck.ck-icon{
  cursor: pointer !important;
}
/*059 20/12/2023  */
.current{
  color: var(--clr-primary-color) !important;
  border-color: var(--clr-primary-color) !important;
}

/*046 21-12-2023*/
.banner_crop .admincropimg-wrap{
  flex-direction: column;
}

.banner_crop  .admincropimg-left{
  width: 752px;
  height: 450px;
  margin-inline: auto;
}

.banner_crop .admincropimg-right{
  width: 752px;
    margin-inline: auto;
}

.banner_crop .admincropimg-rht-preview{
  padding: 0;
}

/*059 21/12/2023  */
.name-string{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 50px;
  background-color: var(--clr-primary-color);
  border-radius: 50%;
  color: white;
  place-items: center;
}
.update-profile-img {
  height: 6rem;
  width: 6rem;
}

.cam-logo {
  top: 24%;
}

/* 046 26/12/2023 */
.tbl-img-content .lang-img{
  width: 1.5rem;
  height: 1.063rem;
  border-radius: 3px;
}

.tbl-img-content .lang-img>img{
  height: 100%;
}

/*059 26/12/2023  */
.Profile-NameString{
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--clr-primary-color);
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
  place-items: center;
}

/* 046 27/12/2023 */
#current-langflag{
  width: 18px;
  height: 12px;
}

.mediabreadcrumb{
  margin-bottom: 10px;
}
.input-group input.date {
  background-image: url(../img/channel-calender.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* 046 04/01/2024 */
.channel-childrow>.accessAccord-child{
  gap: 0.15rem;
}

.additional-entry-drop .chk-group {
  padding: 0.25rem 1rem;
}

.additional-entry-drop .chk-group label{
  line-height: 1.2;
}

.entry-radio-row {
  height: 2.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 0.5rem;
  border: 1px solid #EDEDED;
  border-radius: 0 0.1875rem 0.1875rem 0.1875rem;
  margin: 0;
}

/* 046 04/01/2024 */

.tooltip-icon-addentry{
  position: relative;
  top: -18px;
  left: 87px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.tooltip-icon-adddata{
  position: relative;
  left: -45px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.tooltip-icon-metatitle{
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 80px;
  top: 10px;
}

.tooltip-icon-metadesc{
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 120px;
  top: 10px;
}

.tooltip-icon-keyword{
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 78px;
  top: 10px;
}

.tooltip-icon-slug{
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 46px;
  top: 10px;
}

#Sortsection{
  height: 100%;
}

/* 046 10/01/2024 */
#cancel-notify{
  cursor: pointer;
}

/* 053 10/01/2024 */
/* pagnation cursor ponter design */
.current{
  cursor: default;
}