:root {
    --clr-primary-color: #09ABD9;
    --clr-dropdown-hover: #E8FAFF;
    --clr-tags-bg-color: #DDF8FF;
    
    --clr-text-dark-color: #152027;
    --clr-text-light-color: #B6B6B7;
    --clr-sidebar-menu-hover: rgba(0, 0, 0, 0.24);
    --clr-border: #B1EBFF;
}

.red {
    --clr-primary-color: #E16661;
    --clr-dropdown-hover: #FFEDED;
    --clr-tags-bg-color: #FFE6E6;
}

.purple {
    --clr-primary-color: #8060B9;
    --clr-dropdown-hover: #F1ECF8;
    --clr-tags-bg-color: #F0E6FF;
}

.blue {
    --clr-primary-color: #3981EA;
    --clr-dropdown-hover: #EAF1FD;
    --clr-tags-bg-color: #E2ECFF;
}

/* .yellow {
    --clr-primary-color: #FFDE76;
    --clr-dropdown-hover: #FFF9E5;
    --clr-tags-bg-color: #FFF7DE;
} */

.brown {
    --clr-primary-color: #6D4D40;
    --clr-dropdown-hover: #F0E9E7;
    --clr-tags-bg-color: #EDDED8;
}

.orange {
    --clr-primary-color: #F38507;
    --clr-dropdown-hover: #FEF2E5;
    --clr-tags-bg-color: #FFEED9;
}

/* .light-green {
    --clr-primary-color: #B5E08C;
    --clr-dropdown-hover: #EFFFE0;
    --clr-tags-bg-color: #E3FFC9;
} */

.green {
    --clr-primary-color: #4BA34A;
    --clr-dropdown-hover: #E9F6E8;
    --clr-tags-bg-color: #E1F4DF;
}

.teal-blue {
    --clr-primary-color: #008C8C;
    --clr-dropdown-hover: #DBF4F4;
    --clr-tags-bg-color: #C5F0F0;
}

.black {
    --clr-primary-color: #152027;
    --clr-dropdown-hover: #F1F2F2;
    --clr-tags-bg-color: #E7E8E9;
}