{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}}
{{$THEMECOLOR = "bgclr1"}} {{$TEXTCOLOR = "txtclr1"}} {{$BORDERCOLOR = "brclr1"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}}
{{$THEMECOLOR = "bgclr2"}} {{$TEXTCOLOR = "txtclr2"}} {{$BORDERCOLOR = "brclr2"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}}
{{$THEMECOLOR = "bgclr3"}} {{$TEXTCOLOR = "txtclr3"}} {{$BORDERCOLOR = "brclr3"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}}
{{$THEMECOLOR = "bgclr4"}} {{$TEXTCOLOR = "txtclr4"}} {{$BORDERCOLOR = "brclr4"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}}
{{$THEMECOLOR = "bgclr5"}} {{$TEXTCOLOR = "txtclr5"}} {{$BORDERCOLOR = "brclr5"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}}
{{$THEMECOLOR = "bgclr6"}} {{$TEXTCOLOR = "txtclr6"}} {{$BORDERCOLOR = "brclr6"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}}
{{$THEMECOLOR = "bgclr7"}} {{$TEXTCOLOR = "txtclr7"}} {{$BORDERCOLOR = "brclr7"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}}
{{$THEMECOLOR = "bgclr8"}} {{$TEXTCOLOR = "txtclr8"}} {{$BORDERCOLOR = "brclr8"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$THEMECOLOR = "bgclr9"}} {{$TEXTCOLOR = "txtclr9"}} {{$BORDERCOLOR = "brclr9"}}
{{else}}
{{$THEMECOLOR = "bgclr-default"}} {{$TEXTCOLOR = "txtclr-default"}} {{$BORDERCOLOR = "brclr-default"}}
{{end}}


<div class="page-wrapper">

    {{template "cmstab" .}}

    <div class="all-tab-content" id="entriesContent">
        <!--1-->

        <div class="topOptions">
            <div class="leftHeader">
                <div class="caption-flexx">
                    <!-- <p class="para">
                        <span class="para"> {{.Count}}  </span>
                        {{if gt .Count 9}}{{$Translate.Mediaa.Images}}{{else}}{{$Translate.Mediaa.Image}}{{end}} {{$Translate.Available}} 
                    </p> -->
                    <p class="para">
                       
                        {{ if gt .Count 1}} {{$Translate.Total}} {{$Translate.Mediaa.Mediafiles}} : <span class="para"> {{.Count}}  </span>{{else}} {{$Translate.Total}} {{$Translate.Mediaa.Mediafile}}: <span class="para"> {{.Count}}  </span>  {{end}}
                        </p>
                </div>
            </div>

            <div class="transitionSearch active">
                <img src="/public/img/Magnifying-Glass.svg" alt="" />
                <!-- <input type="text" class="search" name="keyword" id="mediasearch" placeholder="{{$Translate.Mediaa.SearchImg}}" /> -->
                <input type="text" class="search" name="keyword" id="mediasearch" placeholder="Search Media Files" />
            </div>

            <button class="btn-reg btn-sm btn-outline" id="Refreshdiv"> <img src="/public/img/reload.svg" alt="" style="width: 13px;">
                {{$Translate.Mediaa.Refresh}} 
            </button>

            <button class="btn-reg btn-sm btn-outline" id="addfolder"> <img src="/public/img/add-icon.svg" alt="">
                {{$Translate.Mediaa.Folder}}  
                </button>

        <form id="imageForm">
            <button class="btn-reg btn-sm primary" type="button" id="upload" >
                <img src="/public/img/upload-ico.svg" alt="" />  {{$Translate.Mediaa.Upload}}   
            </button>
            <input type="file" id="imgupload" style="display: none;" />                    
        </form>
        </div>
        
         <div class="media-select-del flexx">
            <a href="javascript:void(0)" class="primary-link" id="selectall" {{if .Media}}{{else}}style="display: none;"{{end}}>{{$Translate.Selectall}}</a>
            <a href="javascript:void(0)" class="primary-link" id="unselectall" style="display: none;">{{$Translate.Mediaa.Unselectall}}</a>

           <a href="javascript:void(0)" class="primary-link disabled " {{if .Media}}{{else}}style="display: none;"{{end}} id="media-del-btn">{{$Translate.Delete}} </a>
        </div>

        <div class="media-upload">
                <input type="hidden" name="csrf" value="{{.csrf}}">

            <div class="media-library-header flexx" id="addfoldervalues" style="display: none;">
                <h4 id="path"><span></span></h4>
                <div class="input-group" id="namecheck">
                    <div class="ig-row media-btn">
                        <input type="text" name="foldername" id="foldername" class="field" placeholder="{{$Translate.Mediaa.Plenterfolder}}">
                        <button class="button-reg secondary" id="newfileadd">{{$Translate.Add}}</button>
                    </div>
                    <label id="foldername-error" class="error" for="foldername" style="display: none;margin-left: 50%;">* {{$Translate.Mediaa.Vailderr}} </label>
                </div>
            </div>

            <div class="media-library-header flexx mediabreadcrumb tab-breadCrumb">
                <ul class="media-innr-breadcrumbs flexx breadcrumb-container" style="list-style: none;">
                    <li><a href="javascript:void(0)"  class="" data-id="/">{{$Translate.Mediaa.Medialibrary}}</a></li>
                    <!-- <li>/</li> -->
                </ul>
            </div>

         
            <div id="errorhtml" class="media-error-design">
                {{ if .Media }}
                {{else}}
    
                <div class="noData-foundWrapper">

                    <div class="empty-folder">
                        <img src="/public/img/folder-sh.svg" alt="">
                        <img src="/public/img/shadow.svg" alt="">
                    </div>
                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                   
                </div>
                {{end}}
           
            </div>

            <div class="upload-files media-library-list" id="drivelist">
                {{ if .Media }}
                {{range .Media}}
                {{if eq .File true}}
                <div class="upload-folders  folderdiv">
                    <p class="forsearch" style="display: none;">{{.Name}}</p>

                    <div class="chk-group chk-group-box">
                        <input type="checkbox" class="ckbox" id="{{.Name}}" data-id="{{.Name}}" >
                        <label for="{{.Name}}"></label>
                    </div>
                    <div class="upload-folder-img folder">
                        <img src="/public/img/folder-media.svg" alt="">
                    </div>
                    <div class="file-detail">
                        {{if ge (len .Name) 20}}
                        <h3 data-bs-toggle="tooltip" data-bs-custom-class="lms-tooltip" data-bs-html="true" data-bs-placement="top"
                        title={{.Name}}>{{.Name}}</h3>
                        {{else}}
                        <h3>{{.Name}}</h3>
                        {{end}}
                        <p>{{if gt .TotalSubMedia 1}}{{.TotalSubMedia}} Files{{else}}{{.TotalSubMedia}} File{{end}}</p>
                    </div>
                </div>
                {{else}}
                <div class="upload-folders filediv">
                    <p class="forsearch" style="display: none;">{{.Name}}</p>

                    <div class="chk-group chk-group-box">
                        <input type="checkbox" class="ckbox" id="{{.Name}}" data-id="{{.Name}}" >
                        <label for="{{.Name}}"></label>
                    </div>
                    <div class="upload-folder-img file">
                        <img src="/{{.Path}}{{.Name}}" alt="">
                    </div>
                    <div class="file-detail">
                        {{if ge (len .Name) 20}}
                        <h3 data-bs-toggle="tooltip" data-bs-custom-class="lms-tooltip" data-bs-html="true" data-bs-placement="top"
                        title={{.Name}}>{{.Name}}</h3>
                        {{else}}
                        <h3>{{.Name}}</h3>
                        {{end}}
                        <!-- <p></p> -->
                    </div>
                </div>
                {{end}}
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
    <!--2-->
</div>
{{template "cropmodal" .}}

{{template "footer" .}}
<script src="/public/js/media/media.js"></script>
{{template "footerclose" .}}