<!DOCTYPE html>
<html lang="en">

<head>
  {{template "templatehead" .}}
</head>

<body>

  {{- block "templateheader" .}}{{end}}
  {{$template_name:=.template_name}}
  {{if .Entries}}
  <div class=" min-h-screen p-4 md:p-8 lg:p-20   max-w-screen-2xl m-auto">

    <div>

      {{if .Entries}}
      {{range $batch := .Entries}}
      <div class="grid grid-cols-1 lg:grid-cols-2">
        {{if gt (len $batch) 0}}
        {{$entry := index $batch 0}}
        <div class="pb-6 lg:pr-6 border-b lg:border-r lg:border-b-0 border-grey">
          <a
            href='/channel/{{$entry.ChannelName}}/{{$entry.Slug}}-{{$entry.Uuid}} '><img
              src="{{if $entry.CoverImage}}{{$entry.CoverImage}}{{else}}/websites/public/img/no-image.png{{end}}"
              class="w-full" /></a>
          <p class="text-primary text-[#2facd6]  text-sm font-normal mb-2 my-3">{{$entry.CategoryGroup}}</p>
          <div>
            <h3 class="text-black text-3xl font-bold mb-2"><a
                href='/channel/{{$entry.ChannelName}}/{{$entry.Slug}}-{{$entry.Uuid}} '>{{$entry.Title}}</a>
            </h3>
            <p class="text-gray-500 text-lg font-light line-clamp-5 mb-3">{{$entry.Description}}</p>
            <div class="flex items-center gap-3">
              <div class="flex items-center justify-center relative h-8 w-8 overflow-hidden rounded-full bg-slate-300 dark:text-white dark:text-white">
                {{if ne $entry.ProfileImagePath ""}}
                <img src="{{$entry.ProfileImagePath}}" class="h-[34px] rounded-3xl" />
                {{else}}
                <span class="text-[14px] text-[#222222] font-normal">{{$entry.NameString}}</span>
                {{end}}
               
              </div>
               <h5 class="text-primary text-[#2facd6] text-base font-normal"> {{$entry.Username}}</h5>
              <p class="text-black font-normal text-base"> {{$entry.CreatedDate}}</p>
            </div>
          </div>
        </div>
        {{end}}
        <div class="pt-6 lg:pl-6 lg:pt-0">

          {{range $i, $entry := $batch}}
          {{if gt $i 0}}
          <div class="grid grid-cols-1 md:grid-cols-2 pb-3 mb-3 border-b border-grey gap-3">
            <div>
              <p class="text-primary text-sm font-normal mb-2 text-[#2facd6]">{{$entry.CategoryGroup}}</p>
              <h3 class="text-black text-2xl line-clamp-1 overflow-hidden font-bold mb-2">
                <a
                  href='/channel/{{$entry.ChannelName}}/{{$entry.Slug}}-{{$entry.Uuid}} '>{{$entry.Title}}</a>
              </h3>
              <div class="text-gray-500 dark:text-gray text-lg font-light line-clamp-2 mb-3 desc overflow-hidden">
                {{$entry.Description}}
              </div>
              <div class="flex items-center gap-3 mt-10">
                <div class="flex items-center justify-center relative h-8 w-8 overflow-hidden rounded-full bg-slate-300 dark:text-white">
                  {{if ne $entry.ProfileImagePath ""}}
                  <img src="{{$entry.ProfileImagePath}}" class="h-[34px] rounded-3xl" />
                  {{else}}
                  <span class="text-[14px] text-[#222222] font-normal">{{$entry.NameString}}</span>
                  {{end}}
                 
                </div>
                 <h5 class="text-primary text-base font-normal text-[#2facd6]">{{$entry.Username}}
                  </h5>
                <p class="text-black font-normal text-base">{{$entry.CreatedDate}}</p>
              </div>
            </div>
            <div class="flex items-center justify-center">
              <a
                href='/channel/{{$entry.ChannelName}}/{{$entry.Slug}}-{{$entry.Uuid}} '>
                <img src="{{if $entry.CoverImage}}{{$entry.CoverImage}}{{else}}/websites/public/img/no-image.png{{end}}"
                  class="w-[280px] h-[152px] object-cover" />
              </a>
            </div>
          </div>

          {{end}}
          {{end}}
        </div>

      </div>
      <div class="w-full h-px bg-gray-200 my-6"></div>
      {{end}}
      {{end}}

    </div>

    <div class="mb-10 flex items-center justify-center">
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        {{if gt .Count .Limit}}

        <a href="?page={{.Pagination.PreviousPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}">
          <button {{if eq .CurrentPage 1}}disabled{{end}}
            class="relative inline-flex items-center gap-1 rounded-l-md border border-gray-300 bg-white px-[16px] py-2 pr-4 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 disabled:pointer-events-none disabled:opacity-40 dark:border-gray-500 dark:bg-gray-800 dark:text-gray-300">
            <img alt="Previous" loading="lazy" width="5" height="5" decoding="async"
              src="/websites/public/img/arrow-left-colour.svg" style="color: transparent;">
            <span>Previous</span>
          </button></a>


        {{if gt .CurrentPage 3}}
        <a href="?page=1{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium  hover:bg-blue-500 border-blue-800">
          1
        </a>
        {{end}}


        {{if eq .CurrentPage 5}}
        <a href="?page=2{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          2
        </a>
        {{end}}


        {{if gt .CurrentPage 5}}
        <span
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500">...</span>
        {{end}}


        {{if gt .CurrentPage 2}}
        <a href="?page={{.Pagination.TwoBelow}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.TwoBelow}}
        </a>
        {{end}}


        {{if gt .CurrentPage 1}}
        <a href="?page={{.Pagination.PreviousPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.PreviousPage}}
        </a>
        {{end}}


        <button
          class="relative inline-flex items-center border border-gray-300 bg-blue-600 px-[16px] py-2 text-sm font-bold text-white">
          {{.CurrentPage}}
        </button>


        {{if lt .CurrentPage .Pagination.TotalPages}}
        <a href="?page={{.Pagination.NextPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.NextPage}}
        </a>
        {{end}}


        {{if le .Pagination.TwoAfter .Pagination.TotalPages}}
        <a href="?page={{.Pagination.TwoAfter}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.TwoAfter}}
        </a>
        {{end}}


        {{if lt .Pagination.ThreeAfter .Pagination.TotalPages}}
        <span
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500">...</span>
        {{end}}


        {{if lt .Pagination.TwoAfter .Pagination.TotalPages}}
        <a href="?page={{.Pagination.TotalPages}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium  hover:bg-blue-500 border-blue-800">
          {{.Pagination.TotalPages}}
        </a>
        {{end}}


        <a href="?page={{.Pagination.NextPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"> <button
            {{if eq .CurrentPage .PageCount}}disabled{{end}}
            class="relative inline-flex items-center gap-1 rounded-r-md border border-gray-300 bg-white px-[16px] py-2 pl-4 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-2 disabled:pointer-events-none disabled:opacity-40 dark:bg-gray-800 dark:text-gray-300">
            <span>Next</span>
            <img alt="Next" loading="lazy" width="5" height="5" decoding="async"
              src="/websites/public/img/arrow-right-colour.svg" style="color: transparent;">
          </button></a>
        {{end}}
      </nav>
    </div>

  </div>
  {{end}}

  {{if .entries}}
  <div class=" min-h-screen p-4 md:p-8 lg:p-20   max-w-screen-2xl m-auto">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-8 mb-12">
      {{if .entries}}
      {{range .entries}}
      <div class="flex flex-col">
        <a
          href="/channel/{{.ChannelName}}/{{.Slug}}-{{.Uuid}} "><img
            alt="Cover image of the author" class="w-[280px] h-[152px] h-channel"
            src="{{if .CoverImage}}{{.CoverImage}}{{else}}/websites/public/img/no-image.png{{end}}"></a>
        <p class="text-primary text-sm font-normal mb-2 my-3 text-[#2facd6] ">{{.CategoryGroup}}</p>
        <div class="flex flex-col grow"><a
            href="/channel/{{.ChannelName}}/{{.Slug}}-{{.Uuid}} ">
            <h3 class="text-black text-2xl line-clamp-1 font-bold mb-2 overflow-hidden">{{.Title}}</h3>
          </a>
          <div class="text-black  text-lg font-light line-clamp-3 desc mb-3 desc overflow-hidden">
            {{.Description}}</div>
          <div class="flex items-center gap-3 mt-auto">
            <div class="flex items-center justify-center relative h-8 w-8 overflow-hidden rounded-full bg-slate-300 dark:text-white">
              <div class="flex items-center justify-center relative h-8 w-8 overflow-hidden rounded-full bg-slate-300 dark:text-white">
                {{if ne .ProfileImagePath ""}}
                <img alt="Picture of the author" loading="lazy" width="32" height="32" decoding="async" data-nimg="1"
                  srcset="" src="{{.ProfileImagePath}}" class="h-[34px] rounded-3xl">
                {{else}}
                <span class="text-[14px] text-[#222222] font-normal">{{.NameString}}</span>
                {{end}}
              </div>
             
            </div>
             <h5 class="text-primary text-base font-normal text-[#2facd6] ">{{.Username}}</h5>
            <p class="text-black font-normal text-base">{{.CreatedDate}}</p>
          </div>
        </div>
      </div>
      {{end}}
      {{else}}


      {{end}}
    </div>
    <div class="mb-10 flex items-center justify-center">
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        {{if gt .Count .Limit}}

        <a href="?page={{.Pagination.PreviousPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}">
          <button {{if eq .CurrentPage 1}}disabled{{end}}
            class="relative inline-flex items-center gap-1 rounded-l-md border border-gray-300 bg-white px-[16px] py-2 pr-4 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 disabled:pointer-events-none disabled:opacity-40 dark:border-gray-500 dark:bg-gray-800 dark:text-gray-300">
            <img alt="Previous" loading="lazy" width="5" height="5" decoding="async"
              src="/websites/public/img/arrow-left-colour.svg" style="color: transparent;">
            <span>Previous</span>
          </button></a>


        {{if gt .CurrentPage 3}}
        <a href="?page=1{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium  hover:bg-blue-500 border-blue-800">
          1
        </a>
        {{end}}


        {{if eq .CurrentPage 5}}
        <a href="?page=2{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          2
        </a>
        {{end}}


        {{if gt .CurrentPage 5}}
        <span
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500">...</span>
        {{end}}


        {{if gt .CurrentPage 2}}
        <a href="?page={{.Pagination.TwoBelow}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.TwoBelow}}
        </a>
        {{end}}


        {{if gt .CurrentPage 1}}
        <a href="?page={{.Pagination.PreviousPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.PreviousPage}}
        </a>
        {{end}}


        <button
          class="relative inline-flex items-center border border-gray-300 bg-blue-600 px-[16px] py-2 text-sm font-bold text-white">
          {{.CurrentPage}}
        </button>


        {{if lt .CurrentPage .Pagination.TotalPages}}
        <a href="?page={{.Pagination.NextPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.NextPage}}
        </a>
        {{end}}


        {{if le .Pagination.TwoAfter .Pagination.TotalPages}}
        <a href="?page={{.Pagination.TwoAfter}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500 hover:bg-blue-50">
          {{.Pagination.TwoAfter}}
        </a>
        {{end}}


        {{if lt .Pagination.ThreeAfter .Pagination.TotalPages}}
        <span
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium text-gray-500">...</span>
        {{end}}


        {{if lt .Pagination.TwoAfter .Pagination.TotalPages}}
        <a href="?page={{.Pagination.TotalPages}}{{if $template_name}}&template_name={{$template_name}}{{end}}"
          class="relative inline-flex items-center border border-gray-300 bg-white px-[16px] py-2 text-sm font-medium  hover:bg-blue-500 border-blue-800">
          {{.Pagination.TotalPages}}
        </a>
        {{end}}


        <a href="?page={{.Pagination.NextPage}}{{if $template_name}}&template_name={{$template_name}}{{end}}"> <button
            {{if eq .CurrentPage .PageCount}}disabled{{end}}
            class="relative inline-flex items-center gap-1 rounded-r-md border border-gray-300 bg-white px-[16px] py-2 pl-4 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-2 disabled:pointer-events-none disabled:opacity-40 dark:bg-gray-800 dark:text-gray-300">
            <span>Next</span>
            <img alt="Next" loading="lazy" width="5" height="5" decoding="async"
              src="/websites/public/img/arrow-right-colour.svg" style="color: transparent;">
          </button></a>
        {{end}}
      </nav>
    </div>
  </div>
  {{end}}

</body>


</html>