{{template "docheader" .}}


<main>
    <div class="w-full pt-10 flex flex-col space-y-[72px] items-start mb-[120px] max-[1300px]:space-y-[32px]">
        <div
            class=" w-[calc(100%-160px)] max-[1300px]:w-[calc(100%-32px)] mx-auto flex flex-col space-y-[20px] items-center">
            <h3 class="text-[#202224] text-[35px] font-medium  text-center max-[1300px]:text-[32px]">Commercial
                License for spurtCMS
            </h3>
            <p class="text-[#202224] text-base font-normal  text-center">
                spurtCMS, a cutting-edge and customizable content management solution, is provided by Piccosoft
                Software Labs India (P) Limited. The Commercial License offers enhanced features and flexibility
                for businesses looking to leverage spurtCMS for their specific requirements.
            </p>
        </div>
        <div
            class="w-[calc(100%-80px)] mx-auto p-6 bg-[#F8F8F8] flex flex-col space-y-[32px] max-[1300px]:w-[calc(100%-32px)] max-[1300px]:p-[16px]">
            <div class="space-y-[24px] flex flex-col items-start">
                <p class="text-[#202224] text-lg font-light ">Party A - Piccosoft Software Labs India (P)
                    Limited</p>
                <p class="text-[#202224] text-lg font-light ">Party B – spurtCMS Commercial License Purchaser
                </p>
            </div>
            <div class="flex flex-col space-y-[32px] items-start max-[1300px]:space-y-[16px]">
                <h3 class="text-3xl font-medium  text-[#202224]"> The Obligations of Both Parties</h3>
                <h3 class="text-lg font-medium  text-[#202224]"> (The Obligations of Party A)</h3>
                <div class="flex flex-col space-y-[24px] items-start max-[1300px]:space-y-[16px]">
                    <p class="text-[#202224] text-lg font-light ">Upon receiving payment from Party B, Party
                        A shall provide the full source code of spurtCMS.</p>
                    <p class="text-[#202224] text-lg font-light ">Party A commits to providing lifetime free
                        upgrades to the software; however, Party A does not hold any commitment towards a
                        specific frequency or period of releases.</p>
                    <p class="text-[#202224] text-lg font-light ">Installation and Setup, Deployment and API
                        documentation will be made available online, with the URL provided to Party B.</p>
                    <p class="text-[#202224] text-lg font-light ">Free technical support for a period of 1
                        year from the date of purchase is offered for any bugs found in the already developed
                        features of the source code only (not for the source code if customized by Party B,
                        after purchase). </p>
                    <p class="text-[#202224] text-lg font-light ">Party A will extend installation, setup,
                        and deployment assistance to Party B's team.</p>
                    <p class="text-[#202224] text-lg font-light ">Service fees will apply for subsequent
                        deployment across multiple web domains.</p>
                    <p class="text-[#202224] text-lg font-light ">Party A agrees not to share Party B's
                        reference with any third party. However, Party B's reference may be displayed on
                        spurtCMS official pages with Party B's consent.</p>
                    <p class="text-[#202224] text-lg font-light ">Party B has the option for white labelling,
                        allowing them to brand and customize the spurtCMS platform.</p>
                </div>
                <h3 class="text-lg font-medium  text-[#202224]"> (The Obligations of Party B)</h3>
                <div class="flex flex-col space-y-[24px] items-start max-[1300px]:space-y-[16px]">
                    <p class="text-[#202224] text-lg font-light ">Party B shall pay the software price as
                        mentioned in the website – www.spurtcms.com </p>
                    <p class="text-[#202224] text-lg font-light ">Once purchased, Party B acknowledges that,
                        being a digital good, possession of spurtCMS is instant, and no refunds are applicable.
                    </p>
                    <p class="text-[#202224] text-lg font-light ">Party B has the right to modify the source
                        code to meet the requirements of multiple customers under the same license.</p>
                    <p class="text-[#202224] text-lg font-light ">Reselling the code online as a digital good
                        or free distribution to the public by Party B is strictly prohibited.</p>
                </div>

            </div>
            <div class="flex flex-col space-y-[32px] items-start max-[1300px]:space-y-[16px]">
                <h3 class="text-3xl font-medium  text-[#202224]"> Liability for Breach of Agreement</h3>
                <div class="flex flex-col space-y-[24px] items-start max-[1300px]:space-y-[16px]">
                    <p class="text-[#202224] text-lg font-light ">Failure to perform contractual provisions
                        by Party A or non-compliance by Party B constitutes a breach of agreement, and the
                        responsible party assumes liability.</p>
                </div>
            </div>
            <div class="flex flex-col space-y-[32px] items-start max-[1300px]:space-y-[16px]">
                <h3 class="text-3xl font-medium  text-[#202224]"> Other</h3>
                <h3 class="text-lg font-medium  text-[#202224]"> This agreement becomes effective on the date
                    signed by both parties. </h3>
                <div class="flex flex-col space-y-[24px] items-start max-[1300px]:space-y-[16px]">
                    <p class="text-[#202224] text-lg font-light ">Disputes are subject to the laws of the
                        People's Republic of India and arbitration by the People's Court at Party A's location.
                    </p>
                    <p class="text-[#202224] text-lg font-light ">Both parties agree to resolve matters not
                        covered by the agreement through mutual consultation.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>
{{template "websitefooter" .}}