{{template "docheader" .}}

<main class="flex max-[768px]:flex-col">
    <div class="offcanvas offcanvas-end border-0 min-[769px]:static min-[769px]:!transform-none min-[769px]:visible min-[769px]:z-0 bg-[#F8F8F8] max-w-[20rem]"
        tabindex="-1" id="templateCanvas">
        <button type="button" class="p-[16px_16px_0_16px] hidden max-[768px]:block z-50 "
            data-bs-dismiss="offcanvas" aria-label="Close">
            <img src="/public/img/close-transform.svg" alt="arrow">
        </button>
        <aside
            class="bg-[#F8F8F8] p-[0.9375rem_1rem] sticky top-[4.5rem] h-full  min-w-[20rem] w-full overflow-auto">
            <div class="flex flex-col gap-[0.5rem] h-full overflow-auto">

                <div class="documentAccord">
                    <button
                        class="bg-transparent border-none h-[2.125rem] p-[0.5rem] text-[0.875rem] font-medium text-[#202224] w-full leading-[1.375rem] text-left flex items-center gap-[0.3125rem] before:inline-block before:w-[1rem] before:h-[1rem] before:bg-contain before:bg-[url(/public/img/documentAccord.svg)]"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        About spurtCMS Templates
                    </button>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample" style="">

                        <ul class="max-h-[31.25rem] overflow-hidden">
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]">
                                <a class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex  items-center before:mr-[5px]  before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]    active"
                                    href="content-template.html">Overview</a>
                            </li>
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                    class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="contentTemplate-templatesStructure.html">Templates
                                    Structure</a></li>
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                    class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="contentTemplate-baseTemplates.html">Base
                                    Templates and Blocks</a></li>

                        </ul>
                    </div>
                </div>





                <div class="documentAccord">
                    <button
                        class="bg-transparent border-none h-[2.125rem] p-[0.5rem] text-[0.875rem] font-medium text-[#202224] w-full leading-[1.375rem] text-left flex items-center gap-[0.3125rem]  before:inline-block before:w-[1rem] before:h-[1rem] before:bg-contain before:bg-[url(/public/img/documentAccord.svg)]"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true"
                        aria-controls="collapsefour">
                        Template Variables
                    </button>

                    <div id="collapsefour" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <ul class="max-h-[31.25rem] overflow-hidden">
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                    class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="templateVariables-overview.html">Overview</a>
                            </li>

                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                    class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="templateVariables-spaceVariable.html">Space
                                    Variables</a></li>
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                    class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="templateVariables-pageVariable.html">Page
                                    Variables</a>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="documentAccord">
                    <button
                        class="bg-transparent border-none h-[2.125rem] p-[0.5rem] text-[0.875rem] font-medium text-[#202224] w-full leading-[1.375rem] text-left flex items-center gap-[0.3125rem]  before:inline-block before:w-[1rem] before:h-[1rem] before:bg-contain before:bg-[url(/public/img/documentAccord.svg)]"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="true"
                        aria-controls="collapsefive">
                        Routes
                    </button>

                    <div id="collapsefive" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <ul class="max-h-[31.25rem] overflow-hidden">
                            <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]">
                                <a class="
                                text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex before:mr-[5px] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                    href="routesDescription.html">Routes
                                    Description</a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </aside>
    </div>


    <section class="p-[1.5rem_2rem_7.5rem_2rem] max-[1300px]:p-[16px]">
        <a class="w-[32px] h-[32px] rounded-[4px] bg-white shadow-[0px_1px_5px_0px_rgba(0,0,0,0.1)] place-items-center rotate-180 fixed top-[100px] right-[16px]   hidden max-[768px]:grid "
            type="button" data-bs-toggle="offcanvas" href="#templateCanvas" aria-controls="templateCanvas">
            <img src="/public/img/close-transform.svg" alt="arrow">
        </a>

        <div class="basicSteps">
            <div class="basic template-videos">
                <div class="mb-[32px] aspectVdo-class">
                    <iframe width="100%" class="aspect-[16/9] max-h-[500px]"
                        src="https://www.youtube.com/embed/QSJ7uWtnHf0?si=tnvIt7TAjs8bdt4r"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen=""></iframe>
                </div>
                <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] 
block">
                    Overview</h2>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">In the realm of web
                    development, templates serve as the building blocks for crafting engaging and
                    dynamic web pages. Within the spurtCMS ecosystem, understanding the intricacies of template
                    creation, structure, and utilization is paramount for developers seeking to harness the full
                    potential of this versatile content management system.&nbsp;<br>Let's embark on a journey
                    through
                    the nuanced world of spurtCMS templates, exploring their architecture, variable usage, and
                    defined
                    routes to empower developers in crafting immersive digital experiences.</p>
                <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] 
block">
                    Exploring Templating in spurtCMS:</h2>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Go templates are an
                    integral part of Go's standard library and serve as a powerful tool for
                    generating textual output dynamically. spurtCMS leverages these Go templates and offers a
                    powerful
                    and flexible mechanism for generating dynamic textual output in Go applications.</p>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">spurtCMS Templates are
                    designed to use spurtCMS custom Go packages to fetch dynamic content from
                    spurtCMS admin application which in turn helps in managing the entire content management
                    ecosystem
                    seamlessly.</p>
                <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] 
block">
                    spurtCMS "LMS" template.</h2>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">spurtCMS, crafted with
                    Go, offers a rich tapestry of themes, each designed to enhance user
                    experience
                    and streamline content management. Among these themes, the LMS (Learning Management System)
                    theme
                    stands out as a versatile and feature-rich option, tailored to meet the unique needs of
                    educational
                    platforms and e-learning websites.</p>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">→ spurtCMS lets
                    application developers to select themes that resonate with their project
                    objectives
                    and branding requirements.</p>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">→ With carefully
                    curated layouts and responsive design elements, the LMS theme ensures optimal
                    viewing experiences across devices and screen sizes, catering to the diverse needs of learners.
                </p>
                <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Let's understand
                    further about this LMS template , it's structure, variables usage, defined
                    routes
                    etc in upcoming sections.</p>

            </div>



        </div>
    </section>

</main>
{{template "websitefooter" .}}