{{template "docheader" .}}
<main>
    <section class="block">
        <div class="py-10 text-center max-[1300px]:py-[16px]">
            <div class="p-[0rem_2.375rem_0rem_2.5rem] max-[1300px]:!px-[16px]">
                <h2 class="text-[2.1875rem] text-[#202224] text-center mb-[20px] font-medium pb-0 
                max-[1300px]:mb-[16px] max-[1300px]:text-[32px]">spurtCMS
                    Licensing:
                    Choose Your Path!</h2>
                <p
                    class="font-normal text-[1rem] leading-[1.25rem] text-[#202224] text-center mb-10 max-[1300px]:mb-[10px]">
                    Explore the freedom of our open-source license, where Attribute is must. For enhanced features
                    with white labeling and premium support for source code deployment, consider our Commercial
                    License. Download now and tailor spurtCMS to your needs.
                </p>
            </div>
        </div>
    </section>
    <section class="block">
        <div
            class="gap-8 max-[1300px]:gap-[16px] grid grid-cols-2 max-md:grid-cols-1 mb-20 max-[1300px]:mb-[40px] px-10 max-[1300px]:!px-[16px]">
            <div class="bg-[#F8F8F8] p-[32px] max-[1300px]:p-[16px] rounded-md">
                <div class="items-start gap-[2.25rem] grid grid-cols-[1fr_auto] mb-8">
                    <div class="flex flex-col space-y-[16px]">
                        <div class="flex flex-wrap justify-between space-x-[.5rem]">
                            <h3
                                class="mb-0 font-medium text-[#202224] text-[30px] max-[1300px]:text-[26px] leading-[2.375rem] tracking-[0rem]">
                                SpurtCMS v1.2.0 Community Download</h3>

                        </div>
                        <p class="mb-0 font-light text-[#202224] text-[1.25rem] leading-[1.8125rem] tracking-[0rem]">
                            spurtCMS is licnesed under <a href="https://opensource.org/license/mit-0"
                                class="text-[#00ACD7] underline" target="_blank">MIT</a> and
                            <a href="https://opensource.org/license/cpal_1-0" class="text-[#00ACD7] underline"
                                target="_blank">CPAL</a>
                            - 1.0
                        </p>
                    </div>


                </div>
                <ul class="flex justify-center items-center space-x-[2rem]">
                    <li><img src="/public/img/dwn-golang.svg" alt="golang"></li>
                    <li><img src="/public/img/dwn-postgreSQL.svg" alt="postgreSQL"></li>
                    <li><img src="/public/img/dwn-graphql.svg" alt="graphql"></li>
                    <li><img src="/public/img/dwn-js.svg" alt="js"></li>
                    <li><img src="/public/img/dwn-mySQL.svg" alt="mySQL"></li>
                </ul>
                <div class="space-y-[16px] grid max-sm:col-span-2 mt-8">
                    <div class="bg-[#EFEFEF] p-[.3125rem_1rem_1rem_1rem]">
                        <div class="w-full">
                            <div>
                                <div
                                    class="flex justify-between max-[550px]:mb-[10px] max-[550px]:flex-col max-[768px]:flex-row max-[900px]:flex-col max-[425px]:items-start">
                                    <div class="pb-[0.1875rem]">
                                        <h4
                                            class="flex items-center space-x-2.5 font-medium text-[#202224] text-[1rem] leading-[1.5rem]">
                                            <span>SpurtCMS v1.2.0 </span><img src="/public/img/dwn-osi-badge.svg"
                                                alt="osi">


                                        </h4>

                                    </div>
                                    <div class="pb-[0.1875rem]">
                                        <div class="flex items-center space-x-[10px] mt-3">
                                            <a href="https://github.com/spurtcms/spurtcms/releases" target="_blank"
                                                class="border-[#333333] pr-[10px] border-r-[0.0625rem] font-light text-[#00ACD7] text-[0.75rem] hover:underline leading-none whitespace-nowrap">Releases</a>
                                            <!-- <a href="https://github.com/orgs/spurtcms/projects/1/views/1" target="_blank"
                                            class="border-[#333333] pr-[10px] border-r-[0.0625rem] font-light text-[#00ACD7] text-[0.75rem] hover:underline leading-none whitespace-nowrap max-[425px]:pr-0 max-[425px]:border-r-0">Road
                                            Map</a> -->

                                            <a href="/documentation/" target="_blank" class="border-[#333333] font-light text-[#00ACD7] text-[0.75rem] hover:underline leading-none whitespace-nowrap 
                                            max-[425px]:hidden">Documents</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]"><img
                                                src="/public/img/dwn-manual-deployment.svg" alt="docker">
                                            <p class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal"
                                                style="gap: 10px;">

                                                Deploy from Manual Deployment <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/spurtcms">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/spurtcms" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#1F2426] hover:bg-[#2D2D2D] ml-auto p-[.25rem_.5rem] rounded-[0.1875rem] w-[4.625rem] h-[24px] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git">
                                            <span>Github</span></a>
                                    </div>
                                </div>
                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]"><img src="/public/img/dwn-cli.svg"
                                                alt="docker">
                                            <p
                                                class="pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-[1.5rem]">
                                                Deploy from CLI</p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a href="javascript:void(0);"
                                            id="copiedvalue" data-copy="snap install spurtcms"
                                            class=" flex justify-center items-center space-x-[0.3125rem] bg-[#1F2426] hover:bg-[#2D2D2D] ml-auto p-[.25rem_.5rem] rounded-[0.1875rem] w-fit font-normal text-[0.75rem] text-white leading-[0.9375rem] whitespace-nowrap ">
                                            snap install spurtcms <img id="copybtn" src="/public/img/copy-white.svg"
                                                class="peer-focus:hidden inline-block h-[15px] w-[18px] object-contain"
                                                alt="git">
                                            <div id="copiedbtn" class="flex space-x-1  hidden">
                                                <span class="font-normal text-xs text-white">copied</span>
                                                <img src="/public/img/feature-check.svg" alt="copied"
                                                    class="h-[15px] w-[18px] object-contain">

                                            </div>

                                        </a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="bg-[#EFEFEF] p-[1rem]">
                        <div class="w-full">
                            <div>
                                <div class="flex justify-between">
                                    <div class="pb-[0.1875rem]">
                                        <h4
                                            class="flex items-center space-x-2.5 font-medium text-[#202224] text-[1rem] leading-[1.5rem]">
                                            SpurtCMS Packages
                                        </h4>
                                    </div>
                                    <div class="pb-[0.1875rem]">
                                        <h4 class="block font-light text-[#00ACD7] text-[0.75rem] text-end
                                         leading-[1.5rem] max-[425px]:hidden">
                                            Documents</h4>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal ">
                                                <span style="width: 150px;">
                                                    Channels
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/channels">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/channels" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Blocks
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/blocks">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/blocks" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>
                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Forms builders
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/forms-builders">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/forms-builders" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Member Access
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/member-access">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/member-access" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Team
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/team">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/team" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                 <span style="width: 150px;">
                                                    Auth
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/auth">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/auth" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Categories
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/categories">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/categories" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>
                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Team Roles
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/team-roles">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/team-roles" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Member
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/member">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/member" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#EFEFEF] p-[.3125rem_1rem_1rem_1rem]">
                        <div class="w-full">
                            <div>
                                <div class="flex justify-between items-center">
                                    <div class="pb-[0.1875rem]">
                                        <h4
                                            class="flex items-center  space-x-2.5 font-medium text-[#202224] text-[1rem] leading-[1.5rem]">
                                            <span>Next.js Web Themes (Open Source) </span> <img
                                                src="/public/img/dwn-osi-badge.svg" alt="osi">
                                        </h4>
                                    </div>
                                    <div class="pb-[0.1875rem]">
                                        <h4
                                            class=" block font-light text-[#00ACD7] text-[0.75rem] text-end leading-[1.5rem] max-[425px]:hidden">
                                            Documents</h4>
                                    </div>

                                </div>

                            </div>

                            <div>
                                <!-- <div class="flex justify-between">
                                <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                    <div class="flex items-center gap-[.625rem]"><img
                                            src="/public/img/dwn-nextjs-tb.svg" alt="docker">
                                        <p
                                            class="pr-2 font-[300] text-[#202224] text-[0.8125rem] leading-[1.5rem]">
                                            Version
                                            8.9.38.0,
                                            Thursday,
                                            March 14, 2024</p>
                                    </div>
                                </div>
                                <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a href="javascript:void(0);"
                                        target="_blank"
                                        class="flex justify-center items-start gap-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                            src="/public/img/dwn-git.svg" alt="git"> Github</a>
                                </div>
                               
                            </div> -->

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                 <span style="width: 150px;">
                                                    Nextjs-starter-theme
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/Content-flow">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/nextjs-starter-theme" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                <span style="width: 150px;">
                                                    Knowledge base
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/Docuno-nextjs-theme">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/knowledge-base" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                                 <span style="width: 150px;">
                                                    Nextjs-blog-theme
                                                </span>
                                                <span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/Writers-hub-theme">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/nextjs-blog-theme" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>

                                <div class="flex justify-between max-[425px]:flex-col max-[425px]:items-start">
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]">
                                        <div class="flex space-x-[.625rem]">
                                            <p
                                                class="flex pr-2 font-medium text-[#00ACD7] text-[0.8125rem] leading-normal">
                                               <span style="width: 150px;">
                                                Nextjs-blog2-theme
                                                </span><span
                                                    class="font-normal text-[#202224] text-[0.625rem] leading-[1.5rem]">
                                                    <img alt="GitHub last commit"
                                                        src="https://img.shields.io/github/last-commit/spurtcms/Storyze-nextjs-theme">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="py-[.25rem] last-of-type:py-[.25rem_0]"><a
                                            href="https://github.com/spurtcms/nextjs-blog2-theme" target="_blank"
                                            class="flex justify-center items-start space-x-[0.3125rem] bg-[#085873] hover:bg-[#2d8aa9] ml-auto p-[0.3125rem] rounded-[0.1875rem] w-[4.625rem] font-normal text-[0.75rem] text-white leading-[0.9375rem]"><img
                                                src="/public/img/dwn-git.svg" alt="git"> <span>Github</span></a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div>

                </div>


            </div>


            <div class="flex flex-col bg-[#F8F8F8] p-[32px] max-[1300px]:p-[16px] rounded-t-lg">
                <div class="flex flex-wrap justify-between items-center space-x-[16px] mb-[12px] text-center">
                    <h3
                        class="mb-0 font-medium text-[#202224] text-[1.875rem] text-start max-[1300px]:text-[26px] leading-[2.375rem] tracking-0">
                        spurtCMS Support + White-Label License <a href="https://spurtcms.com/license/license-key"
                            class="font-light text-[#05ACD7] text-[1rem] underline"> Check your
                            License
                        </a></h3>
                </div>

                <div
                    class="flex items-end space-x-[8px] mb-[16px] max-[425px]:space-x-0 max-[425px]:space-y-[8px] max-[425px]:flex-col max-[425px]:items-start">
                    <p class="m-0 font-normal text-[#202224] text-[3rem] leading-[3.75rem] tracking-0">
                        <span>$</span>99
                    </p>
                    <div
                        class="flex border-[#BEE0E8] bg-[#E9F4F7] mb-[12px] p-[5px] border rounded-[5px] font-normal text-[#202224] text-[1rem] whitespace-nowrap">
                        <img src="/public/img/charity.svg" alt="" class="flex"> &nbsp; One Time for Life Time
                    </div>
                </div>

                <p
                    class="mb-6 max-[1300px]:mb-[16px] font-light text-[#202224] text-[1.25rem] leading-[1.5rem] tracking-0">
                    Alternatively,
                    spurtCMS may be used under a commercial license</p>

                <div class="mb-[2.5rem]">
                    <h3
                        class="mb-6 max-[1300px]:mb-[16px] font-medium text-[#202224] text-[1rem] leading-[2rem] tracking-0">
                        Buying a
                        commercial license permits you to:</h3>

                    <div class="flex items-start space-x-2.5 mb-[16px]">
                        <img src="/public/img/Mask-Group-187.svg" alt="" class="mt-[3px]">
                        <p class="mb-0 font-light text-[#202224] text-[1rem] leading-[1.5rem] tracking-0">Remove the
                            attribution hyperlink from all rendered contents.</p>
                    </div>
                    <div class="flex items-start space-x-2.5 mb-[16px]">
                        <img src="/public/img/Mask-Group-187.svg" alt="" class="mt-[3px]">
                        <p class="mb-0 font-light text-[#202224] text-[1rem] leading-[1.5rem] tracking-0">Replace
                            spurtCMS logo and copyright information from the admin-panel with your own,
                            effectively <span class="font-medium">100% white-labeling the CMS. </span></p>
                    </div>
                    <div class="flex items-start space-x-2.5 mb-[16px]">
                        <img src="/public/img/Mask-Group-187.svg" alt="" class="mt-[3px]">
                        <p class="mb-0 font-light text-[#202224] text-[1rem] leading-[1.5rem] tracking-0">Includes
                            <span class="font-medium"> Premium Support </span>
                        </p>
                    </div>
                    <div class="flex items-start space-x-2.5 mb-[16px]">
                        <img src="/public/img/Mask-Group-187.svg" alt="" class="mt-[3px]">
                        <p class="mb-0 font-light text-[#202224] text-[1rem] leading-[1.5rem] tracking-0">Under no
                            circumstances can the waiver of authorship attribution in the source code files
                            of Templates, Themes and GraphQL be allowed.</p>
                    </div>
                </div>
                <div class="bg-[#EFEFEF] p-[16px]">
                    <p class="font-normal text-[#202224] text-[13px]">
                        ♥️We draw inspiration from pioneers like WordPress, Joomla, and Drupal, platforms that
                        revolutionized content management in their time. However, as technology advances, the
                        demands of modern applications have evolved. Today's projects require a tech stack that is
                        faster, more adaptable, and seamlessly integrates with tools and APIs. This is where Golang
                        shines—its robustness, flexibility, and scalability make it ideal for building powerful
                        solutions that cater to contemporary needs. With spurtCMS, we harness the power of Golang to
                        deliver a future-ready CMS, designed for efficiency, flexibility, and endless possibilities.
                    </p>
                </div>

                <a href="https://spurtcms.com/license"
                    class="flex justify-center items-center space-x-[8px]  bg-[#635BFF] mt-8  rounded-[0.1875rem] w-full h-[2.5rem] font-normal text-[1rem] text-white tracking-0 transition-all">
                    <img src="/public/img/Groupdown.svg" alt="">
                    Buy White-Label License and Support Us</a>
                <a href="/howithelpscms"
                    class="flex justify-center items-center space-x-[16px] mt-[16px] font-light text-[#05ACD7] text-[1rem] underline"
                    target="_blank">How it helps spurtCMS thrive?</a>

            </div>

        </div>

        <div class="px-10 mb-28  max-[1300px]:!px-[16px] " id="faq">
            <h3
                class="text-[2.1875rem] text-center text-[#202224] font-medium mb-8 leading-[2.75rem] max-[1300px]:mb-[8px]">
                Frequently
                Asked Questions</h3>
            <div class="accordion accordion-flush   border-b-2 border-[#1C1A1D] py-8 " id="accordionFlushExamplea">
                <div class="accordion-item accordion-item-border">
                    <h2 class="accordion-header" id="flush-headingOnesub">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public//public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                                       [&.collapsed]:before:rotate-[0deg] " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub" aria-expanded="true"
                            aria-controls="flush-collapseOnesub">
                            <p class="text-[#202224] text-[1.25rem] font-semibold m-0 leading-[1.5625rem]">1. What
                                is an open-source license under MIT and CPAL 1.0?</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub" data-bs-parent="#accordionFlushExamplea">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            This license allows users to use, modify, and distribute the software's source code
                            freely. It encourages collaboration and transparency in software development.
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion accordion-flaccordion accordion-flush  border-b-2 border-[#1C1A1D] py-8  last-of-type:pb-0 last-of-type:border-b-0 "
                id="accordionFlushExampleb">
                <div class="accordion-item accordion-item-border">
                    <h2 class="accordion-header" id="flush-headingOnesub1">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                             [&.collapsed]:before:rotate-[0deg] " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub1" aria-expanded="true"
                            aria-controls="flush-collapseOnesub">
                            <p class="text-[#202224] text-[1.25rem] font-semibold m-0 leading-[1.5625rem]">2. Is
                                spurtCMS free to use?</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub1" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub" data-bs-parent="#accordionFlushExampleb">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            Yes, spurtCMS is an open-source platform, and users can download, install, and modify it
                            for free under the MIT License.
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion accordion-flaccordion accordion-flush  border-b-2 border-[#1C1A1D] py-8  last-of-type:pb-0 last-of-type:border-b-0 "
                id="accordionFlushExamplec">
                <div class="accordion-item accordion-item-border">
                    <h2 class="accordion-header" id="flush-headingOnesub2">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                             [&.collapsed]:before:rotate-[0deg] " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub2" aria-expanded="false"
                            aria-controls="flush-collapseOnesub2">
                            <p class="text-[#202224] text-[1.25rem] font-semibold m-0 leading-[1.5625rem]">3. Can I
                                white label spurtCMS for my own branding?</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub2" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub2" data-bs-parent="#accordionFlushExamplec" style="">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            Yes, the Commercial Version can be completely white labeled and can be rebranded.
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion accordion-flaccordion accordion-flush  border-b-2 border-[#1C1A1D] py-8  last-of-type:pb-0 last-of-type:border-b-0 "
                id="accordionFlushExampled">
                <div class="accordion-item accordion-item-border">
                    <h2 class="accordion-header" id="flush-headingOnesub10">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                             [&.collapsed]:before:rotate-[0deg] " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub10" aria-expanded="true"
                            aria-controls="flush-collapseOnesub">
                            <p class="text-[#202224] text-[1.25rem] font-semibold m-0 leading-[1.5625rem]">4. How
                                can
                                I pay for the purchase of Commercial License?</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub10" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub10" data-bs-parent="#accordionFlushExampled">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            You can pay for the Commercial License through the <a href="buy-license#commerciallicense">
                                Stripe Payment
                                Gateway.</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion accordion-flaccordion accordion-flush  border-b-2 border-[#1C1A1D] py-8  last-of-type:pb-0 last-of-type:border-b-0 "
                id="accordionFlushExamplef">
                <div class=" accordion-item accordion-item-border">
                    <h2 class="accordion-header" id="flush-headingOnesub11">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                             [&.collapsed]:before:rotate-[0deg] " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub11" aria-expanded="true"
                            aria-controls="flush-collapseOnesub">
                            <p class="text-[#202224] text-[1.25rem] font-semibold m-0 leading-[1.5625rem]">5. What
                                is
                                your Refund policy?</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub11" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub11" data-bs-parent="#accordionFlushExampled">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            spurtCMS being a digial good and its possession being immediate, you shall not be
                            eligible for any Refund. Read our <a href="terms-and-policy#refund-Policy">Refund
                                Policy</a> for
                            more details.
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion accordion-flaccordion accordion-flush  border-b-2 border-[#1C1A1D] py-8  last-of-type:pb-0 last-of-type:border-b-0 "
                id="accordionFlushExamplee">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="flush-headingOnesub13">
                        <button class="  accordion-button collapsed !bg-transparent  !shadow-none  flex-shrink-0 before:content-[''] before:bg-[url('/public/img/collapse-black-arrow.svg')] before:bg-contain before:bg-no-repeat before:min-w-[12px] before:h-4 after:hidden gap-[1.25rem]  p-0 before:rotate-[90deg]
                             [&.collapsed]:before:rotate-[0deg]   " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOnesub13" aria-expanded="true"
                            aria-controls="flush-collapseOnesub13">
                            <p class="text-[#202224] m-0 text-[1.25rem] font-semibold leading-[1.5625rem]">
                                6. Do you
                                offer Customization Services? </p>
                        </button>
                    </h2>
                    <div id="flush-collapseOnesub13" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOnesub13" data-bs-parent="#accordionFlushExamplee">
                        <div
                            class="accordion-body p-[.75rem_2.375rem_0rem] text-[1rem] text-[#202224] font-normal tracking-0 leading-[1.375rem]">
                            Yes, we do offer Customization Services. You can write to <a
                                href="mailto:support@spurtcms.com">support@spurtcms.com</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>

<script>

</script>
{{template "websitefooter" .}}