{{template "docheader" .}}


    <main class="flex max-[768px]:flex-col">
        <div class="offcanvas offcanvas-end border-0 min-[769px]:static min-[769px]:!transform-none min-[769px]:visible min-[769px]:z-0 bg-[#F8F8F8] max-w-[20rem]"
            tabindex="-1" id="templateCanvas">
            <button type="button" class="p-[16px_16px_0_16px] hidden max-[768px]:block z-50 "
                data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="/public/img/close-transform.svg" alt="arrow">
            </button>
            <aside
                class="bg-[#F8F8F8] p-[0.9375rem_1rem] sticky top-[4.5rem] h-full  min-w-[20rem] w-full overflow-auto">
                <div class="flex flex-col gap-[0.5rem] h-full overflow-auto">

                    <div class="documentAccord">
                        <button
                            class="bg-transparent border-none h-[2.125rem] p-[0.5rem] text-[0.875rem] font-medium text-[#202224] w-full leading-[1.375rem] text-left flex items-center gap-[0.3125rem] before:inline-block before:w-[1rem] before:h-[1rem] before:bg-contain before:bg-[url(/public/img/documentAccord.svg)]"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Getting Started
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample" style="">

                            <ul class="max-h-[31.25rem] overflow-hidden">
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]">
                                    <a class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]     "
                                        href="getStart-perRequisites.html">Prerequisites</a>
                                </li>
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]    "
                                        href="getStart-adminSetup.html">CMS Admin Setup</a></li>
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   active  "
                                        href="getStart-apiSetup.html">GraphQL API Setup</a></li>
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                            text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                        href="getStart-template.html">Templates</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="documentAccord">
                        <button
                            class="bg-transparent border-none h-[2.125rem] p-[0.5rem] text-[0.875rem] font-medium text-[#202224] w-full leading-[1.375rem] text-left flex items-center gap-[0.3125rem]  before:inline-block before:w-[1rem] before:h-[1rem] before:bg-contain before:bg-[url(/public/img/documentAccord.svg)]"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true"
                            aria-controls="collapsefour">
                            Deployment
                        </button>

                        <div id="collapsefour" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <ul class="max-h-[31.25rem] overflow-hidden">
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]  "
                                        href="javascript:void(0);">From Docker</a>
                                </li>

                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                        href="javascript:void(0);">From CLI</a></li>
                                <li class="p-[.5rem_1.1875rem_.5rem_2.5rem;]"><a
                                        class="
                        text-[0.875rem] font-light text-[#202224] leading-[1.375rem] flex gap-[0.3125rem] items-center before:inline-block before:w-[0.25rem] before:min-w-[0.25rem] before:h-[0.25rem] before:bg-[#DDDDDD] before:rounded-full [&.active]:text-[#00ACD7]  [&.active]:before:bg-[#00ACD7]  hover:text-[#00ACD7]  hover:before:bg-[#00ACD7]   "
                                        href="javascript:void(0);">From PreBuild</a>
                                </li>

                            </ul>

                        </div>
                    </div>


                </div>
            </aside>
        </div>




        <section class="p-[1.5rem_2rem_7.5rem_2rem] max-[1300px]:p-[16px]">
            <a class="w-[32px] h-[32px] rounded-[4px] bg-white shadow-[0px_1px_5px_0px_rgba(0,0,0,0.1)] place-items-center rotate-180 fixed top-[100px] right-[16px]   hidden max-[768px]:grid "
                type="button" data-bs-toggle="offcanvas" href="#templateCanvas" aria-controls="templateCanvas">
                <img src="/public/img/close-transform.svg" alt="arrow">
            </a>

            <div class="basicSteps">
                <div class="basic template-videos">

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">
                        GraphQL has emerged as a powerful tool for building APIs due to its flexibility and efficiency
                        in data retrieval. In this article, we'll delve into the details of spurtCMS GraphQL APIs that
                        exposes spurtCMS Admin side contents and how developers can harness its potential to consume
                        efficient, self-describing APIs for their CMS website by adding or modifying api fields without
                        impacting existing flow.
                    </p>
                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">
                        Building Blocks of spurtCMS GraphQL APIs are,
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        GQL Gen library: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">To simplify the
                        process of creating GraphQL servers in Go Lang by automating the generation of schemas, types,
                        resolvers, and more.
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Custom Go Packages: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">To enhance the
                        functionality of GraphQL Playground, spurtCMS team has developed and integrated their custom
                        packages like pkgcore and pkgcontent.
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Playground Interface: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">To present an
                        intitutive API demo console, spurtCMS GraphQL project has integrated React components served
                        through a CDN for HTML content delivery.
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Installation Steps: </h2>
                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Step 1: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Ensure the
                        pre-requisites of Go Environment is available ready in your system. Check our pre-requisites
                        guideline for more details.
                    </p>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">spurtCMS Admin
                        application serves as the content source for spurtCMS GraphQL APIs and hence setup the admin
                        application and execute it. Refer the spurtCMS admin setup detailed in this link <a
                            href="https://spurtcms.com/documentation/cms-admin"
                            class="text-[#2e74b5] hover:underline">https://spurtcms.com/documentation/cms-admin</a>
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Step 2: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">To initiate the setup
                        process, the first step involves cloning the spurtCMS Template project structure from the GIT
                        repository <a href=" https://github.com/spurtcms/spurtcms-graphql"
                            class="text-[#2e74b5] hover:underline"> https://github.com/spurtcms/spurtcms-graphql</a>
                    </p>

                    <pre
                        class="bg-[#1F2426] rounded-[.1875rem] p-[.75rem_1rem] relative mt-[16px] mb-[24px] whitespace-normal ">
                                <code class="block w-[calc(100%-0.875rem)] text-[.875rem] font-light text-white leading-[1.125rem] break-words font-lexend">
                                    $git clone https://github.com/spurtcms/spurtcms-graphql.git
                        </code>
                        </pre>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">The cloned repository
                        should have all the project files associated with spurtCMS GraphQL project.
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Step 3: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Now it's time to setup
                        the PostgreSQL database, the one which is a replica of spurtCMS Admin application as mentioned
                        in pre-requisites (Step 1) above.
                    </p>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Locate the .env file
                        of the GraphQL project folder and configure it with the details of newly imported admin database
                        such as database name, user name, password etc
                    </p>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]"># PostgreSQL Database
                        Configuration
                    </p>

                    <pre
                        class="bg-[#1F2426] rounded-[.1875rem] p-[.75rem_1rem] relative mt-[16px] mb-[24px] whitespace-normal ">
                                <code class="block w-[calc(100%-0.875rem)] text-[.875rem] font-light text-white leading-[1.125rem] break-words font-lexend">
                                    DB_HOST=localhost DB_PORT=5432 DB_NAME=your_database_name DB_USER=your_database_user DB_PASSWORD=your_database_password DB_SSL_MODE=disable
                        </code>
                        </pre>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Also, configure the
                        admin application's base url i .env which is needed for GraphQL API to output the path of Media
                        files.
                    </p>

                    <pre
                        class="bg-[#1F2426] rounded-[.1875rem] p-[.75rem_1rem] relative mt-[16px] mb-[24px] whitespace-normal ">
                            <code class="block w-[calc(100%-0.875rem)] text-[.875rem] font-light text-white leading-[1.125rem] break-words font-lexend">
                                #DOMAIN_URL ='https://demo.spurtcms.com/' ##Example PORT='8081'
                    </code>
                    </pre>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Step 4: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Now it's time to start
                        the GraphqL application. Open the terminal from the GraphQL project folder and execute the
                        following command.
                    </p>
                    <pre
                        class="bg-[#1F2426] rounded-[.1875rem] p-[.75rem_1rem] relative mt-[16px] mb-[24px] whitespace-normal ">
                            <code class="block w-[calc(100%-0.875rem)] text-[.875rem] font-light text-white leading-[1.125rem] break-words font-lexend">
                                $ go run server.go
                    </code>
                    </pre>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">This command initiates
                        the Go program, installs the dependencies such as GQL Gen library, spurtCMS custom packages such
                        as pkgcore and pkgcontent.
                    </p>

                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Step 5: </h2>

                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">Your spurtCMS GraphQL
                        API is ready to use now !! You can use the playground interface to check the sample request and
                        response structure of each GraphQL endpoint. https://{your-domain-name}/play
                    </p>
                    <h2 class="text-[1.5rem] font-medium leading-[1.875rem] text-[#202224] mb-[1.5rem] block">
                        Conclusion:</h2>
                    <p class="text-[1rem] font-light text-[#202224] leading-[1.5rem] mb-[1.5rem]">As GraphQL continues
                        to gain popularity within the developer community, mastering its concepts and tools like GQL Gen
                        opens up a world of possibilities for building modern, data-driven applications. By following
                        the steps outlined in this article, developers can easily integrate spurtCMS GraphQL APIs in
                        their front-end applications to retrive content from spurtCMS admin application.
                    </p>

                </div>




            </div>
        </section>

    </main>


    {{template "websitefooter" .}}