{{template "docheader" .}}



<main>
    <section class="block">
        <div class="py-10 text-center max-[1300px]:py-[16px] w-[calc(100%-160px)] mx-auto max-[1300px]:w-[calc(100%-32px)]">
            <div class="p-[0rem_2.375rem_0rem_2.5rem] max-[1300px]:!px-[16px]">
                <h2 class="text-[2.1875rem] text-[#202224] text-center mb-[20px] font-medium pb-0 
                max-[1300px]:mb-[16px] max-[1300px]:text-[32px]">Strategic Funding Allocation for Achieving
                    spurtCMS Excellence</h2>
                <p
                    class="font-normal text-[1rem] leading-[1.25rem] text-[#202224] text-center mb-[16px]">
                    How do we utilize the Funds that we get through our Commercial Version – A Transparent Approach
                </p>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="w-[calc(100%-80px)] mx-auto max-[1300px]:w-[calc(100%-32px)]  lg:columns-3 md:columns-2 columns-1 gap-x-[38px] mb-20">
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Supporting Core Developers:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Provide financial support to core developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Attract and retain top talent.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Encourage full-time dedication to the project.
                    </li>
                </ul>
            </div>

            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Strategic Planning</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Plan strategic opportunities to adapt to changing circumstances.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Stay ahead of industry trends and developments.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Documentation and Training:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Develop comprehensive documentation for users and developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Provide training resources to enhance user proficiency.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">User Support and Feedback:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Establish a dedicated support team.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Collect and analyze user feedback to enhance user experience.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Quality Assurance:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Allocate funds for rigorous testing and quality assurance.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Ensure the reliability and robustness of the CMS
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Educational Initiatives:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Develop educational resources for users and developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Foster a learning environment to empower users.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Marketing Initiatives:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Invest in marketing efforts to promote the project.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Expand user base globally.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Strategic Planning</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Plan strategic opportunities to adapt to changing circumstances.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Stay ahead of industry trends and developments.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Documentation and Training:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Develop comprehensive documentation for users and developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Provide training resources to enhance user proficiency.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">User Support and Feedback:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Establish a dedicated support team.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Collect and analyze user feedback to enhance user experience.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Quality Assurance:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Allocate funds for rigorous testing and quality assurance.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Ensure the reliability and robustness of the CMS
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Educational Initiatives:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Develop educational resources for users and developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Foster a learning environment to empower users.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Marketing Initiatives:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Invest in marketing efforts to promote the project.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Expand user base globally.
                    </li>
                </ul>
            </div>
            <div class="border border-[#E6E6E6] rounded-lg mb-6 break-inside-avoid p-[16px]">
                <h3 class="mb-[8px] text-base font-semibold text-[#202224]">Supporting Core Developers:</h3>
                <ul class="list-none">
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Provide financial support to core developers.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Attract and retain top talent.
                    </li>
                    <li class="flex items-start gap-[5px] before:min-w-1 before:w-1 before:h-1 before:rounded-full before:bg-black mt-[5px] text-[#202224] before:mt-[8px] text-sm font-light">
                        Encourage full-time dedication to the project.
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>

{{template "websitefooter" .}}