{{template "docheader" .}}


<main>
    <section class="block">
        <div
            class="py-20 text-center max-[1300px]:py-[16px] w-[calc(100%-160px)] mx-auto max-[1300px]:w-[calc(100%-32px)] pb-0">
            <div class="p-[0rem_2.375rem_0rem_2.5rem] max-[1300px]:!px-[16px]">
                <h2 class="text-[2.1875rem] text-[#202224] text-center mb-[20px] font-medium pb-0 
                max-[1300px]:mb-[16px] max-[1300px]:text-[32px]"> Review your license now</h2>
                <p class="font-normal text-[1rem] leading-[1.25rem] text-[#202224] text-center mb-[16px]">
                    To access your license, kindly input your exclusive 18-digit verification number and proceed to
                    unlock your license.
                </p>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="w-[calc(100%-80px)] mx-auto max-[1300px]:w-[calc(100%-32px)] my-14 flex flex-col items-center gap-8 h-[50vh]">
            <div class="w-full max-w-[760px] rounded-[5px]">
                <input type="text"  class="border border-[#D9D9D9] w-full h-14 focus:outline-none text-2xl text-center uppercase text-[#202224] font-normal" /> 
            </div>
            <button class="bg-[#085873] h-10 w-40 text-base font-normal text-white border-0 rounded-[3px] hover:bg-[#2d8aa9]">Submit</button>
        </div>
    </section>

</main>



{{template "websitefooter" .}}