{{template "docheader" .}}

<main class="p-[16px_40px_40px_40px] max-[1300px]:p-[16px]">

    <section class="cmsHeading w-100 al-lft ">
        <h1 class="text-[2.1875rem] font-medium text-[#202224] leading-[2.75rem] mb-[16px]">SpurtCMS Admin</h1>
        <p class="text-[1rem] leading-[1.5rem] text-[#202224]">The SpurtCMS Admin Panel offers a comprehensive set of tools for seamless content management. From organizing content with categories and channels to creating visually appealing layouts with customizable blocks, it simplifies the entire process. The admin dashboard is designed to provide intuitive navigation, enabling efficient management of entries, roles, and templates. Additionally, AI-powered writing makes content creation faster and more effective, while TailwindCSS templates ensure professional design.</p>
    </section>
    <section class=" my-[2.5rem] max-[1300px]:mt-[24px]">

        <ul class="flex border-t-[0.0625rem] border-[#F2F2F2] bg-[#F8F8F8] h-[3.3125rem]">
            <li class="nav-item">
                <p
                    class="active bg-[#ffffff] text-[#202224] border-t-[0.1875rem] border-b-[0] border-l-[0.0625rem] border-r-[0] border-solid border-[#F2F2F2] border-t-[#05ACD7] px-[16px] py-[16px] text-[1rem] leading-[1] flex items-center space-x-[5px] h-full transition-all duration-300 ease-linear no-underline group">

                    <img src="/public/img/tab-video-active.svg" alt="video" class="min-w-[14px]"> <span
                        class="text-[#05ACD7] max-[576px]:hidden group-hover:block group-[.active]:block max-[576px]:text-[.75rem]">Video</span>
                </p>
            </li>
            <li class="nav-item">
                <a href="https://github.com/spurtcms/spurtcms" target="_blank"
                    class="px-[16px] py-[16px]  bg-[#F8F8F8] text-[1rem] leading-[1] text-[#202224] flex items-center space-x-[5px] h-full transition-all duration-300 ease border-t-[0.1875rem] border-t-transparent border-b-[0.0625rem] border-l-[0.0625rem] border-solid border-[#F2F2F2] no-underline hover:bg-white group ">
                    <img src="/public/img/tab-git.svg" alt="git" class="min-w-[14px]">
                    <span class="max-[576px]:hidden group-hover:block max-[576px]:text-[.75rem]">Github</span></a>
            </li>
            <li class="nav-item">
                <a href="/documentation"
                    class="px-[16px] py-[16px]  bg-[#F8F8F8] text-[1rem] leading-[1] text-[#202224] flex items-center space-x-[5px] h-full transition-all duration-300 ease border-t-[0.1875rem] border-t-transparent border-b-[0.0625rem] border-l-[0.0625rem] border-solid border-[#F2F2F2] no-underline hover:bg-white group">
                    <img src="/public/img/tab-doc.svg" alt="documentation" class="min-w-[14px]">
                    <span
                        class="max-[576px]:hidden group-hover:block max-[576px]:text-[.75rem]">Documents</span></a>
            </li>

            <li class="nav-item">
                <a href="/opensource/packages"
                    class="px-[16px] py-[16px]  bg-[#F8F8F8] text-[1rem] leading-[1] text-[#202224] flex items-center space-x-[5px] h-full transition-all duration-300 ease border-t-[0.1875rem] border-t-transparent border-b-[0.0625rem] border-l-[0.0625rem] border-solid border-[#F2F2F2] no-underline hover:bg-white group">
                    <img src="/public/img/tab-pack.svg" alt="package" class="min-w-[14px]">
                    <span class="max-[576px]:hidden group-hover:block max-[576px]:text-[.75rem]">Packages</span></a>
            </li>

        </ul>
        <div class=" mt-[2.5rem] mb-[5rem] max-[1300px]:mb-[2.5rem]">

            <div
                class="grid !important grid-cols-[1fr_2fr] gap-[2.5625rem] max-[992px]:grid-cols-2
                 max-[768px]:gap-[16px] max-[768px]:grid-cols-1">

                <div class="block">


                    <h3 class="text-[#202224] text-[1rem] leading-[1.375rem] font-light no-underline mb-[16px]">
                        Explore
                        Key Features of spurtCMS Admin </h3>

                    <ul class="related-list">
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Access and control all CMS features from a centralized admin dashboard.</p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Organize content into categories and subcategories for easy management and retrieval.</p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Set up and manage dedicated channels for blogs, eCommerce, news, or events.</p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Add, edit, and enrich content with an HTML editor supporting images, videos and file uploads.</p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Inbuilt AI Powered Tool can help you quickly generate content by specifying tone, keywords, and word count for blogs, press releases, and publications.
                            </p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Use pre-designed TailwindCSS templates for blogs, knowledge bases, or eCommerce to speed up setup with professional aesthetics.</p>
                        </li>
                        <li>
                            <p
                                class="text-[#9D9D9D] text-[.875rem] leading-[1.375rem] font-normal mb-1 before:inline-block before:min-w-[.25rem] before:h-[.25rem] before:bg-[#202224] before:rounded-full before:mt-[10px] before:align-top before:mr-[.3125rem] flex">
                                Create engaging layouts with modular blocks like galleries, testimonials, and timelines for visually appealing content.</p>
                        </li>
                       
                    </ul>

                </div>


                <div class="block aspectVdo-class">
                    <iframe width="100%" id="iframe" class="aspect-video"
                        src="https://www.youtube.com/embed/-3ERe-SRgmM?si=znPWdsHNMvQ_qZdh"
                        title="YouTube video player" frameborder="0" allowfullscreen="">
                    </iframe>
                </div>
            </div>

        </div>

    </section>
</main>

{{template "websitefooter" .}}