{{template "docheader" .}}


<main>
    <div class="w-full mb-[120px]">
        <div class="w-[calc(100%-80px)] mx-auto py-[40px] max-[1300px]:py-[24px] max-[1300px]:w-[calc(100%-32px)]">
            <h3 class="text-[35px] text-[#202224] font-medium mb-[32px] max-[1300px]:mb-[24px]">
                About SpurtCMS
            </h3>
            <div class="flex flex-col items-start mt-[10px] space-y-[32px]  max-[1300px]:space-y-[16px]">
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Our Vision</h4>
                    <p class="text-[#202224] text-base font-normal m-0">At SpurtCMS, our vision goes beyond
                        efficiency and customization; we are dedicated to creating a secure and dynamic content
                        management platform. Through cutting-edge technology and a commitment to user safety,
                        SpurtCMS stands at the forefront of secure CMS development. </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Open-Source Commitment</h4>
                    <p class="text-[#202224] text-base font-normal m-0">SpurtCMS proudly operates under the MIT
                        license, promoting transparency, collaboration, and community involvement. The
                        open-source nature of SpurtCMS not only encourages innovation but also allows Developers
                        to use the readily available code to their CMS projects, alongside having complete
                        flexibility of customizations for any unique content deliver needs, across industry
                        domains. </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Custom Fields for Tailor-Made Development
                    </h4>
                    <p class="text-[#202224] text-base font-normal m-0">Embracing customization, SpurtCMS
                        introduces innovative custom fields that empower developers to meet unique content
                        delivery needs. This flexibility is accompanied by a commitment to maintaining the
                        highest standards of meeting diverse content needs. With features for creating content
                        teams, adding users to teams, and assigning roles and permissions, the Solution stands
                        out in terms of ensuring utmost security and the safety of content consumers. This
                        ensures that SpurtCMS is not just versatile but also a secure framework for your
                        projects. </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Security-Centric Approach</h4>
                    <p class="text-[#202224] text-base font-normal m-0">Security is paramount at SpurtCMS. Our
                        development team adheres to industry-best practices, conducting regular security audits
                        and implementing robust authentication and authorization features. The goal is to
                        provide users with a CMS solution that not only delivers on functionality but also
                        safeguards valuable digital assets. </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Speed, Performance, and Agile Development
                    </h4>
                    <p class="text-[#202224] text-base font-normal m-0">SpurtCMS is engineered for speed and its
                        streamlined architecture, not only enhances performance but also ensures a secure
                        environment for content creation and management. With a focus on faster development
                        cycles, SpurtCMS aligns seamlessly with the security demands of modern web projects.
                    </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">MIT and CPAL 1.0 License Advantage: </h4>
                    <p class="text-[#202224] text-base font-normal m-0">Under the MIT license and CPAL 1.0,
                        SpurtCMS users enjoy the advantage of freedom and flexibility, allowing them to
                        customize the code for their specific requirements. This permissive license empowers
                        users to take complete control of the code, tweak, fork and customize the code to their
                        content management needs, contributing to a safer and more collaborative digital
                        environment. </p>
                </div>
                <div class="flex items-start flex-col">
                    <h4 class="text-2xl mb-[8px] font-medium text-black">Join the Secure Revolution</h4>
                    <p class="text-[#202224] text-base font-normal m-0">Whether you are a security-conscious
                        developer, content creator, or enthusiast, SpurtCMS invites you to be part of the
                        revolution in secure CMS development. Join our community on Discord, contribute to the
                        open-source project, and experience the future of content management with SpurtCMS.
                        Together, let's set a new standard in secure and innovative CMS solutions. </p>
                </div>
            </div>
        </div>
    </div>

</main>

{{template "websitefooter" .}}