{{define "websitefooter"}}


<footer
class="bg-[#F2F2F2] p-[40px] pt-[40px] pb-0 pl-[38px] grid gap-[34px] clear-both max-[1300px]:p-[32px_16px_0_16px]">
<div
    class="grid grid-cols-[270px_repeat(auto-fit,minmax(144px,1fr))] max-sm:grid-cols-2 gap-[40px] max-[1300px]:gap-[24px]  ">
    <div class="grid gap-[16px] max-sm:col-span-2  ">
        <img class=" max-w-[110px]" src="/public/img/SpurtCMSlogov1.2.1.svg" alt="logo">
        <p class="text-[#616161] text-[0.8125rem] no-underline">
            spurtCMS, an open-source CMS by Golang enthusiasts at Piccosoft Software Labs India, prioritizes
            speed, performance, and tailored solutions for diverse content delivery needs, aiming to redefine
            the CMS development landscape. </p>
    </div>
    <div>
        <h5 class="text-[16px] text-[#616161] font-[500] mb-[16px] flex items-center space-x-[5px] ">
                <span>Opensource</span>
            <img src="/public/img/git-icon.svg" alt="git.svg">
        </h5>
        <ul class="flex flex-col space-y-[16px] pl-0">
            <li class="flex leading-[16px]"><a href="/opensource/spurtcms-admin"
                    class="text-[#616161] text-[13px] no-underline hover:underline">CMS Admin</a>
            </li>
            <li class="flex leading-[16px]"><a href="/opensource/spurtcms-packages"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Packages</a>
            </li>
            <!-- <li class="flex leading-[16px]"><a href=""
                    class="text-[#616161] text-[13px] no-underline hover:underline">API</a></li>
            <li class="flex leading-[16px]"><a href="/documentation/templates"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Content
                    Template</a>
            </li> -->
        </ul>
    </div>
    <div>
        <h5 class="text-[16px] text-[#616161] font-[500] mb-[16px]">Developer</h5>
        <ul class="flex flex-col space-y-[16px] pl-0">
            <li class="flex leading-[16px]"><a href="/documentation"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Installation</a>
            </li>
            <!-- <li class="flex leading-[16px]"><a href="/graphqlapis"
                    class="text-[#616161] text-[13px] no-underline hover:underline">GraphQL API</a>
            </li> -->
            <li class="flex leading-[16px]"><a href="https://github.com/spurtcms/spurtcms/releases" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Release Notes</a>
            </li>
            <li class="flex leading-[16px]"><a href="https://github.com/orgs/spurtcms/projects/1" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Road Map</a></li>

        </ul>
    </div>
    <div>
        <h5 class="text-[16px] text-[#616161] font-[500] mb-[16px]">spurtCMS</h5>
        <ul class="flex flex-col space-y-[16px] pl-0">
            <li class="flex leading-[16px]"><a href="/cms-website-development-aboutus"
                    class="text-[#616161] text-[13px] no-underline hover:underline">About us</a>
            </li>
            <li class="flex leading-[16px]"><a href="/story/about-spurtcms"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Our Story</a>
            </li>
            <li class="flex leading-[16px]"><a href="https://www.piccosupport.com/" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Support </a></li>
            <li class="flex leading-[16px]"><a href="/contactus"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Contact us</a>
            </li>
            <li class="flex leading-[16px]"><a href="https://www.spurtcms.com/blog" 
                    class="text-[#616161] text-[13px] no-underline hover:underline">Blog</a></li>
        </ul>
    </div>
    <div>
        <h5 class="text-[16px] text-[#616161] font-[500] mb-[16px]">Terms</h5>
        <ul class="flex flex-col space-y-[16px] pl-0">
            <li class="flex leading-[16px]"><a href="/commercial-license"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Commercial
                    License </a>
            </li>
            <li class="flex leading-[16px]"><a href="/terms-and-policy"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Terms &amp;
                    Policies
                </a></li>
            <li class="flex leading-[16px]"><a href="/download-cms-open-source-code#faq"
                    class="text-[#616161] text-[13px] no-underline hover:underline">FAQ </a></li>
        </ul>
    </div>

    <div>
        <h5 class="text-[16px] text-[#616161] font-[500] mb-[16px]">Social Media</h5>
        <ul class="flex flex-col space-y-[16px] pl-0">
            <li class="flex leading-[16px]"><a href="https://twitter.com/spurtcms" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Twitter</a></li>
            <li class="flex leading-[16px]"><a href="https://discord.com/invite/9TNgqUY24N" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Discord</a></li>
            <li class="flex leading-[16px]"><a href="https://www.youtube.com/@spurtcms" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">Youtube</a></li>
            <li class="flex leading-[16px]"><a href="https://www.linkedin.com/company/spurtcms/" target="_blank"
                    class="text-[#616161] text-[13px] no-underline hover:underline">LinkedIn</a></li>

        </ul>
    </div>
</div>
<div class="flex justify-between min-h-[3.0625rem] items-center border-t border-[#E9E9E9] flex-wrap gap-x-[10px]
     max-[768px]:py-[16px]">
    <p class="text-[#616161] text-[12px] no-underline"> Developed and maintained by <a
            href="http://www.piccosoft.com//" target="_blank">Piccosoft Software Labs
            India (P) Limited.</a> </p>

    <ul class="flex space-x-[24px] mb-0 pl-0">
        <li><a href="/terms-and-policy#refund-Policy" target="_blank"
                class="text-[#616161] text-[12px] hover:underline ">Refund Policy</a>
        </li>
        <li><a href="/terms-and-policy" target="_blank"
                class="text-[#616161] text-[12px] hover:underline">Terms of use</a>
        </li>
        <li><a href="/terms-and-policy#privacy-Policy" target="_blank"
                class="text-[#616161] text-[12px] hover:underline">Privacy
                policy</a></li>
    </ul>
</div>
</footer>


</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
    <script src="/public/js/script.js"></script>

<script>
    function offcanvas() {
        var element = document.getElementById("offcanvasNavbar");
        element.classList.add("offcanvas");
    }
    function removeoffcanvas() {
        var element = document.getElementById("offcanvasNavbar");
        element.classList.remove("offcanvas");
    }
</script>
<script>
        const blurElement = document.getElementById('blur');
    
        function handleScroll() {
            if (window.scrollY !== 0) {
                blurElement.classList.add('backdrop-blur-3xl');
            } else {
                blurElement.classList.remove('backdrop-blur-3xl');
            }
        }
    
        handleScroll();
    
        window.addEventListener('scroll', handleScroll);
    
    </script>
    

</html>
{{end}}