{{template "header" .}}
{{template "head" .}}

{{$Translate := .translate}}



<section class=" max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[72px] min-h-screen">
    <header
        class="header-rht max-md:ms-0  max-md:w-full  flex justify-end gap-[6px] border-b border-[#D9D9D9] p-[16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
        <div class="mr-auto flex items-center gap-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <div class="max-w-[640px]">
                <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap mb-[4px]">
                    Membership</h2>
                <p class="text-[12px] font-light leading-[15px] text-[#525252] line-clamp-2 max-sm:!hidden">

                    {{$Translate.Memberss.Membershipheading}}</p>

            </div>
        </div>

        <a href="/admin/subscription/addnewsubscription" id="addmember"
            class="text-[14px] max-sm:w-[32px] max-sm:min-w-[32px] max-sm:p-[7px] font-normal leading-tight text-center py-[7px] px-[16px] h-[32px] rounded-[4px] grid place-items-center tracking-[0.7px] w-fit whitespace-nowrap text-white bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)]">
            <span class="hidden max-sm:block text-lg leading-none ">+</span> <span class="max-sm:hidden">{{$Translate.Memberships.Subscriptions.Create}}
                </span></a>


        <!-- <a href="" id="addmember" data-bs-toggle="modal" data-bs-target="#modalId2"
        class="text-[14px] max-sm:w-[32px] max-sm:min-w-[32px] max-sm:p-[7px] font-normal leading-tight text-center py-[7px] px-[16px] h-[32px] rounded-[4px] grid place-items-center tracking-[0.7px] w-fit whitespace-nowrap text-white bg-[#000000] hover:bg-[#2D2D2D]">
        <span class="hidden max-sm:block text-lg leading-none ">+</span> <span class="max-sm:hidden">Create Membership Level</span></a> -->


    </header>


    <section class="pb-[60px]">
        <div
            class="flex pt-1.5 items-end !px-4 border-b border-[#EDEDED] overflow-auto whitespace-nowrap scrollbar-thin">
            <a href="/admin/membership/"
                class="py-[11px] px-[12px] relative  border-b-2 border-transparent text-sm font-normal text-[#717171] no-underline flex items-center">{{$Translate.Memberships.Membershipmember}}</a>
            <a href="/admin/membershipgroup"
                class="py-[11px] px-[12px] relative  border-b-2  border-transparent text-sm font-normal text-[#717171] no-underline flex items-center">{{$Translate.Memberships.Membershipgroup}}
               </a>
            <a href="/admin/membershiplevel"
                class="py-[11px] px-[12px] relative  border-b-2   border-transparent text-sm font-normal text-[#717171] no-underline flex items-center">{{$Translate.Memberships.Membershiplevel}}
                </a>
            <a href="/admin/subscription"
                class="py-[11px] px-[12px] relative  border-b-2 border-b-black   text-sm font-normal text-bold-[#262626] no-underline flex items-center">{{$Translate.Memberships.Membershipsubscription}}</a>
            <a href="/admin/order"
                class="py-[11px] px-[12px] relative  border-b-2  border-transparent text-sm font-normal text-[#717171] no-underline flex items-center">{{$Translate.Memberships.Membershiporders}}</a>

            <div class="ml-auto flex items-center space-x-[6px] mb-[6px]">
                <div
                    class="{{if eq .Searchtrue true}}transitionSearch active w-[300px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] border border-[#ECECEC]   {{else}}transitionSearch active w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] {{end}} ">

                    <a href="javascript:void(0);"
                        class="srchBtn-togg group grid h-full w-[32px] place-items-center absolute left-0 top-0  hover:bg-[#FAFAFA]">
                        <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden ">
                        <img src="/public/img/search-icon-active.svg" alt="search"
                            class="searchopen hidden group-hover:block ">
                    </a>
                    <form action="/admin/subscription/" method="get" class="filterform " autocomplete="off">

                        <input type="text" placeholder="Search (Ctrl + “k” to focus)" value="{{.Filters.Keyword}}"
                            name="keyword" id="searchmembershiplevel"
                            class="Searchmembership shadow-none top-0 text-[12px] font-light leading-[15px] flex-grow border-0 outline-none p-0 absolute right-0 w-[calc(100%-36px)] h-full block">
                        {{if eq .Searchtrue true}}
                        <div class=" absolute right-[6px] top-[9px] cursor-pointer searchClosebtn  ">
                            <img src="/public/img/close.svg" alt="close">
                        </div>
                        {{else}}
                        <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden  Closebtn ">
                            <img src="/public/img/close.svg" alt="close">
                        </div>
                        <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden SearchClosebtn">
                            <img src="/public/img/close.svg" alt="close">
                        </div>
                        {{end}}
                    </form>
                </div>

                <div class="dropdown filter-dropDown static">

                    <a href="javascript:void(0);"
                        class="w-[32px] h-[32px] grid place-items-center rounded-[4px] group hover:bg-[#FAFAFA] focus:bg-[#F0FFFB]"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <img src="/public/img/filter.svg" alt="filter"
                            class="block group-hover:hidden group-focus:hidden">
                        <img src="/public/img/filter-active.svg" alt="filter-active"
                            class="hidden group-hover:block group-focus:block">
                    </a>

                    <form action="/admin/subscription/" method="get" class="filterform " autocomplete="off">

                        <div
                            class="dropdown-menu  dropdown-menu-end w-[280px] p-[12px] rounded-[12px] border-none shadow-[0px_1px_10px_0px_#00000014]">
                            <div class="flex items-center justify-between pb-[8px] border-b border-[#EDEDED] mb-[12px]">
                                <h3
                                    class="text-[14px] font-normal leading-[17.5px] text-[#262626] flex items-center gap-[4px]">
                                    <img src="/public/img/filter-black.svg" alt="filter" class="block">
                                    Select Filters
                                </h3>

                            </div>

                            <div class="block mb-[12px]">
                                <p class="text-[12px] font-normal leading-[16px] text-[#717171] mb-[4px]">
                                    Gateway
                                </p>
                                <div class="flter-option">
                                    <input type="text" placeholder="Select Gateway" name="gateway"
                                        value="{{.Filters.Gateway}}"
                                        class="flex items-center justify-between bg-white  border border-[#EDEDED] p-2 rounded-[4px] h-[32px] border-none text-[11px] font-normal leading-[13.75px] w-full outline-none min-w-[158px] placeholder:text-[#717171]">
                                </div>
                            </div>


                            <div class="block mb-[12px]">
                                <p class="text-[12px] font-normal leading-[16px] text-[#717171] mb-[4px]">MemberShip
                                    Level</p>
                                <div class=" dropdown trail-dtl p-0 border-0 bg-transparent">
                                    <a class="flex items-center justify-between bg-white  border border-[#EDEDED] p-[8px] rounded-[4px] h-[32px] border-none text-[11px] font-normal leading-[13.75px] w-full outline-none min-w-[158px]"
                                        href="javascript:void(0);" data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside">
                                        <span id="filterlevelspan"
                                            class="text-[11px] font-normal leading-[13.75px] text-[#717171]">
                                            {{if .Filters.Level}}
                                            {{.Filters.Level}}
                                            {{else}}
                                            Select Level
                                            {{end}}
                                        </span>
                                        <span>
                                            <img src="/public/img/filter-drop-arrow.svg" alt="arrow">
                                        </span>
                                    </a>
                                    <input type="hidden" name="filter-level" id="filter-level">
                                    <ul class="filterleveldropdown dropdown-menu w-full rounded-b-[8px] border-none transform-none top-[100%] p-0 shadow-[0px_8px_24px_-4px_rgba(0,0,0,0.12)] bg-[#ffffff]"
                                        aria-labelledby="dropdownMenuButton1">
                                        {{range .MembershiplevelList}}
                                        {{if eq .IsActive 1}}
                                        <li class="filterlevel" data-value="{{.SubscriptionName}}">
                                            <a class="dropdown-item border-b border-solid border-[#EDEDED] text-[12px] font-normal leading-[16px] text-[#152027] p-[8px] px-[16px] hover:bg-[#F5F5F5]"
                                                href="javascript:void(0)">
                                                {{.SubscriptionName}}
                                            </a>
                                        </li>
                                        {{end}}
                                        {{end}}
                                    </ul>


                                </div>
                            </div>

                            <div class="block mb-[12px]">
                                <p class="text-[12px] font-normal leading-[16px] text-[#717171] mb-[4px]">
                                    Subscription Transaction Id
                                </p>
                                <div class="flter-option">
                                    <input type="text" placeholder="Enter Transaction Id" name="transactionid"
                                        value="{{.Filters.TransactionId}}"
                                        class="flex items-center justify-between bg-white  border border-[#EDEDED] p-2 rounded-[4px] h-[32px] border-none text-[11px] font-normal leading-[13.75px] w-full outline-none min-w-[158px] placeholder:text-[#717171]">
                                </div>
                            </div>

                            <div
                                class="flex align-items-center gap-[12px] p-[12px_12px_0_12px] border-t border-[#F4F4F4] -mx-[12px]">
                                <a href="/admin/subscription/"
                                    class="flex-grow h-[30px] flex items-center justify-center px-3 text-sm font-normal text-bold-black bg-[#F7F7F5] hover:bg-[#e0e0e0]  rounded-[3px]  no-underline w-100">Clear</a>
                                <button type="submit"
                                    class="text-[14px] font-normal leading-tight text-center py-[7px] px-[16px] h-[30px] rounded-[4px] grid place-items-center flex-grow tracking-[0.7px] w-100 whitespace-nowrap text-white bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)]">
                                    Apply Filter
                                </button>
                            </div>


                        </div>

                    </form>

                </div>

            </div>
        </div>
        <div class="px-[16px] py-[8px] border-b border-[#EDEDED] flex justify-between items-center">
            <p class="text-[#717171] text-xs font-normal mb-0"><span class="text-bold-black">{{.Count}} </span>

                {{if gt .Count 1}}
                {{$Translate.Memberships.Subscriptions.Subscriptionavailables}}
                {{else}}
                {{$Translate.Memberships.Subscriptions.Subscriptionavailable}}
                {{end}}
            </p>

        </div>
        <div class="overflow-x-auto overflow-unset scrollbar-thin">
            <table class="w-full min-w-[800px]">
                <thead>
                    <tr>
                        <th class="px-[16px] py-[12px] pr-0 w-[30px] border-b border-[#EDEDED]">
                            <div class="chk-group chk-group-label flex justify-center">
                                <input type="checkbox" id="Check" class="hidden peer">
                                <label for="Check"
                                    class="w-[14px] h-[14px] relative cursor-pointer flex gap-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                        before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  "></label>
                            </div>
                        </th>
                        <th class="px-[16px] py-[12px] border-b border-[#EDEDED]">
                            <p class="text-[#222222] text-sm font-normal mb-0"> {{$Translate.Memberships.Subscriptions.Subcriptionid}}</p>
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Memberships.Subscriptions.User}}
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Memberships.Subscriptions.Level}}
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Memberships.Subscriptions.Fee}}
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Memberships.Subscriptions.Gateway}}
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Memberships.Subscriptions.Paymenton}}
                        </th>
                        <th
                            class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                            {{$Translate.Memberships.Subscriptions.Status}}
                        </th>
                        <th
                            class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                            {{$Translate.Memberships.Subscriptions.Action}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{if .SubscriptionList}}
                    {{range .SubscriptionList}}
                    <tr>
                        <td class="px-[16px] py-[12px] pr-0 border-b border-[#EDEDED] align-middle">
                            <div class="chk-group chk-group-label flex justify-center">
                                <input type="checkbox" id="Check{{.Id}}" data-id="{{.Id}}"
                                    class="selectcheckbox hidden peer">
                                <label for="Check{{.Id}}"
                                    class="w-[14px] h-[14px] relative cursor-pointer flex gap-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                            before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  "></label>
                            </div>
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#262626] align-middle leading-none">
                            {{.SubscriptionTransactionId}}
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none">
                            {{.FirstName}} {{.LastName}}
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none">
                            {{.SubscriptionName}}
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none">
                            $ {{.InitialPayment}}
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none">
                            {{.Gateway}}
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none">
                            {{.DateString}}
                        </td>
                        <td class="px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                            <label for="check{{.Id}}"
                                class="flex items-center justify-center cursor-pointer select-none text-dark dark:text-white">
                                <div class="relative">
                                    <input type="checkbox" id="check{{.Id}}" onclick="SubscriptionStatus('{{.Id}}')"
                                        value="{{.IsActive}}" class="peer sr-only" {{if eq .IsActive
                                        1}}checked{{end}} />
                                    <div class="block h-4 rounded-full dark:bg-dark-2 bg-gray-3 w-[30px]"></div>
                                    <div
                                        class="absolute w-3 h-3 transition bg-white rounded-full dot dark:bg-dark-4 left-0.5 top-0.5  peer-checked:translate-x-[116%] peer-checked:bg-primary">
                                    </div>
                                </div>
                            </label>
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle leading-none text-center">
                            <div class="btn-group position-static">
                                <div class="btn-group language-group position-static">
                                    <a href="javascript:void(0);" type="button"
                                        class="group items-center place-items-center gap-[5px] grid [&.show]:border [&.show]:border-[#ECECEC] [&.show]:border-solid rounded-[4px] w-[24px] h-[24px]"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/public/img/action-btn-active.svg" alt="dropdown" />
                                    </a>

                                    <ul
                                        class="bg-[#FFF] shadow-[0px_4px_8px_0px_#00000026] p-[8px] border-0 rounded-[12px] min-w-[132px] dropdown-menu dropdown-menu-end">

                                        <li class="mb-[2px] last-of-type:mb-[0]">
                                            <a class="EditSubscription items-center gap-[16px] grid grid-cols-[16px_1fr] hover:bg-[#F5F5F5] p-[6px_12px] rounded-[3px] w-full h-[30px] font-light text-[#262626] text-[14px] leading-[20px] dropdown-item"
                                                href="/admin/subscription/editsubscription?Id={{.Id}}"><img
                                                    src="/public/img/edit.svg" />  {{$Translate.Memberships.Subscriptions.Edit}}</a>
                                        </li>
                                        <li class="mb-[2px] last-of-type:mb-[0]">
                                            <a data-id="{{.Id}}"
                                                class="DeleteSubscription cursor-pointer items-center gap-[16px] grid grid-cols-[16px_1fr] hover:bg-[#F5F5F5] p-[6px_12px] rounded-[3px] w-full h-[30px] font-light text-[#A01910] text-[14px] leading-[20px] dropdown-item"
                                                data-bs-toggle="modal" data-bs-target="#deleteModal"><img
                                                    src="/public/img/delete-drop.svg"> {{$Translate.Memberships.Subscriptions.Delete}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>

                    {{end}}
                    {{else}}
                    <tr>
                        <td colspan="10">
                            <div
                                class="flex items-center flex-col justify-center max-w-[966px] m-[60px_auto] p-[0_16px]">
                                <div class="mb-[24px] max-sm:mb-[16px]">
                                    <img src="/public/img/subscription no data found.svg" alt="nodata">
                                </div>
                                <h2
                                    class="text-[24px] font-semibold leading-[30px] text-[#262626] mb-[16px] text-center max-sm:mb-[8px]  max-sm:leading-normal max-sm:text-[20px]">
                                    {{$Translate.Memberships.Subscriptions.Subscriptionemptytitle}}</h2>
                                <p
                                    class="text-[16px] font-light leading-6 text-[#717171] text-center   max-sm:leading-normal">
                                    {{$Translate.Memberships.Subscriptions.Subscriptionemptydesc}}</p>
                                <a href="/admin/subscription/addnewsubscription"
                                    class="h-8 px-[16px] rounded-[4px] flex items-center justify-center text-sm font-normal underline whitespace-nowrap">
                                    {{$Translate.Memberships.Subscriptions.Create}}</a>
                            </div>
                        </td>
                    </tr>

                    {{end}}
                </tbody>

                <!--pagination-->
                <div
                    class="@container space-x-[16px] max-sm:w-full max-md:w-full flex justify-between  @[500px]:justify-center items-center p-[16px] fixed bottom-0 w-[calc(100%-232px)]  right-0 bg-[#ffffff] z-[978]">
                    <ul class="@[500px]:!ml-auto justify-center items-center space-x-[8px] flex">
                        {{if gt .Count .Limit}}

                        <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                                class="flex justify-center w-[24px] h-[24px]  items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] space-x-[4px] {{if eq .CurrentPage 1}}opacity-50  pointer-events-none {{end}}">
                                <img src="/public/img/pg-prev.svg" alt="previous">
                                <span class=" max-sm:hidden"> {{$Translate.Jobs.Back}}</span>
                            </a>
                        </li>
                        {{if gt .CurrentPage 3}}
                        {{$keyword := .filter.Keyword}}
                        <li> <a href="?page=1{{if $keyword}}&keyword={{$keyword}}{{end}}" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                1 </a> </li>
                        {{end}}
                        {{if eq .CurrentPage 5}}
                        <li> <a href="?page=2{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px] ">
                                2 </a> </li>
                        {{end}}
                        {{if gt .CurrentPage 5}}
                        <li> <a href="javascript:void(0)" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                ...</a> </li>
                        {{end}}
                        {{if gt .CurrentPage 2}}
                        <li> <a href="?page={{.Pagination.TwoBelow}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                {{.Pagination.TwoBelow}} </a> </li>
                        {{end}}
                        {{if gt .CurrentPage 1}}
                        <li> <a href="?page={{.Pagination.PreviousPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                {{.Pagination.PreviousPage}} </a> </li>
                        {{end}}

                        <li> <a href=""
                                class=" {{if  .CurrentPage }} flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] text-[14px]   @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px] border-none text-[#FFFFFF] hover:text-[#FFFFFF] bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] font-bold {{end}}">
                                {{.CurrentPage}} </a> </li>

                        {{if lt .CurrentPage .Pagination.TotalPages}}
                        <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
     @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                {{.Pagination.NextPage}} </a> </li>
                        {{end}}
                        {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
                        <li> <a href="?page={{.Pagination.TwoAfter}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                {{.Pagination.TwoAfter}} </a> </li>
                        {{end}}
                        {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
                        <li> <a href="javascript:void(0)" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                ...</a> </li>
                        {{end}}
                        {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
                        <li> <a href="?page={{.Pagination.TotalPages}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                                {{.Pagination.TotalPages}}</a> </li> {{end}}
                        <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                                class="flex justify-center w-[24px] h-[24px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] space-x-[4px] {{if eq .CurrentPage .PageCount}}opacity-50  pointer-events-none {{end}}">
                                <span class=" max-sm:hidden"> {{$Translate.Next}} </span> <img
                                    src="/public/img\pg-nxt.svg" alt="next">
                            </a>
                        </li>
                        {{end}}
                    </ul>
                    <p class="@[500px]:!ml-auto text-[14px] font-normal text-[#222222] leading-[14px]">
                        {{.Paginationstartcount}} – {{.Paginationendcount}} {{$Translate.Of}} {{.Count}}
                    </p>
                </div>

            </table>

            <input type="hidden" name="csrf" value="{{.csrf}}">

        </div>



    </section>



    {{template "footer" .}}
    <script src="/public/js/membership/membershipsubcription.js"></script>
    {{template "footerclose" .}}