{{template "header" .}}
{{template "settingsmenu" .}}
{{template "head" .}}
{{$Translate := .translate}}

<div class="page-wrapper settings-wrapper">
    <div class="email-temp-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">
                    API Setup
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="home-tab2" data-bs-toggle="tab" data-bs-target="#home2" type="button"
                    role="tab" aria-controls="home2" aria-selected="false">
                    Document
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
              
                
                <div class="create-api">
                    <div class="head-title">
                        <h1 class="heading">Create API Token</h1>
                    </div>
                    <div class="full-graph">
                        <div class="full-ql">
                            <div class="left-cms">
                                <h2 class="heading-second">Heading Second</h2>
                                <p class="para para-light w-300">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                            </div>
                            <div class="input-group">
                                <label for=""class="input-label">Name</label>
                                <div class="ig-row">
                                    <input type="text" placeholder="label name">
                                </div>
                            </div>
                        </div>
                        <div class="full-ql">
                            <div class="left-cms">
                                <h2 class="heading-second">Description</h2>
                                <p class="para para-light w-300">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                            </div>
                            <div class="input-group">
                                <label for="" class="input-label">Description</label>
                                <div class="ig-row">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="full-ql">
                            <div class="left-cms">
                                <h2 class="heading-second">Token Duration </h2>
                                <p class="para para-light w-300">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                            </div>
                            <div class="input-group">
                                <label for="" class="input-label">Duration</label>
                                <div class="ig-row">
                                  <select name="" id="">
                                    <option value="">7 Days</option>
                                    <option value="">30 Days</option>
                                    <option value="">90 Days</option>
                                    <option value="">Unlimited</option>
                                  </select>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                document....
            </div>
        </div>
        
    </div>
    <div class="configure-btn-grp">
       <a href="/settings/graphql/"><button class="btn-reg btn-lg secondary">Cancel</button></a> 
        <button class="btn-reg btn-lg primary">Save</button>
    </div>
</div>

{{template "mediamodal" .}}

{{template "mediadecidemodal" .}}

{{template "cropmodal" .}}

{{template "footer" .}}
{{template "footerclose" .}}