<!DOCTYPE html>
<html lang="en">

<head>
    {{template "templatehead" .}}
</head>

<body>

    {{- block "templateheader" .}}{{end}}
    {{$template_name:=.template_name}}


    <section
        class="bg-[#FAFAFA] min-h-[calc(100vh-120px)] p-[26px_16px] flex flex-col max-md:min-h-[calc(100vh-68px)] max-[1300px]:min-h-[calc(100vh-79px)] max-[1300px]:p-[16px]">
        <div class="w-[90%] mx-auto max-[1400px]:w-full mb-auto">
            <ul class="flex space-x-1 mb-[55px] max-[1300px]:mb-[24px] items-center">
                <li><a href="/ "><img alt="home"
                            src="/websites/public/img/home.svg"></a></li>
                <li><img alt="arrow" src="/websites/public/img/crumb-arrow.svg"></li>
                <li><a class="text-[14px] font-normal leading-4 text-[#151618CC] hover:underline"
                        href="/signin ">Login</a></li>
                <li><img alt="arrow" src="/websites/public/img/crumb-arrow.svg"></li>
                <li>
                    <p class="text-[14px] font-semibold leading-4 text-[#120B14] "> Change Password</p>
                </li>
            </ul>
        </div>
        <div class="w-[90%] mx-auto max-[1400px]:w-full mb-auto">
            <div class="max-w-[394px] mx-auto mb-[24px]">
                <h1
                    class="text-[36px] font-semibold leading-[43px] text-[#1D1D1F] text-center mb-[17px] max-sm:text-[28px]">
                   Change Password</h1>
                <p
                    class="text-base font-medium leading-[17px] text-[#83838D] text-center mb-[40px] max-[1300px]:mb-[16px]">
                   Please enter your new password</p>
                <div class="bg-[#FFFFFF] border border-[#E9E9E9] p-[30px] rounded-[12px] max-w-[394px] mx-auto">
                    <form action="/set-newpassword " id="passform" method="post" name="passform">
              <input type="hidden" name="csrf" value="{{.csrf}}">
                <input type="hidden" name="userId" value="{{.userid}}" id="userId">

                <div class="mt-[24px]">
                    <label for="" class="text-[14px] font-normal leading-[17.5px] text-[#262626] block mb-[2px]">New Password</label>
                    <div class="relative">
                    <input type="password" id="pass" placeholder="Enter password" name="pass" 
                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs border-[#EDEDED] p-[8px] rounded-[3px] text-[14px] font-normal leading-[17.5px] text-[#262626] placeholder:text-[#D2D2D2] block w-full focus:border-[#EDEDED] focus:ring-0 ">
                        
                        <button type="button" class="eye absolute right-[8px] top-[10px]" id="eye1">
                            <img id="img" src="/public/img/eye-closed.svg" alt="">

                        </button>
                    </div>
                    </div>

                <div class="mt-[24px]">
                    <label for=""
                        class="text-[14px] font-normal leading-[17.5px] text-[#262626] block mb-[2px]">Confirm Password</label>
                   <div class="relative">
                        <input type="password" placeholder="Confirm New Password" id="cpass" name="cpass"
                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs border-[#EDEDED] p-[8px] rounded-[3px] text-[14px] font-normal leading-[17.5px] text-[#262626] placeholder:text-[#D2D2D2] block w-full focus:ring-0 focus:border-[#EDEDED] ">
                        <button type="button" class="eye absolute right-[8px] top-[10px]" id="eye2">
                            <img id="img" src="/public/img/eye-closed.svg" alt="">
                        </button>
                   </div>
                    </div>

                    <div class="mt-[24px]">
                <button type="button" id="passsave"
                    class="bg-[#1D1D1F]  p-[10px] rounded-[3px] text-[14px] font-medium leading-[17.5px] text-[#FFFFFF] text-center h-[38px] block w-full ">Submit</button>
                    </div>
                  
            </form>
                </div>
                <div class="flex items-center space-x-[4px] mt-[30px] justify-center">
                    <p class="text-[12px] font-medium leading-[14px] text-[#1516188F]">Back to</p><a
                        class="text-[12px] font-semibold leading-[14px] hover:underline text-[#1D1D1F]"
                        href="/signin ">Login</a>
                </div>
            </div>
        </div>
    </section>



  

    <!-- <section
        class="bg-[#FAFAFA] min-h-[calc(100vh-120px)] p-[26px_16px] flex flex-col max-md:min-h-[calc(100vh-68px)] max-[1300px]:min-h-[calc(100vh-79px)] max-[1300px]:p-[16px]">
          <div class="w-[90%] mx-auto max-[1400px]:w-full mb-auto">
 <h1 class=" text-[20px] font-[500] leading-[25px] text-[#152027] mb-[8px]  ">Change Password</h1>
            <p class=" text-[12px] font-[300] leading-[15px] text-[#525252]">Please enter your new password</p>
            <form action="/set-newpassword" id="passform" method="post" name="passform">
                <input type="hidden" name="csrf" value="{{.csrf}}">
                <input type="hidden" name="userId" value="{{.userid}}" id="userId">

                <div class="mt-[24px]">
                    <label for="" class="text-[14px] font-normal leading-[17.5px] text-[#262626] block mb-[2px]">New Password</label>
                    <div class="relative">
                    <input type="password" id="pass" placeholder="Enter password" name="pass" 
                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs border-[#EDEDED] p-[8px] rounded-[3px] text-[14px] font-normal leading-[17.5px] text-[#262626] placeholder:text-[#D2D2D2] block w-full focus:border-[#EDEDED] focus:ring-0 ">
                        
                        <button type="button" class="eye absolute right-[8px] top-[10px]" id="eye1">
                            <img id="img" src="/public/img/eye-closed.svg" alt="">

                        </button>
                    </div>
                    </div>

                <div class="mt-[24px]">
                    <label for=""
                        class="text-[14px] font-normal leading-[17.5px] text-[#262626] block mb-[2px]">Confirm Password</label>
                   <div class="relative">
                        <input type="password" placeholder="Confirm New Password" id="cpass" name="cpass"
                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs border-[#EDEDED] p-[8px] rounded-[3px] text-[14px] font-normal leading-[17.5px] text-[#262626] placeholder:text-[#D2D2D2] block w-full focus:ring-0 focus:border-[#EDEDED] ">
                        <button type="button" class="eye absolute right-[8px] top-[10px]" id="eye2">
                            <img id="img" src="/public/img/eye-closed.svg" alt="">
                        </button>
                   </div>
                    </div>

                    <div class="mt-[24px]">
                <button type="submit" id="passsave"
                    class="bg-[#2FACD6] p-[10px] rounded-[3px] text-[14px] font-medium leading-[17.5px] text-[#FFFFFF] text-center h-[38px] block w-full hover:bg-[#069ec5]">Submit</button>
                    </div>
                    <div class="text-center mt-[12px]">
                        <a href="/" class="text-center font-normal text-[#262626] text-[14px]">Back</a>
                    </div>

            </form>
</div>
           </section> -->



    <script src="/websites/common/assets/js/changepassword.js"></script>

    <script src="/websites/common/assets/js/common.js"></script>

</body>


</html>