<!DOCTYPE html>
<html lang="en">

<head>
    {{template "templatehead" .}}
</head>

<body>

    {{- block "templateheader" .}}{{end}}
    {{$template_name:=.template_name}}

    <section
        class="bg-[#FAFAFA] min-h-[calc(100vh-120px)] p-[26px_16px] flex flex-col max-md:min-h-[calc(100vh-68px)] max-[1300px]:min-h-[calc(100vh-79px)] max-[1300px]:p-[16px]">
        <div class="w-[90%] mx-auto max-[1400px]:w-full mb-auto">
            <ul class="flex space-x-1 mb-[55px] max-[1300px]:mb-[24px] items-center">
                <li><a href="/ "><img alt="home"
                            src="/websites/public/img/home.svg"></a></li>
                <li><img alt="arrow" src="/websites/public/img/crumb-arrow.svg"></li>
                <li><a class="text-[14px] font-normal leading-4 text-[#151618CC] hover:underline"
                        href="/signin ">Login</a></li>
                <li><img alt="arrow" src="/websites/public/img/crumb-arrow.svg"></li>
                <li>
                    <p class="text-[14px] font-semibold leading-4 text-[#120B14] ">Forgot password</p>
                </li>
            </ul>
        </div>
        <div class="w-[90%] mx-auto max-[1400px]:w-full mb-auto">
            <div class="max-w-[394px] mx-auto mb-[24px]">
                <h1
                    class="text-[36px] font-semibold leading-[43px] text-[#1D1D1F] text-center mb-[17px] max-sm:text-[28px]">
                    Forgot Password ?</h1>
                <p
                    class="text-base font-medium leading-[17px] text-[#83838D] text-center mb-[40px] max-[1300px]:mb-[16px]">
                    No worries, we will send reset instruction</p>
                <div class="bg-[#FFFFFF] border border-[#E9E9E9] p-[30px] rounded-[12px] max-w-[394px] mx-auto">
                    <form action="/forget" method="post" name="forget" id="forget">
                         <input type="hidden" name="csrf" value="{{.csrf}}">
                        <div class="mb-[24px] last-of-type:mb-0 ig-row">
                            <input placeholder="Enter your registered Email ID " id="emailid" name="emailid"
                                class="border border-[#00000029] rounded-[4px] h-[42px] p-[6px_10px] outline-none block w-full text-[14px] font-normal leading-[16px] placeholder:text-[#1516188F] text-black">
                        </div>
                        <input type="hidden" id="template_name" name="template_name" value="{{.template_name}}">
                        <input type="hidden" id="adminuserid" value="{{.userid}}">
                        <button type="button" id="verify"
                            class="bg-[#1D1D1F] border border-[#D8D8D8] text-[14px] leading-[16px] p-[12px] w-full block h-[42px] font-semibold text-[#FFFFFF] mt-[24px] rounded-[4px] text-center hover:bg-[#28282c]">
                            Verify
                        </button>
                    </form>
                </div>
                <div class="flex items-center space-x-[4px] mt-[30px] justify-center">
                    <p class="text-[12px] font-medium leading-[14px] text-[#1516188F]">Back to</p><a
                        class="text-[12px] font-semibold leading-[14px] hover:underline text-[#1D1D1F]"
                        href="/signin ">Login</a>
                </div>
            </div>
        </div>
    </section>



    <script src="/websites/common/assets/js/forgetPassword.js"></script>

    <script src="/websites/common/assets/js/common.js"></script>

</body>


</html>