{{template "header" .}}
{{template "head" .}}

<div class="page-wrapper">

    <div class="cms-dashboard">
        <div class="admin-full-list">
            <div class="admin-content">
                <img src="{{if .Menu.ProfileImagePath}}/{{ .Menu.ProfileImagePath }}{{else}}/public/img/admin-logo.png{{end}}" alt="">
                <div class="admin-details">
                    <h3>{{.Menu.Name}}</h3>
                    <p>Last Active : </p>
                </div>
            </div>
            <!-- <div class="transitionSearch active">
                <img src="/public/img/Magnifying-Glass.svg" alt="">
                <input type="text" name="" id="" placeholder="Search">
            </div> -->
        </div>
        <div class="sep"></div>
        <div class="dashboard-details">
            <div class="dashboard-content">
                <h3>Welcome Back {{.Menu.Name}}</h3>
                <p>Your Dashboard awaits! Gain insights into users, content, members, articles, and recent activity.
                </p>
            </div>
            <a href="/settings/myprofile"><button class="btn-reg btn-sm primary">
                Edit Profile
            </button></a>
        </div>
        <div class="sep"></div>
        <div class="dash-full-list">
            <div class="dash-full-detail">
                <div class="left-dash">
                    <div class="dash-list-role">
                        <div class="dash-role">
                            <div class="role-content">
                                <div class="img-role img-user">
                                    <img src="/public/img/users--1.svg" alt="">

                                </div>
                                <h3>Users</h3>
                            </div>
                            <div class="count-role">
                                <h2>{{.usercount}}</h2>
                            </div>
                            <div class="count-days">
                                <p>
                                    <span>+{{.Newusercount}}</span>
                                    Increased 
                                    <span>(10 Days)</span>
                                </p>
                            </div>
                        </div>
                        <div class="dash-role">
                            <div class="role-content">
                                <div class="img-role img-member">
                                    <img src="/public/img/members--1.svg" alt="">

                                </div>
                                <h3>Members</h3>
                            </div>
                            <div class="count-role">
                                <h2>{{.membercount}}</h2>
                            </div>
                            <div class="count-days">
                                <p>
                                    <span>+{{.Newmembercount}}</span>
                                    Increased 
                                    <span>(10 Days)</span>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="dash-role">
                            <div class="role-content">
                                <div class="img-role img-article">
                                    <img src="/public/img/article.svg" alt="">

                                </div>
                                <h3>Articles</h3>
                            </div>
                            <div class="count-role">
                                <h2>4500</h2>
                            </div>
                            <div class="count-days">
                                <p>
                                    <span>+110</span>
                                    Increased 
                                    <span>(10 Days)</span>
                                </p>
                            </div>
                        </div> -->
                        <div class="dash-role">
                            <div class="role-content">
                                <div class="img-role img-content">
                                    <img src="/public/img/content.svg" alt="">

                                </div>
                                <h3>Content</h3>
                            </div>
                            <div class="count-role">
                                <h2>{{.entriscount}}</h2>
                            </div>
                            <div class="count-days">
                                <p>
                                    <span>+{{.Newentrycount}}</span>
                                    Increased 
                                    <span>(10 Days)</span>
                                </p>
                            </div>
                        </div>
                        <div class="dash-role">
                            <div class="role-content">
                                <div class="img-role img-page">
                                    <img src="/public/img/page.svg" alt="">

                                </div>
                                <h3>Pages</h3>
                            </div>
                            <div class="count-role">
                                <h2>{{.pagescount}}</h2>
                            </div>
                            <div class="count-days">
                                <p><span>+{{.Newpagescount}}</span>
                                    Increased 
                                    <span>(10 Days)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="dash-create-content">
                        <div class="create-list">
                            <h3>Create New Content</h3>
                            <p>Craft your next masterpiece effortlessly</p>
                        </div>
                        <div class="sep"></div>
                        <div class="create-content">
                            <div class="create-content-list">
                                {{range .channelslist}}
                                <a href="/channel/entrylist/{{.Id}}" class="list-1">
                                    <h3>{{.ChannelName}}</h3>
                                    <p>{{.SlugName}} <span>Entries Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a>
                                {{end}}
                                <!-- <a href="#" class="list-1">
                                    <h3>Article</h3>
                                    <p>10 <span>Records Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a>
                                <a href="#" class="list-1">
                                    <h3>Content</h3>
                                    <p>10 <span>Records Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a>
                                <a href="#" class="list-1">
                                    <h3>Channel</h3>
                                    <p>10 <span>Records Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a>
                                <a href="#" class="list-1">
                                    <h3>Space</h3>
                                    <p>10 <span>Records Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a>
                                <a href="#" class="list-1">
                                    <h3>More</h3>
                                    <p>10 <span>Records Available</span></p>
                                    <img src="/public/img/Vector-in-active.svg" alt="" class="in-active">
                                    <img src="/public/img/Vector-active.svg" alt="" class="active">
                                </a> -->
                            </div>
                            <!-- <div class="create-content-blog-detail" style="display: none;">
                                <div class="create-open-list">
                                    <img src="/public/img/Vector-left.svg" alt="">
                                    <h4>Blog</h4>
                                </div>
                                <div class="blog-details-tabel">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="right-border">
                                                    <div class="blog-list-details">
                                                        <h1>4500</h1>
                                                        <p>Total No of Blogs</p>
                                                    </div>
                                                </td>
                                                <td class="left-border">
                                                    <div class="blog-list-details">
                                                        <h1>4500</h1>
                                                        <p>Total No of Blogs</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="right-border">
                                                    <div class="blog-list-details">
                                                        <h1>4500</h1>
                                                        <p>Total No of Blogs</p>
                                                    </div>
                                                </td>
                                                <td class="left-border">
                                                    <div class="blog-list-details">
                                                        <h1>4500</h1>
                                                        <p>Total No of Blogs</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="add-blog">
                                    <button class="primary add-blog-btn">
                                        <span>+</span>
                                        <p>Add New</p>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                aria-selected="true">
                                Recent Added
                            </button>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                                Recntly Added Content
                            </button>
                        </li> -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="messages-tab" data-bs-toggle="tab"
                                data-bs-target="#messages" type="button" role="tab" aria-controls="messages"
                                aria-selected="false">
                                Most Viewed Content
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="messages-tab" data-bs-toggle="tab"
                                data-bs-target="#messages2" type="button" role="tab" aria-controls="messages"
                                aria-selected="false">
                                Recntly Viewed Content
                            </button>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="messages-tab" data-bs-toggle="tab"
                                data-bs-target="#messages3" type="button" role="tab" aria-controls="messages"
                                aria-selected="false">
                                Recent Vistors Logs
                            </button>
                        </li> -->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="article-tabel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>User</th>
                                            <th>Date</th>
                                            <th class="view-link"><a href="#">View All</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{if .newentries}}
                                        {{range .newentries}}
                                        <tr>
                                            <td class="title">{{.Title}}</td>
                                            <td>{{.Username}}</td>
                                            <td>{{.CreatedDate}}</td>
                                            <td></td>
                                        </tr> 
                                        {{end}}
                                        {{end}}   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            Recntly Added Content
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                            Most Viewed Content
                        </div>
                        <div class="tab-pane" id="messages2" role="tabpanel" aria-labelledby="messages-tab">
                            Recntly Viewed Content
                        </div>
                        <div class="tab-pane" id="messages3" role="tabpanel" aria-labelledby="messages-tab">
                            Recent Vistors Logs
                        </div>
                    </div>

                </div>
                <div class="right-dash">
                    <div class="recent-activites">
                        <div class="activities-detail">
                            <h3>Recent Activities</h3>
                            <p>latest updates and changes.</p>
                        </div>
                        <div class="activity-line">
                            
                            <div class="dash-recent-activities">
                                <div class="dash-recent-activities-img">
                                    <img src="/public/img/profile-img.svg" alt="">
                                </div>
                                <div class="dash-recent-activities-content">
                                    <h4>Santina Jerde <span class="text-normal"> Added a </span> <span class="text-medium"> New Blog </span> </h4>
                                    <p>30 mins ago</p>
                                </div>
                            </div>

                            <div class="dash-recent-activities">
                                <div class="dash-recent-activities-img">
                                    <img src="/public/img/profile-img.svg" alt="">
                                </div>
                                <div class="dash-recent-activities-content">
                                    <h4>Santina Jerde <span class="text-normal"> Added a </span> <span class="text-medium"> New Blog </span> </h4>
                                    <p>30 mins ago</p>
                                </div>
                            </div>

                            <div class="dash-recent-activities">
                                <div class="dash-recent-activities-img">
                                    <img src="/public/img/profile-img.svg" alt="">
                                </div>
                                <div class="dash-recent-activities-content">
                                    <h4>Santina Jerde <span class="text-normal"> Added a </span> <span class="text-medium"> New Blog </span> </h4>
                                    <p>30 mins ago</p>
                                </div>
                            </div>

                            <div class="dash-recent-activities">
                                <div class="dash-recent-activities-img">
                                    <img src="/public/img/profile-img.svg" alt="">
                                </div>
                                <div class="dash-recent-activities-content">
                                    <h4>Santina Jerde <span class="text-normal"> Added a </span> <span class="text-medium"> New Blog </span> </h4>
                                    <p>30 mins ago</p>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="view-list">
                            <button class="primary btn-view">View All</button>
                        </div> -->
                    </div>
                    <div class="logged-user">
                        <div class="logged-list">
                            <div class="logged-content">
                                <h3>Logged in members</h3>
                                <p>Know who's currently online </p>
                            </div>
                            <a href="#">View All</a>
                        </div>
                        <div class="logged-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <!-- <th>
                                            Role
                                        </th> -->
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Santina Jerde</td>
                                        <!-- <td>User</td> -->
                                        <td class="date">03-12-2023 12:21PM</td>
                                    </tr>
                                    <tr>
                                        <td>Santina Jerde</td>
                                        <!-- <td>User</td> -->
                                        <td class="date">03-12-2023 12:21PM</td>
                                    </tr>
                                    <tr>
                                        <td>Santina Jerde</td>
                                        <!-- <td>User</td> -->
                                        <td class="date">03-12-2023 12:21PM</td>
                                    </tr>
                                    <tr>
                                        <td>Santina Jerde</td>
                                        <!-- <td>User</td> -->
                                        <td class="date">03-12-2023 12:21PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{{template "footer" .}}
<script src="/public/js/dashboard/dashboard.js"></script>
{{template "footerclose" .}}