       
  {{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
<section
    class="  max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-0  max-sm:pt-[64px] min-h-screen">

    <div class=" max-sm:h-fit h-full ">

            {{template "gotemplatepageheader" .}}
        </div>
    </section>
        <form action="/admin/website/settingpage?webid={{.websitedetail.Id}}"  method="post" id="SocialmediaForm">
            <input type="hidden" name="csrf" value="{{.csrf}}">
              <input type="hidden" name="tabname" value="social">

        <div class="p-[30px] grid grid-cols-[1fr_2fr] gap-[16px]  mb-[67px] last-of-type:mb-0 max-lg:mb-[24px] max-[768px]:grid-cols-1">
            <h3 class="mt-[12px]">Social Media Link</h3>

        
            <div class="p-[30px] rounded-[12px] bg-[#F8F9FA] max-lg:p-[16px]">
            <input type="hidden" id="social_media_data" name="social_media_data">
        
                <div class=" mx-auto space-y-[24px]">
        
                    <div class=" flex items-center gap-[10px] gap-4 items-center w-full">
                        <label for='ck5' class="cursor-pointer">
                            <input type="checkbox" id="ck5" class="peer hidden" />
                            <img src="/public/img/unchecked-box-green.svg" alt="" class="min-w-[19px] peer-checked:hidden block" />
                            <img src="/public/img/checked-box-green.svg" alt="" class="min-w-[19px] peer-checked:block hidden" />
                        </label>
                        <img src="/public/img/linkedin-circle.svg" class="min-w-[48px]" />
                        <!-- Input -->
                        <input type="text" placeholder="http://linkedin/example" id="linkedinlink"
                            class="bg-white rounded p-[15px_10px] border border-[#E6E6E6]
                                                                    text-[13px] leading-[18px]  placeholder:text-[#757575] w-full">
        
        
                    </div>
        
        
        
                    <div class=" flex items-center gap-[10px] gap-4 items-center w-full">
                        <label for='ck1' class="cursor-pointer">
                            <input type="checkbox" id="ck1" class="peer hidden" />
                            <img src="/public/img/unchecked-box-green.svg" alt="" class="min-w-[19px] peer-checked:hidden block" />
                            <img src="/public/img/checked-box-green.svg" alt="" class="min-w-[19px] peer-checked:block hidden" />
                        </label>
                        <img src="/public/img/x-circle.svg" class="min-w-[48px]" />
                        <!-- Input -->
                        <input type="text" placeholder="http://x/example" id="xlink"
                            class="bg-white rounded p-[15px_10px] border border-[#E6E6E6]
                                                                    text-[13px] leading-[18px]  placeholder:text-[#757575] w-full">
        
                    </div>
        
                    <div class=" flex items-center gap-[10px] gap-4 items-center w-full">
                        <label for="ck2" class="cursor-pointer">
                            <input type="checkbox" id="ck2" class="peer hidden" />
                            <img src="/public/img/unchecked-box-green.svg" alt="" class="min-w-[19px] peer-checked:hidden block" />
                            <img src="/public/img/checked-box-green.svg" alt="" class="min-w-[19px] peer-checked:block hidden" />
                        </label>
                        <img src="/public/img/youtube-circle.svg" class="min-w-[48px]" />
                        <!-- Input -->
                        <input type="text" placeholder="http://youtube/example" id="youtubelink"
                            class="bg-white rounded p-[15px_10px] border border-[#E6E6E6]
                                                                    text-[13px] leading-[18px]  placeholder:text-[#757575] w-full">
        
                    </div>
        
                    <div class=" flex items-center gap-[10px] gap-4 items-center w-full">
                        
                        <label for="ck3" class="cursor-pointer">
                            <input type="checkbox" id="ck3" class="peer hidden" />
                            <img src="/public/img/unchecked-box-green.svg" alt="" class="min-w-[19px] peer-checked:hidden block" />
                            <img src="/public/img/checked-box-green.svg" alt="" class="min-w-[19px] peer-checked:block hidden" />
                        </label>
                     

                        <img src="/public/img/instagram-circle.svg" class="min-w-[48px]" />
                        <!-- Input -->
                        <input type="text" placeholder="http://instagram/example" id="instagramlink"
                            class="bg-white rounded p-[15px_10px] border border-[#E6E6E6]
                                                                    text-[13px] leading-[18px]  placeholder:text-[#757575] w-full">
        
                    </div>
        
                    <div class=" flex items-center gap-[10px] gap-4 items-center w-full">
                        <label for="ck4" class="cursor-pointer">
                            <input type="checkbox" id="ck4" class="peer hidden" />
                            <img src="/public/img/unchecked-box-green.svg" alt="" class="min-w-[19px] peer-checked:hidden block" />
                            <img src="/public/img/checked-box-green.svg" alt="" class="min-w-[19px] peer-checked:block hidden" />
                        </label>
                        <img src="/public/img/facebook-circle.svg" class="min-w-[48px]"  />
                        <!-- Input -->
                        <input type="text" placeholder="http://facebook/example" id="facebooklink"
                            class="bg-white rounded p-[15px_10px] border border-[#E6E6E6]
                                                                    text-[13px] leading-[18px]  placeholder:text-[#757575] w-full">
        
                    </div>
        
                    <!-- Buttons -->
                    <div class="flex justify-end gap-4 pt-4">
        
                        <a href="javascript:void(0);" id="socialmediaupdate" 
                            class="text-[14px] leading-none font-normal text-center py-[8px] px-[20px] h-[34px] rounded-[4px] grid place-items-center tracking-[0.7px] w-[91px] whitespace-nowrap text-white bg-[#10A37F] hover:bg-[#148569] ">
                            Update
                        </a>
                        
                    </div>
        
                </div>
        
        
        
            </div>
        </div>
        </form>
      
        <input type="hidden" id="social_link_json" value="{{ .sociallink }}">
{{template "footer" .}}
    <script src="/public/js/gotemplate/template_settings.js"></script>

    {{template "footerclose" .}}