{{define "gotemplatepageheader"}}

{{$Translate := .translate}}

<input type="hidden" class="templateid" value="{{.websitedetail.Id}}">
  <div class="header-rht flex border-b border-solid border-[#E8E8E8] max-md:flex-col">
                        <div
                            class="flex gap-[20px] items-center p-[30px_0_20px_24px] max-lg:flex-col max-lg:p-[16px] max-lg:items-start">

                            <div class="min-w-[100px] max-w-[215px] w-full">
                                <img src="{{.templatedetail.TemplateImage }}" alt="">
                            </div>

                            <div>
                                <div class="pr-[1.25rem]">
                                    <h2
                                        class="mb-[10px] font-bold text-[#202124] text-[24px] leading-[20px] whitespace-nowrap">
                                        {{.templatedetail.TemplateName}}</h2>
                                    <p class="text-[13px] font-light leading-[20px] text-[#616161]"> {{.templatedetail.TemplateDescription}}</p>
                                </div>
                                <div
                                    class="flex flex-wrap items-center gap-[10px] mt-[10px] w-full pt-[10px] border-t border-solid border-[#E8E8E8]">
                                    <div class="flex items-center gap-[14px]">
                                        <h3
                                            class="text-[13px] font-light leading-[16px] text-[#252525] whitespace-nowrap">
                                            Created date:
                                        </h3>
                                        <p
                                            class="text-[13px] font-light leading-[16px]  text-[#0088FF] whitespace-nowrap">
                                            {{.templatedetail.DateString}}</p>
                                    </div>
                                    <!-- <div class="flex items-center gap-[14px]">
                                        <h3
                                            class="text-[13px] font-light leading-[16px] text-[#252525] whitespace-nowrap">
                                            Last Updated:
                                        </h3>
                                        <p
                                            class="text-[13px] font-light leading-[16px]  text-[#0088FF] whitespace-nowrap">
                                            12 Mar 25,
                                            04:58 am</p>
                                    </div> -->
                                </div>

                            </div>
                        </div>


                        <div
                            class="p-[30px_24px_20px_24px] max-lg:p-[16px] w-full max-md:max-w-full max-w-[314px] border-l border-solid border-[#E8E8E8]">
                            <div class="flex items-center justify-between gap-[16px] mb-[18px] last-of-type:mb-0">
                                <h4 class="text-[14px] leading-[18px] text-[#252525] font-light whitespace-nowrap">
                                    Creator</h4>
                                <p class="text-[14px] leading-[18px] text-[#0088FF] font-light whitespace-nowrap">{{.Menu.Name}}
                                </p>
                            </div>
                            <div class="flex items-center justify-between gap-[16px] mb-[18px] last-of-type:mb-0">
                                <h4 class="text-[14px] leading-[18px] text-[#252525] font-light whitespace-nowrap">
                                    Owner:</h4>
                                <p class="text-[14px] leading-[18px] text-[#0088FF] font-light whitespace-nowrap">Admin
                                </p>
                            </div>
                            <div class="flex items-center justify-between gap-[16px] mb-[18px] last-of-type:mb-0">
                                <h4 class="text-[14px] leading-[18px] text-[#252525] font-light whitespace-nowrap">
                                    Publish:</h4>
                                <p class="text-[14px] leading-[18px] text-[#0088FF] font-light whitespace-nowrap">
                                    published</p>
                            </div>
                            <div class="flex items-center justify-between gap-[16px] mb-[18px] last-of-type:mb-0">
                                <h4 class="text-[14px] leading-[18px] text-[#252525] font-light whitespace-nowrap">
                                    Visibility :</h4>
                                <p class="text-[14px] leading-[18px] text-[#0088FF] font-light whitespace-nowrap">Public
                                </p>
                            </div>
                        </div>
                    </div>
                    <section class="mb-[60px] p-[12px_16px]">
                        <div
                            class="border-b boder-solid border-[#E6E6E6] mb-0  flex flex-nowrap justify-between gap-[14px]">
                            <ul class="nav nav-pills overflow-x-auto overflow-y-visible flex flex-nowrap  mb-0 gap-[14px]" id="pills-tab" role="tablist">
                                <li class="" role="presentation">
                                 <a href="/admin/website/pages/{{.websitedetail.Id}}">   <button
                                        class="text-base font-normal leading-[20px] text-[#757575] {{if eq .linktitle `Website Page`}}active [&.active]:text-[#10A37F]{{end}} border-b-[2px] border-solid border-transparent [&.active]:border-[#10A37F] p-[4px_8px_16px_8px] max-md:p-[4px_8px_16px_8px] "
                                        id="pills-themes-tab" data-bs-toggle="pill" data-bs-target="#pills-themes"
                                        type="button" role="tab" aria-controls="pills-themes"
                                        aria-selected="true">Pages</button></a>
                                </li>
                                <li class="" role="presentation">
                                  <a href="/admin/website/menu/?webid={{.websitedetail.Id}}">  <button
                                        class="text-base font-normal leading-[20px] text-[#757575] {{if eq .linktitle `Menus`}}active [&.active]:text-[#10A37F]{{end}} border-b-[2px] border-solid border-transparent [&.active]:border-[#10A37F] p-[4px_8px_16px_8px] max-md:p-[4px_8px_16px_8px]"
                                        id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu"
                                        type="button" role="tab" aria-controls="pills-menu"
                                        aria-selected="false">Menu</button></a>
                                </li>
                                  <li class="" role="presentation">
                                  <a href="/admin/website/widgets/?webid={{.websitedetail.Id}}">  <button
                                        class="text-base font-normal leading-[20px] text-[#757575] {{if eq .linktitle `Widgets`}}active [&.active]:text-[#10A37F]{{end}} border-b-[2px] border-solid border-transparent [&.active]:border-[#10A37F] p-[4px_8px_16px_8px] max-md:p-[4px_8px_16px_8px]"
                                        id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu"
                                        type="button" role="tab" aria-controls="pills-menu"
                                        aria-selected="false">Widgets</button></a>
                                </li>
                                <li class="" role="presentation">
                                  <a href="/admin/website/seo/?webid={{.websitedetail.Id}}"> <button
                                        class="text-base font-normal leading-[20px] text-[#757575] {{if eq .linktitle `SEO`}}active [&.active]:text-[#10A37F]{{end}} border-b-[2px] border-solid border-transparent [&.active]:border-[#10A37F] p-[4px_8px_16px_8px] max-md:p-[4px_8px_16px_8px]"
                                        id="pills-seo-tab" data-bs-toggle="pill" data-bs-target="#pills-seo"
                                        type="button" role="tab" aria-controls="pills-seo"
                                        aria-selected="false">SEO</button></a> 
                                </li>
                                <li class="" role="presentation">
                                   <a href="/admin/website/setting/?webid={{.websitedetail.Id}}">  <button
                                        class="text-base font-normal leading-[20px] text-[#757575] {{if eq .linktitle `Setting`}}active [&.active]:text-[#10A37F]{{end}} border-b-[2px] border-solid border-transparent [&.active]:border-[#10A37F] p-[4px_8px_16px_8px] max-md:p-[4px_8px_16px_8px]"
                                        id="pills-setting-tab" data-bs-toggle="pill" data-bs-target="#pills-setting"
                                        type="button" role="tab" aria-controls="pills-setting"
                                        aria-selected="false">Appearance</button></a>
                                </li>


                            </ul>
                 
            
           
                        


         {{end}}               