{{define "widget"}}

  <div class="max-w-[945px] mx-auto">
                                        <p
                                            class="bg-[#EEDDFF] text-[#762DC0] text-xs font-semibold leading-normal w-fit p-[4px_12px] rounded-[30px] mb-[19px]">
                                            Features</p>

                                        <div
                                            class="mb-[75px] grid grid-cols-[1fr_1.5fr] space-x-6 max-md:!grid-cols-1 max-md:space-x-0 max-md:space-y-4 max-md:mb-[40px]">

                                            <h3
                                                class="text-[#120B14] text-[28px] max-[768px]:text-[28px] max-[768px]:leading-normal font-semibold leading-normal">
                                                Network Infrastructure
                                                Management</h3>
                                            <p class="text-[#151618CC] text-md font-normal leading-normal">Network
                                                Infrastructure Management ensure
                                                efficient network operation through design, implementation,
                                                maintenance, and proactive monitoring to support business continuity</p>
                                        </div>

                                        <div
                                            class="grid grid-cols-3 space-x-[18px] max-md:!grid-cols-1 max-md:space-x-0 max-md:space-y-[18px] ">
                                            <div
                                                class="bg-[#FFFFFF] p-[23px] rounded-[12px] border border-[#00000021] max-lg:p-[16px] me-0 mb-0">
                                                <img src="/img/service.svg" alt="service"
                                                    class="mb-[12px] w-[18px] h-[18px]">
                                                <h3
                                                    class="mb-[12px] text-[#120B14] text-[17px] font-semibold leading-normal">
                                                    Cloud Service</h3>
                                                <p class="text-[#1516188F] text-xs font-medium leading-normal"> Provide
                                                    scalable cloud solution for
                                                    storage computing, and applications.</p>
                                            </div>
                                            <!-- <div
                                                class="bg-[#FFFFFF] p-[23px] rounded-[12px] border border-[#00000021] max-lg:p-[16px]">
                                                <img src="/img/security.svg" alt="security"
                                                    class="mb-[12px] w-[18px] h-[18px]">
                                                <h2
                                                    class="mb-[12px] text-[#120B14] text-[17px] font-semibold leading-normal">
                                                    Cyber Security
                                                </h2>
                                                <p class="text-[#1516188F] text-xs font-medium leading-normal">Provide
                                                    scalable cloud solution for
                                                    storage computing, and applications.</p>
                                            </div>
                                            <div
                                                class="bg-[#FFFFFF] p-[23px] rounded-[12px] border border-[#00000021] max-lg:p-[16px]">
                                                <img src="/img/dataAnalytics.svg" alt="analytics"
                                                    class="mb-[12px] w-[18px] h-[18px]">
                                                <h3
                                                    class="mb-[12px] text-[#120B14] text-[17px] font-semibold leading-normal">
                                                    Data Analytics
                                                </h3>
                                                <p class="text-[#1516188F] text-xs font-medium leading-normal">Provide
                                                    scalable cloud solution for
                                                    storage computing, and applications.</p>
                                            </div> -->
                                        </div>

                                    </div>
{{end}}