{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}



<div class="page-wrapper">
    {{template "membertab" .}}
    <div class="tablst access-top ">
        <input type="hidden" id="csrf-input" value="{{.csrf}}">
        <input type="hidden" id="route-type" value="{{.Button}}">
        <input type="hidden" id="default-mod-chk" value="{{.SpaceDefault}}">
        <div class="ig-row">
            <input id="ca-inpt" type="text" placeholder="{{$Translate.ContentAccessControl.Memberaccesstitle}}"
                value="{{.AccessControl.AccessControlName}}">
        </div>
        <label id="ca-inpt-error">{{$Translate.ContentAccessControl.Titlevailderr}}</label>
    </div>

    <div class="all-tab-content memberAccess-container" id="channelconfiguration">
        <div class="configuration-contianer">
            <div class="access-contentHead">
                <div class="access-contentHead-lft">
                    <h3 class="heading-three">{{$Translate.ContentAccessControl.Content}}</h3>
                    <p class="para-light"> {{$Translate.ContentAccessControl.Contentdesc}} </p>
                </div>
                <div class="access-contentHead-rgt">
                    <div class="accessHead-rgt-start">
                        <div>
                            <h3 class="heading-three">{{if eq .SpaceDefault
                                `space`}}{{$Translate.ContentAccessControl.Spaces}}{{else}}Channels{{end}}</h3>
                            <p class="para-light" id="description">{{$Translate.ContentAccessControl.Spacedesc}} </p>
                        </div>

                        <div class="ig-row ava-sel-srch">
                            <img class="space-srch-img" src="/public/img/Magnifying-Glass.svg" alt="">
                            <input
                                class="{{if eq .SpaceDefault `space`}}space-srch-input{{else}}channel-srch-input{{end}}"
                                type="text"
                                placeholder="{{$Translate.Search}} {{if eq .SpaceDefault `space`}}{{$Translate.Spaces.Spacess}}{{else}}{{$Translate.ContentAccessControl.Channels}}{{end}}"
                                class="para">
                        </div>
                    </div>
                    <div class="accessHead-rgt-end">
                        <h3 class="heading-three">{{$Translate.ContentAccessControl.Accesstomembergroups}}</h3>
                        <p class="para-light"> {{$Translate.ContentAccessControl.Memberdesc}} </p>
                    </div>
                </div>
            </div>

            <div class="configuration-contentBody">
                <div class="configurationContent-aside-lft">

                    <div class="accessAside-lft-body">
                        {{if eq .SpaceDefault "space"}}
                        <a href="javascript:void(0)" class="field-tab active" id="space-access">
                            <div>
                                <h3 class="heading-three">{{$Translate.ContentAccessControl.Space}}</h3>
                                <!-- <p class="para-light">{{$Translate.ContentAccessControl.Totalrecordsavailable}}</p> -->
                                <p class="para-light"> {{$Translate.Total}} {{if gt .SpaceCount 1}} 
                                    {{$Translate.Spaces.Spacess}} : {{else}}
                                    {{$Translate.Spaces.Space}} :  {{end}} {{.SpaceCount}} </p>
                            </div>
                            <div class="img-div">
                                <img src="/public/img/arrow-rgt.svg" alt="" />
                            </div>
                        </a>
                        {{end}}

                        <a href="javascript:void(0)" class="field-tab {{if eq .SpaceDefault `channel`}}active{{end}}"
                            id="channel-access">
                            <div>
                                <h3 class="heading-three">{{$Translate.ContentAccessControl.Channels}}</h3>
                                <!-- <p class="para-light">{{$Translate.ContentAccessControl.Totalrecordsavailable}}</p> -->
                                <p class="para-light"> {{$Translate.Total}} {{ if gt .ChannelCount 1}} 
                                    {{$Translate.ContentAccessControl.Channels}} : {{else}}
                                    {{$Translate.Channell.Channel}} :  {{end}} {{.ChannelCount}}
                                </p>
                            </div>
                            <div class="img-div">
                                <img src="/public/img/arrow-rgt.svg" alt="" />
                            </div>
                        </a>

                    </div>
                </div>
                <div class="configurationContent-section-container  memberSpace-combo">
                    <div class="configurationContent-section verticalScroll">
                        <div class="configurationContent-section-lft verticalScroll">

                            <div class="accessAccord-container">
                                {{if eq .SpaceDefault "space"}}
                                {{if .SpaceDetails}}
                                {{range .SpaceDetails}}
                                <div class="accessAccord-row space-row">

                                    <div class="accessAccord-parent">

                                        <div class="chk-group chk-group-label">
                                            <input type="checkbox" id="space{{.SpacesId}}" class="spacechkbox"
                                                data-id="{{.SpacesId}}">
                                            <label for="space{{.SpacesId}}" class="para">{{.SpacesName}}</label>
                                        </div>

                                        <div class="accessAccord-parent-end">

                                            <div class="card-breadCrumb">
                                                <ul class="breadcrumb-container">
                                                    {{range .CategoryNames}}
                                                    <li><a href="javascript:void(0)"
                                                            class="para-light">{{.CategoryName}}</a></li>
                                                    {{end}}
                                                </ul>
                                            </div>


                                            <a href="javascript:void(0)" aria-expanded="false" id="space-img-div"
                                                class="img-div accord-collapse">
                                                <img src="/public/img/arrow-rgt.svg" alt="" data-toggle="{{.SpacesId}}">
                                            </a>

                                        </div>
                                    </div>

                                    <div id="collapse{{.SpacesId}}"
                                        class="accordion-collapse collapse  accessAccord-parent-content space-collapse"
                                        data-toggle="{{.SpacesId}}">
                                        <div class="accessAccord-child-container space-childrow"></div>
                                    </div>
                                </div>
                                {{end}}
                                {{else}}
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img style="max-width: 35px;" src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 style="text-align: center;font-size: 10px;" class="heading">
                                        {{$Translate.Oopsnodata}}</h1>

                                </div>
                                {{end}}
                                {{else}}
                                {{if .ChannelDetails}}
                                {{range .ChannelDetails}}
                                <div class="accessAccord-row channel-row">

                                    <div class="accessAccord-parent">

                                        <div class="chk-group chk-group-label">
                                            <input type="checkbox" id="channel{{.Id}}" class="channelchkbox"
                                                data-id="{{.Id}}">
                                            <label for="channel{{.Id}}" class="para">{{.ChannelName}}</label>
                                        </div>

                                        <div class="accessAccord-parent-end">

                                            <div class="card-breadCrumb">
                                                <ul class="breadcrumb-container"></ul>
                                            </div>

                                            <a href="javascript:void(0)" id="channel-img-div"
                                                class="img-div accord-collapse" data-bs-toggle="collapse"
                                                data-bs-target="#channel{{.Id}}" aria-expanded="false"
                                                aria-controls="channel{{.Id}}">
                                                <img src="/public/img/arrow-rgt.svg" alt="" data-toggle="{{.Id}}">
                                            </a>

                                        </div>
                                    </div>
                                    {{$ChannelId := .Id}}
                                    <div id="channel{{.Id}}"
                                        class="accordion-collapse collapse  accessAccord-parent-content"
                                        data-toggle="{{.Id}}" aria-labelledby="headingOne"
                                        data-bs-parent="#accordionExample">
                                        <div class="accessAccord-child-container channel-childrow">
                                            {{range .ChannelEntries}}
                                            <div class="accessAccord-child">
                                                <div class="chk-group">
                                                    <input type="checkbox" id="ChannelEntry{{.Id}}"
                                                        class="chanEntry-chkbox" data-id="{{.Id}}"
                                                        data-chanid="{{$ChannelId}}">
                                                    <label for="ChannelEntry{{.Id}}"></label>
                                                </div>
                                                <button class="accord-collapse">
                                                    <span class="para">{{.Title}}</span>
                                                </button>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                                {{end}}
                                {{else}}
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img style="max-width: 35px;" src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 style="text-align: center;font-size: 10px;" class="heading">
                                        {{$Translate.Oopsnodata}}</h1>

                                </div>
                                {{end}}
                                {{end}}
                            </div>
                        </div>

                        <div class="configurationContent-section-rgt access-section-rgt  verticalScroll">
                            {{if .Membergroup}}
                            <div class="access-section-rgt-row">
                                <div class="access-section-rgt-cell select-allCell">
                                    <h3 class="heading-three">{{$Translate.Selectall}}</h3>

                                    <div class="toggle">
                                        <input class="tgl tgl-light" id="memgrp-slctall" type="checkbox">
                                        <label class="tgl-btn" for="memgrp-slctall"></label>
                                    </div>

                                </div>

                                {{range .Membergroup}}
                                <div class="access-section-rgt-cell">
                                    <h3 class="heading-three">{{.Name}}</h3>

                                    <div class="toggle">
                                        <input class="tgl tgl-light memgrp-chkboxes" id="ckb{{.Id}}" type="checkbox"
                                            data-id="{{.Id}}">
                                        <label class="tgl-btn" for="ckb{{.Id}}"></label>
                                    </div>

                                </div>
                                {{end}}

                            </div>
                            {{else}}
                            <div class="noData-foundWrapper">

                                <div class="empty-folder">
                                    <img style="max-width: 35px;" src="/public/img/folder-sh.svg" alt="">
                                    <img src="/public/img/shadow.svg" alt="">
                                </div>
                                <h1 style="text-align: center;font-size: 10px;" class="heading">
                                    {{$Translate.Oopsnodata}}</h1>
                            </div>
                            {{end}}

                        </div>
                    </div>
                    <!--btm-->
                    <div class="configurationContent-btm">
                        <a href="/memberaccess/"><button class="btn-reg btn-lg secondary">
                                {{$Translate.Cancel}}</button></a>
                        <button id="save-btn"
                            class="btn-reg btn-lg primary {{if eq .SpaceDefault `space`}}{{if or (eq .SpaceLength 0) (eq .MembergroupLength 0) }}btn-disable{{end}}{{else}}{{if or (eq .ChannelLength 0) (eq .MembergroupLength 0) }}btn-disable{{end}}{{end}}"
                            {{if eq .SpaceDefault `space`}}{{if or (eq .SpaceLength 0) (eq .MembergroupLength 0)
                            }}disabled{{end}}{{else}}{{if or (eq .ChannelLength 0) (eq .MembergroupLength 0)
                            }}disabled{{end}}{{end}}>
                            {{if eq .Button "Save"}}
                            {{$Translate.Save}}
                            {{else if eq .Button "Copy"}}
                            {{$Translate.Copy}}
                            {{else if eq .Button "Update"}}
                            {{$Translate.Update}}
                            {{end}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}
<script src="/public/js/content-access-control/contentaccesscontrol.js"></script>
{{template "footerclose" .}}