{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}


<div class="page-wrapper">
    {{template "membertab" .}}
    <div class="all-tab-content list-container" id="entriesContent">
        <!--1-->
        <div class="topOptions">
            <!-- <div class="leftHeader self-top">
                <div class="card-breadCrumb">
                    <ul class="breadcrumb-container">
                        <li><a href="" class="para-light">Settings </a></li>
                        <li><a href="" class="para-light">Content Access Control</a></li>

                    </ul>
                </div>
            </div> -->

            <div class="transitionSearch active">
                <form action="/memberaccess/" method="get" name="contentaccess-form">
                <img style="bottom: 5px;" src="/public/img/Magnifying-Glass.svg" alt="" />
                <input type="text" name="keyword" id="memberrestrictsearch" class="search" placeholder="{{$Translate.ContentAccessControl.Searchmemberaccess}}" value="{{.Filter.Keyword}}">
                </form>
            </div>
            <a href="/memberaccess/newcontentaccesscontrol">
                <button class="btn-reg btn-sm primary " data-bs-toggle="modal" data-bs-target="#rightModal">
                    <img src="/public/img/add.svg" alt="" /> {{$Translate.ContentAccessControl.Contentaccess}}
                </button>
            </a>
        </div>

        <div class="tablePagination-wrapper verticalScroll">

            <div class="table-responsive access-table verticalScroll">
                <table class="table">

                    <thead>
                        <tr>
                            <th>{{$Translate.ContentAccessControl.Title}}</th>
                            <th>{{$Translate.ContentAccessControl.Permissionaccess}}</th>
                            <th> {{$Translate.Action}}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{$currentpage := .CurrentPage}}

                        {{if .ContentAccess}}
                        {{range .ContentAccess}}
                        <tr>
                            <td>
                                <div class="title-cell">
                                    <h3 class="heading-three">{{.AccessControlName}}</h3>
                                    
                                    <ul>
                                        <!-- <li class="para">{{$Translate.ContentAccessControl.Space}}</li> -->
                                        {{range .AccessGrantedModules}}
                                        <li class="para">{{.}}</li>
                                        {{end}}
                                    </ul>
                                    <p class="para-light">{{$Translate.Updated}}: {{.DateString}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="permission-cell">
                                    <h3 class="heading-three">{{$Translate.ContentAccessControl.Accessgrantedmembergroups}} :</h3>
                                    <ul>
                                        {{range .MemberGroups}}
                                        <li class="para-light">{{.Name}}</li>
                                        {{end}}
                                    </ul>
                                </div>
                            </td>


                            <td>
                                <div class="card-option action-cell">
                                    <div class="btn-group language-group">
                                        <button type="button" class="dropdown-tog" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <img src="/public/img/card-option.svg" alt="">
                                            <img src="/public/img/blue-option.svg" alt="">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="/memberaccess/copy-accesscontrol/{{.Id}}?page={{$currentpage}}"><button data-id="{{.Id}}" class="dropdown-item" type="button"> <span><img
                                                            src="/public/img/copy.svg" alt=""></span> {{$Translate.Copy}} </button></a>
                                            </li>
                                            <li><a href="/memberaccess/edit-accesscontrol/{{.Id}}?page={{$currentpage}}"><button data-id="{{.Id}}" class="dropdown-item" type="button"> <span><img
                                                            src="/public/img/edit.svg" alt=""></span>{{$Translate.Edit}} </button></a>
                                            </li>
                                            <li><button data-id="{{.Id}}" class="dropdown-item delete-access" type="button"> <span><img
                                                            src="/public/img/delete.svg" alt=""></span>{{$Translate.Delete}} </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        {{if .Filter.Keyword}}
                        <tr>
                            <td style="text-align: center;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>

                                </div>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td style="text-align: center;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                    <p class="para">
                                        {{$Translate.Pagesorry}}
                                        {{$Translate.Gobackhome}}
                                    </p>
                                    <a href="/memberaccess/newcontentaccesscontrol" id="clickadd" class="heading-three"> {{$Translate.Clickadd}} >> </a>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{if .ContentAccess}}
            <div class="pogination flexx pagenation-padding">
                {{if .Pages}}
                <ul class="flexx">
                    <li>
                        <a href="/memberaccess/?page={{.Previous}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .Previous 0}}class="disabled"{{end}}>
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                    {{$currentpage := .CurrentPage}}
                    {{$keyword := .Filter.Keyword}}
                    {{range .Pages}}
                    <li><a href="/memberaccess/?page={{.}}{{if $keyword}}&keyword={{$keyword}}{{end}}" {{if eq $currentpage .}}class="current"{{end}}>{{.}}</a></li>
                    {{end}}
                    <li>
                        <a href="/memberaccess/?page={{.Next}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" class="{{if eq .CurrentPage .PageCount}}disabled{{else}}next{{end}}">
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                </ul>
                {{end}}
                <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
            </div>
            {{end}}
        </div>
    </div>
    <!--2-->
</div>
{{template "footer" .}}
<script src="/public/js/content-access-control/contentaccesscontrol.js"></script>
{{template "footerclose" .}}