{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}



<div class="page-wrapper">

    <div class="bread-crump">
        <a href="/member/">{{.HeadTitle}}</a>
        <img src="/public/img/right-light-arrow.svg" alt="">
        <a href="/memberaccess/" class="current-page">{{.Tabmenu}}</a>
    </div>
    {{template "membertab" .}}
    <div class="all-tab-content list-container" id="entriesContent">
        <!--1-->
        <div class="topOptions">
            <!-- <div class="leftHeader self-top">
                <div class="card-breadCrumb">
                    <ul class="breadcrumb-container">
                        <li><a href="" class="para-light">Settings </a></li>
                        <li><a href="" class="para-light">Content Access Control</a></li>

                    </ul>
                </div>
            </div> -->

            <div class="transitionSearch active">
                <form action="/memberaccess/" method="get" name="contentaccess-form">
                <img style="bottom: 5px;" src="/public/img/Magnifying-Glass.svg" alt="" />
                <input type="text" name="keyword" id="memberrestrictsearch" class="search" placeholder="{{$Translate.Csearch}}" value="{{.Filter.Keyword}}">
                </form>
            </div>
            <a href="/memberaccess/newcontentaccesscontrol">
                <button class="btn-reg btn-sm primary " data-bs-toggle="modal" data-bs-target="#rightModal">
                    <img src="/public/img/add.svg" alt="" /> {{$Translate.ContentAccessControl.Contentaccess}}
                </button>
            </a>
        </div>

        <div class="tablePagination-wrapper verticalScroll">

            <div class="table-responsive access-table verticalScroll">
                <table class="table">

                    <thead>
                        <tr>
                            <th>{{$Translate.ContentAccessControl.Title}}</th>
                            <th>{{$Translate.ContentAccessControl.Permissionaccess}}</th>
                            <th> {{$Translate.Action}}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{$currentpage := .CurrentPage}}

                        {{if .ContentAccess}}
                        {{range .ContentAccess}}
                        <tr>
                            <td>
                                <div class="title-cell">
                                    <h3 class="heading-three">{{.AccessControlName}}</h3>
                                    
                                    <ul>
                                        <!-- <li class="para ">{{$Translate.ContentAccessControl.Space}}</li> -->
                                        {{range .AccessGrantedModules}}
                                        <li class="para ">{{.}}</li>
                                        {{end}}
                                    </ul>
                                    <p class="para-light">{{$Translate.Updated}}: {{.DateString}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="permission-cell">
                                    <h3 class="heading-three">{{$Translate.ContentAccessControl.Accessgrantedmembergroups}} :</h3>
                                    <ul>
                                        {{range .MemberGroups}}
                                        <li class="para-light">{{.Name}}</li>
                                        {{end}}
                                    </ul>
                                </div>
                            </td>


                            <td>
                                <div class="card-option action-cell">
                                    <div class="btn-group language-group">
                                        <button type="button" class="dropdown-tog" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <img src="/public/img/card-option.svg" alt="">
                                            <img src="/public/img/blue-option.svg" alt="">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="/memberaccess/copy-accesscontrol/{{.Id}}?page={{$currentpage}}"><button data-id="{{.Id}}" class="dropdown-item" type="button"> <span><img
                                                            src="/public/img/copy.svg" alt=""></span> {{$Translate.Copy}} </button></a>
                                            </li>
                                            <li><a href="/memberaccess/edit-accesscontrol/{{.Id}}?page={{$currentpage}}"><button data-id="{{.Id}}" class="dropdown-item" type="button"> <span><img
                                                            src="/public/img/edit.svg" alt=""></span>{{$Translate.Edit}} </button></a>
                                            </li>
                                            <li><button data-id="{{.Id}}" class="dropdown-item delete-access" type="button"> <span><img
                                                            src="/public/img/delete.svg" alt=""></span>{{$Translate.Delete}} </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        {{if .Filter.Keyword}}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <!-- <img src="/public/img/folder-sh.svg" alt=""> -->
                                        <img src="/public/img/nodatafilter.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>

                                </div>
                            </td>
                        </tr>
                        {{else}}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                    <p class="para">
                                        {{$Translate.Pagesorry}}
                                        {{$Translate.Gobackhome}}
                                    </p>
                                    <a href="/memberaccess/newcontentaccesscontrol" id="clickadd" class="heading-three "> {{$Translate.Clickadd}} >> </a>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{if .ContentAccess}}
            <div class="pogination flexx pagenation-padding">
                <ul class="flexx">
                    {{if gt .Count .Limit}}
                
                    <li>  <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage 1}} class="disabled" {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a></li>
                    {{if gt .CurrentPage 3}}
                    <li><a href="?page=1{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" >1</a></li>
                    {{end}}
                    {{if eq .CurrentPage 5}}
                    <li><a href="?page=2{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">2</a></li>
                    {{end}}
                    {{if gt .CurrentPage 5}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if gt .CurrentPage 2}}
                    <li><a href="?page={{.Pagination.TwoBelow}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoBelow}}</a></li>
                    {{end}}
                    {{if gt .CurrentPage 1}}
                    <li><a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.PreviousPage}}</a></li>
                    {{end}}
                    <li><a href="" {{if  .CurrentPage }} class="current" {{end}}>{{.CurrentPage}}</a></li>
                    {{if lt .CurrentPage .Pagination.TotalPages}}
                    <li><a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.NextPage}}</a></li>
                    {{end}}
                    {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TwoAfter}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoAfter}}</a></li>
                    {{end}}
                    {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TotalPages}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TotalPages}}</a></li>
                    {{end}}
                    <li>
                        <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage .PageCount}} class="disabled" {{else}} class="next" {{end}}>
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                   
                   {{end}}
                </ul>
                <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
            </div>
            {{end}}
        </div>
    </div>
    <!--2-->
</div>
{{template "footer" .}}
<script src="/public/js/content-access-control/contentaccesscontrol.js"></script>
{{template "footerclose" .}}