{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}


<input type="hidden" name="csrf" value="{{.csrf}}">
<input type="hidden" id="spid" value="{{.spaceid}}">
<div class="page-wrapper space-wrapper">
    <div class="tablst br-top br-btm">
        <div class="tab-breadCrumb space-tab-breadCrumb">
            <ul class="breadcrumb-container">
                <li><a href="/spaces/">{{.SpaceDetail.SpaceName}}</a></li>
                <li><a href="">Pages</a></li>
            </ul>
        </div>
    </div>

    <div class="spaceContainer">

        <div class="space-page">
            <div class="space-head aside-lft-head">
                <h2 class="heading-second">{{$Translate.Spaces.Pages}}</h2>

                <div class="btn-group language-group space-option-grp">
                    <button class="btn-reg btn-sm primary dropdown-tog" type="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        <img src="/public/img/add.svg" alt="" /> {{$Translate.Spaces.Addnew}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end" style="
                position: absolute;
                inset: 0px 0px auto auto;
                margin: 0px;
                transform: translate(0px, 22px);
              ">
                        <li>
                            <button class="dropdown-item" type="button" id="addpage">{{$Translate.Spaces.Newpage}}</button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="button" id="addgroup">
                                {{$Translate.Spaces.Newpagegroup}}
                            </button>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="space-body newpages">

            </div>
        </div>
        <div class="space-edit gridCalc">

            <div class="space-head rgt">
                <!-- <div  class="space-readtime">
                    <p>{{$Translate.Spaces.Readingtime}}</p>
                    <div class="min-toread">
                      <img src="/public/img/time-icon.svg" alt="" class="in-active">
                      <img src="/public/img/time-acive.svg" alt="" class="active">
                      <input type="text" id="readtimetag" oninput="handleInputChange(event)">
                     
                      <p class="minclass"></p>
                    </div>
                  </div> -->
              
              
                <div class="space-head-right"> 
                    <span class="para">CREATED BY</span>
                    <p class="para" id="createdusername">---</p>
                </div>

                <!-- <div class="space-head-right">
                    <span class="para">CREATED DATE</span>
                    <p class="para">{{.SpaceDetail.CreatedDate}}</p>
                </div> -->

                <div class="space-head-right" style="display: none;">
                    <span class="para">LAST UPDATED</span>
                    <p class="para" id="updatedate"></p>
                </div>

                <div class="space-head-right">
                    <button class="revision-btn">
                      <img src="/public/img/revision.svg" alt="">
                      <a href="javascript:void(0)" class="para">{{$Translate.Spaces.Revision}} </a>
                    </button>
                  </div>

               
            </div>

            <div class="space-textarea gridCalc">


                <div class="blogTop-center">
                    <button class="ck-options">
                        <img src="/public/img/ck-blod.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-italic.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-dotlist.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-numlist.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-quote.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-braces.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-line.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-link.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-code.svg" alt="">
                    </button>
                    <button class="ck-options">
                        <img src="/public/img/ck-img.svg" alt="">
                    </button>
                </div>
                <div class="input-grp gridCalc">  
                    <!-- <label for="spaceContent">What you wear is how you present yourself to the world,especially today.</label> -->
                    <input type="text" value="" placeholder="{{$Translate.Spaces.Plentertitle}}" id="pagetitle">
                    <textarea placeholder="{{$Translate.Spaces.Pllckeditor}}" name="spaceContent" class="ckEditor1"
                        id="neweditor"></textarea>
                </div>


            </div>
        </div>
        <div class="space-section-right" style="display: none;">
            <div class="space-section-rgt-head">
                <div class="revision-lft">
                    <img src="/public/img/revision-dark.svg" alt="">
                    <h3 class="heading-three">{{$Translate.Spaces.Revision}}</h3>
                </div>
                <button class="close" id="revisionclose" data-bs-dismiss=""> <img src="/public/img/modal-close.svg" alt=""> </button>
                 
            </div>
            <div class="space-section-rgt-body">
              
                
                <!-- <div class="space-rgt-bdy-row">
                    <div class="space-rgt-bdy-col">
                        <h3 class="para-light">Admin</h3>
                        <p class="para-extralight">02 Nov 2023 10:04 AM</p>
                    </div>
                    <div class="space-rgt-bdy-col">
                        <p class="para-extralight status-updated">Updated</p>
                    </div>
                </div>
                <div class="space-rgt-bdy-row">
                    <div class="space-rgt-bdy-col">
                        <h3 class="para-light">Admin</h3>
                        <p class="para-extralight">02 Nov 2023 10:04 AM</p>
                    </div>
                    <div class="space-rgt-bdy-col">
                        <p class="para-extralight status-updated">Updated</p>
                    </div>
                </div>

                <div class="space-rgt-bdy-row">
                    <div class="space-rgt-bdy-col">
                        <h3 class="para-light">Admin</h3>
                        <p class="para-extralight">02 Nov 2023 10:04 AM</p>
                    </div>
                    <div class="space-rgt-bdy-col">
                        <p class="para-extralight status-published">Publish</p>
                    </div>
                </div> -->
        </div>

      </div>

    </div>
    <div class="configurationContent-btm spaceContent-btm">
        <button class="btn-reg btn-lg secondary" id="pagecancel" data-bs-toggle="modal" data-bs-target="#centerModal">{{$Translate.Cancel}}</button>
        <button class="btn-reg btn-lg primary" id="savebtn">{{$Translate.Save}}</button>

        <button class="btn-reg btn-lg primary" id="publishbtn">{{$Translate.Spaces.Publish}}</button>
    </div>
</div>

<!--movepage-->
<div class="modal fade right movemodal" id="moveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{$Translate.Spaces.Movepage}}</h3>
                <button class="close" data-bs-dismiss="modal">
                    <img src="/public/img/modal-close.svg" alt="" />
                </button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="pagedatass" data-id="" data-newid="" data-groupid="">
                <input type="hidden" id="pgnam">
                <div class="input-group  user-drop-down">

                    <label for="" class="input-label">{{$Translate.Spaces.Movepage}}</label>

                    <a class="dropdown-toggle choosegroup" type="button" id="triggerId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{$Translate.Spaces.Choosepagegroup}}
                    </a>
                    <label id="group-error" class="error" for="rolen" style="display: none;">* Please select the Group</label>
                    <input type="hidden" id="rolen" value="" name="user_role">

                    <div class="dropdown-menu movegroupdiv" aria-labelledby="triggerId" style="height: auto;">

                        <!-- <button type="button"  class="dropdown-item">dfsdf</button> -->
                       
                    </div>


                </div>
            </div>

            <div class="modal-foot">
                <div class="move-btn-group">
                    <button class="btn-reg btn-md primary" id="movepagetogroup"> {{$Translate.Spaces.Movepage}}</button>
                    <button class="btn-reg btn-md secondary" id="movecancel" data-bs-dismiss="modal"> {{$Translate.Cancel}} </button>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="url" value="{{.URL}}">
{{template "footer" .}}
<script src="/public/js/pages/newpages.js"></script>
{{template "footerclose" .}}