{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

<div class="page-wrapper">
    <input type="hidden" name="csrf" value="{{.csrf}}">
    <input type="hidden" name="channelid" id="channelid" value="{{.ChannelId}}"/>
    <div class="tablst channel-tabList br-top br-btm">  
        <ul class="nav entries-tab" id="myTab" role="tablist">
            <li class="nav-itm" role="presentation">
                <a class="nav-lnk heading-three active" data-bs-toggle="tab" data-bs-target="#configuration"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false" tabindex="-1">
                    <img src="/public/img/channels.svg" alt="" />
                    <span class="heading-three">{{$Translate.Channell.Channelconfiguration}}</span>
                </a>
            </li>
            <li class="nav-itm" role="presentation">
                <a class="nav-lnk heading-three" data-bs-toggle="tab" data-bs-target="#categories" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="false" tabindex="-1">
                    <img src="/public/img/categories.svg" alt="" />
                    <span class="heading-three">{{$Translate.Channell.Categories}} </span>
                </a>
            </li>
        </ul>
    </div>


    <div class="tab-content" id="myTabContent">
        <div class="all-tab-content tab-pane fade show active" id="configuration" role="tabpanel"
            aria-labelledby="home-tab" tabindex="0">
            <div class="configuration-contianer">
                <form action="" id="channelcreate" name="channelform" method="post" >
                    <div class="configuration-contentHead">
                        <div class="input-group" id="cname">
                            <label for="" class="input-label">{{$Translate.Channell.Channelname}} </label>
                            <div class="ig-row">
                                <input type="text" class="field" name="channelname" placeholder="Enter Name" id="channelname" value="{{.channel.ChannelName}}"/>
                                <label id="channelname-error" class="error" for="channelname" style="display: none;">* Please enter the channel name</label>
                            </div>
                        </div>
                        <div class="input-group" id="cdesc">
                            <label for=" " class="input-label">{{$Translate.Description}} </label>
                            <div class="ig-row">
                                <input type="text" class="field" name="description" placeholder="Enter Description"  id="description" value="{{.channel.ChannelDescription}}"/>
                                <label id="description-error" class="error" for="description" style="display: none;">* Please enter the Channel name</label>
                            </div>
                        </div>
                        </div>
                    </form>

                <div class="configuration-contentBody">
                    <div class="configurationContent-aside-lft">
                        <div class="aside-lft-head">
                            <h2 class="heading-second">{{$Translate.Channell.Addfield}}</h2>
                            <!-- <div class="aside-magnifier">
                                <img src="/public/img/white-magnifier.svg" alt="" />
                            </div> -->
                        </div>

                        <div class="aside-lft-body">
                            {{range .Fields}}
                            {{if eq .TypeName "Label"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/Ab.svg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Label}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Text"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/T.svg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Text}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Link"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/link.svg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Link}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Date & Time"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/dateTime.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Datetime}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Select"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/select.svg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Select}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Date"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/date.svg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Date}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "TextBox"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/textbox.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Textbox}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "TextArea"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/textarea.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Textarea}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "CheckBox"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/checkbox.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Checkbox}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Text Editor"}}
                            <!-- <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/texteditor.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Texteditor}} </h3>
                            </a> -->
                            {{end}}
                            {{if eq .TypeName "Section"}}
                            <a href="javascript:void(0)" class="field-tab section-drag-able" id="newsection" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/newsection.svg" alt="" />
                                </div>
                                <h3 class="heading-three">{{$Translate.Channell.Newsection}} </h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Radio Button"}}
                            <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div"><img src="/public/img/radio.jpg" alt="" /></div>
                                <h3 class="heading-three">{{$Translate.Channell.Radiobutton}}</h3>
                            </a>
                            {{end}}
                            {{if eq .TypeName "Section Break"}}
                            <!-- <a href="javascript:void(0)" class="field-tab drag-able" data-id="{{.Id}}">
                                <div class="img-div">
                                    <img src="/public/img/sectionbreak.svg" alt="" />
                                </div>
                                <h3 class="heading-three">Section Break</h3>
                            </a> -->
                            {{end}}
                            {{end}}
                            
                        </div>
                    </div>
                    <div class="configurationContent-section-container">
                        <div class="configurationContent-section">
                            <div class="configurationContent-section-lft section-drop-able">
                                <div class="section-fields" id="Sortsection">
                                    <div class="fields-head">
                                        <h2 class="heading-second">{{$Translate.Channell.Customfields}}</h2>
                                    </div>

                                  
                                </div>
                            </div>

                            <div class="configurationContent-section-rgt" id="field-properties" style="display: none;">
                                <div class="fields-head">
                                    <h2 class="heading-second">Channel Properties</h2>
                                </div>

                                <div class="fields-body">
                                    <input type="hidden" id="fieldid" data-fieldid="" data-newfieldid="" data-sectionid="" data-newsectionid="" data-sectionname=""/>
                                    <div class="selected-property" id="title">
                                        <div class="img-div fieldicon" id="fieldicon">
                                            <img src="/public/img/Ab.svg" alt="" />
                                        </div>
                                        <h3 class="heading-three">{{$Translate.Channell.Label}}</h3>
                                    </div>

                                    <div class="input-group prop propinput" id="distext">
                                        <label for="" class="input-label">{{$Translate.Channell.Fieldname}} </label>
                                        <div class="ig-row">
                                            <input type="text" placeholder="{{$Translate.Channell.Plstypehere}}" id="ftext">
                                        </div>
                                    </div>

                                    <div class="input-group prop propinput" id="fcharallow">
                                        <label for="" class="input-label">{{$Translate.Channell.Characterallow}}</label>
                                        <div class="ig-row">
                                            <input type="text" placeholder="{{$Translate.Channell.Plcharallow}}" id="fcharvalue">
                                        </div>
                                    </div>


                                    <div class="input-group prop propinput" id="url">
                                        <label for="" class="input-label">{{$Translate.Channell.Url}} </label>
                                        <div class="ig-row">
                                            <input type="text" placeholder="{{$Translate.Channell.Plurl}} " id="furl">
                                        </div>
                                    </div>

                                    <div class="input-group user-drop-down prop propdropdown" id="dateform">
                                        <label for="" class="input-label">{{$Translate.Channell.Dateformat}}</label>
                                        <input type="hidden" name="mem_role" class="fidvalinput" id="fdatefor" value="">
                                        <a class="dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"  >
                                        {{$Translate.Channell.Dateformat}}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="triggerId" style="height: auto;" >
                                            <button type="button" class="dropdown-item" data-id="DD/MM/YYYY">DD/MM/YYYY</button>
                                            <button type="button" class="dropdown-item" data-id="MM/DD/YYYY">MM/DD/YYYY</button>
                                            <button type="button" class="dropdown-item" data-id="YYYY/MM/DD">YYYY/MM/DD</button>
                                        </div>
                                    </div>

                                    <div class="input-group user-drop-down prop propdropdown" id="timefor">
                                        <label for="" class="input-label ">{{$Translate.Channell.Timeformat}}</label>
                                        <input type="hidden" name="mem_role" class="fidvalinput" id="ftimefor" value="">
                                        <a class="dropdown-toggle" type="button" id="time-format" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{$Translate.Channell.Timeformat}}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="time-format" style="height: auto;">
                                            <button type="button" class="dropdown-item" data-id="12Hours">12{{$Translate.Channell.Hours}}</button>
                                            <button type="button" class="dropdown-item" data-id="24Hours">24 {{$Translate.Channell.Hours}}</button>
                                        </div>
                                    </div>


                                    <!-- <div class="input-group prop propinput" id="desc">
                                        <label for="" class="input-label">Description</label>
                                        <div class="ig-row">
                                            <textarea placeholder="Text Here..." id="fdesc" class="txtarea" style="resize: none;"></textarea>
                                        </div>
                                    </div> -->

                                    <!-- <div class="input-group prop propinput" id="invalue">
                                        <label for="" class="input-label">Initial Value</label>
                                        <div class="ig-row">
                                            <input type="text" placeholder="Initial Value...." id="finitialv">
                                        </div>
                                    </div> -->

                                    <!-- <div class="input-group prop propinput" id="placehold">
                                        <label for="" class="input-label">Placeholder</label>
                                        <div class="ig-row">
                                            <input type="text" placeholder="Placeholder..." id="fplacehold">
                                        </div>
                                    </div> -->

                                    <div class="input-group prop propoptionbtn" id="option">
                                        <label for="" class="input-label">{{$Translate.Channell.Option}}</label>
                                        <div class="ig-row" style="display: flex;">
                                            <input type="text" placeholder="{{$Translate.Channell.Plstypehere}}" id="foptname">
                                            <button id="addvalue" type="button"> <img src="/public/img/plus.svg"
                                                alt=""> </button>
                                        </div>
                                        <div class="options-added">
                                            <!-- <div class="options-added-row flexx">ppp<button class="delval" id="delete1" data-id="0"> <img src="/public/img/trash-style2.svg" alt=""> </button> </div> -->
                                        </div>
                                    </div>

                                    <!-- <button class="btn-reg btn-md primary"> Submit </button> -->
                                </div>


                            </div>
                        </div>




                        <!--btm-->
                        <div class="configurationContent-btm">

                            <button class="btn-reg btn-lg secondary channelcancel">{{$Translate.Cancel}}</button>
                            {{if eq .Button "Update"}}
                            <button class="btn-reg btn-lg primary channelupt ">{{$Translate.Update}}</button>
                            {{else}}
                            <button class="btn-reg btn-lg primary channelsave ">{{$Translate.Save}}</button>
                            {{end}}

                        </div>
                    </div>





                </div>
            </div>
        </div>
        <!--2-->
        <div class="all-tab-content tab-pane fade" id="categories" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="configuration-contianer">
                <div class="configuration-contentBody">
                    <div class="configurationContent-section-container">
                        <div class="configurationContent-section">
                            {{template "categoryselect" .}}
                        </div>

                        <!--btm-->
                        <div class="configurationContent-btm">
                            <button class="btn-reg btn-lg secondary channelcancel">{{$Translate.Cancel}} </button>
                            {{if eq .Button "Update"}}
                            <button class="btn-reg btn-lg primary channelupt ">{{$Translate.Update}} </button>
                            {{else}}
                            <button class="btn-reg btn-lg primary channelsave ">{{$Translate.Save}} </button>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
<script src="/public/js/channels/channel.js"></script>
{{template "footerclose" .}}