{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}



<!-- <section class="pg-wrapper">
    <header class="editor-header">
        <div class="editor-header-lft">
            <a href="javascript:void(0);" class="toggle-button">
                <img src="/public/img/menu-button.svg" alt="toggle button">
            </a>
            <h1>Channels</h1>
        </div>
        <div class=" search-btn">
            <a href="javascript:void(0);" class="srchBtn-togg toggle-img">
                <img src="/public/img/search-icon.svg" alt="search">
                <img src="/public/img/search-icon-active.svg" alt="search">
            </a>
            <input type="text" placeholder="Search (Ctrl + “k” to focus)" name="" id="">
        </div>
        <a href="javascript:void(0);" class="bt-md bt-grn">Create Channel</a>
    
    </header>
<div class="entries-bdg">

    {{template "cmstab" .}}
   
</div>
{{template "emailmodal" .}} -->
{{template "footer" .}}
<script src="/public/js/channels/channelsettings.js"></script>
{{template "footerclose" .}}