{{template "header" .}}
{{$Translate := .translate}}
<section class="pg-wrapper">
    <header class="editor-header">
        <div class="editor-header-lft">
            <a href="javascript:void(0);" class="toggle-button">
                <img src="/public/img/menu-button.svg" alt="toggle button">
            </a>
            <h2>Create Channel</h2>
        </div>


        <a href="javascript:void(0);" class="bt-sm bt-gry">
            Cancel
        </a>
        <a href="javascript:void(0);" class="bt-sm bt-grn">
            Next
        </a>

    </header>

    <div class="channelStage-wrapper">


        <div class="channelStage-listFlex">
            <div class="channelStage-list">
                <div class="channelStage active">
                    <div>
                        <h3>Channel Name</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <span class="channel-hypen active"></span>
                <div class="channelStage">
                    <div>
                        <h3>Channel Fields</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <span class="channel-hypen"></span>
                <div class="channelStage">
                    <div>
                        <h3>Channel Categories</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>

            <div class="channelStage-identifier">
                <p>Step 1 of 3</p>
            </div>
        </div>
<!-- step 1 -->
        <div class="channelStage-container">
            <div class="channelStage-form">
                <div class="tab-inputGrp">
                    <label>Channel Name</label>
                    <input type="text" placeholder="Enter channel name">
                </div>
                <div class="tab-inputGrp">
                    <label>Channel Description</label>
                    <textarea name="" id="" placeholder="Type Description"></textarea>
                </div>
            </div>

        </div>
        <!-- step2 -->
        <div class="channelfeild-container d-none">

            <div class="channelfeild-grd">
                <div class="tab-inputGrp input-bordered">
                    <label>Short Text
                        <div class="channelfeild-option">
                            <a href="javascript:void(0);"><img src="/public/img/fields-drag.svg" alt="drag"></a><a
                                href="#fieldsModal" data-bs-toggle="modal"><img src="/public/img/fields-edit.svg"
                                    alt="edit"></a><a href="javascript:void(0);"><img src="/public/img/fields-copy.svg"
                                    alt="copy"></a><a href="javascript:void(0);"><img
                                    src="/public/img/fields-delete.svg" alt="delete"></a>
                        </div>
                    </label>
                    <input type="text">
                </div>
                <div class="tab-inputGrp input-bordered">
                    <label>Radio Button
                        <div class="channelfeild-option">
                            <a href="javascript:void(0);"><img src="/public/img/fields-drag.svg" alt="drag"></a><a
                                href="#fieldsModal" data-bs-toggle="modal"><img src="/public/img/fields-edit.svg"
                                    alt="edit"></a><a href="javascript:void(0);"><img src="/public/img/fields-copy.svg"
                                    alt="copy"></a><a href="javascript:void(0);"><img
                                    src="/public/img/fields-delete.svg" alt="delete"></a>
                        </div>
                    </label>
                    <input type="text">
                </div>
                <div class="tab-inputGrp input-bordered">
                    <label>Checkbox
                        <div class="channelfeild-option">
                            <a href="javascript:void(0);"><img src="/public/img/fields-drag.svg" alt="drag"></a><a
                                href="#fieldsModal" data-bs-toggle="modal"><img src="/public/img/fields-edit.svg"
                                    alt="edit"></a><a href="javascript:void(0);"><img src="/public/img/fields-copy.svg"
                                    alt="copy"></a><a href="javascript:void(0);"><img
                                    src="/public/img/fields-delete.svg" alt="delete"></a>
                        </div>
                    </label>
                    <input type="text">
                </div>
                <div class="tab-inputGrp input-bordered">
                    <label>Date & Time
                        <div class="channelfeild-option">
                            <a href="javascript:void(0);"><img src="/public/img/fields-drag.svg" alt="drag"></a><a
                                href="#fieldsModal" data-bs-toggle="modal"><img src="/public/img/fields-edit.svg"
                                    alt="edit"></a><a href="javascript:void(0);"><img src="/public/img/fields-copy.svg"
                                    alt="copy"></a><a href="javascript:void(0);"><img
                                    src="/public/img/fields-delete.svg" alt="delete"></a>
                        </div>
                    </label>
                    <input type="text">
                </div>
                <div class="tab-inputGrp input-bordered p-3">
                    <a href="javascript:void(0);" class="bt-brd-grn bt-lg w-100 text-center">+
                        Add Fields</a>
                </div>
            </div>


        </div>
        <!-- step3 -->
        <div class="channelcategories-container d-none" >
            <div class="channelcategories-left">
                <div class="search-category-top">
                    <h3>Available Categories</h3>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
                <div class="search-category-input">
                    <input type="text" placeholder="Search (“/” to focus)">
                </div>
                <div class="search-category-container">
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>

                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>

                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>

                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>

                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>

                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/add-catogries.svg" alt="add categories">
                        </a>
                    </div>

                </div>
            </div>

            <div class="channelcategories-left">
                <div class="search-category-top">
                    <h3>Selected Categories</h3>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
                <div class="search-category-input">
                    <input type="text" placeholder="Search (Ctrl + “/” to focus)">
                </div>
                <div class="search-category-container">
                    <div class="search-category-list">
                        <span>Category</span>
                        <span>Dress</span>
                        <span>Dress</span>
                        <span>Dress</span>

                        <a href="javascript:void(0);" class="add-category-list">
                            <img src="/public/img/remove-categories.svg" alt="remove categories">
                        </a>
                    </div>

                    <div class="no-categories">
                        <img src="/public/img/no-catrgories.svg" alt="categories">
                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>
                    </div>


                </div>
            </div>


        </div>

    </div>

</section>

{{template "footer" .}}
<script src="/public/js/channels/channel.js"></script>
{{template "footerclose" .}}