{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}}
{{$THEMECOLOR = "bgclr1"}} {{$TEXTCOLOR = "txtclr1"}} {{$BORDERCOLOR = "brclr1"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}}
{{$THEMECOLOR = "bgclr2"}} {{$TEXTCOLOR = "txtclr2"}} {{$BORDERCOLOR = "brclr2"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}}
{{$THEMECOLOR = "bgclr3"}} {{$TEXTCOLOR = "txtclr3"}} {{$BORDERCOLOR = "brclr3"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}}
{{$THEMECOLOR = "bgclr4"}} {{$TEXTCOLOR = "txtclr4"}} {{$BORDERCOLOR = "brclr4"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}}
{{$THEMECOLOR = "bgclr5"}} {{$TEXTCOLOR = "txtclr5"}} {{$BORDERCOLOR = "brclr5"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}}
{{$THEMECOLOR = "bgclr6"}} {{$TEXTCOLOR = "txtclr6"}} {{$BORDERCOLOR = "brclr6"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}}
{{$THEMECOLOR = "bgclr7"}} {{$TEXTCOLOR = "txtclr7"}} {{$BORDERCOLOR = "brclr7"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}}
{{$THEMECOLOR = "bgclr8"}} {{$TEXTCOLOR = "txtclr8"}} {{$BORDERCOLOR = "brclr8"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$THEMECOLOR = "bgclr9"}} {{$TEXTCOLOR = "txtclr9"}} {{$BORDERCOLOR = "brclr9"}}
{{else}}
{{$THEMECOLOR = "bgclr-default"}} {{$TEXTCOLOR = "txtclr-default"}} {{$BORDERCOLOR = "brclr-default"}}
{{end}}

<div class="page-wrapper">

    <div class="bread-crump">
        <a href="/member/">{{.HeadTitle}}</a>
        <img src="/public/img/right-light-arrow.svg" alt="">
        <a href="/membersgroup/" class="current-page">{{.Tabmenu}}</a>
    </div>

    {{template "membertab" .}}

    <div class="all-tab-content" id="groupsContent">
        <!--1-->

        <div class="tablePagination-wrapper member-tablePagination-wrapper">
            <div class="table-responsive entries-table memgrp-page-scroll mempagescrolldesign">
                <table class="table memgrp-table">
                    <caption class="table-caption memgrp-page-scroll-design" style="padding-left: 0px;">
                        <div class="caption-flexx">
                           
                            <p class="para">
                              
                              {{$Translate.Total}} {{if gt .Count 1}} {{$Translate.MembersGroup.Groups}} :  {{else}} {{$Translate.MembersGroup.Group}} : {{end}} <span class="para"> {{.Count}} </span> 
                            </p>
                                                  
                            <div class="transitionSearch active">
                                <form action="/membersgroup/" method="get" class="filterform" autocomplete="off">
                                <img src="/public/img/Magnifying-Glass.svg" alt="" style="bottom: 5px;" />
                                <input type="text" name="keyword" id="searchmemgroup" class="search" placeholder="{{$Translate.Csearch}}" value="{{.Filter.Keyword}}">
                               </form>
                            </div>
                            {{$MENU := .Menu}}
                            
                            {{range .Menu.TblModule}}
                            {{if eq .ModuleName "Members"}}
                            {{range .SubModule}}
                            {{if eq .ModuleName "Members Group"}}
                            {{range .Routes}}
                            {{if eq .DisplayName "Create"}}
                            <button class="btn-reg btn-sm primary " id="add-btn" data-bs-toggle="modal"
                                data-bs-target="#rightModal">
                                <img src="/public/img/add.svg" alt="" /> {{$Translate.MembersGroup.Addmembergrp}}
                            </button>
                            {{end}}
                            {{end}}
                            {{end}}
                            {{end}}
                            {{end}}
                            {{end}}
                        </div>
                    </caption>

                    <thead class="memgrp-thead">
                        <tr>
                            <th style="width: 0; padding-right: 0;"> 
                                <div class="chk-group headingcheck" >
                                  <input type="checkbox" id="Check">
                                  <label for="Check"></label>
                                </div>
                              </th>
                            <th>{{$Translate.MembersGroup.Group}}</th>
                            <th>{{$Translate.Description}}</th>
                            <th>{{$Translate.MembersGroup.Lastupdatedon}}</th>
                            <th>{{$Translate.MembersGroup.Status}}</th>
                            <th style="text-align: end;padding-right: 60px;">{{$Translate.Actions}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if .MemberGroupList}}
                        {{range .MemberGroupList}}
                        <tr> 
                            <td style="padding-right: 0;" > 
                                {{if ne .Name "Default Group"}}
                                <div class="d-flex  gap-4 align-items-center">
                                <div class="chk-group">
                                  <input type="checkbox" class="selectcheckbox" id="Check{{.Id}}" data-id="{{.Id}}">
                                  <label for="Check{{.Id}}"></label>
                                </div>
                              </div>
                              {{end}}
                            </td>
                           
                            <td>{{.Name}}</td>
                            <td width="35%">{{.Description}}</td>
                            <td class="date"> {{.DateString}} </td>
                            <td>
                                {{if ne .Name "Default Group"}}
                                <div class="toggle">
                                    <input class="tgl tgl-light" id="cb{{.Id}}" type="checkbox" value="{{.IsActive}}" data-id="{{.Id}}" onclick="MemberStatus('{{.Id}}')" {{if eq .IsActive 1}}checked{{end}}/>
                                    <label class="tgl-btn" for="cb{{.Id}}"></label>
                                </div>
                                {{end}}
                            </td>

                            <td style="text-align: end;padding-right: 60px;">
                                <div class="btn-group language-group">
                                    {{if ne  .Name "Default Group"}}

                                    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{$Translate.Action}} <img src="/public/img/arrow-down.svg" alt="" />
                                    </button>
                                    {{end}}
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        {{$Id := .Id}}
                                       
                                        

                                        <li>
                                            <button class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#rightModal" data-id="{{$Id}}" type="button" id="editmembergroup">
                                                <span><img src="/public/img/edit.svg" alt="" /></span>
                                                {{$Translate.Edit}}
                                            </button>
                                        </li>
                                     
                                        <li>
                                            <button class="dropdown-item" id="delete-btn" data-id="{{$Id}}" type="button"
                                                data-bs-toggle="modal" data-bs-target="#centerModal">
                                                <span><img src="/public/img/delete.svg" alt="" /></span>
                                                {{$Translate.Delete}} 
                                            </button>
                                        </li>
                                       
                                        
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        {{if .Filter.Keyword}}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <!-- <img src="/public/img/folder-sh.svg" alt=""> -->
                                        <img src="/public/img/nodatafilter.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                </div>
                            </td>
                        </tr>
                        {{else}}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                    <p class="para">
                                        {{$Translate.Pagesorry}}
                                        {{$Translate.Gobackhome}}
                                    </p>
                                    <a href="javascript:void(0)" data-bs-toggle="modal" id="clickadd" data-bs-target="#rightModal" class="heading-three ">{{$Translate.Clickadd}} >></a>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>

            {{if .MemberGroupList}}
            <div class="pogination flexx pagenation-padding">
                <ul class="flexx">
                    {{if gt .Count .Limit}}
                
                    <li>  <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage 1}} class="disabled" {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a></li>
                    {{if gt .CurrentPage 3}}
                    <li><a href="?page=1{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" >1</a></li>
                    {{end}}
                    {{if eq .CurrentPage 5}}
                    <li><a href="?page=2{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">2</a></li>
                    {{end}}
                    {{if gt .CurrentPage 5}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if gt .CurrentPage 2}}
                    <li><a href="?page={{.Pagination.TwoBelow}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoBelow}}</a></li>
                    {{end}}
                    {{if gt .CurrentPage 1}}
                    <li><a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.PreviousPage}}</a></li>
                    {{end}}
                    <li><a href="" {{if  .CurrentPage }} class="current" {{end}}>{{.CurrentPage}}</a></li>
                    {{if lt .CurrentPage .Pagination.TotalPages}}
                    <li><a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.NextPage}}</a></li>
                    {{end}}
                    {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TwoAfter}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoAfter}}</a></li>
                    {{end}}
                    {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TotalPages}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TotalPages}}</a></li>
                    {{end}}
                    <li>
                        <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage .PageCount}} class="disabled" {{else}} class="next" {{end}}>
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                   
                   {{end}}
                </ul>
                <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
            </div>
            {{end}}

        </div>
    </div>
    <!--2-->
</div>

<!-- Right Modal -->
<div class="modal fade right member-modal" id="rightModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title">{{$Translate.MembersGroup.Addmembergrp}}</h3>
                <button class="close" data-bs-dismiss="modal">
                    <img src="/public/img/modal-close.svg" alt="" />
                </button>
            </div>

            <div class="modal-body">
                <form action="/membersgroup/newgroup" method="POST" id="membergroup_form">

                    <input type="hidden" name="csrf" value="{{.csrf}}">
                    <input type="hidden" name="membergroup_id" id="membergroup_id" value="">
                    <input type="hidden" name="memgrbpageno" id="memgrbpageno" value="">

                    <div class="input-group" id="grpname">
                        <label for=""  class="input-label">{{$Translate.MembersGroup.Membergrpname}} *</label>
                        <div class="ig-row">
                            <input type="text" class="field" name="membergroup_name" id="membergroup_name"
                                placeholder="{{$Translate.MembersGroup.Plmembergrpname}}" />
                        </div>
                    </div>

                    <div class="input-group" id="grpdesc">
                        <label for=""  class="input-label">{{$Translate.MembersGroup.Membergrpdesc}} *</label>
                        <div class="ig-row">
                            <textarea id="membergroup_desc" class="field" name="membergroup_desc"
                                placeholder="{{$Translate.MembersGroup.Plmembergrpdesc}}"></textarea>
                        </div>
                    </div>
                 </form>
                
                  <div class="button-col flexx">

                   <button class="btn-reg btn-lg primary btn-submit  " type="button" id="save">  {{$Translate.Save}}</button>
                   <button class="btn-reg btn-lg primary btn-submit  "  type="button" id="update" style="display: none;">{{$Translate.Update}}</button>
                   <button class="btn-reg btn-lg secondary" id="cancel" data-bs-dismiss="modal">  {{$Translate.Cancel}} </button>

                  </div>
            </div>
    
        </div>
    </div>
</div>
 <!--------selected----------->
 <div class="selected-numbers" style="display: none;">
    <p class="heading-three text-white checkboxlength"> </p>
    <div class="d-flex">
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 pe-2 me-2 border-end border-gray " id="seleccheckboxdelete" data-bs-toggle="modal"
      data-bs-target="#centerModal">
        <img src="/public/img/delete-select.svg" alt="delete"> Delete</a>
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 " id="unbulishslt" data-bs-toggle="modal" data-bs-target="#centerModal"> </a>
    </div>
    <a href="javascript:void(0)" class="heading-three text-white" id="deselectid">Deselect All</a>
  </div>
</div>
{{template "footer" .}}
<script src="/public/js/member/groups.js"></script>
{{template "footerclose" .}}