{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

<section
    class="sectionclass max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[48px] min-h-screen">
    <form action="/member/updatemember" id="memberprofileform" name="updatemember" method="post">
        <header
            class=" max-md:ms-0  max-md:w-full  flex justify-end space-x-[6px] h-[48px] border-b border-[#D9D9D9] p-[8px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
            <div class="mr-auto flex items-center space-x-[6px]">
                <a href="javascript:void(0);"
                    class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                    <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
                </a>
                <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap">
                    {{$Translate.Memberss.Membresupdate}}</h2>
            </div>


            <div class="flex space-x-[12px]">
                <a href="/member"
                    class="h-8 flex items-center justify-center px-3 text-sm font-normal text-bold-black bg-slate-250 rounded-[4px] no-underline">Cancel</a>
                <button id="update" type="button"
                    class="h-8 flex items-center justify-center px-3 text-sm font-normal text-white  hover:bg-[#148569] bg-[#10A37F] rounded-[4px] no-underline">Update</button>
            </div>
        </header>

        <section>
            <div class="p-[16px]">

                <div class="pb-6 border-b border-[#EDEDED]">

                    <input type="hidden" name="csrf" value="{{.csrf}}">
                    <input type="hidden" name="mem_id" value="{{.Member.Id}}" id="mem_id">
                    <input type="hidden" name="memgrbpageno" id="memgrbpageno" value="{{.CurrentPage}}">

                    <div class="max-w-full lg:max-w-[62%]">
                        <h3 class="text-[#262626] mb-[16px] text-base font-normal">{{$Translate.Memberss.Basicinfo}}
                        </h3>
                        <div class="flex items-start flex-col sm:flex-row max-sm:space-y-[24px] sm:space-x-[24px] w-full">
                            <div class="relative">
                                <div
                                    class="min-w-[120px] h-[120px] rounded-full bg-[#F9F9FA] relative group overflow-hidden">
                                    {{if .Member.ProfileImagePath}}
                                    <img class="min-w-[120px] h-[120px]" alt="" src="{{.Member.ProfileImagePath}}"
                                        id="mem-img">
                                    {{else}}
                                    <div class="name-string  absolute top-0 w-full h-full name-string grid place-items-center"
                                        id="name-string"> <span>{{.Member.NameString}} </span></div>

                                    {{end}}
                                    <div
                                        class="absolute top-0 left-0 w-full h-full opacity-[0] bg-[#1E292C76] group-hover:opacity-100 flex justify-center items-center">
                                        <img src="/public/img/cam-logo.svg">
                                    </div>
                                    <!-- <button class="cam-logo" type="button">
                                <input id="myfile" name="prof_pic" type="file">
                                <img src="/public/img/cam-logo.svg" alt=""></button> -->
                                    <input type="hidden" id="cropData" name="crop_data" />
                                    <input type="hidden" id="prof-crop">
                                    <input type="hidden" name="crop_data2">
                                    <input type="hidden" name="profileid" value="{{.MemberProfile.Id}}">


                                    <input type="file" id="profileImgLabel" name=" prof_pic" accept="image/png, image/jpeg,image/jpg,image/svg"
                                        class="opacity-0 w-full h-full absolute top-0 left-0 cursor-pointer">
                                </div>
                                <label id="myfile-error" class="error hidden" for="myfile" style="
                            font-size: 0.75rem;
                            font-weight: 400;
                            color: #F26674;position: absolute;
                           ">* Please select jpg | png | jpeg files only</label>
                            </div>

                            <div class="sm:grid-cols-2 grid-cols-1 grid gap-[16px] input-group">
                                <div class="flex flex-col space-y-[6px]">
                                    <p class="text-bold-black text-sm font-normal mb-0">
                                        {{$Translate.Memberss.Firstname}} <span class="text-red-600" >*</span></p>
                                    <input type="text" value="{{.Member.FirstName}}" id="mem_name" name="mem_name"
                                        placeholder="{{$Translate.Memberss.Entermemname}}"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Lastname}}
                                    </p>
                                    <input type="text" value="{{.Member.LastName}}" id="mem_lname" name="mem_lname"
                                        placeholder="{{$Translate.Memberss.Enterlastname}}"
                                        class=" rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Email}} <span class="text-red-600" >*</span>
                                    </p>
                                    <input type="text" placeholder="{{$Translate.Memberss.Entermememail}}"
                                        value="{{.Member.Email}}" id="mem_email" name="mem_email"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Mobile}} <span class="text-red-600" >*</span>
                                    </p>
                                    <input type="text" placeholder="{{$Translate.Memberss.Entermemmobnum}}" id="mem_mobile"
                                        value="{{.Member.MobileNo}}" name="mem_mobile" maxlength="10"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Username}}
                                        <span class="text-red-600" >*</span></p>
                                    <input type="text" placeholder="{{$Translate.Memberss.Enterusername}}"
                                        value="{{.Member.Username}}" id="mem_usrname" name="mem_usrname"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Password}}
                                        <span class="text-red-600" >*</span></p>
                                    <input type="text" placeholder="{{$Translate.Memberss.Enterpswd}}" id="mem_pass"
                                        name="mem_pass" autocomplete="off"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>

                                <div class="dropdown open input-group" id="memgrp">
                                    <p class="text-bold-black text-sm font-normal mb-1">
                                        {{$Translate.Memberss.Membergroup}}</p>
                                    <a id="triggerId"
                                        class="!rounded-[4px] p-[8px_12px] h-9  border-[1px] !border-[#ededed] no-underline w-full flex justify-between items-center field cursor-pointer  border-solid"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="showgroup1" data-id="{{.Member.Id}}"
                                            class="text-bold-gray text-sm font-normal">{{.Member.GroupName}}</span>
                                        <img src="/public/img/drop-down-img.svg" />
                                    </a>
                                    <input type="hidden" name="membergroupid" id="membergroupid" value="">
                                    <input type="hidden" name="membergroupvalue" id="membergroupvalue1"
                                        value="{{.Member.MemberGroupId}}">
                                    <!-- <input type="text" class="hidden" id="membergroupdata" name="membergroup_data" > -->
                                    <div class=" dropdown-menu  min-w-full w-full border-0 focus:bg-transparent pt-0 drop-shadow-4 max-h-52 overflow-auto"
                                        aria-labelledby="triggerId" data-dropdown="down">
                                        <div class="sticky top-0 bg-white z-10">
                                            <div class="px-[12px] py-[8px] relative ">
                                                <input type="text" placeholder="Search Group Name" id="searchmembergrp"
                                                    name="keyword"
                                                    class="search  border-[1px] border-[#ECECEC] pl-10 text-[#222222] text-xs font-light w-full h-8 rounded-[3px]" />
                                                <img src="/public/img/search-icon.svg" class="absolute top-4 left-6" />
                                            </div>
                                        </div>
                                        {{range .Group}}
                                        <button
                                            class="chk-group1 chk-group-label dropdown-item text-[14px] font-normal leading-[1] text-[#262626]"
                                            type="button" data-id="{{.Id}}">{{.Name}}</button>
                                        {{end}}

                                    </div>
                                </div>

                                <div class="flex space-x-[32px] items-center">
                                    <div class="flex flex-col space-y-[6px] toggle">
                                        <h3 class="text-[#152027] text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Active}}</h3>
                                        <p class="text-[#717171] text-xs font-light mb-0">
                                            {{$Translate.Memberss.Activetoggle}}</p>
                                    </div>
                                    <label for="cb1"
                                        class="flex items-center  justify-center cursor-pointer select-none text-dark dark:text-white">
                                        <div class="relative">
                                            <input type="checkbox" class="peer sr-only" name="mem_activestat" id="cb1"
                                                value="{{.Member.IsActive}}" {{if eq .Member.IsActive 1}} checked
                                                {{end}} />
                                            <div class="block h-4 rounded-full dark:bg-dark-2 bg-gray-3 w-[30px]">
                                            </div>
                                            <div
                                                class="absolute w-3 h-3 transition bg-white rounded-full dot dark:bg-dark-4 left-0.5 top-0.5  peer-checked:translate-x-[116%] peer-checked:bg-primary">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-6 pt-6 border-b border-[#EDEDED]">
                    <div class="max-w-full lg:max-w-[62%]">
                        <h3 class="text-[#262626] mb-[16px] text-base font-normal">{{$Translate.Memberss.Companyinfo}}
                        </h3>

                        <div class="flex items-start flex-col sm:flex-row max-sm:space-y-[24px] sm:space-x-[24px] w-full">
                            <div
                                class="min-w-[120px] w-[120px] h-[120px] rounded-full bg-[#F9F9FA] relative group overflow-hidden">
                                <img class="min-w-[120px] h-[120px]" name="profpic2" id="profpic2"
                                    src="{{if .MemberProfile.CompanyLogo}}{{.MemberProfile.CompanyLogo}}{{end}}">
                                {{if .MemberProfile.CompanyLogo}} {{else}}
                                <div class="name-string" id="cname-string"> <span>{{.NameString}}</span>
                                </div>
                                {{end}}
                                <div
                                    class="absolute top-0 left-0 w-full h-full opacity-[0] bg-[#1E292C76] group-hover:opacity-100 flex justify-center items-center">
                                    <img src="/public/img/cam-logo.svg">
                                </div>
                                <input type="file" id="cmpymyfile" accept="image/png, image/jpeg,image/jpg,image/svg"
                                    class="opacity-0 w-full h-full absolute top-0 left-0 cursor-pointer">
                            </div>
                            <div class="flex flex-col space-y-[24px] w-full">
                                <div class="sm:grid-cols-2 grid-cols-1 grid gap-[16px]">
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Companyname}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Companyname}}" name="companyname"
                                            id="companyname" value="{{.MemberProfile.CompanyName}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full field" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Profilename}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Profilename}}" name="profilename"
                                            id="profilename" value="{{.MemberProfile.ProfileName}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Profileslug}}</p>
                                        <input type="text" id="profile-slugData" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Profileslug}}"
                                            name="profilepage" id="profilepage" value=""
                                            class=" [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                        <label id="profilename-error" class="custom-err" for="profilepage"
                                            style="display: none;">* Profile Slug Already Exists</label>
                                    </div>
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Companylocation}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Companylocation}}"
                                            name="companylocation" id="companylocation"
                                            value="{{.MemberProfile.CompanyLocation}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.About}}
                                    </p>
                                    <textarea type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.About}}"
                                        id="aboutcompany" name="aboutcompany"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] resize-none bg-[#F7F7F5] text-bold-black text-sm font-normal w-full h-[120px]  border-[1px] border-[#ECECEC] ">{{.MemberProfile.About}}</textarea>
                                </div>
                                <div class="sm:grid-cols-2 grid-cols-1 grid gap-[16px]">
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Linkedin}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Linkedin}}"
                                            name="linkedin" id="linkedin" value="{{.MemberProfile.Linkedin}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Twitter}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Twitter}}"
                                            name="twitter" value="{{.MemberProfile.Twitter}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Memberss.Website}}
                                    </p>
                                    <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Website}}" name="website"
                                        value="{{.MemberProfile.Website}}"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-6 pt-6">
                    <div class="max-w-full lg:max-w-[62%]">
                        <h3 class="text-[#262626] mb-[16px] text-base font-normal">{{$Translate.Memberss.Metainfo}}</h3>
                        <div class="flex items-start flex-col sm:flex-row max-sm:space-y-[24px] sm:space-x-[24px] w-full">
                            <div class="min-w-[120px] h-[120px] sm:block hidden"></div>
                            <div class="flex flex-col space-y-[16px] w-full">
                                <div class="sm:grid-cols-2 grid-cols-1 grid gap-[16px] w-full">
                                    <div class="flex flex-col space-y-[6px]  input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Metatagtitle}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Metatagtitle}}"
                                            name="metaTitle" value="{{.MemberProfile.SeoTitle }}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px] input-group">
                                        <p class="text-bold-black text-sm font-normal mb-0">
                                            {{$Translate.Memberss.Metatagkeyword}}</p>
                                        <input type="text" placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Metatagkeyword}}"
                                            name="metaKeyword" value="{{.MemberProfile.SeoKeyword}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                </div>
                                <div class="flex flex-col space-y-[6px] input-group">
                                    <p class="text-bold-black text-sm font-normal mb-0">
                                        {{$Translate.Memberss.Metatagdescription}}</p>
                                    <textarea type="text" id="metadesc"
                                    placeholder="{{$Translate.Memberss.Enteryour}}{{$Translate.Memberss.Metatagdescription}}"
                                        name="metaDescription"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px] field  p-[8px_12px] resize-none bg-[#F7F7F5] text-bold-black text-sm font-normal w-full h-[120px]  border-[1px] border-[#ECECEC] ">{{.MemberProfile.SeoDescription}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </form>





{{template "footer" .}}
<script src="/public/js/member/member.js"></script>

{{template "footerclose" .}}