{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$slchannelid := .Slchannelid}}
{{$EntryId := .EntryId}}


<section class=" flex-grow overflow-hidden pt-[48px] min-h-screen form-build">
    <header
        class=" max-md:ms-0  max-md:w-full  flex justify-end space-x-[6px] h-[48px] border-b border-[#D9D9D9] p-[6px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
        <div class="mr-auto flex items-center space-x-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap">
                {{if .formid}}
                {{$Translate.FormBuilder.UpdateForm}}
                {{else}}
                {{$Translate.FormBuilder.CreateForm}}
                {{end}}
            </h2>
        </div>
        <div class="dropdown p-0 border-0 bg-transparent">
            
            <a class=" w-[216px] bg-[#FFFFFF] rounded-[4px] border border-[#EDEDED] py-[7px]  px-[16px] h-[32px] flex items-center [&+label]:text-[#F26674] [&+label]:font-normal [&+label]:text-xs max-[500px]:w-[150px] max-[500px]:p-[7px] "
                href="javascript:void(0);" id="sl-chn">Select Channel
                <div class=" flex-grow">
                   
                    <p class="text-[14px] font-normal leading-[17.5px] tracking-[0.005em] text-[#262626] line-clamp-1"
                        data-id="{{$slchannelid}}" id="chn-name" data-bs-custom-class="lms-tooltip"
                        data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="">
                        {{range .channellist}}
                        {{if eq .Id $EntryId}}
                           {{.ChannelName}}
                        {{end}}
                        {{end}}</p>
                    <input type="hidden" id="slchannel" data-id="{{.formdetails.ChannelId}}" value="{{.formdetails.ChannelName}}">

                </div>

                <span class="grid place-items-center  h-full  ">
                    <img src="/public/img/dropDown-arrow.svg" alt="arrow">
                </span>
            </a>

            <ul class="dropdown-menu  !opacity-100 !w-full !h-fit scrollbar-thin w-full max-h-[165px] overflow-auto rounded-b-[8px] border-none transform-none top-full p-0 shadow-[0_8px_24px_-4px_rgba(0,0,0,0.12)] bg-white"
                id="chn-list">

                {{range .channellist}}
                <li>
                <a class="chk-group chk-group-label dropdown-item  lg items-center flex border-b border-solid border-[#ECECEC] last-of-type:border-b-0 !p-[8px] bg-white " data-id="{{.Id}}" data-bs-custom-class="lms-tooltip"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
                title="{{.ChannelName}}" data-slug="{{.SlugName}}">
                    <input type="checkbox"  id="Check{{.Id}}" data-id="{{.Id}}" title="{{.ChannelName}}" data-slug="{{.SlugName}}" class="hidden peer select-chn">
                    <label for="Check{{.Id}}" class="checkbox-field h-[14px] relative cursor-pointer flex gap-[6px] w-full  items-center text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                    before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  ">{{.ChannelName}}</label>
                </a></li>
                <!-- <li>
                    <a class="truncate dropdown-item p-[12px_16px] border-b border-solid border-[#EDEDED] text-[12px] font-normal leading-[16px] text-[#152027] hover:bg-[#F5F5F5] select-chn"
                        href="javascript:void(0);" data-id="{{.Id}}" data-bs-custom-class="lms-tooltip"
                        data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
                        title="{{.ChannelName}}">{{.ChannelName}}</a> -->
                {{end}}
            </ul>
        </div>
        <a href="/admin/cta"
            class="text-sm font-normal max-sm:p-[8px] leading-tight text-center py-[7px]  px-[16px] h-8 rounded-[4px] grid place-items-center tracking-tight w-fit whitespace-nowrap border border-[#E7E7E7] text-[#717171] hover:text-[#717171] hover:bg-[#F5F5F5]"
            >Cancel</a>

        <a href="javascript:void(0);"
            class="text-[14px] font-normal max-sm:p-[8px] leading-tight text-center py-[7px] px-[16px] h-[32px] rounded-[4px] grid place-items-center tracking-[0.7px] w-fit whitespace-nowrap text-white bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)]"

            id="publish-form">Save</a>

    </header>
    <div
        class=" max-[1440px]:w-full w-[calc(100%-650px)] max-md:w-full max-w-[704px] mx-auto max-[1204px]:p-[40px_32px] p-[40px_64px] font-inter">

        <input type="hidden" name="csrf" value="{{.csrf}}">
        <input type="hidden" name="formid" value="{{.formid}}" id="formid">
        <input type="hidden" id="defaultchnid" value="{{.Menu.ChannelID}}">
        <form-builder mode="{{.mode}}" content="{{.formdata}}" uploadurl="{{.uploadurl}}">

        </form-builder>

    </div>


    {{template "footer" .}}
    <script src="/public/js/form.js"></script>
    <script src="/public/js/form-builder/create-event.js"></script>

    {{template "footerclose" .}}