{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$NameString := .NameString}}
{{$Viewbaseurl := .Viewbaseurl}}
{{$ResponseCounts:=.ResponseCount}}

<section class="w-full max-md:max-w-full min-h-screen max-md:ms-0 pt-[72px]">

</div>
    <header
        class="header-rht max-md:ms-0  max-md:w-full  flex justify-end gap-[6px] border-b border-[#D9D9D9] px-[16px] py-[12px]  items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
 
        <div class="mr-auto flex items-center gap-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <div class="max-w-[640px]">
                <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap mb-[4px]">
                    {{$Translate.FormBuilder.Cta}}</h2>
                <p class="text-[12px] font-light leading-[15px] text-[#525252] line-clamp-2 max-sm:!hidden">
                    {{$Translate.FormBuilder.Ctaheading}}
                </p>
            </div>
        </div>
     
        <div class="flex items-center gap-[12px]">
            <a href="javascript:void(0);"
                class=" hd-crd-btn  [&.hide>img:first-of-type]:block   [&amp;.hide>img:last-of-type]:hidden  border border-[#ECECEC] rounded-[4px] w-[32px] h-[32px] grid place-content-center   hover:bg-[#FAFAFA] ">
                <img src="/public/img\bt-show.svg" alt="show" class="hidden">
                <img src="/public/img\bt-hide.svg" alt="hide">
            </a>
            <div
                class="{{if eq .SearchTrues `true`}}transitionSearch active w-[300px] h-[32px] flex items-center justify-center relative transition-all !border-[#ECECEC] !border duration-300 ease-in-out rounded-[4px]  {{else}} !border-[#ECECEC] !border transitionSearch active w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px]{{end}}">
                <a href="javascript:void(0);"
                    class="top-0 left-0 absolute place-items-center grid hover:bg-[#FAFAFA] w-[32px] h-full group srchBtn-togg">
                    <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden">
                    <img src="/public/img/search-icon-active.svg" alt="search" class="group-hover:block hidden searchopen">
                </a>
                <form action="/admin/cta/defaultctalist/" method="get" class="filterform" autocomplete="off">
                    <input type="text" placeholder="{{$Translate.Csearch}}" name="keyword" id="formsearch"
                        value="{{.Filter.Keyword}}" class="search shadow-none top-0 text-[12px] font-light leading-[15px] flex-grow border-0 outline-none w-0 p-0 absolute right-0 w-[calc(100%-36px)] h-full block
                          {{if eq .SearchTrues `true`}} w-[calc(100%-36px)] p-[0_24px_0_0] {{else}} w-0 p-0 {{end}}">
                          {{if eq .SearchTrues `true`}}
                          <div class=" absolute right-[6px] top-[9px] cursor-pointer searchClosebtn  ">
                              <img src="/public/img/close.svg" alt="close">
                          </div>
                          {{else}}
                          <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden  Closebtn ">
                              <img src="/public/img/close.svg" alt="close">
                          </div>
                          <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden SearchClosebtn">
                            <img src="/public/img/close.svg" alt="close">
                        </div>
                          {{end}}
                        </form>
            </div>
            <div class="dropdown filter-dropDown static">

                <a href="javascript:void(0);"
                    class="w-[32px] h-[32px] grid place-items-center rounded-[4px] group hover:bg-[#FAFAFA] focus:bg-[#F0FFFB]"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside">
                    <img src="/public/img/filter.svg" alt="filter"
                        class="block group-hover:hidden group-focus:hidden">
                    <img src="/public/img/filter-active.svg" alt="filter-active"
                        class="hidden group-hover:block group-focus:block">
                </a>
                <ul
                class="dropdown-menu dropdown-menu-end [&amp;.show]:flex flex-col space-y-[8px] p-[16px] rounded-lg border-0 shadow-[0px_8px_24px_-4px_#0000001F] w-[300px] !mt-[6px]">
                {{$ChannelId := .chnid}}
                {{range .channelist}}
                <li class="mb-[8px]"><a
                        class="block border-[1px] border-solid  rounded-[5px] p-[3px_8px] hover:bg-[#FAFAFA]{{if eq $ChannelId .SlugName}} bg-[#FAFAFA] border-[#000000]{{else}} border-[#EDEDED] {{end}}"
                        href="/admin/cta/defaultctalist?channel={{.SlugName}}">
                        <h5 class="text-[#262626] text-xs font-normal leading-[15px] mb-[6px] ">{{.ChannelName}}
                        </h5>
                        <p class="text-[10px] font-light leading-[12.5px] text-[#717171]"> {{$Translate.Total}} {{if
                            gt
                            .EntriesCount 1}}{{$Translate.Entries}} :{{.EntriesCount}}{{else}}
                            {{$Translate.Channell.Entry}}
                            :{{.EntriesCount}}{{end}}</p>
                    </a></li>

                {{end}}

            </ul>
             
            </div>
            <!-- <a href="/cta/create" 
                class="flex justify-center items-center gap-[5px] bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] px-[16px] py-[7px] max-sm:p-[7px] rounded-[4px] w-fit max-sm:w-[32px] max-sm:min-w-[32px] h-[32px] font-normal text-[14px] text-center text-white leading-tight tracking-[0.7px] whitespace-nowrap">
                <span> + </span> <span class="max-sm:hidden">
                    New CTA </span></a> -->
        </div>

    </header>

    <div class="px-[16px] py-[11px]">

        <div id="hd-crd"
        class="{{if eq .ctabanner `false`}}hidden{{end}}  [&.hide]:hidden  grid grid-cols-[300px_1fr]  max-[1000px]:p-[16px] max-[1000px]:grid-cols-1 gap-[24px] items-start p-[24px] bg-[#FAFAFA] rounded-[12px] relative mb-[24px]">

        <a href="javascript:void(0);"
            class="  hd-crd-btn  absolute top-[16px] right-[16px] max-[1000px]:static max-[1000px]:w-fit max-[1000px]:ms-auto ">
            <img src="/public/img/block-close.svg" alt="close" id="videoclose"></a>

        <div class="relative grid place-items-center">
            <img src="/public/img/CTA Cover.jpg" alt="video" class="w-full  ">
            <a href="javascript:void(0);" class="absolute hover:scale-[1.1] transition-all duration-200">
                <img src="/public/img/play-video.svg" alt="play">
            </a>
        </div>


        <div>
            <h3 class="mb-[12px] text-base text-[#252525] font-medium leading-[20px]">
                {{$Translate.FormBuilder.Fbanner}}</h3>
                <p class="mb-[24px] text-[#717171] text-sm font-normal leading-[17.5px]">
                  {{$Translate.FormBuilder.Sbanner}}
                   
                    <a href="/admin/entries/entrylist" class="text-[#000000] inline-flex gap-[4px] hover:underline border-solid border-[#10A37F] items-center" href="">{{$Translate.Entries}} <span><img src="/public/img/link_icon.svg" alt=""></span> 
                    </a> {{$Translate.FormBuilder.Tbanner}}
                    <a href="/admin/channels" class="text-[#000000] inline-flex gap-[4px] hover:underline border-solid border-[#10A37F] items-center" href="">{{$Translate.Channell.Channels}} <span><img src="/public/img/link_icon.svg" alt=""></span> 
                    </a> {{$Translate.FormBuilder.Fobanner}}
                   
                 </p>
            <div class="flex items-center space-x-[24px] flex-wrap">
                <a href="javascript:void(0);" class="flex items-center space-x-[8px] hover:underline">
                    <img src="/public/img\how-to.svg" alt="How to use">
                    <p class="text-sm text-[#262626] font-normal leading-[17.5px]">{{$Translate.Blocks.HowToUse}}
                    </p>
                </a>
                <a href="https://github.com/spurtcms/forms-builders"  target="_blank" class="flex items-center space-x-[8px] hover:underline">
                    <img src="/public/img\explore-documentation.svg" alt="Explore Documentation">
                    <p class="text-sm text-[#262626] font-normal leading-[17.5px]">
                        {{$Translate.Blocks.ExploreDocumentation}}</p>
                </a>
            </div>
        </div>
    </div>
        <ul class="border-[#EDEDED] mb-[24px] border-b nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="block [&amp;.active]:before:block relative [&amp;.active]:before:bottom-0 [&amp;.active]:before:left-0 [&amp;.active]:before:absolute [&amp;.active]:before:bg-[#262626] p-[0px_12px_10px] [&amp;.active]:before:rounded-[18px_18px_0_0] [&amp;.active]:before:w-full [&amp;.active]:before:h-[2px] font-normal text-[#717171] text-sm hover:text-[#252525] [&amp;.active]:text-[#252525] max-[400px]:text-xs leading-[17.5px] "
                    id="collection-tab"  href="/admin/cta" type="button" 
                    >{{$Translate.Blocks.MyCollections}}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="new block [&amp;.active]:before:block relative [&amp;.active]:before:bottom-0 [&amp;.active]:before:left-0 [&amp;.active]:before:absolute [&amp;.active]:before:bg-[#262626] p-[0px_12px_10px] [&amp;.active]:before:rounded-[18px_18px_0_0] [&amp;.active]:before:w-full [&amp;.active]:before:h-[2px] font-normal text-[#717171] text-sm hover:text-[#252525] [&amp;.active]:text-[#252525] max-[400px]:text-xs leading-[17.5px] active"
                    id="work-tab"  href="/admin/cta/defaultctalist" 
                    >{{$Translate.Explore}}</a>
            </li>

            <li class="ms-auto">
                <p class="font-normal text-[#A1A1A1] text-sm max-[400px]:text-xs"> <span
                        class="text-[#262626]">{{.Count}}</span>  {{if gt .Count 1}}
                        {{$Translate.FormBuilder.FormsAvailable}}
                        {{else}}
                        {{$Translate.FormBuilder.FormAvailable}}
                        {{end}}</p>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="active fade show tab-pane" id="collection" role="tabpanel"
                aria-labelledby="collection-tab">
                <div class="flex flex-col mb-8 w-full">
                    {{if .Formlist}}
                    <div class="flex flex-col items-start mb-6">
                        <h3 class="mb-[6px] font-normal text-[#252525] text-base">Create Impactful Forms</h3>
                        <p class="max-w-[800px] font-light text-[#717171] text-xs">Design CTA forms like Contact Us, Feedback, or Registrations that drive engagement and meet your business needs seamlessly.</p>
                    </div>
                    <input type="hidden" name="csrf" value="{{.csrf}}">
                    <div class="gap-x-4 gap-y-6 grid {{if .Formlist}}grid-cols-[repeat(auto-fill,minmax(282px,1fr))]{{end}}">
                       
                        {{range .Formlist}}
                        <div
                        class="group flex flex-col shadow-[-1px_1px_5px_0px_#0000001A] rounded-xl w-full overflow-hidden ]">
                        <div class="relative bg-[#F9F9F9] p-[10px] border-[#ECECEC] border-b">
                            <div class="h-[160px] overflow-hidden">
                                <img src="/image-resize?name={{.FormPreviewImagepath}}" alt="" class="w-full">
                            </div>
                           
                            <div
                                class="top-0 left-0 absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 w-full h-full">
                              
                              
                                <a href="#previewModal" data-bs-toggle="modal" 
                                id="ctapreview" data-id="{{.Id}}" data-formdata ="{{.FormData}}"
                               data-title="{{.FormTitle}}" data-userimg="{{.ProfileImagePath}}"
                               data-namestring="{{.NameString}}" data-username="{{.Username}}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               data-bs-custom-class="custom-tooltip" data-bs-title="Preview"
                                    class="flex justify-center items-center space-x-2 bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                    <img src="/public/img/eye-white.svg" alt="...">
                                    <span>Preview</span>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col px-[12px] py-[16px] h-full">
                            <h3 class="mb-2 font-normal text-bold-black text-base group-hover:underline">{{.FormTitle}}</h3>
                            <p class="mb-[12px] font-light text-bold-gray text-xs leading-14">{{.FormDescription}}</p>
                            <div class="flex flex-wrap gap-[8px] mb-[16px]">
                                <span
                                    class="bg-[#EBEBEB] px-[8px] py-[4px] rounded-[39px] font-normal text-[#262626] text-xs"> {{.ChannelName}} </span>
                           
                            </div>
                            <div class="flex justify-between items-center mt-auto">
                                <div class="flex items-center space-x-2">
                                    {{if .ProfileImagePath}}
                                    <div class=" min-w-6 w-6 h-6 rounded-full overflow-hidden">
                                        <img id="userimage" src="{{.ProfileImagePath}}" alt="profile">
                                    </div>
                                    {{else}}
                                    <div
                                        class="grid place-items-center bg-[#F5F5F5] min-w-[32px] w-[32px] h-[32px] rounded-full overflow-hidden text-sm ">
                                        <span id="namestring" class="text-[#252525]"> {{.NameString}} </span>
                                    </div>
                                    {{end}}
                                    <p class="font-normal text-[#252525] text-xs">{{.Username}}</p>
                                </div>
                                <a  href="javascript:void(0)" data-title="{{.FormTitle}}" data-desc="{{.FormDescription}}" data-img="{{.FormPreviewImagepath}}" data-fdata="{{.FormData}}" data-fimg="{{.FormImagePath}}" data-channel="{{.ChannelName}}" data-blockid="{{.Id}}" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" id="addtocollect"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="{{$Translate.Blocks.AddCollectiontooltip}}"
                               class=" w-[24px] h-[24px] grid place-items-center hover:bg-[#F5F5F5] rounded-[4px] relative group ">
                               <img src="/public/img/block-add.svg" alt="add">
                           </a>
                            </div>
                        </div>
                    </div>
                        <!-- <div class="flex flex-col border-[#ECECEC] border rounded w-full">
                            <a href="javascript:void(0)" class="block p-[12px] py-[16px] group">
                                <div class="flex justify-between">
                                <h3 class="mb-2 font-normal text-base text-bold-black group-hover:underline"> {{.FormTitle}}</h3>
                              
                            <ul class="flex items-center space-x-[8px] flex-wrap mb-2">
                               
                                <li class="rounded-[39px] bg-[#F5F5F5] p-[4px_8px] text-[12px] font-normal leading-[14px] text-[#262626] grid place-items-center">
                                    {{.ChannelName}} </li>
                          
                            </ul>
                            </div>
                                <p class="mb-3 font-light text-bold-gray text-xs leading-14 line-clamp-2 ">{{.FormDescription}} <span
                                        class="text-[#262626]"></span></p>
                                <h5 class="mb-0 font-light text-bold-gray text-xs">Updated:  {{.CreatedDate}}
                                </h5>
                            </a>
                            <div
                                class="flex justify-between items-center border-[#ECECEC] mt-auto px-[12px] py-[8px] border-t">
                                <div class="flex items-center space-x-[8px]">
                                    {{if .ProfileImagePath}}
                                    <div class=" min-w-6 w-6 h-6 rounded-full overflow-hidden">
                                        <img id="userimage" src="{{.ProfileImagePath}}" alt="profile">
                                    </div>
                                    {{else}}
                                    <div
                                        class="grid place-items-center bg-[#F5F5F5] min-w-[32px] w-[32px] h-[32px] rounded-full overflow-hidden text-sm ">
                                        <span id="namestring" class="text-[#252525]"> {{.NameString}} </span>
                                    </div>
                                    {{end}}
                                    <p id="blockusername"
                                        class="text-sm font-normal leading-5 text-[#252525] overflow-hidden truncate whitespace-nowrap">
                                        {{.Username}}</p>

                                </div>

                                <div class="flex items-center space-x-[8px]">

                                  
                                    <div class="flex space-x-[8px] items-center">
                                        <a href="#previewModal" data-bs-toggle="modal" 
                                        id="ctapreview" data-id="{{.Id}}" data-formdata ="{{.FormData}}"
                                       data-title="{{.FormTitle}}" data-userimg="{{.ProfileImagePath}}"
                                       data-namestring="{{.NameString}}" data-username="{{.Username}}"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       data-bs-custom-class="custom-tooltip" data-bs-title="Preview"
                                            class=" toggle-trigger w-[24px] h-[24px] grid place-items-center hover:bg-[#F5F5F5] rounded-[4px] relative group ">
                                            <img src="/public/img/preview.svg" alt="preview">
                                        </a>
                                      
                                        <a  href="/cta/addtomycollection/{{.Uuid}}/{{.ChannelName}}" data-blockid="{{.Id}}" data-bs-toggle="tooltip"
                                             data-bs-placement="bottom"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="{{$Translate.Blocks.AddCollectiontooltip}}"
                                            class=" w-[24px] h-[24px] grid place-items-center hover:bg-[#F5F5F5] rounded-[4px] relative group ">
                                            <img src="/public/img/block-add.svg" alt="add">
                                        </a>
    
                                       
                                    </div>
                                </div>
                              
                            
                            </div>
                        </div> -->
                      
                        <!-- <div class="flex flex-col border-[#ECECEC] border rounded w-full">
                            <a href="javascript:void(0)" class="block p-[12px] group">
                                <div class="flex justify-between items-center mb-2">

                                    <p class="mb-0 font-light text-[#10A37F] text-11">(20 Response)</p>
                                </div>
                                <h3 class="mb-2 font-normal text-base text-bold-black group-hover:underline">
                                    Connect with Us</h3>
                                <p class="mb-2 font-light text-bold-gray text-xs leading-14">Created By: <span
                                        class="text-[#262626]">Santina Jerde</span></p>
                                <h5 class="mb-0 font-light text-bold-gray text-xs">Updated: 02 Nov 2023 10:04 AM
                                </h5>
                            </a>
                            <div
                                class="flex justify-between items-center border-[#ECECEC] mt-auto px-[12px] py-[11px] border-t">
                                <label for="toggleTwo"
                                    class="flex items-center text-dark dark:text-white cursor-pointer select-none">
                                    <div class="relative">
                                        <input type="checkbox" id="toggleTwo" class="peer sr-only" />
                                        <div class="block bg-gray-3 dark:bg-dark-2 rounded-full w-[30px] h-4">
                                        </div>
                                        <div
                                            class="top-0.5 left-0.5 absolute bg-white dark:bg-dark-4 peer-checked:bg-primary rounded-full w-3 h-3 transition peer-checked:translate-x-full dot">
                                        </div>
                                    </div>
                                </label>
                                <div class="flex items-center space-x-1">
                                    <a href="#" class="bg-hover bg-tranparent rounded-[4px] pa-1">
                                        <img src="/public/img/paste-link.svg" alt="">
                                    </a>
                                    <a href="#" class="bg-hover bg-tranparent rounded-[4px] pa-1">
                                        <img src="/public/img/entries-globe.svg" alt="">
                                    </a>
                                    <div class="flex dropdown open">
                                        <button
                                            class="bg-hover bg-tranparent [&.show]:bg-[#F5F5F5] rounded-[4px] h-4 pa-1"
                                            id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <img src="/public/img\dots.svg" />
                                        </button>
                                        <div class="right-0 border-0 shadow-md dropdown-menu dropdown-menu-end"
                                            aria-labelledby="triggerId">
                                            <button
                                                class="border-gray-100 hover:bg-[#F5F5F5] border-b font-normal text-[#152027] text-black-500 text-xs hover:text-[#152027] dropdown-item"
                                                href="#">Delete</button>
                                            <button
                                                class="hover:bg-[#F5F5F5] font-normal text-[#152027] text-black-500 text-xs hover:text-[#152027] dropdown-item"
                                                href="#">
                                                Configuration
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                  
                   
                        {{end}}
                      
                        {{ else if or (eq .SearchTrues "ftrue") (eq .SearchTrues "true") }}
  
                               
                        <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                            <div class="text-center w-fit mx-auto">
                                <img src="/public/img/noFilter.svg" alt="noFilter">
                            </div>
                            <h2
                                class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px] ">
                                {{$Translate.Filtersearch}}</h2>
                            <p class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                {{$Translate.Filterkeyword}} </p>

                        </div>
                        
                        {{else }}
                    
        
                                
                            <div
                            class="flex flex-col  items-center mx-auto pt-[60px] w-full max-w-[966px] ">
                            <div class="mb-[30px]">
                                <img src="/public/img/Formsnodata.svg" alt="" class="">

                            </div>
                            <div class="flex flex-col items-center space-y-8 w-full">
                                <div class="flex flex-col space-y-[16px] w-full">
                                    <h3 class="mb-0 font-semibold text-[#262626] text-2xl text-center">
                                        {{$Translate.FormBuilder.Noformyet}}</h3>
                                    <p class="font-light text-[#717171] text-center mb-2 text-base">
                                        {{$Translate.FormBuilder.Noform}}</p>
                                </div>
                                <a href="/admin/cta/create"
                                    class="inline-flex items-center bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)]px-[16px] rounded h-[34px] font-normal text-sm text-white">{{$Translate.FormBuilder.Createfirstform}}</a>
                            </div>
                        </div>
        
        
                         
                        {{end}}
                </div>
             
            </div>
               


            </div>
          
        </div>
    </div>
    {{if .Formlist}}
    <div
        class=" max-sm:flex-col max-sm:space-y-[16px] max-md:w-full flex justify-center items-center p-[16px] fixed bottom-0 w-[calc(100%-232px)] right-0 bg-[#ffffff]">
        <ul class="ml-auto    max-sm:mx-auto  justify-center items-center space-x-[8px] flex flex-wrap">
            {{if gt .Count .Limit}}

            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center max-sm:w-[33px] max-sm:h-[36px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] text-[14px] font-normal hover:text-[#222222] hover:bg-[#F5F5F5] text-[#222222] w-[77px] h-[36px] space-x-[4px] {{if eq .CurrentPage 1}}opacity-50  pointer-events-none {{end}}">
                    <img src="/public/img/pg-prev.svg" alt="previous">
                    <span class=" max-sm:hidden"> {{$Translate.Jobs.Back}}</span>
                </a>
            </li>
            {{if gt .CurrentPage 3}}
            {{$keyword := .Filter.Keyword}}
            <li> <a href="?page=1{{if $keyword}}&keyword={{$keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    1 </a> </li>
            {{end}}
            {{if eq .CurrentPage 5}}
            <li> <a href="?page=2{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class=" flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px] ">
                    2 </a> </li>
            {{end}}
            {{if gt .CurrentPage 5}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] gap-[4px]">
                    ...</a> </li>
            {{end}}
            {{if gt .CurrentPage 2}}
            <li> <a href="?page={{.Pagination.TwoBelow}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF]  hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TwoBelow}} </a> </li>
            {{end}}
            {{if gt .CurrentPage 1}}
            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.PreviousPage}} </a> </li>
            {{end}}

            <li> <a href="" class=" {{if  .CurrentPage }} flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC]
                    text-[14px] w-[33px] h-[36px] space-x-[4px] border-none text-[#FFFFFF] hover:text-[#FFFFFF]
                    bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] font-bold {{end}}">
                    {{.CurrentPage}} </a> </li>
            {{if lt .CurrentPage .Pagination.TotalPages}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.NextPage}} </a> </li>
            {{end}}
            {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TwoAfter}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TwoAfter}} </a> </li>
            {{end}}
            {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    ...</a> </li>
            {{end}}
            {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TotalPages}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TotalPages}}</a> </li> {{end}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center max-sm:w-[33px] max-sm:h-[36px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[77px] h-[36px] space-x-[4px] {{if eq .CurrentPage .PageCount}}opacity-50  pointer-events-none {{end}}">
                    <span class=" max-sm:hidden"> {{$Translate.Next}} </span> <img src="/public/img\pg-nxt.svg"
                        alt="next">
                </a>
            </li>
            {{end}}
        </ul>
        <p class="ml-auto max-sm:mx-auto text-[14px] font-normal text-[#222222] leading-[14px]">
            <!-- {{.paginationstartcount}} – {{.paginationendcount}} of {{.chentrycount}} -->
            {{.Paginationstartcount}} – {{.Paginationendcount}} {{$Translate.Of}} {{.Count}}
        </p>
    </div>

    {{end}}
</section>

<!-- Preview -->

<div class="modal right fade" id="previewModal" tabindex="-1" data-bs-backdrop="static"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable  mx-auto">
    <div class="modal-content ">
       <div
                   class="modal-header flex justify-between items-center border-b border-[#EDEDED] p-[6px_24px] max-sm:p-[6px_16px]">
                   <h1 class="font-normal text-base text-[#262626] leading-6" id="exampleModalLabel">
                   Preview
                   </h1>
                   <div class="flex gap-3 items-center" >
                    <a class="cursor-pointer" data-bs-dismiss="modal" id="cancel">
                        <img src="/public/img/close.svg" alt="close">
                    </a>
                </div>
               
               </div>
               {{if .Formlist}}
               {{range .Formlist}}
       <form-builder mode="preview" content="{{.FormData}}" data-id="{{.Id}}">
           
       </form-builder>

       {{end}}
       {{end}}
    </div>
</div>
</div>
{{template "footer" .}}

<script src="/public/js/form-builder/formList.js"></script>
<script defer src="/public/js/form.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const previewLink = document.getElementById('ctapreview');
    const previewImage = document.getElementById('form-preview-image-283');

    previewLink.addEventListener('click', function () {
        // Get the data-formdata attribute
        const formData = JSON.parse(previewLink.getAttribute('data-formdata'));

        console.log("formdata",formData)

        // Here you can manipulate formData as needed
        // For demonstration, let's just convert it to a string and use it as an image source
        const imageData = "data:image/png;base64," + btoa(JSON.stringify(formData));

        // Set the src of the image
        previewImage.src = imageData; // This will set the src to the base64 encoded string
    });
});

  </script>
  
{{template "footerclose" .}}