{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$resp:=.Responses}}
{{ $question1 := "" }}
{{ $question2 := "" }}
{{ $question3 := "" }}

<section class=" max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[48px] min-h-screen">
    <header
        class=" max-md:ms-0  max-md:w-full  flex justify-end space-x-[6px] h-[48px] border-b border-[#D9D9D9] p-[8px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
        <div class="mr-auto flex items-center space-x-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <h2 class="text-[14px] font-medium leading-[20px] text-[#252525] line-clamp-1">
                {{.FormName}}
            </h2>
        </div>

        <!-- <div
            class=" w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] !border !border-[#ECECEC] overflow-hidden">
            <a href="javascript:void(0);"
                class="srchBtn-togg group grid h-full w-[32px] place-items-center absolute left-0 top-0  hover:bg-[#FAFAFA]">
                <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden ">
                <img src="/public/img/search-icon-active.svg" alt="search" class="hidden group-hover:block ">
            </a>
            <input type="text" placeholder="Search (Ctrl + “k” to focus)" name="" id=""
                class="text-xs  font-light leading-[15px] flex-grow border-0 outline-none w-0 p-0 hidden absolute right-0">
        </div> -->


        <div class="dropdown">

            <a href="javascript:void(0);"
                class="w-[32px] h-[32px] grid place-items-center rounded-[4px] group hover:bg-[#FAFAFA]  border-[1px] border-[#ECECEC] [&amp;.show]:bg-[#F0FFFB] [&amp;.show]:border-[#10A37F]"
                data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <img src="/public/img/filter.svg" alt="filter" class="block group-hover:hidden group-focus:hidden">
                <img src="/public/img/filter-active.svg" alt="filter-active"
                    class="hidden group-hover:block group-focus:block">
            </a>
            <div
                class="dropdown-menu  dropdown-menu-end w-[280px] p-[12px] rounded-[12px] border-none shadow-[0px_1px_10px_0px_#00000014]">
                <div class="flex items-center justify-between pb-[8px] border-b border-[#EDEDED] mb-[12px]">
                    <h3 class="text-[14px] font-normal leading-[17.5px] text-[#262626] flex items-center space-x-[4px]">
                        <img src="/public/img/filter-black.svg" alt="filter" class="block">
                      <span>{{$Translate.FormBuilder.SelectFilters}}</span>
                    </h3>

                </div>
                <form action="" id="filterform" method="get">
                    <div class="block mb-[16px]">
                        <p class="text-[12px] font-normal leading-[16px] text-[#717171] mb-[4px]">{{$Translate.FormBuilder.FromDate}}</p>
                        <div class="flter-option">
                            <input type="date" placeholder="Enter From Date" data-date="MM/DD/YYYY" name="fromdate"
                                value="{{.Filter.FromDate}}"
                                class="border border-[#EDEDED] p-[8px_12px] rounded-[4px] text-[14px] font-normal leading-[17.5px] tracking-[0.005em] border-none outline-none h-[34px] block w-full  placeholder:text-[#B2B2B2]">
                            <label id="fromdate-error" class="error hidden" for="fromdate"
                                style="font-size: 10px; font-weight: 400; color: rgb(242, 102, 116); position: absolute;left: 12px;">*
                            </label>
                        </div>
                    </div>

                    <div class="block mb-[16px]">
                        <p class="text-[12px] font-normal leading-[16px] text-[#717171] mb-[4px]">{{$Translate.FormBuilder.ToDate}}</p>
                        <div class="flter-option">
                            <input type="date" placeholder="Enter To Date" data-date="MM/DD/YYYY" name="todate"
                                value="{{.Filter.ToDate}}"
                                class="border border-[#EDEDED] p-[8px_12px] rounded-[4px] text-[14px] font-normal leading-[17.5px] tracking-[0.005em] border-none outline-none h-[34px] block w-full  placeholder:text-[#B2B2B2]">
                            <label id="todate-error" class="error hidden " for="todate"
                                style="font-size: 10px; font-weight: 400; color: rgb(242, 102, 116); position: absolute;left: 12px;">*
                            </label>
                        </div>
                    </div>

                    <div
                        class="flex align-items-center space-x-[12px] p-[12px_12px_0_12px] border-t border-[#F4F4F4] -mx-[12px]">
                        <a href="/cta/form-detail/{{.FormId}}" id="clearbtn"
                            class="flex-grow h-[30px] flex items-center justify-center px-3 text-sm font-normal text-bold-black bg-[#F7F7F5] hover:bg-[#e0e0e0]  rounded-[3px]  no-underline w-100">{{$Translate.FormBuilder.Clear}}</a>
                        <button type="submit"
                            class="text-[14px] font-normal leading-tight text-center py-[7px] px-[16px] h-[30px] rounded-[4px] grid place-items-center flex-grow tracking-[0.7px] w-100 whitespace-nowrap text-white bg-[#000000] hover:bg-[#2D2D2D]">
                            {{$Translate.FormBuilder.ApplyFilter}}
                        </button>
                    </div>
                </form>


            </div>

        </div>


    </header>

    <div class="pb-[60px]">

        <div class="overflow-x-auto ">
            <table class="w-full min-w-[768px]">
                {{if .Responselist}}
                {{range $i, $list := .Responselist}}


                {{range $j, $item := $list}}
                {{if (eq $j 1)}}
                {{ $question1 = $item.question }}
                {{end}}
                {{if (eq $j 2)}}
                {{ $question2 = $item.question }}
                {{end}}
                {{if (eq $j 3)}}
                {{ $question3 = $item.question }}
                {{end}}
                {{end}}
                {{end}}

                <thead>
                    <tr>
                        {{if ne $question1 ""}}
                        <th
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-[#222222] text-sm font-normal mb-0">
                            {{$question1}}
                        </th>
                        {{end}}
                        {{if ne $question2 ""}}
                        <th
                            class=" text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] w-[30%]">
                            {{$question2}}
                        </th>
                        {{end}}
                        {{if ne $question3 ""}}
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$question3}}
                        </th>
                        {{end}}

                        <th
                            class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center ">
                            Time of Register
                        </th>
                    </tr>

                </thead>
                {{end}}
                <tbody>

                    {{if .Responselist}}
                    {{range $i, $list := .Responselist}}
                    <tr>
                        {{range $j, $item := $list}}

                        {{if eq $j 1}}
                        {{if eq $item.type "ShortAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626] ">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "LongAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626] w-[35%] ">
                            <p class="line-clamp-4">
                                {{ $item.value }}
                            </p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Checkbox"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Dropdown"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Radio"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Date"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Date">
                            <p class="DateSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Time"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Time">
                            <p class="TimeSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "FileUpload"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.src }}" class="hiddenimage">
                            <img
                                class="imagesrc w-[40px] h-[40px] min-w-[40px] overflow-hidden rounded-full grid place-items-center bg-[#F5F5F5]">
                        </td>
                        {{end}}
                        {{end}}

                        {{if eq $j 2}}
                        {{if eq $item.type "ShortAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "LongAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626] w-[35%] ">
                            <p class="line-clamp-4">
                                {{ $item.value }}
                            </p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Checkbox"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Dropdown"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Radio"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Date"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Date">
                            <p class="DateSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Time"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Time">
                            <p class="TimeSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "FileUpload"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.src }}" class="hiddenimage">
                            <img
                                class="imagesrc w-[40px] h-[40px] min-w-[40px] overflow-hidden rounded-full grid place-items-center bg-[#F5F5F5]">
                        </td>
                        {{end}}
                        {{end}}

                        {{if eq $j 3}}
                        {{if eq $item.type "ShortAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "LongAnswer"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626] w-[35%]">
                            <p class="line-clamp-4">
                                {{ $item.value }}
                            </p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Checkbox"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Dropdown"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $item.value }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Radio"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            {{ $selected := "" }}
                            {{range $index, $option := $item.options}}
                            {{if $option.isChoosen}}
                            {{if $selected}} {{ $selected = (printf "%s, %s" $selected $option.value) }} {{else}} {{
                            $selected = $option.value }} {{end}}
                            {{end}}
                            {{end}}
                            {{ $selected }}
                        </td>
                        {{end}}
                        {{if eq $item.type "Date"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Date">
                            <p class="DateSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "Time"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.value }}" class="Time">
                            <p class="TimeSet"></p>
                        </td>
                        {{end}}
                        {{if eq $item.type "FileUpload"}}
                        <td class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626]">
                            <input type="hidden" value="{{ $item.src }}" class="hiddenimage">
                            <img
                                class="imagesrc w-[40px] h-[40px] min-w-[40px] overflow-hidden rounded-full grid place-items-center bg-[#F5F5F5]">
                        </td>
                        {{end}}
                        {{end}}
                        {{end}}

                        {{range $j,$resplist:=$resp}}
                        {{if eq $i $j}}
                        <td
                            class="p-[16px] border-b border-[#EDEDED] align-middle text-xs font-normal text-[#262626] text-center">
                            {{.DateString}}
                        </td>
                        {{end}}
                        {{end}}

                    </tr>
                    {{end}}
                    {{else if eq .SearchTrues true}}
                    <tr>
                        <td colspan="9">
                            <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                                <div class="text-center w-fit mx-auto">
                                    <img src="/public/img/noFilter.svg" alt="noFilter">
                                </div>
                                <h2
                                    class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px]">
                                    No data found with current filters</h2>
                                <p class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                    Try changing any other keywords</p>
                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="9">
                            <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                                <div class="text-center w-fit mx-auto">
                                    <img src="/public/img/noData.svg" alt="noData">
                                </div>
                                <h2
                                    class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px]">
                                    {{$Translate.Oopsnodata}}</h2>
                                <p class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                    {{$Translate.Pagesorry}} {{$Translate.Gobackhome}}</p>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <!--fullpagination-->
    <input type="hidden" value="{{.Limit}}" id="limit">
    <input type="hidden" value="{{.Count}}" id="count">

    <!--pagination-->
    <div
        class="max-sm:flex-col max-sm:space-x-[16px] max-md:w-full flex justify-center items-center p-[16px] fixed bottom-0 w-[calc(100%-232px)] right-0 bg-[#ffffff]">
        <ul class="!ml-auto max-sm:mx-auto  justify-center items-center space-x-[8px] flex flex-wrap">
            {{if gt .Count .Limit}}

            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center max-sm:w-[33px] max-sm:h-[36px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] text-[14px] font-normal hover:text-[#222222] hover:bg-[#F5F5F5] text-[#222222] w-[77px] h-[36px] space-x-[4px] {{if eq .CurrentPage 1}}opacity-50  pointer-events-none {{end}}">
                    <img src="/public/img/pg-prev.svg" alt="previous">
                    <span class=" max-sm:hidden"> {{$Translate.Jobs.Back}}</span>
                </a>
            </li>
            {{if gt .CurrentPage 3}}
            {{$keyword := .filter.Keyword}}
            <li> <a href="?page=1{{if $keyword}}&keyword={{$keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    1 </a> </li>
            {{end}}
            {{if eq .CurrentPage 5}}
            <li> <a href="?page=2{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class=" flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px] ">
                    2 </a> </li>
            {{end}}
            {{if gt .CurrentPage 5}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    ...</a> </li>
            {{end}}
            {{if gt .CurrentPage 2}}
            <li> <a href="?page={{.Pagination.TwoBelow}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF]  hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TwoBelow}} </a> </li>
            {{end}}
            {{if gt .CurrentPage 1}}
            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.PreviousPage}} </a> </li>
            {{end}}

            <li> <a href="" class=" {{if  .CurrentPage }} flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC]
                text-[14px] w-[33px] h-[36px] space-x-[4px] border-none text-[#FFFFFF] hover:text-[#FFFFFF]
                bg-[#000000] hover:bg-[#2D2D2D] font-bold {{end}}">
                    {{.CurrentPage}} </a> </li>
            {{if lt .CurrentPage .Pagination.TotalPages}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.NextPage}} </a> </li>
            {{end}}
            {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TwoAfter}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TwoAfter}} </a> </li>
            {{end}}
            {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    ...</a> </li>
            {{end}}
            {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TotalPages}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[33px] h-[36px] space-x-[4px]">
                    {{.Pagination.TotalPages}}</a> </li> {{end}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center max-sm:w-[33px] max-sm:h-[36px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px]  hover:bg-[#F5F5F5] font-normal text-[#222222] w-[77px] h-[36px] space-x-[4px] {{if eq .CurrentPage .PageCount}}opacity-50  pointer-events-none {{end}}">
                    <span class=" max-sm:hidden"> {{$Translate.Next}} </span> <img src="/public/img\pg-nxt.svg"
                        alt="next">
                </a>
            </li>
            {{end}}
        </ul>
        <p class="!ml-auto max-sm:mx-auto text-[14px] font-normal text-[#222222] leading-[14px]">
            {{.Paginationstartcount}} – {{.Paginationendcount}} {{$Translate.Of}} {{.Count}}
        </p>
    </div>


    {{template "footer" .}}

    <script src="/public/js/form-builder/form-detail.js"></script>

    {{template "footerclose" .}}