{{define "categorytab"}}
{{$Translate := .translate}}


<div class="entries-bdg">
    <div class="entries-tabs">
        <ul>
            {{$Title := .title}}
            {{$Tabmenu := .Tabmenu}}
    
            {{range .Menu.TblModule}}
            {{if eq .ModuleName $Title}}
            {{range .SubModule}}
            {{if gt (len .Routes) 0}}
            {{$Routname := index .Routes 0}}
            {{if ne $Routname.RouteName "/categories/addcategory/"}}

            <li role="presentation">
                <a class=" {{if eq .ModuleName $Tabmenu}} active {{end}}"  href="{{$Routname.RouteName}}">
                    {{.ModuleName}}
                </a>
            </li>
         
            {{end}}
            {{end}}
            {{end}}
            {{end}}
            {{end}}
        </ul>
    </div>
{{end}}