{{define "cropsquare"}}
{{$Translate := .translate}}

<main class="hidden flex w-full flex-1 main transition-all CropperSection">
    <section class="  max-md:ms-0  max-md:max-w-full  w-full max-w-full  pt-[48px] min-h-screen">
        <header
            class=" max-md:ms-0  max-md:w-full  flex justify-end gap-[6px] h-[48px] border-b border-[#D9D9D9] p-[6px_16px] items-center fixed top-0 bg-white z-20 w-full left-0">
            <div class="mr-auto flex items-center gap-[6px]">
                <a href="javascript:void(0);"
                    class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                    <img src="img\menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
                </a>
                <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap pointer-events-none"
                    id="cricleCropper-head">Crop Product
                    <span class="max-sm:hidden"> Image</span>
                </h2>
            </div>


            <div class="flex gap-3">
                <a href="javascript:void(0);" id="crop-cancel"
                    class="h-8 flex items-center justify-center px-[12px] text-sm font-normal text-bold-black bg-slate-250 rounded-[4px] no-underline">Cancel</a>
                <a href="javascript:void(0);" id="crop-button"
                    class="h-8 flex items-center justify-center px-[12px] text-sm font-normal text-white  hover:bg-[#148569] bg-[#10A37F] rounded-[4px] no-underline">Crop</a>
            </div>
        </header>



        <div class="p-[24px] pb-0 max-sm:p-[16px]">
            <div class=" flex items-center max-w-[80%] max-lg:max-w-full mx-auto relative">
                <div class="block w-100">
                    <div class="flex gap-[24px] items-center justify-center mb-[32px]">
                        <a href="javascript:void(0);" id="rotateLeft"
                            class=" group p-[8px_16px] rounded-[32px] border-[1px] border-solid border-transparent hover:border-[#EDEDED] flex gap-[8px] items-center w-fit">
                            <div class="grid place-items-center">
                                <img src="/public/img/rotateLeft-active.svg" alt="rotate left"
                                    class="group-hover:hidden block">
                                <img src="/public/img/rotate-left.svg" alt="rotate left"
                                    class="group-hover:block hidden">
                            </div>
                            <span class="text-[#717171] text-sm font-normal leading-[17.5px]">Rotate Left</span>

                        </a>
                        <a href="javascript:void(0);" id="rotateRight"
                            class=" group p-[8px_16px] rounded-[32px] border-[1px] border-solid border-transparent hover:border-[#EDEDED] flex gap-[8px] items-center w-fit">
                            <span class="text-[#717171] text-sm font-normal leading-[17.5px]">Rotate Right</span>
                            <div class="grid place-items-center">
                                <img src="/public/img/rotateRight-active.svg" alt="rotate right"
                                    class="group-hover:block hidden">
                                <img src="/public/img/rotate-right.svg" alt="rotate right"
                                    class="group-hover:hidden block">
                            </div>
                        </a>
                    </div>

                    <div class="[&>img]:w-full relative mb-[24px] h-[600px] bg-slate-500" id="imageSpace">

                    </div>




                </div>

                <div id="extrawidth"
                    class="flex flex-col items-center gap-[12px] p-[24px_16px] rounded-[94px] bg-[#EDEDED] absolute left-full ms-[26px] min-w-[56px] m-[auto] w-fit max-lg:top-full max-lg:left-1/2 max-lg:transform max-lg:-translate-x-1/2 max-lg:flex-row max-lg:px-6 max-lg:py-4 max-lg:mt-6 max-lg:ml-0">
                    <a href=" javascript:void(0);" class="active group" id="square">
                        <img src="/public/img/cropSquare.svg" alt="square"
                            class=" group-hover:hidden group-[&.active]:hidden block">
                        <img src="/public/img/crop-square-active.svg" alt="square"
                            class="  group-hover:block group-[&.active]:block hidden"></a>
                    <a href=" javascript:void(0);" class="group" id="portrait">
                        <img src="/public/img/cropPortrait.svg" alt="portrait"
                            class=" group-hover:hidden group-[&.active]:hidden block">
                        <img src="/public/img/cropPortrait-active.svg" alt="portrait"
                            class="  group-hover:block group-[&.active]:block hidden">
                    </a>
                    <a href=" javascript:void(0);" class="group" id="Landscape">
                        <img src="/public/img/cropLandscape.svg" alt="Landscape"
                            class=" group-hover:hidden group-[&.active]:hidden block">
                        <img src="/public/img/cropLandscape-active.svg" alt="Landscape"
                            class="  group-hover:block group-[&.active]:block hidden">
                    </a>
                </div>
            </div>
            <div class="py-[24px] sticky bottom-0 bg-white !mx-[-24px] max-sm:!mx-[-16px] z-10 ">

                <div class="tab-content" id="nav-tabContent">
                    <!-- Rotate Tab Pane -->
                    <div class="tab-pane fade show active" id="rotate-tab-pane" role="tabpanel" tabindex="0">
                        <div class="max-w-[384px] mx-auto relative ">
                            <div
                                class="w-full flex items-center justify-center bg-repeat-x bg-center h-[22px] bg-[url('/public/img/rotate-scale.svg')] bg-[length:auto_6px]">
                            </div>
                            <div id="rotateValue"
                                class="before:inline-block before:w-[2px] before:h-[22px] before:bg-[#A6A6A6] grid place-items-center gap-[6px] absolute top-0 left-2/4 -translate-x-2/4 transition-transform duration-300">
                                <span class="text-base font-normal leading-[20px] text-[#262626] relative">
                                    0<sup class="absolute top-0 block right-0"><img src="/public/img/degree.svg"
                                            alt="degree"></sup>
                                </span>
                            </div>
                            <div class="w-full opacity-0 mt-0 absolute top-0">
                                <input type="range"
                                    class="h-[4px] rounded-[16px] w-full slider appearance-none m-0  bg-[#D6D6D6]"
                                    id="rotateSlider" min="-180" max="180" value="0">
                            </div>
                        </div>
                    </div>

                    <!-- Scale Tab Pane -->
                    <div class="tab-pane fade" id="scale-tab-pane" role="tabpanel" tabindex="0">
                        <div class="max-w-[196px] mx-auto relative ">
                            <div
                                class="w-full flex items-center justify-center bg-repeat-x bg-center h-[22px] bg-[url('/public/img/rotate-scale.svg')] bg-[length:auto_6px]">
                            </div>
                            <div id="zoomvalue"
                                class="before:inline-block before:w-[2px] before:h-[22px] before:bg-[#A6A6A6] grid place-items-center gap-[6px] absolute top-0 left-0">
                                <span class="text-base font-normal leading-[20px] text-[#262626] relative">
                                    0<sup class="absolute top-0 block right-0"><img src="/public/img/degree.svg"
                                            alt="degree"></sup>
                                </span>
                            </div>
                            <div class="w-full opacity-0 mt-0 absolute top-0" id="zoom-div">
                                <input type="range" min="0" max="100" value="50" class="w-full" id="zoomSlider" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex items-center gap-[16px] justify-center mt-[32px] nav nav-tab">
                    <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#rotate-tab-pane" role="tab"
                        class="nav-link text-base hover:text-[#262626] !text-[#262626] [&.active]:bg-[#EDEDED] active p-[8px_16px] rounded-[32px] hover:bg-[#EDEDED]">
                        Rotation
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#scale-tab-pane" role="tab"
                        class="nav-link text-base hover:text-[#262626] [&.active]:bg-[#EDEDED]  !text-[#262626] p-[8px_16px] rounded-[32px] hover:bg-[#EDEDED]">
                        Scale
                    </a>
                </div>


            </div>
        </div>


    </section>

</main>

{{end}}