{{define "cropmodal"}}
{{$Translate := .translate}}

<!--circlecroppermodal-->

<div class="modal fade cropImagemodal" id="changepicModal" tabindex="-1" data-bs-backdrop="static"
    data-bs-keyboard="false" role="dialog" aria-labelledby="cricleCropper-head" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-[16px]  h-full m-auto 
max-w-[800px] font-roboto" role="document">
        <div class="modal-content b-0 rounded-[3px]">
            <div class="px-[16px] sm:px-6 py-[8px] border-b border-[#EDEDED] flex justify-between items-center">
                <h5 class="mb-0 text-bold-black font-medium text-base max-[400px]:text-xs" id="cricleCropper-head">
                    Crop Product Image
                </h5>
                <div class="flex gap-3">
                    <a href="javascript:void(0);" data-bs-dismiss="modal"
                        class="h-8 flex items-center justify-center px-3  text-sm font-normal text-bold-black bg-[#fafafa] hover:bg-[#e0e0e0] rounded-[4px] no-underline  max-[400px]:text-xs">Cancel</a>
                    <a class="cursor-pointer h-8 flex items-center justify-center px-3  text-sm font-normal text-white bg-[#10A37F]  hover:bg-[#148569] rounded-[4px] no-underline whitespace-nowrap  max-[400px]:text-xs"
                        id="crop-button">Crop</a>
                </div>
            </div>
            <div class="overflow-auto  scrollbar-thin p-[24px]">
                <div class="[&>img]:w-full relative mb-[24px] h-[305px] bg-slate-500" id="imageSpace">

                    <!-- <div id="crop-container"></div>
                    <div id="crop-container1" style="display: none;">

                     </div> -->
                    <!-- <img src="/public/img/cropperSample.svg" alt="cropper image" id="cropImage"> -->
                    <!-- <div class="absolute top-0 w-full h-full">
                        <img src="/public/img/cropperCircle-layer.svg" alt="layer">
                    </div> -->
                </div>

                <div class="flex justify-between items-center max-md:gap-[1rem] max-sm:flex-col ">
                    <div class=" w-full max-w-[256px] max-sm:max-w-full" id="zoom-div">

                        <div class="flex justify-between mt-[8px]">
                            <a href="javascript:void(0);">
                                <img src="/public/img/cropperMinus.svg" alt="minus">
                            </a>
                            <p class="text-[14px] font-normal text-[#222222] leading-[16.41px]">Zoom</p>
                            <a href="javascript:void(0);">
                                <img src="/public/img/cropperPlus.svg" alt="minus">
                            </a>
                        </div>
                    </div>

                    <div class=" w-full max-w-[256px] max-sm:max-w-full">
                        <input type="range"
                            class="h-[4px] rounded-[16px] w-full slider appearance-none m-0  bg-[#D6D6D6]"
                            id="rotateSlider" min="-180" max="180">
                        <div class="flex justify-between mt-[8px]">
                            <a href="javascript:void(0);" id="rotateLeft">
                                <img src="/public/img/rotateLeft.svg" alt="rotate left">
                            </a>
                            <label class="text-[14px] font-normal text-[#222222] leading-[16.41px]">Rotate</label>
                            <a href=" javascript:void(0);" id="rotateRight">
                                <img src="/public/img/rotateRight.svg" alt="rotate right">
                            </a>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>


{{end}}