{{define "ecommenu"}}
{{$Translate := .translate}}
<ul class="nav entries-tab" id="myTab" role="tablist">
    {{$Customermenu := .Customermenu}}
    {{$Productmenu := .Productmenu}}
    {{$Ordermenu:= .Ordermenu}}
    <li class="nav-itm" role="presentation">
        <a href="/ecommerce/products/" class="nav-lnk heading-three {{if eq $Productmenu true}} active{{end}} ">
            <img src="/public/img/catalogue.svg">
            <span class="heading-three">Catalogue</span>
        </a>
    </li>
    <li class="nav-itm" role="presentation">
        <a href="/ecommerce/customers/" class="nav-lnk heading-three   {{if eq $Customermenu true}} active{{end}}">
            <img src="/public/img/customer.svg">
            <span class="heading-three">Customers</span>
        </a>
    </li>
    <li class="nav-itm" role="presentation">
        <a href="/ecommerce/orders/" class="nav-lnk heading-three {{if eq $Ordermenu true}} active{{end}}">
            <img src="/public/img/order.svg">
            <span class="heading-three">Orders</span>
        </a>
    </li>
    <li class="nav-itm" role="presentation">
        <a href="#" class="nav-lnk heading-three">
            <img src="/public/img/report.svg">
            <span class="heading-three">Reports</span>
        </a>
    </li>
    <li class="nav-itm" role="presentation">
        <a href="#" class="nav-lnk heading-three">
            <img src="/public/img/categories-group.svg">
            <span class="heading-three">Categories Group</span>
        </a>
    </li>
    <li class="nav-itm" role="presentation">
        <a href="#" class="nav-lnk heading-three">
            <img src="/public/img/settings-tab.svg">
            <span class="heading-three">Settings</span>
        </a>
    </li>
</ul>

{{end}}