{{define "ecommenu"}}
{{$Translate := .translate}}
<ul class="nav entries-tab" id="myTab" role="tablist">
    {{$Title := .title}}
    {{$Tabmenu := .Tabmenu}}
    {{range .Menu.TblModule}}
    {{if eq .ModuleName $Title}}
    {{range .SubModule}}
    {{if gt (len .Routes) 0}}

    {{$Routname := index .Routes 0}}
    <li class="nav-itm" role="presentation">
        <a class="nav-lnk incmsmenu entriesmenu {{if eq .ModuleName $Tabmenu}} active {{end}} " href="{{$Routname.RouteName}}">
            <img src="{{.IconPath}}" alt="" />
            <span class="heading-three">{{.ModuleName}}</span>
        </a>
    </li>
    {{end}}
    {{end}}
    {{end}}
    {{end}}

{{end}}