{{define "mainmenu"}}
{{$Translate := .translate}}
<aside class="{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}} bgclr1 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}} bgclr2 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}} bgclr3 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}} bgclr4 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}} bgclr5 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}} bgclr6 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}} bgclr7 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}} bgclr8 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}} bgclr9 {{else}} bgclr-default {{end}}">
    <input type="hidden" name="color-val" id="color-val"
        value="{{if .Menu.Personalize.MenuBackgroundColor}}{{.Menu.Personalize.MenuBackgroundColor}}{{else}}rgb(9, 171, 216){{end}}">
        <a href='javascript:void(0)' class='logo'>
            <img src='{{if .Menu.Personalize.LogoPath}}{{.Menu.Personalize.LogoPath}}{{else}}/public/img/logo.svg{{end}}' />
            <img src="{{if .Menu.Personalize.ExpandLogoPath}}{{.Menu.Personalize.ExpandLogoPath}}{{else}}/public/img/logo-bg.svg{{end}}" alt="" class="logo-expand">
        </a>
        {{$Dashboardmenu := .Dashboardmenu}}
        {{$Cmsmenu := .Cmsmenu}}
        {{$Membermenu := .Membermenu}}
        {{$Lmsmenu := .Lmsmenu}}
        <div class='aside-nav'>
            {{range .Menu.TblModule}}
            {{if eq .ModuleName "Dashboard"}}
            <a href='/dashboard/' class="mainmenu dashboardmenu {{if eq $Dashboardmenu true}}active{{end}}">
                <img src='/public/img/dashboard.svg' /> <img src='/public/img/dashboard-on.svg' />
                <span>{{$Translate.Dashboard}}</span>
                <p>{{$Translate.Dashboard}}</p>
            </a>
            {{end}}
            {{if eq .ModuleName "Channels"}}
            {{if eq .EmptyCheck false}}
            <a href='{{.HrefRoute.RouteName}}' class="mainmenu cmsmenu {{if eq $Cmsmenu true}}active{{end}}">
                <img src='/public/img/cms.svg' /> <img src='/public/img/cms-on.svg' />
                <span>{{$Translate.Channell.Channels}}</span>
                <p>{{$Translate.Channell.Channels}}</p>
            </a>
            {{end}}
            {{end}}
            {{if eq .ModuleName "Members"}}
            {{if eq .EmptyCheck false}}
            <a href='{{.HrefRoute.RouteName}}' class="mainmenu membermenu {{if eq $Membermenu true}}active{{end}}">
                <img src='/public/img/members.svg' /> <img src='/public/img/members-on.svg' /> 
                <span>{{$Translate.Memberss.Members}}</span>
                <p>{{$Translate.Memberss.Members}}</p>
            </a>
            {{end}}
            {{end}}
            {{if eq .ModuleName "Spaces"}}
            {{if .Routes}}
            <a href='/spaces/' class="mainmenu spacemenu {{if eq $Lmsmenu true}}active{{end}}">
                <img src= '/public/img/LMS.svg' /> <img src='/public/img/LMS-on.svg' />
                <span>{{$Translate.Spaces.Spacess}}</span>
                <p>{{$Translate.Spaces.Spacess}}</p>
            </a>
            {{end}}
            {{end}}
            {{end}}
        </div>
        <div  class="{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}} bgclr1 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}} bgclr2 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}} bgclr3 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}} bgclr4 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}} bgclr5 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}} bgclr6 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}} bgclr7 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}} bgclr8 aside-btm expandbtn{{else if eq
            .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}} bgclr9 aside-btm expandbtn{{else}} bgclr-default aside-btm expandbtn{{end}}">
            <a href="javascript:void(0)"><img src="/public/img/arrow-long-right.svg" alt=""></a>
        </div>
    </aside>
    {{end}}