{{define "mainmenu"}}
{{$Translate := .translate}}
{{$Mainmenu := .Menu.Expand}}
<div  class="sidebar {{if eq $Mainmenu true}} open {{end}} {{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}} bgclr1 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}} bgclr2 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}} bgclr3 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}} bgclr4 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}} bgclr5 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}} bgclr6 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}} bgclr7 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}} bgclr8 {{else if eq
    .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}} bgclr9 {{else}} bgclr-default {{end}}">
    <input type="hidden" name="color-val" id="color-val"
        value="{{if .Menu.Personalize.MenuBackgroundColor}}{{.Menu.Personalize.MenuBackgroundColor}}{{else}}rgb(9, 171, 216){{end}}">
      
        {{$Title := .title}}
    <div class="logo_details">
        <img src='{{if .Menu.LogoPath}}{{.Menu.LogoPath}}{{else}}/public/img/logo.svg{{end}}' />
        <img src="{{if .Menu.ExpandLogoPath}}{{.Menu.ExpandLogoPath}}{{else}}/public/img/logo-bg.svg{{end}}" alt="" class="logo-expand">
    </div>
    <ul class="nav-list">

      {{range .Menu.TblModule}}
      {{if ne .ModuleName "Settings"}}
      {{if gt (len .SubModule) 0}}
      {{if ne .Route ""}}
      <li>
      <a href='{{.Route}}' class="mainmenu{{if eq $Title .ModuleName}} active {{end}}" tabindex="0" data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="{{.ModuleName}}" >
        <div class="img-fluid">
          <img src='{{.IconPath}}' />
        </div>
          <span class="link_name">{{.ModuleName}}</span>
        
      </a>
 
      </li>
      {{end}}
      {{end}}
      {{end}}
      {{end}}
      <li>
    
      <li class="bottom-btn">


        <button id="btn" class="img-fluid expandbtn">
          <p>v1.0</p> 
          <img src="/public/img/right-arrow1.svg" class="right" />
          
        </button>
       
      </li>
    </ul>
</div>
{{end}}
