{{define "spacestab"}}
{{$Translate := .translate}}

{{$Spacesmenu:=.Spacesmenu}}
{{$SpaceCategoriesmenu := .SpaceCategoriesmenu}}
<div class="tablst br-btm">
    <ul class="nav entries-tab" id="myTab" role="tablist">
        <li class="nav-itm" role="presentation">
            <a class="nav-lnk inspacesmenu spacesmenu {{if eq $Spacesmenu true}}active{{end}}" href="/spaces/">
                <img src="/public/img/entries.svg" alt="" />
                <span class="heading-three">Spaces</span>
            </a>
        </li>
        <li class="nav-itm" role="presentation">
            <a class="nav-lnk inspacesmenu spacecategorymenu {{if eq $SpaceCategoriesmenu true}}active{{end}}" href="/spaces/categorygroup">
                <img src="/public/img/categories.svg" alt="" />
                <span class="heading-three">Space Category</span>
            </a>
        </li>
    </ul>
</div>
{{end}}