{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}



<section class="max-md:ms-0 ml-auto pt-[71px] w-full max-w-[calc(100%-232px)] max-md:max-w-full min-h-screen">
    <header
        class="header-rht top-0 right-0 z-20 fixed flex justify-end items-center gap-[6px] bg-white max-md:ms-0 p-[16px] border-[#D9D9D9] border-b w-[calc(100%-232px)] max-md:w-full">
        <div class="flex items-center gap-[6px] mr-auto">
            <a href="javascript:void(0);"
                class="hidden place-items-center max-md:grid bg-[#F5F5F5] w-[32px] min-w-[32px] h-[32px]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <div class="max-w-[640px]">
                <h2 class="mb-[4px] font-medium text-[#252525] text-[16px] leading-[20px] whitespace-nowrap">
                    Effortless Payment Integrations in SpurtCMS</h2>
                <p class="max-sm:!hidden font-light text-[#525252] text-[12px] line-clamp-2 leading-[15px]">
                    Seamlessly connect and manage payment gateways for secure and hassle-free transactions.</p>
            </div>
        </div>


        <!-- <div
            class=" {{if eq .Searchtrue true}}transitionSearch active w-[300px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] border border-[#ECECEC]   {{else}}transitionSearch active w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] {{end}}  ">
            <a href="javascript:void(0);"
                class="srchBtn-togg group grid h-full w-[32px] place-items-center absolute left-0 top-0  hover:bg-[#FAFAFA]">
                <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden ">
                <img src="/public/img/search-icon-active.svg" alt="search"
                    class="searchopen hidden  group-hover:block ">
            </a>
            <form action="/integration/" method="get" class="filterform " autocomplete="off">

                <input type="text" placeholder="Search (Ctrl + “k” to focus)" value="{{.Filters}}" name="keyword"
                    id="searchmembershiplevel"
                    class="Searchmembership shadow-none top-0 text-[12px] font-light leading-[15px] flex-grow border-0 outline-none w-0 p-0 absolute right-0 w-[calc(100%-36px)] h-full block">
                {{if eq .Searchtrue true}}
                <div class=" absolute right-[6px] top-[9px] cursor-pointer searchClosebtn  ">
                    <img src="/public/img/close.svg" alt="close">
                </div>
                {{else}}
                <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden  Closebtn ">
                    <img src="/public/img/close.svg" alt="close">
                </div>
                <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden SearchClosebtn">
                    <img src="/public/img/close.svg" alt="close">
                </div>
                {{end}}
            </form>
        </div> -->


    </header>



    <ul class="nav border-b border-[#EDEDED] mb-[24px] mt-[10px]  " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="active hover:text-[#252525]  [&.active]:text-[#252525] p-[0px_12px_10px] text-[#717171] font-normal max-[400px]:text-xs text-sm leading-[17.5px] [&.active]:before:w-full [&.active]:before:h-[2px] [&.active]:before:block [&.active]:before:absolute [&.active]:before:bottom-0 [&.active]:before:left-0  relative [&.active]:before:bg-[#262626] [&.active]:before:rounded-[18px_18px_0_0] block cursor-pointer"
                href="/admin/integration">Integration</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="hover:text-[#252525]  [&.active]:text-[#252525] p-[0px_12px_10px] text-[#717171] font-normal max-[400px]:text-xs text-sm leading-[17.5px] [&.active]:before:w-full [&.active]:before:h-[2px] [&.active]:before:block [&.active]:before:absolute [&.active]:before:bottom-0 [&.active]:before:left-0  relative [&.active]:before:bg-[#262626] [&.active]:before:rounded-[18px_18px_0_0] block cursor-pointer"
                href="/admin/integration/master"> Explore </a>
        </li>
    </ul>

    <div class="p-[16px]">
        <p class="mb-[16px] font-normal text-[#717171] text-xs"><span
                class="font-semibold text-[#262626]">{{.Count}}</span>
            Records Available</p>
        <div
            class="gap-[24px] grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-[repeat(auto-fill,minmax(376px,1fr))] lg:grid-cols-3">


            {{range .IntegrationList}}

            <div class="border border-[#ECECEC] rounded flex flex-col ">
                <div class="group block p-[12px]">
                    <div class="flex items-center space-x-[8px] mb-[8px]">
                        <div class="w-[32px] h-[32px] rounded bg-[#f8f8f8] grid place-items-center min-w-[32px]">
                            <img src="{{.Credentials.CoverImage}}" alt="">
                        </div>
                        <p class="text-[16px] font-normal leading-[20px] text-[#262626] !me-auto line-clamp-1">
                            {{.Credentials.GatewayName}}
                        </p>
                        {{if eq .IsActive 1}}
                        <div class="flex items-center space-x-[4px] bg-[#ECFFFA] px-[8px] py-[4px]">
                            <img src="/public/img/check.svg" alt="...">
                            <p class="font-normal text-[#10A37F] text-[12px]">Active</p>
                        </div>
                        {{end}}
                    </div>


                    <p class="text-[11px] font-light text-[#717171] leading-[14px] mb-2 line-clamp-3">
                        {{.Credentials.GatewayDesc}}</p>

                </div>
                <div class="mt-auto flex justify-end items-center py-[11px] px-[12px] border-t border-[#ECECEC]">
                    <a data-id="{{.Id}}" class="Integrationmanage bordered-btn cursor-pointer">Manage

                    </a>


                </div>
            </div>


            {{end}}
        </div>
    </div>



    <!--itegration-modals-->

    <div class="right modal fade" id="itegration-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content b-0">
                <div class="flex justify-between items-center px-6 py-[8px] border-[#EDEDED] border-b">
                    <h5 class="mb-0 font-medium text-bold-black text-base" id="modalTitleId">
                        Authentication Details
                    </h5>
                    <div class="flex gap-3">
                        <a href="#" data-bs-dismiss="modal"
                            class="flex justify-center items-center bg-slate-250 rounded-[4px] h-8 font-normal text-bold-black text-sm no-underline pa-x-3">Cancel</a>
                        <button type="button" id="UpdateIntegration"
                            class="flex justify-center items-center bg-[var(--btn-bg)] hover:bg-[var(--btn-hover)] rounded-[4px] h-8 font-normal text-white text-sm no-underline pa-x-3">Submit
                        </button>
                    </div>
                </div>

                <form id="IntegrationForm" action="/admin/integration/manage" method="post">
                    <div class="p-[24px] overflow-auto">

                        <input type="text" value="{{.csrf}}" name="csrf" id="csrf" class="hidden">

                        <input type="text" id="IntegrationId" name="IntegrationId" class="hidden">


                        <div class="flex justify-between items-center ">
                            <!-- <h3 class="text-[#262626] text-base font-normal mb-0">Basic Info</h3> -->
                            <div class="flex gap-[16px] items-center justify-end w-full">
                                <div class="flex flex-col gap-[6px]">
                                    <h3 class="text-[#152027] text-sm font-normal mb-0">Active</h3>
                                </div>
                                <label for="integration_activestatus"
                                    class=" flex items-center  justify-center cursor-pointer select-none text-dark dark:text-white">
                                    <div class="relative">
                                        <input type="checkbox" name="integration_activestatus"
                                            id="integration_activestatus" class="peer sr-only" />
                                        <div class="block h-4 rounded-full dark:bg-dark-2 bg-gray-3 w-[30px]">
                                        </div>
                                        <div
                                            class="absolute w-3 h-3 transition bg-white rounded-full dot dark:bg-dark-4 left-0.5 top-0.5  peer-checked:translate-x-[116%] peer-checked:bg-primary">
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">

                            <label
                                class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Gateway
                                Name
                                <div class="cursor-pointer group flex items-center ">
                                    <img src="/public/img/inputdesc.svg" alt="">
                                    <p
                                        class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                        The name of the payment gateway you are integrating, such as PayPal or Stripe.
                                    </p>
                                </div>
                            </label>
                            <input type="text" placeholder="Enter Gateway Name" id="GatewayName" name="GatewayName"
                                class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full cursor-not-allowed "
                                readonly />
                        </div>
                        <div class="input-group flex flex-col space-y-[6px] mb-[16px] gap-1.5">

                            <label
                                class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Gateway
                                Description
                                <div class="cursor-pointer group flex items-center ">
                                    <img src="/public/img/inputdesc.svg" alt="">
                                    <p
                                        class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                        A brief description of the selected payment gateway and its functionality.</p>
                                </div>
                            </label>
                            <textarea type="text" id="GatewayDesc" name="GatewayDesc" maxlength="251"
                                placeholder="Enter Gateway Description"
                                class="scrollbar-none [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[120px] bg-[#F7F7F5] text-bold-black text-sm font-normal resize-none w-full border border-[#EDEDED] cursor-not-allowed"
                                readonly></textarea>
                            <label id="GatewayDesc-error" class="error" for="GatewayDesc"></label>
                        </div>
                        <div id="forpayment">
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">

                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Client
                                    ID
                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            A unique public identifier provided by the payment gateway for
                                            authentication.</p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Client ID" id="ClientId" name="ClientId"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">


                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Client
                                    Secret
                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            A secure key used for authenticating API requests to the payment gateway.
                                        </p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Client Secret" id="ClientSecret"
                                    name="ClientSecret"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5" id="priceItemsContainer">


                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">
                                    Dollar To Rupees
                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            Dollar to Rupees Conversion
                                        </p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Dollar To Rupees" id="DollartoRupees"
                                    name="DollartoRupees"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                        </div>

                        <!--  -->

                        <div id="forstorage">
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">

                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Access
                                    Key ID

                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            A unique public identifier provided by the AWS storgare for authentication.
                                        </p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Access Key ID" id="AccessKeyId" name="AccessKeyId"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">


                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Access
                                    Key
                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            A secure key used for authenticating API requests to the AWS storgare.</p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Access Key" id="SecretKey" name="SecretKey"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5">


                                <label
                                    class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Region
                                    <div class="cursor-pointer group flex items-center ">
                                        <img src="/public/img/inputdesc.svg" alt="">
                                        <p
                                            class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                            The AWS location of your S3 bucket (e.g., <b>ap-south-1</b> for Mumbai).</p>
                                    </div>
                                </label>
                                <input type="text" placeholder="Enter Region" id="Region" name="Region"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                            </div>
                            <div class="flex flex-col items-start mb-[16px] last:mb-0 gap-1.5"></div>


                            <label
                                class="mt-[16px] text-[#262626] text-sm font-normal mb-0 flex items-center gap-[6px] relative w-fit">Bucket
                                Name

                                <div class="cursor-pointer group flex items-center ">
                                    <img src="/public/img/inputdesc.svg" alt="">
                                    <p
                                        class="ml-[6px] hidden group-hover:block absolute left-full w-[300px] mb-[6px] bg-[#F5F5F5] p-[6px_12px] rounded-[4px] text-[10px] font-normal leading-[12px] text-[#262626]">
                                        The name of your S3 bucket where files will be stored. Must match exactly in
                                        AWS.</p>
                                </div>
                            </label>
                            <input type="text" placeholder="Enter Bucket Name" id="BucketName" name="BucketName"
                                class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs rounded-[4px]  p-[12px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                        </div>
                    </div>

            </div>

            <input type="hidden" name="IntegrationType" id="IntegrationType">
            </form>
        </div>
    </div>
    </div>
</section>


{{template "footer" .}}
<script src="/public/js/integration/integration.js"></script>
{{template "footerclose" .}}