{{define "gofooter"}}

        <div class="mx-auto px-[16px] pt-[109px] max-[500px]:pt-[48px] max-w-[1295px]">
                <div class="flex max-[600px]:flex-col justify-between items-end gap-[16px] border-[#1516183D] mb-[62px] pb-[2.625rem] border-b border-solid">
                    <div class="flex flex-col items-start max-w-[587px]">
                        <h4 class="mb-[50px] font-[700] text-[#151515] text-[54px] max-[500px]:text-[32px]">SpurtCMS</h4>
                        <p class="font-normal text-[#211F1F] text-[20px]">Versatile and functional theme for running a free or paid-membership publication on Ghost.</p>
                    </div>
                    <div class="flex items-center gap-[30px]">
                        <a href="https://www.facebook.com/spurtcms" target="_blank" class="flex justify-center items-center w-[40px] h-[40px] hover:opacity-[0.8]">
                            <img src="/websites/themes/content_verse/assets/images/fb.svg" alt="">
                        </a>
                        <a href="https://www.youtube.com/@spurtcms" target="_blank" class="flex justify-center items-center w-[40px] h-[40px] hover:opacity-[0.8]">
                            <img src="/websites/themes/content_verse/assets/images/youtube.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/spurtcms/" target="_blank" class="flex justify-center items-center w-[40px] h-[40px] hover:opacity-[0.8]">
                            <img src="/websites/themes/content_verse/assets/images/insta.svg" alt="">
                        </a>
                        <!-- <a href="#" class="flex justify-center items-center w-[40px] h-[40px] hover:opacity-[0.8]">
                            <img src="/websites/themes/content_verse/assets/images/v.svg" alt="">
                        </a> -->
                    </div>
                </div>
                <!-- <div class="gap-[24px] grid grid-cols-5 max-[500px]:grid-cols-2 max-[800px]:grid-cols-3 mb-[50px]">
                    <div class="flex flex-col items-start">
                        <h3 class="mb-[28px] font-[600] text-[#211F1F] text-[24px]">About</h3>
                        <ul class="flex flex-col gap-[24px]">
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Style Guide</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Features</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Contact</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">404</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Get Theme</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start">
                        <h3 class="mb-[28px] font-[600] text-[#211F1F] text-[24px]">Features</h3>
                        <ul class="flex flex-col gap-[24px]">
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Demos</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Authors</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Tags</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Light version</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Dark version</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Sepia version</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">404</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Search</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start">
                        <h3 class="mb-[28px] font-[600] text-[#211F1F] text-[24px]">Members</h3>
                        <ul class="flex flex-col gap-[24px]">
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Account</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Membership</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Subscriber</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Tags</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Author</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start">
                        <h3 class="mb-[28px] font-[600] text-[#211F1F] text-[24px]">Contact</h3>
                        <ul class="flex flex-col gap-[24px]">
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Account</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Membership</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Subscriber</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Tags</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Author</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start">
                        <h3 class="mb-[28px] font-[600] text-[#211F1F] text-[24px]">Resource</h3>
                        <ul class="flex flex-col gap-[24px]">
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Demos</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Docs</a>
                            </li>
                            <li>
                                <a href="#" class="font-medium text-[#211F1FC2] text-base hover:text-black">Showcase</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </section>

<script src="/websites/themes/content_verse/assets/js/content_verse.js"></script>
<script src="/websites/common/assets/js/common.js"></script>
        
<script>
    function onMenuToggle(e) {
        const navlinks = document.querySelector(".navLinks");
        e.name = e.name === "menu" ? "close" : "menu";
        navlinks.classList.toggle("left-[0%]");
    }
    function ondroptoggle(e) {
        const dropmenu = document.querySelector(".drop-menu");
        dropmenu.classList.toggle("hidden");
    }

</script>
        {{end}}