{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

<div class="page-wrapper">

    <div class="bread-crump">
        <a href="/categories/">{{.HeadTitle}}</a>
        <img src="/public/img/right-light-arrow.svg" alt="">
        <a href="" class="current-page">{{.Tabmenu}}</a>
    </div>
    {{template "categorytab" .}}

    <div class="all-tab-content" id="groupsContent">
        <!--1-->
        <div class="tablePagination-wrapper">
            <div class="table-responsive entries-table">
                <table class="table">
                    <caption class="table-caption" style="padding-left: 0px;">
                        <div class="caption-flexx">
                            <p class="para">
                                {{$Translate.Total}} {{if gt .Count 1}}{{$Translate.Categoryy.Categorys}} : <span
                                    class="para" id="searchcount"> {{.Count}} </span> {{else}}
                                {{$Translate.Categoryy.Category}} : <span class="para" id="searchcount"> {{.Count}}
                                </span> {{end}} </p>


                            </p>

                            <div class="transitionSearch active">
                                <form action="/categories/addcategory/{{.categoryid}}" method="get" class="filterform"
                                    autocomplete="off">
                                    <img src="/public/img/Magnifying-Glass.svg" alt="" style="bottom: 5px;">
                                    <input type="text" class="search" id="searchsubcategory" name="keyword"
                                        placeholder="{{$Translate.Csearch}}"
                                        value="{{.Filter.Keyword}}">
                                </form>
                            </div>
                            {{$MENU := .Menu}}
                        
                            <button class="btn-reg btn-sm primary " data-bs-toggle="modal"
                                data-bs-target="#categoryModal" id="caddbtn">
                                <img src="/public/img/add.svg" alt="" />{{$Translate.Categoryy.Category}}
                            </button>
                           
                        </div>
                    </caption>

                    <thead>
                        <tr>
                            <th style="width: 0; padding-right: 0;"> 
                                <div class="chk-group">
                                  <input type="checkbox" id="Check">
                                  <label for="Check"></label>
                                </div>
                              </th>
                            <th>{{$Translate.Categoryy.Categories}} </th>
                            <th>{{$Translate.Categoryy.Parentcategory}} </th>
                            <th>{{$Translate.Lastupdatedon}} </th>
                            <th style ="text-align: end;padding-right: 60px;">{{$Translate.Actions}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if .CategoryList}}
                        {{range .CategoryList}}
                        <tr>
                            <td style="padding-right: 0;"> 
                                
                                <div class="d-flex  gap-4 align-items-center">
                                <div class="chk-group">
                                  <input type="checkbox" class="selectcheckbox" id="Check{{.Id}}" data-id="{{.Id}}">
                                  <label for="Check{{.Id}}"></label>
                                </div>
                              </div>
                              
                            </td>
                            <td> {{.CategoryName}} </td>

                            <td>
                                <div class="category-path-list"> {{range $value := .Parent}} <h3
                                        class="para categorylistname"> {{$value}}</h3>
                                    <h3 class="para">&nbsp;/&nbsp;</h3> {{end}}
                                </div>
                            </td>
                            <td>{{.DateString}} </td>

                            <td style="text-align: end;padding-right: 60px;">
                                <div class="btn-group language-group">
                                    <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{$Translate.Action}} <img src="/public/img/arrow-down.svg" alt="" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        {{$Id := .Id}}


                                        <li>
                                            <a class="dropdown-item" type="button" data-bs-toggle="modal"
                                                data-bs-target="#categoryModal" data-id="{{$Id}}" id="edit">
                                                <span><img src="/public/img/edit.svg" alt="" /></span>
                                                {{$Translate.Edit}}
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" type="button" id="delete-btn" data-id="{{$Id}}"
                                                data-bs-toggle="modal" data-bs-target="#centerModal">
                                                <span><img src="/public/img/delete.svg" alt="" /></span>
                                                {{$Translate.Delete}}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                        {{ else if eq .catcount 0}}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/folder-sh.svg" alt="">
                                        <img src="/public/img/shadow.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                    <p class="para">
                                        {{$Translate.Pagesorry}}
                                        {{$Translate.Gobackhome}}
                                    </p>
                                    <a href="javascript:void(0)" id="clickadd" data-bs-toggle="modal"
                                        data-bs-target="#categoryModal"
                                        class="heading-three ">{{$Translate.Clickadd}} >></a>
                                </div>
                            </td>
                        </tr>

                        {{else }}
                        <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/nodatafilter.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                </div>
                            </td>
                        </tr>
                        {{end}}

                    </tbody>
                </table>
            </div>

            <div class="pogination flexx pagenation-padding">
                <ul class="flexx">
                    {{if gt .Count .Limit}}
                
                    <li>  <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage 1}} class="disabled" {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a></li>
                    {{if gt .CurrentPage 3}}
                    <li><a href="?page=1{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" >1</a></li>
                    {{end}}
                    {{if eq .CurrentPage 5}}
                    <li><a href="?page=2{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">2</a></li>
                    {{end}}
                    {{if gt .CurrentPage 5}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if gt .CurrentPage 2}}
                    <li><a href="?page={{.Pagination.TwoBelow}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoBelow}}</a></li>
                    {{end}}
                    {{if gt .CurrentPage 1}}
                    <li><a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.PreviousPage}}</a></li>
                    {{end}}
                    <li><a href="" {{if  .CurrentPage }} class="current" {{end}}>{{.CurrentPage}}</a></li>
                    {{if lt .CurrentPage .Pagination.TotalPages}}
                    <li><a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.NextPage}}</a></li>
                    {{end}}
                    {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TwoAfter}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoAfter}}</a></li>
                    {{end}}
                    {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
                    <li><a href="">...</a></li>
                    {{end}}
                    {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
                    <li><a href="?page={{.Pagination.TotalPages}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TotalPages}}</a></li>
                    {{end}}
                    <li>
                        <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage .PageCount}} class="disabled" {{else}} class="next" {{end}}>
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                   
                   {{end}}
                </ul>
                <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
            </div>

            <!-- <div class="pogination flexx pagenation-padding">
                <ul class="flexx pagination">
                    <li class="page-item previous-page disable">
                        <a href="#" class="disable page-link" >
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>
                    <li class="page-item current-page active">
                        <a href="#" class="page-link">1</a>
                    </li>

                    <li class="page-item dots">
                        <a class="page-link" href="#">...</a>
                    </li>

                    <li class="page-item current-page">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item next-page">
                        <a href="#"  class="disabled page-link">
                            <img src="/public/img/carat-right.svg" alt="" />
                        </a>
                    </li>

                </ul>
                <p>Items Per Page: {{.Count}} and {{.Paginationstartcount}} – {{.Paginationendcount}} of{{.Count}}</p>
            </div> -->
        </div>
    </div>
    <!--2-->
         <!--------selected----------->
 <div class="selected-numbers" style="display: none;">
    <p class="heading-three text-white checkboxlength"> </p>
    <div class="d-flex">
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 pe-2 me-2  border-gray " id="seleccheckboxdelete" data-bs-toggle="modal"
      data-bs-target="#centerModal">
        <img src="/public/img/delete-select.svg" alt="delete"> Delete</a>
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 " id="unbulishslt" data-bs-toggle="modal" data-bs-target="#centerModal"> </a>
    </div>
    <a href="javascript:void(0)" class="heading-three text-white" id="deselectid">Deselect All</a>
  </div>
</div>


<!-- Right Modal -->
<div class="modal fade right member-modal" id="categoryModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title">{{$Translate.Categoryy.Addcategory}}</h3>
                <button class="close" data-bs-dismiss="modal"> <img src="/public/img/modal-close.svg" alt="" />
                </button>
            </div>

            <div class="modal-body">
                <form name="" id="form" enctype="multipart/form-data">
                    <input type="hidden" name="category_id" id="category_id" value="">
                    <input type="hidden" value="{{.categoryid}}" name="categoryid" id="categoryid">
                    <input type="hidden" value="" name="groupid" id="groupid">
                    <input type="hidden" name="catpageno" id="catpageno" value="">
                    <input type="hidden" name="csrf" value="{{.csrf}}">

                    <div class="input-group" id="catname">
                        <label for="" class="input-label"> {{$Translate.Categoryy.Categoryname}} *</label>
                        <div class="ig-row">
                            <input type="text" class="field" name="cname" id="cname"
                                placeholder="{{$Translate.Categoryy.Entercategoryname}}">
                        </div>
                    </div>

                    <div class="input-group" id="catdesc">
                        <label for="" class="input-label">{{$Translate.Description}} *</label>
                        <div class="ig-row">
                            <textarea class="field" name="cdesc" id="cdesc"
                                placeholder="{{$Translate.Categoryy.Entercategorydescription}}"></textarea>
                        </div>
                    </div>

                    <div class="input-group upload-img">
                        <label for="" class="input-label">{{$Translate.Uploadcoverimage}}</label>
                        <div class="ig-row file-input-row file-upload uploaded-file">
                            <div id="catdel-img">
                                <button class="delete-flag" type="button"><img src="/public/img/delete-white-icon.svg"
                                        alt=""></button>
                                <div class="hover-delete-img"></div>
                            </div>

                            <h3 class="heading-three" id="mediadesc">{{$Translate.Uploadneworchoose}}</h3>
                            <button class="btn-reg btn-xs primary " id="browse" type="button"
                                data-bs-toggle="modal" data-bs-target="#addnewimageModal"> {{$Translate.Browse}}
                            </button>

                            <input type="hidden" value="" name="categoryimage" id="categoryimage">
                            <img src="" name="ctimagehide" id="ctimagehide" style="height: 100%;position: absolute;">
                        </div>

                    </div>


                    <div class="input-group">
                        <div class="input-group  user-drop-down" id="availablecat">
                            <label for="" class="input-label">{{$Translate.Categoryy.Availablecategory}} *</label>
                            <a class="dropdown-toggle" class="field" type="button" id="triggerId"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{$Translate.Categoryy.Selectcategry}} </a>
                            <label id="cid-error" class="error" for="cid" style="display: none;">*
                                {{$Translate.Categoryy.Selcatvailderr}} </label>

                            <div class="dropdown-menu dropdown-value dropdown-values" aria-labelledby="triggerId">
                                <input type="hidden" name="subcategoryid" value="" id="cid">

                                <div class="ig-row ig-channel-input">
                                    <input type="text" id="searchcatlists" class="search" name="keyword"
                                        placeholder="{{$Translate.Spaces.Searchcategory}}">

                                </div>

                                <div class="catrgory-dropdownlist">
                                    {{range .FinalModalCategoriesList}}
                                    <button class="dropdown-item dropdown-value drp category-path-list" data-parentid="{{.ParentId}}" id="categoryclick"
                                        type="button" data-id="{{.Id}}" style="display: flex;gap: 5px;">
                                        {{range $value := .Parent}} <h3 class="para categorylistname"> {{$value}}</h3>
                                        <h3 class="para">&nbsp;/&nbsp;</h3> {{end}}
                                        <p class="forsearch" style="display: none;">{{range $value := .Parent}}
                                            ~{{$value}}{{end}}</p>
                                    </button>
                                    
                                    {{end}}
                                 
                                </div> 

                                <div class="noData-foundWrapper" style="margin-top: -40px;display: none;">

                                    <div class="empty-folder">
                                        <img style="max-width: 20px;" src="/public/img/nodatafilter.svg" alt="">
                                    </div>
                                    <h1 style="text-align: center;font-size: 10px;" class="heading">
                                        {{$Translate.Oopsnodata}}</h1>

                                </div>

                              
                            </div>

                        </div>
                    </div>



                </form>

            </div>

            <div class="button-col add-category-btm-row flexx">
                <button class="btn-reg btn-md primary  " type="button" id="save"> {{$Translate.Save}}
                </button>
                <button class="btn-reg btn-md primary  " type="button" id="update"
                    style="display: none;"> {{$Translate.Update}}
                </button>
                <button class="btn-reg btn-md secondary" id="cancel" data-bs-dismiss="modal"> {{$Translate.Cancel}}
                </button>
            </div>

        </div>
    </div>
</div>
</div>
{{template "mediamodal" .}}

{{template "mediadecidemodal" .}}

{{template "cropmodal" .}}

{{template "footer" .}}
<script src="/public/js/media/media.js"></script>

<script src="/public/js/categories/category.js"></script>

{{template "footerclose" .}}