{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$permission :=.permission}}
{{$dper :=.dpermission}}

<section class=" max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[48px] min-h-screen">

    <header
        class="header-rht max-md:ms-0  max-md:w-full  flex justify-end gap-[6px] h-[48px] border-b border-[#D9D9D9] p-[8px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0 z-[101]">
        <div class="mr-auto flex items-center gap-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap">{{.HeadTitle}}
                {{$Translate.Categoryy.Newgroup}}</h2>
        </div>

        <div
            class="{{if eq .Searchtrue true}} transitionSearch active w-[300px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] border border-[#ECECEC]   {{else}}transitionSearch active w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] {{end}}">
            <a href="javascript:void(0);"
                class="{{if eq .Searchtrue true}} pointer-events-none {{end}} srchBtn-togg group grid h-full w-[32px]  place-items-center absolute left-0 top-0  hover:bg-[#F0FFFB]">
                <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden ">
                <img src="/public/img/search-icon-active.svg" alt="search" class="hidden group-hover:block hovericon ">
            </a>
            <form action="/categories/" method="get" class="filterform " autocomplete="off">
                <input type="text" placeholder="{{$Translate.Csearch}}" name="keyword" id="" value="{{.Filter.Keyword}}"
                    class="search shadow-none top-0 text-[12px] font-light leading-[15px] flex-grow border-0 outline-none w-0  absolute right-0 w-[calc(100%-36px)] h-full block  {{if eq .Searchtrue true}} p-[0_24px_0_0] {{else}} p-0 {{end}}">
                {{if eq .Searchtrue true}}
                <div class=" absolute right-[6px] top-[9px] cursor-pointer searchClosebtn  ">
                    <img src="/public/img/close.svg" alt="close">
                </div>
                {{else}}
                <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden  Closebtn ">
                    <img src="/public/img/close.svg" alt="close">
                </div>
                {{end}}

            </form>
        </div>



        {{$MENU := .Menu}}

        {{range $MENU.TblModule}}
        {{if eq .ModuleName "Categories"}}
        {{range .SubModule}}
        {{if eq .ModuleName "Categories Group"}}
        {{range .Routes}}
        {{if eq .DisplayName "Create"}}
        <a href="#categoryGrp" data-bs-toggle="modal" id="add-btn"
            class="text-[14px] max-sm:w-[32px] max-sm:min-w-[32px] max-sm:p-[7px] font-normal leading-tight text-center py-[7px] px-[16px] h-[32px] rounded-[4px] grid place-items-center tracking-[0.7px] w-fit whitespace-nowrap text-white bg-[#10A37F] hover:bg-[#148569]">
            <span class="hidden max-sm:block text-lg leading-none ">+</span> <span class="max-sm:hidden">
                {{$Translate.Create}} {{$Translate.Categoryy.Newgroup}}
            </span></a>
        {{end}}
        {{end}}
        {{end}}
        {{end}}
        {{end}}
        {{end}}
    </header>

    <!--body-->
    <div>
        <!--avaliable-->
        <div class="px-[16px] py-[8px] border-b border-[#EDEDED] flex justify-between items-center">
            <p class="text-[#717171] text-xs font-normal mb-0"><span class="text-bold-black">{{.Count}}
                </span>
                {{if gt .Count 1}}
                {{.HeadTitle}}
                {{else}}
                {{$Translate.Channell.Category}}
                {{end}}
                {{$Translate.Available}}
            </p>

        </div>
        <!--table-->
        <div class="overflow-x-auto w-full scrollbar-thin mb-[50px]">
            <table class="w-full min-w-[768px] ">
                <thead>
                    <tr>
                        <th class="px-[16px] py-[12px] pr-0 w-[30px] border-b border-[#EDEDED]">
                            <div class="chk-group-label flex justify-center">
                                <input type="checkbox" id="Check" class="hidden peer">
                                <label for="Check"
                                    class="{{if eq $dper false}} pointer-events-none opacity-50 {{else}}cursor-pointer{{end}} w-[14px] h-[14px] relative cursor-pointer flex gap-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                                        before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  "></label>
                            </div>
                        </th>
                        <th class="px-[16px] py-[12px] border-b border-[#EDEDED]">
                            <p class="text-[#222222] text-sm font-normal mb-0">{{$Translate.Categoryy.Categorygrp}}</p>
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Description}}
                        </th>
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                            {{$Translate.Categoryy.Lastupdatedon}}
                        </th>

                        {{range $MENU.TblModule}}
                        {{if eq .ModuleName "Categories"}}
                        {{range .SubModule}}
                        {{if eq .ModuleName "Categories"}}
                        {{range .Routes}}
                        {{if eq .DisplayName "View"}}
                        <th class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">

                        </th>

                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}

                        <th
                            class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                            {{$Translate.Actions}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {{if .categorylist}}
                    {{range .categorylist}}
                    <tr>

                        <td class="px-[16px] py-[12px] pr-0 border-b border-[#EDEDED] align-middle">
                            <div class="chk-group-label flex justify-center">
                                <input type="checkbox" id="Check{{.Id}}" class="selectcheckbox hidden peer"
                                    id="Check{{.Id}}" data-id="{{.Id}}">
                                <label for="Check{{.Id}}"
                                    class="{{if eq $dper false}} pointer-events-none opacity-50 {{else}}cursor-pointer{{end}} z-[100] before:z-[100] w-[14px] h-[14px] relative cursor-pointer flex gap-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                                        before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  "></label>
                            </div>
                        </td>

                        <td class="px-[16px] py-[12px] border-b border-[#EDEDED] align-middle">
                            <div class="flex gap-[8px] items-center justify-start">
                                <p class="text-[#262626] font-normal text-xs mb-0  ">
                                    {{.CategoryName}}
                                </p>
                            </div>
                        </td>
                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle w-[35%]">
                            {{.Description}}
                        </td>
                        <td class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle">
                            {{.DateString}}
                        </td>

                        {{$Id := .Id}}


                        {{range $MENU.TblModule}}
                        {{if eq .ModuleName "Categories"}}
                        {{range .SubModule}}
                        {{if eq .ModuleName "Categories"}}
                        {{range .Routes}}
                        {{if eq .DisplayName "View"}}

                        <td class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle">
                            <a href="/categories/addcategory/{{$Id}}"
                                class=" border-[1px] border-solid border-[#10A37F] flex items-center justify-center h-[32px] text-[13px] font-normal text-[#10A37F] leading-[17.5px] w-[108px] rounded-[4px] p-[7px_14px] hover:bg-[#10A37F] hover:text-[#ffffff]">
                                + {{$Translate.Categoryy.Category}}</a>
                        </td>
                        {{else}}
                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}
                        {{end}}

                        <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle text-center">
                            <div class="btn-group position-static">
                                <a href="javascript:void(0);"
                                    class="border-0 grid place-items-center items-center gap-[5px] w-[24px] h-[24px] rounded-[4px] group hover:bg-[#F5F5F5] focus:bg-[#F5F5F5] show"
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="/public/img/action-btn-active.svg" alt="dropdown"
                                        class="hidden group-hover:block">
                                    <img src="/public/img/action-btn.svg" alt="dropdown"
                                        class="block group-hover:hidden">
                                </a>
                                <div class="dropdown-menu dropdown-menu-start border-0 focus:bg-transparent shadow-[2px_3px_8px_1px_#00000026] min-w-[180px] py-[12px]"
                                    aria-labelledby="triggerId">

                                    {{$Id := .Id}}

                                    {{range $MENU.TblModule}}
                                    {{if eq .ModuleName "Categories"}}
                                    {{range .SubModule}}
                                    {{if eq .ModuleName "Categories Group"}}
                                    {{range .Routes}}
                                    {{if eq .DisplayName "Update"}}
                                    <a class="dropdown-item h-[40px] w-full grid grid-cols-[16px_1fr] gap-[12px] rounded-[3px] text-[12px] font-normal text-[#262626] items-center p-[12px_16px] leading-[12px] hover:bg-[#F5F5F5] cursor-pointer"
                                        data-id="{{$Id}}" id="edit" data-bs-toggle="modal"
                                        data-bs-target="#categoryGrp"><img
                                            src="/public/img/edit.svg" />{{$Translate.Edit}}</a>
                                    <!-- <div class="w-full h-px bg-gray-100 ma-y-2"></div> -->

                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{range $MENU.TblModule}}
                                    {{if eq .ModuleName "Categories"}}
                                    {{range .SubModule}}
                                    {{if eq .ModuleName "Categories Group"}}
                                    {{range .Routes}}
                                    {{if eq .DisplayName "Delete"}}
                                    <a class="dropdown-item h-[40px] w-full grid grid-cols-[16px_1fr] gap-[12px] rounded-[3px] text-[12px] font-normal text-[#262626] items-center p-[12px_16px] leading-[12px] hover:bg-[#F5F5F5] cursor-pointer "
                                        data-bs-target="#deleteModal" data-bs-toggle="modal" id="delete-btn"
                                        data-id="{{$Id}}"> <img src="/public/img/delete.svg">{{$Translate.Delete}}
                                    </a>
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                    {{end}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                    {{ else if eq .Searchtrue true}}
                    <tr>
                        <td colspan="8">

                            <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                                <div class="text-center w-fit mx-auto">
                                    <img src="/public/img/noFilter.svg" alt="noFilter">
                                </div>
                                <h2
                                    class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px] ">
                                    {{$Translate.Filtersearch}}</h2>
                                <p class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                    {{$Translate.Filterkeyword}} </p>

                            </div>
                        </td>
                    </tr>
                    {{else }}
                    <tr>
                        <td colspan="9">
                            <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                                <div class="text-center w-fit mx-auto">
                                    <img src="/public/img/noData.svg" alt="nodate">
                                </div>
                                <h2
                                    class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px] ">
                                    {{$Translate.Oopsnodata}}</h2>
                                <p class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                    {{$Translate.Pagesorry}}
                                    {{$Translate.Gobackhome}}</p>
                                <a href="javascript:void(0)" id="clickadd" data-bs-toggle="modal"
                                    data-bs-target="#categoryGrp"
                                    class="text-[#10A37F] text-center text-[14px] hover:underline leading-[17.5px] font-normal inline-block">
                                    {{$Translate.Clickadd}} >></a>
                            </div>

                        </td>
                    </tr>

                    {{end}}

                </tbody>


            </table>
        </div>
    </div>

    <input type="hidden" value="{{.Limit}}" id="limit">
    <input type="hidden" value="{{.Count}}" id="count">

    <!--pagination-->
    <div
        class="@container gap-[1rem] max-sm:w-full max-md:w-full flex justify-between  @[500px]:justify-center items-center p-[16px] fixed bottom-0 w-[calc(100%-232px)]  right-0 bg-[#ffffff] z-[997] ">
        <ul class="@[500px]:!ml-auto justify-center items-center gap-[8px] flex">
            {{if gt .Count .Limit}}

            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center w-[24px] h-[24px]  items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] gap-[4px] {{if eq .CurrentPage 1}}opacity-50  pointer-events-none {{end}}">
                    <img src="/public/img/pg-prev.svg" alt="previous">
                    <span class=" max-sm:hidden"> {{$Translate.Jobs.Back}}</span>
                </a>
            </li>
            {{if gt .CurrentPage 3}}
            {{$keyword := .filter.Keyword}}
            <li> <a href="?page=1{{if $keyword}}&keyword={{$keyword}}{{end}}" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    1 </a> </li>
            {{end}}
            {{if eq .CurrentPage 5}}
            <li> <a href="?page=2{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px] ">
                    2 </a> </li>
            {{end}}
            {{if gt .CurrentPage 5}}
            <li> <a href="javascript:void(0)" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    ...</a> </li>
            {{end}}
            {{if gt .CurrentPage 2}}
            <li> <a href="?page={{.Pagination.TwoBelow}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    {{.Pagination.TwoBelow}} </a> </li>
            {{end}}
            {{if gt .CurrentPage 1}}
            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    {{.Pagination.PreviousPage}} </a> </li>
            {{end}}

            <li> <a href=""
                    class=" {{if  .CurrentPage }} flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] text-[14px]   @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px] border-none text-[#FFFFFF] hover:text-[#FFFFFF] bg-[#10A37F] hover:bg-[#148569] font-bold {{end}}">
                    {{.CurrentPage}} </a> </li>

            {{if lt .CurrentPage .Pagination.TotalPages}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
     @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    {{.Pagination.NextPage}} </a> </li>
            {{end}}
            {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TwoAfter}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    {{.Pagination.TwoAfter}} </a> </li>
            {{end}}
            {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
            <li> <a href="javascript:void(0)" class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    ...</a> </li>
            {{end}}
            {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TotalPages}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222] 
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] gap-[4px]">
                    {{.Pagination.TotalPages}}</a> </li> {{end}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center w-[24px] h-[24px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] gap-[4px] {{if eq .CurrentPage .PageCount}}opacity-50  pointer-events-none {{end}}">
                    <span class=" max-sm:hidden"> {{$Translate.Next}} </span> <img src="/public/img\pg-nxt.svg"
                        alt="next">
                </a>
            </li>
            {{end}}
        </ul>
        <p class="@[500px]:!ml-auto text-[14px] font-normal text-[#222222] leading-[14px]">
            {{.Paginationstartcount}} – {{.Paginationendcount}} {{$Translate.Of}} {{.Count}}
        </p>
    </div>


    <!--Add Category-->
    <div class="modal right fade" id="categoryGrp" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/categories/newcategory" name="createcategory" method="POST" id="category_form">
            <input type="hidden" name="csrf" value="{{.csrf}}">
            <input type="hidden" name="category_id" id="category_id" value="">
            <input type="hidden" name="catpageno" id="catpageno" value="">
            <div class="modal-dialog modal-dialog-scrollable mx-auto" role="document">
                <div class="modal-content b-0 rounded-[4px]">
                    <div
                        class="px-6 py-1.5 border-b border-[#EDEDED] flex justify-between items-center max-sm:p-[6px_16px]">
                        <h5 class="mb-0 text-bold-black font-medium text-base" id="category-title">
                            {{$Translate.Categoryy.Addnewcategorygrp}}
                        </h5>
                        <div class="flex space-x-[12px]">
                            <a href="#" data-bs-dismiss="modal"
                                class="cancel-btn h-8 flex items-center justify-center p-[0_12px] text-sm font-normal text-bold-black  bg-[#FAFAFA] hover:bg-[#e0e0e0]  rounded-[4px] no-underline">{{$Translate.Cancel}}</a>
                            <button id="save"
                                class=" h-8 flex items-center justify-center p-[0_12px] text-sm font-normal text-white  bg-[#10A37F] hover:bg-[#148569] rounded-[4px] no-underline">{{$Translate.Save}}
                            </button>
                            <button id="update-btn" style="display: none;"
                                class="h-8 flex items-center justify-center p-[0_12px] text-sm font-normal text-white bg-[#10A37F]  hover:bg-[#148569]  rounded-[4px] no-underline">{{$Translate.Update}}
                            </button>
                        </div>
                    </div>
                    <div class="overflow-auto scrollbar-thin">
                        <div class="p-6 flex flex-col space-y-[16px] max-sm:p-[16px]">
                            <div class="flex flex-col space-y-[6px]">
                                <p class="text-bold-black text-sm font-normal mb-0">
                                    {{$Translate.Categoryy.Categorygrpname}}
                                    <span class="text-red-600">*</span>
                                </p>
                                <input type="text" name="category_name" id="category_name" maxlength="50"
                                    placeholder="{{$Translate.Categoryy.Entercategoryname}}"
                                    class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  (error label tailwind css)  rounded-[4px]  p-[8px] h-[34px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full border border-[#EDEDED]" />
                                <div id="error-messagename" class="text-red-500 text-xs mt-1"></div>
                            </div>
                            <div class="flex flex-col space-y-[6px]">
                                <p class="text-bold-black text-sm font-normal mb-0">
                                    {{$Translate.Categoryy.Categorygrpdescription}}
                                    <span class="text-red-600">*</span>
                                </p>
                                <textarea type="text" name="category_desc" id="category_desc" maxlength="250"
                                    placeholder="{{$Translate.Categoryy.Entercategorydescription}}"
                                    class="scrollbar-none [&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  (error label tailwind css)  rounded-[4px]  p-[8px] h-[120px] bg-[#F7F7F5] text-bold-black text-sm font-normal resize-none w-full border border-[#EDEDED]"></textarea>
                                <div id="error-messagedesc" class="text-red-500 text-xs mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{template "footer" .}}
    <script src="/public/js/categories/categorygroup.js"></script>    

    {{template "footerclose" .}}