{{template "template-header" .}}

<section
class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">

{{template "webpageheader" .}}

<div class="px-[16px] sm:px-[28px] 2xl:px-10 py-6 max-w-[1920px] mx-auto">
    <div class="flex md:space-x-[24px]  md:flex-row max-md:mb-[24px] flex-col-reverse justify-between items-start ">
        <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
            <div class="flex flex-col space-y-[24px] max-w-[500px]">
                <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[44px] mb-0">
                    Organize Content Your Way with Categories</h3>
                <p class="text-[#202224] text-xl font-light mb-2">Make your content easier to explore and discover with categories and sub-categories. Whether it’s eCommerce, blogs, news, or any channel, organize entries into meaningful sections like sports, crime, Women’s fashion, or current affairs, giving your audience exactly what they’re looking for.</p>
            </div>
        </div>
        <div>
            <img src="/public/img/category-banner.svg" />
        </div>
    </div>

    <div class="flex flex-col space-y-[24px]  mb-[80px] max-sm:mb-[24px]">
        <div class="rounded-[12px] overflow-hidden  shadow-[-2px_-2px_8px_0px_#00000014] ">
            <img src="/public/img/Category.jpg" alt="add categories screen shot" class="w-full">
        </div>
        <!-- <ul class="flex items-center gap-x-[24px] gap-y-[16px] justify-center flex-wrap">
            <li>
                <a href="javascript:void(0)"
                    class="whitespace-nowrap flex    border-[1px] w-fit transition-all border-[transparent] hover:border-[#ECECEC] bg-[#F6F5F4] rounded-[4px] p-[6px_12px] text-[#202224] text-base font-medium hover:bg-[white] leading-none">
                    Get
                    answers</a>
            </li>
            <li>
                <a href="javascript:void(0)"
                    class="whitespace-nowrap  flex  border-[1px] w-fit transition-all border-[transparent] hover:border-[#ECECEC] bg-[#F6F5F4] rounded-[4px] p-[6px_12px] text-[#202224] text-base font-medium hover:bg-[white] leading-none">
                    Get
                    answers</a>
            </li>
            <li>
                <a href="javascript:void(0)"
                    class=" whitespace-nowrap flex  border-[1px] w-fit transition-all border-[transparent] hover:border-[#ECECEC] bg-[#F6F5F4] rounded-[4px] p-[6px_12px] text-[#202224] text-base font-medium hover:bg-[white] leading-none">
                    Get
                    answers</a>
            </li>
            <li>
                <a href="javascript:void(0)"
                    class="whitespace-nowrap  flex  border-[1px] w-fit transition-all border-[transparent] hover:border-[#ECECEC] bg-[#F6F5F4] rounded-[4px] p-[6px_12px] text-[#202224] text-base font-medium hover:bg-[white] leading-none">
                    Get
                    answers</a>
            </li>
        </ul> -->

    </div>





    <div class="flex flex-col space-y-[24px] mb-[24px] sm:mb-10 xl:mb-20">
        <div class="w-full max-w-[748px]">
            <h3
                class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-normal lg:leading-[55px] mb-0 ">
                Effortless Categorization for Seamless Navigation
            </h3>
        </div>
        <div
            class="grid max-[1280px]:grid-cols-[repeat(auto-fit,minmax(250px,1fr))]  grid-cols-3  gap-x-[12px] gap-y-[24px]">

            <div
                class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0  relative group min-w-[256px] lg:min-w-auto">
                <div class="flex flex-col space-y-[8px]">
                    <div class="mb-[4px]">
                        <img src="/public/img/Tailored Categories.svg" alt="sample">
                    </div>
                    <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Tailored Categories</h3>
                    <p class="text-[#202224] text-base font-light leading-6">Define categories and sub-categories specific to your content. From “Sports” to “Technology” or “Fashion,” create a structure that works for your channel.</p>
                </div>
            </div>

            <div
                class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0  relative group min-w-[256px] lg:min-w-auto">
                <div class="flex flex-col space-y-[8px]">
                    <div class="mb-[4px]">
                        <img src="/public/img/Channel Integration.svg" alt="sample">
                    </div>
                    <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Channel Integration</h3>
                    <p class="text-[#202224] text-base font-light leading-6">While creating entries, choose categories that align perfectly with your channel, ensuring every piece of content is grouped for maximum relevance.</p>
                </div>
            </div>

            <div
                class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0  relative group min-w-[256px] lg:min-w-auto">
                <div class="flex flex-col space-y-[8px]">
                    <div class="mb-[4px]">
                        <img src="/public/img/Sub-Categories.svg" alt="sample">
                    </div>
                    <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Sub-Categories for Precision</h3>
                    <p class="text-[#202224] text-base font-light leading-6">Drill down into specific topics with sub-categories like “Football” under “Sports” or “Startups” under “Business,” creating a deeper level of organization.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-[24px] ">
            <div class="p-8 pb-0 bg-[#F8F8F8] flex flex-col space-y-[24px] rounded-lg max-sm:p-[16px]">
                <div class="flex flex-col space-y-[8px] ">
                    <div class="mb-[4px]">
                        <img src="/public/img/Smart Organization for Every Entry.svg" alt="sample">
                    </div>
                    <div class="flex flex-col space-y-[12px] items-start">
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px] mb-0 max-w-[495px]">
                            Smart Organization for Every Entry
                        </h3>
                        <p class="text-[#202224] font-light text-base m-0 max-w-[461px]">Simplify content browsing with intuitive categories and sub-categories that enhance the user experience.</p>
                    </div>
                </div>
                <div
                    class="w-full rounded-[12px_12px_0_0] overflow-hidden  shadow-[-2px_-2px_8px_0px_#00000014] ">
                    <img src="/public/img/categorygrouppage.png" alt="" class="w-full">
                </div>
            </div>
        </div>
    </div>





</div>


</section>
{{template "template-footer" .}}