{{template "template-header" .}}

<section class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen overflow-hidden">

    {{template "webpageheader" .}}

    <div class="px-[16px] sm:px-[28px] 2xl:px-10 py-6 max-w-[1920px] mx-auto">
        <div class="flex md:space-x-[24px]   md:flex-row flex-col-reverse justify-between items-start mb-6">
            <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                <div class="flex flex-col space-y-[24px] max-w-[500px]">
                    <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[44px] mb-0">
                        Create Your Way</h3>
                    <p class="text-[#202224] text-xl font-light mb-0">Use our Channels with standard features and have
                        the flexibility to add more, just the way you aspire. Perfect for content creation tailored to
                        your needs.</p>
                </div>
            </div>
            <div>
                <img src="/public/img/channel-banner.svg" />
            </div>
        </div>



        <div class="flex flex-col space-y-[24px] mb-[24px] ">
            <div>

                <ul class=" flex-nowrap border-0 flex space-x-[12px]  overflow-auto  [&::-webkit-scrollbar]:h-0">
                    <li class="nav-item list-none basis-full">
                        <a href="javascript:void(0)" 
                            class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0 h-full relative group  border  min-w-[256px] lg:min-w-auto">
                            <div class="flex flex-col space-y-[8px]">
                                <div class="mb-[4px]">
                                    <img src="/public/img/Pick Your Channel.svg" alt="sample">
                                </div>
                                <h3 class="text-[#202224] text-2xl font-medium">Pick Your Channel</h3>
                                <p class="text-[#202224] text-base font-light">Choose the type of site you
                                    want—eCommerce, blog, news, or anything else. Start with the basics, with features
                                    customized for each type.</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item list-none  basis-full" role="presentation">
                        <a href="javascript:void(0)"  
                            class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] relative group m-0 h-full  border  min-w-[256px] lg:min-w-auto">
                            <div class="flex flex-col space-y-[8px]">
                                <div class="mb-[4px]">
                                    <img src="/public/img/Tailore more features.svg" alt="sample">
                                </div>
                                <h3 class="text-[#202224] text-2xl font-medium">Tailore more features</h3>
                                <p class="text-[#202224] text-base font-light">Using our channels, you may start with
                                    the basics. For a news channel, begin with title, description, and image, and add
                                    additional custom fields like source, author, or publish date as needed.</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item list-none  basis-full" role="presentation">
                        <a href="javascript:void(0)"  
                            class="p-[16px] bg-[#F8F8F8] rounded-xl  block nav-link-tab text-[#202224] relative group m-0 h-full border  min-w-[256px] lg:min-w-auto">
                            <div class="flex flex-col space-y-[8px]">
                                <div class="mb-[4px]">
                                    <img src="/public/img/Change as You Grow.svg" alt="sample">
                                </div>
                                <h3 class="text-[#202224] text-2xl font-medium">Change as You Grow</h3>
                                <p class="text-[#202224] text-base font-light">As your content expands, you can easily
                                    add more custom fields to support your creation process. Keep your site fresh and
                                    just the way you want.</p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="tab-content relative">
                <!-- <div
                class="w-1/2 opacity-0 flex h-full items-center absolute left-0 hover:opacity-100 justify-start">
                <button class="w-2/5 sm:w-auto"><img src="/public/img/arrow-prev.svg" alt=""></button>
            </div>
            <div
                class="w-1/2 opacity-0 flex h-full items-center absolute right-0 hover:opacity-100 justify-end">
                <button class="w-2/5 sm:w-auto ">
                    <img src="/public/img/arrow-next.svg" alt="" class="ml-auto"></button>
            </div> -->
                <div class="tab-pane active w-full hidden shadow-low rounded-xl overflow-hidden" id="home"
                    role="tabpanel" aria-labelledby="home-tab">
                    <!-- <img src="/public/img/channellistpage.png" class=" w-full" /> -->
                    <video class="w-full" autoplay loop muted>
                        <source src="/public/video/Cms Channel video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="tab-pane  w-full hidden shadow-low rounded-xl overflow-hidden" id="home2" role="tabpanel"
                    aria-labelledby="home-tab2">
                    <img src="/public/img/Channel 2.jpg" class=" w-full" />
                </div>
                <div class="tab-pane  w-full hidden shadow-low rounded-xl overflow-hidden" id="home3" role="tabpanel"
                    aria-labelledby="home-tab3">
                    <img src="/public/img/Channel 1.jpg" class=" w-full" />
                </div>

            </div>
        </div>

        <div class="bg-[#F6F5F4] p-[32px] rounded-xl grid grid-cols-[auto_auto] gap-8 items-start justify-between
         mb-[80px] max-[992px]:grid-cols-1 max-sm:p-[16px] max-sm:mb-[24px] ">
            <div class="flex flex-col space-y-[8px] max-w-[344px] h-full
        ">
                <div class="mb-[4px]">
                    <img src="/public/img/Content Creation.svg" alt="sample">
                </div>
                <h3 class="text-[#202224] text-2xl font-medium">Effortless Content Creation </h3>
                <p class="text-[#202224] text-base font-light">Whether you’re building a news channel, eCommerce store,
                    or event listing, our default channels make content creation simple and adaptable. Start with
                    essential fields—like title, description, and date for events, or product name, price, and image for
                    eCommerce—then add more as needed.</p>
                <a href="/admin"
                    class="h-8 flex items-center justify-center px-[16px] rounded-[4px] bg-[#0FA27F] text-white text-base font-normal hover:bg-[#148569] w-fit ">Create Content</a>
            </div>

            <div class="m-[0_0_-32px_0] max-sm:m-[0_0_-16px_0] overflow-hidden rounded-[12px_12px_0_0] 
         shadow-[-2px_-2px_8px_0px_#00000014] ">
                <img src="/public/img/Channel 2.jpg" alt="banner" class="w-full">
            </div>
        </div>



        <div class="flex flex-col space-y-[32px] mb-[24px] sm:mb-10 xl:mb-20">
            <div class="w-full max-w-[664px]">
                <h3
                    class="text-[32px] lg:text-[44px] text-[#202224] font-semibold leading-normal lg:leading-[55px] mb-0 ">
                    Start with Basics <br>
                    Expand as you Need
                </h3>
            </div>
            <div
                class="grid max-[1280px]:grid-cols-[repeat(auto-fit,minmax(250px,1fr))]  grid-cols-3  gap-x-[12px] gap-y-[24px]">
                <div class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0 
                 relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/eCommerce.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">eCommerce Channel</h3>
                        <p class="text-[#202224] text-base font-light leading-6">Get started with ready-made fields like
                            product name, description, and price. Want more? Add custom options such as “Special Price,”
                            or ‘’Variants’’ or ‘’Product Specifications’’. Create a richer shopping experience. Plus,
                            it’s built to grow with you—add more features as your store expands.</p>
                    </div>
                </div>

                <div
                    class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0 relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/News.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">News Channel</h3>
                        <p class="text-[#202224] text-base font-light leading-6">Start with the essentials: title,
                            description, and image. Need more details? Easily add fields like “Source,” “Author,” or
                            “Publish Date” to give full context to each story. Designed to be flexible, so you can
                            continue to add more features over time.</p>
                    </div>
                </div>


                <div
                    class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0  relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/Events.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Event Listings</h3>
                        <p class="text-[#202224] text-base font-light leading-6">The basics—event title, description,
                            and date—are ready to go. Add extra fields like “Speakers,” “Location,” and “Registration
                            Link” to create an engaging event page. Scalable for adding more as your event portfolio
                            grows.</p>
                    </div>
                </div>

                <div
                    class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0 relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/Classifieds Yellow Pages.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Classifieds/Yellow Pages</h3>
                        <p class="text-[#202224] text-base font-light leading-6">Set up with core fields like listing
                            title, description, and contact information. Enhance listings with “Category,” “Location,”
                            or “Price Range” for better searchability. Ready for you to scale and add new features as
                            needed.</p>
                    </div>
                </div>

                <div
                    class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0 relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/blog.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Blog Channel</h3>
                        <p class="text-[#202224] text-base font-light leading-6">Begin with a straightforward setup:
                            blog title, content, and featured image. Add fields like “Tags,” “Author Bio,” or “Related
                            Posts” to enrich each article. Flexible enough to support additional customizations as your
                            content grows.</p>
                    </div>
                </div>

                <div
                    class="p-[16px] bg-[#F8F8F8] rounded-xl block nav-link-tab text-[#202224] m-0  relative group min-w-[256px] lg:min-w-auto">
                    <div class="flex flex-col space-y-[8px]">
                        <div class="mb-[4px]">
                            <img src="/public/img/Jobs.svg" alt="sample">
                        </div>
                        <h3 class="text-[#202224] text-2xl font-medium leading-[30px]">Job Board</h3>
                        <p class="text-[#202224] text-base font-light leading-6">Default fields like job title,
                            description, and company name are pre-set. Customize further with fields for “Location,”
                            “Salary Range,” or “Application Deadline” to attract ideal candidates. Built to expand as
                            your hiring needs evolve.</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-[24px] ">
                <div class="p-8 pb-0 bg-[#F8F8F8] flex flex-col space-y-[24px] rounded-lg max-sm:p-[16px]">
                    <div class="flex flex-col space-y-[8px] ">
                        <div class="mb-[4px]">
                            <img src="/public/img/Your Content Your Way.svg" alt="sample">
                        </div>
                        <div class="flex flex-col space-y-[12px] items-start">
                            <h3 class="text-[#202224] text-2xl font-medium leading-[30px] mb-0 max-w-[495px]">
                                Your Content, Your Way
                            </h3>
                            <p class="text-[#202224] font-light text-base max-w-[461px]">Flexible for Today, Ready
                                for Tomorrow – Start with the essentials, customize as you go, and scale effortlessly
                                for the future.</p>
                        </div>
                    </div>
                    <div class="w-full rounded-[12px_12px_0_0] overflow-hidden  shadow-[-2px_-2px_8px_0px_#00000014] ">
                        <img src="/public/img/Channel 1.jpg" alt="" class="w-full">
                    </div>
                </div>
            </div>
        </div>





    </div>


</section>
{{template "template-footer" .}}