{{template "template-header" .}}

<section class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">

    {{template "webpageheader" .}}

    <div class="px-[16px] sm:px-[28px] 2xl:px-10 py-6 ">

        <div class="mb-6  sm:mb-10 2xl:mb-20">
            <div class="flex md:space-x-[24px]  md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] xl:mb-[56px]">
                <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                    <div class="flex flex-col space-y-[16px] max-w-[664px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Bring Your Content to Life</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">Craft your content effortlessly with our built-in HTML editor. Add text, format it beautifully with headings and sub-headings and enrich your entries by uploading audio, video, and images—all in one place. </p>
                    </div>
                    <a href="/admin" class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">Start Creating Now </a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg">
                </div>
            </div>
            <div class="w-full shadow-low rounded-lg">
               
                <video class="w-full" autoplay loop muted>
                     <source src="/public/video/Cms Entries video.mp4" type="video/mp4">
                 </video>
         </div>
           
        </div>
        <div class="sm:mb-10 2xl:mb-20">
            <div class="flex md:space-x-[24px]  md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] xl:mb-[56px]">
                <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                    <div class="flex flex-col space-y-[16px] max-w-[664px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Craft, Save, and Perfect Your Content</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">Creating content has never been easier. Start with your ideas, shape them into drafts, and refine at your own pace. Whether you’re writing an article, designing a page, or adding multimedia elements, you can save your work as a draft and return to it anytime. With flexible tools and seamless editing, you’re always in control of how your content evolves—making every entry polished and ready to impress.
                        </p>
                    </div>
                    <a href="/admin" class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">Create Content Now</a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg">
                  
                </div>
            </div>
            <!-- content -->
            <div class="p-8 bg-[#F8F8F8] rounded-lg h-[500px] md:h-[770px]">
                <div class="p-[24px] px-[64px] max-lg:mr-[0] max-md:py-[32px] rounded-lg h-full max-md:px-[16px] bg-white flex-grow mr-0 transition-all group-hover/item:bg-transparent duration-300 ease-in-out editor-bdy @container" id="centerSection">
                    <div class="relative mb-[22px] group cls-hvr-dp ">


                        <p class="border-none outline-none w-full block p-0 text-[18px] font-normal leading-[22px] text-[#DAD5D2]">
                            Add your Title
                        </p>

                        <div class="max-md:bottom-full max-md:top-auto  max-md:right-auto max-md:h-fit flex  space-x-[3px] absolute right-full pr-[5px] top-[0]  z-[1] h-full">
                            <div class="relative cursor-pointer ">
                                <a href="javascript:void(0)" class=" w-6 h-6 grid  place-items-center rounded-[2px] hover:bg-[#EFEFEF]">
                                    <img src="/public/img/edtr-add.svg" class="plussim" alt="add">
                                </a>
                                <div class="border-none p-[12px_0_0_0] absolute animate-dropanime elemt-pt editorsec">
                                    <div class="max-md:w-[300px] p-[4px_8px] shadow-[0px_0px_10px_0px_#00000026] bg-[#ffffff] rounded-[6px] w-[360px]  leading-[1]">
                                        <ul class="element-list">
                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[8px] flex items-center space-x-[12px]  rounded-[4px] hover:bg-[#F5F9FF]">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/txt-img.svg" alt="heading one" class="w-[16px] h-[16px]">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Text</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Just start writing with plain text.</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>

                                        <h2 class="text-[12px] font-medium leading-[14.06px] m-[8px]">Headings
                                        </h2>
                                        <ul class="element-list">
                                            <li class="relative group/item">

                                                <a href="javascript:void(0)" class="relative group/item p-[8px] flex items-center space-x-[12px]  rounded-[4px]  hover:bg-[#F5F9FF] ">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/h1-img.svg" alt="heading one">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Headings 1</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Used for a top-level heading</p>
                                                    </div>
                                                    <div class="bg-black p-[6px] rounded absolute w-40 @[500px]:left-full right-0 top-[-28px]  group-hover/item:block hidden ml-[14px] z-50">
                                                        <div class="bg-white h-[66px] flex justify-center items-center text-[#424241] font-medium text-2xl rounded mb-[6px]">
                                                            How?</div>
                                                        <p class="text-white text-sm font-normal mb-0">Big
                                                            section
                                                            heading.</p>
                                                    </div>
                                                </a>

                                            </li>

                                            <li class="relative group/item">

                                                <a href="javascript:void(0)" class="relative group/item p-[8px] flex items-center space-x-[12px]   rounded-[4px]  hover:bg-[#F5F9FF] ">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/h2-img.png" alt="heading two">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Headings 2</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Used for key sections</p>
                                                    </div>
                                                    <div class="bg-black p-[6px] rounded absolute w-40 @[500px]:left-full right-0 top-[-28px]  group-hover/item:block hidden ml-[14px] z-50">
                                                        <div class="bg-white h-[66px] flex justify-center items-center text-[#424241] font-medium text-2xl rounded mb-[6px]">
                                                            How?</div>
                                                        <p class="text-white text-sm font-normal mb-0">Big
                                                            section
                                                            heading.</p>
                                                    </div>
                                                </a>

                                            </li>
                                            <li class="relative group/item">

                                                <a href="javascript:void(0)" class="relative group/item p-[8px] flex items-center space-x-[12px]   rounded-[4px]  hover:bg-[#F5F9FF] ">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/h3-img.png" alt="heading three">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Headings 3</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Used for subsections and group headings</p>
                                                    </div>
                                                    <div class="bg-black p-[6px] rounded absolute w-40 @[500px]:left-full right-0 top-[-28px]  group-hover/item:block hidden ml-[14px] z-50">
                                                        <div class="bg-white h-[66px] flex justify-center items-center text-[#424241] font-medium text-2xl rounded mb-[6px]">
                                                            How?</div>
                                                        <p class="text-white text-sm font-normal mb-0">Big
                                                            section
                                                            heading.</p>
                                                    </div>
                                                </a>

                                            </li>
                                        </ul>

                                        <!-- <h2 class="text-[12px] font-medium leading-[14.06px] m-[8px]">Basic
                                            Blocks</h2> -->
                                        <ul class="element-list">

                                            <li>
                                                <div class="pt-[4px] pb-[8px] pl-[8px] pr-[8px] ">
                                                    <!-- <img src="/public/editor-img/img/basicBlocks.svg" alt=""> -->
                                                    <input type="text" placeholder="Basic Blocks" class="border border-[#ECECEC] rounded-[3px] w-full h-[36px] py-[10px] px-[12px] pl-[44px] text-[12px] font-[300] leading-[15px] bg-[url('/public/editor-img/img/basicBlocks.svg')] bg-no-repeat bg-[16px_center]  outline-none">
                                                </div>
                                            </li>

                                          

                                        

                                        </ul>

                                        <h2 class="text-[12px] font-medium leading-[14.06px] m-[8px]">Media</h2>
                                        <ul class="element-list">
                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[8px] flex items-center space-x-[12px]   rounded-[4px]  hover:bg-[#F5F9FF]">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/edtr-img.svg" alt="heading one">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Image</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Insert an image</p>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[8px] flex items-center space-x-[12px]  rounded-[4px]  hover:bg-[#F5F9FF]">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/edtr-video.svg" alt="heading two">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Video</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Insert an video</p>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[8px] flex items-center space-x-[12px]  rounded-[4px]  hover:bg-[#F5F9FF]">
                                                    <div class="bg-[#EFEFEF] p-[8px] rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/edtr-audio.svg" alt="heading three">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[14px] font-medium leading-[16.41px] text-[#3F3F3F] mb-[4px]">
                                                            Audio</h3>
                                                        <p class="text-[11px] font-normal leading-[12px] text-[#5E5E5E]">
                                                            Insert an audio</p>
                                                    </div>
                                                </a>
                                            </li>

                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="relative">
                                <a href="javascript:void(0)" class="cursor-grab hvr-bg w-[24px] h-[24px] grid place-items-center rounded-[2px] hover:bg-[#EFEFEF]">
                                    <img src="/public/img/edtr-drag.svg" alt="drag">
                                </a>

                                <div class="border-none p-[12px_0_0_0] absolute animate-dropanime elemt-pt hidden duplicatept ">
                                    <div class="max-md:min-w-[112px] scrollbar-thin overflow-auto max-h-[70vh]  p-[4px] shadow-[0px_0px_10px_0px_#00000026] bg-[#ffffff] rounded-[6px] min-w-[112px] w-fit leading-[1]">
                                        <ul class="element-list">
                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[6px] flex items-center space-x-[12px]   rounded-[4px] hover:bg-[#F5F5F5]">
                                                    <div class=" rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/duplicate-drag.svg" alt="heading one" class="w-[12px] min-w-[12px] h-[12px]">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[13px] font-normal leading-[16.41px] text-[#3F3F3F] ">
                                                            Duplicate</h3>

                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0)" class="group/item p-[6px] flex items-center space-x-[12px]   rounded-[4px] hover:bg-[#F5F5F5] ">
                                                    <div class=" rounded-[3px] grid place-items-center transition-all group-hover/item:bg-transparent duration-300 ease-in-out">
                                                        <img src="/public/img/delete-drag.svg" alt="heading one" class="w-[12px] min-w-[12px] h-[12px]">
                                                    </div>
                                                    <div>
                                                        <h3 class="text-[13px] font-normal leading-[16.41px] text-[#3F3F3F]">
                                                            Delete</h3>

                                                    </div>
                                                </a>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="sm:mb-10 2xl:mb-20">
            <div class="flex md:space-x-[24px] md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] xl:mb-[56px]">
                <div class="flex flex-col space-y-[24px] items-start">
                    <div class="flex flex-col space-y-[16px] max-w-[664px] max-md:mt-[24px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Work at Your Pace</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">Start your entry, save it as a draft, and come back anytime to refine it before publishing. 
                        </p>
                    </div>
                    <a href="/admin" class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">Start Creating Now</a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg">
                </div>
            </div>
            <div class="w-full shadow-low rounded-lg">
                <img src="/public/img/Work at Your Pace.png" class="w-full rounded-md shadow-low">
            </div>
        </div>
        <div class="sm:mb-10 2xl:mb-20">
            <div class="flex md:space-x-[24px]   md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] xl:mb-[56px]">
                <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                    <div class="flex flex-col space-y-[16px] max-w-[664px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Design with Blocks</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">Create stunning layouts with ease. Want to showcase testimonials? Use existing blocks to add photos, testimonials, and names, aligning them perfectly side-by-side. Need something unique? Build your own block and style it. </p>
                    </div>
                    <a href="/admin" class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">Start Creating Now</a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg">
                </div>
            </div>
            <div class="w-full shadow-low rounded-lg">
                <img src="/public/img/Design with Blocks.png" class="w-full rounded-md shadow-low">
            </div>
        </div>
        <div class="sm:mb-10 2xl:mb-20">
            <div class="flex md:space-x-[24px]  md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] xl:mb-[56px]">
                <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                    <div class="flex flex-col space-y-[16px] max-w-[664px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Limitless Possibilities</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">Whether it’s a blog, a gallery, or a product highlight, combine text, images, and custom blocks to create entries that look beautiful and professional.</p>
                    </div>
                    <a href="/admin" class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">
                        Explore Now </a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg">
                </div>
            </div>
            <div class="w-full shadow-low rounded-lg">
                <img src="/public/img/entrieslistpage.png" class="w-full rounded-md shadow-low">
            </div>
        </div>
    </div>


</section>

{{template "template-footer" .}}