{{template "template-header" .}}
<section class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">
    {{template "webpageheader" .}}

    <div class="px-[16px] sm:px-[28px] xl:px-10 py-6">
        <div class="w-full">
            <div class="flex flex-col space-y-[32px] mb-[24px] sm:mb-10">
                <div class="flex flex-col space-y-[24px] items-center">
                    <h3 class="max-w-[522px] text-[#202224] text-[32px] lg:text-[44px] font-bold text-center">Redefine Content Delivery with GraphQL</h3>
                    <p class="max-w-[700px] text-[#202224] text-lg lg:text-xl font-light text-center">Experience unparalleled efficiency and control with GraphQL in spurtCMS. Fetch exactly the data you need, optimize your APIs, and build modern applications faster than ever.
                    </p>
                </div>
                <div class=" w-full">
                    <img src="/public/img/graph-ql.png" alt="" class="w-full shadow-low rounded-xl">
                </div>
            </div>
            <div class="flex flex-col space-y-[24px] md:space-y-[48px] items-start">
                <div class="max-w-[800px] mx-auto">
                    <h3 class="text-[#202224] text-2xl lg:text-4xl text-center m-0 font-medium">Empowering Developers to Build a
                        High-Quality CMS in Minutes, Not Days</h3>
                </div>
                <div class="flex flex-col space-y-[24px] items-start">
                    <div class="flex flex-col space-y-[24px] items-start max-w-[674px]">
                        <div class="flex flex-col space-y-[27px] items-start">
                            <h3 class="text-2xl lg:text-[36px] text-[#262626] m-0">GraphQL is a Game-Changer in spurtCMS</h3>
                            <div class="flex flex-col space-y-[16px] items-start">
                                <p class="text-[#717171] text-base font-normal ">spurtCMS integrates GraphQL to empower developers with precise and dynamic API queries. Unlike traditional REST APIs, GraphQL eliminates data inefficiencies by allowing you to request specific fields, all in a single query. </p>
                                <p class="text-[#717171] text-base font-normal ">Whether it’s to-do’s, a
                                    reminder, or your next big idea, Notion makes it easy to add and find later.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-[12px] items-start">
                            <h3 class="text-[#262626] text-2xl font-medium m-0">The Ultimate Tool for Building High-Performance Content Delivery Platforms</h3>
                            <p class="text-[#717171] text-base font-normal ">With GraphQL APIs, SpurtCMS empowers you to create high-performance eCommerce platforms, engaging blogs, and content-rich web or mobile applications. Its versatility ensures seamless scalability, making it the perfect choice for projects of any size or complexity.</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-3 gap-y-6">
                        <div class="bg-[#F6F5F4] p-6 rounded-xl">
                            <div class="flex flex-col space-y-[12px] items-start">
                                <div class="w-8 h-8 "><img src="/public/img/Precision.svg" alt=""></div>
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-2xl text-[#202224] m-0">Precision</h3>
                                    <p class="text-[#717171] font-normal text-base ">Fetch only the data you need, eliminating unnecessary payloads. GraphQL minimizes server load, boosts application performance, and optimizes resource usage for even the most demanding tasks.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bg-[#F6F5F4] p-6 rounded-xl">
                            <div class="flex flex-col space-y-[12px] items-start">
                                <div class="w-8 h-8 "><img src="/public/img/Efficiency.svg" alt=""></div>
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-2xl text-[#202224] m-0">Efficiency</h3>
                                    <p class="text-[#717171] font-normal text-base ">Combine multiple queries into a single API call, significantly speeding up response times. Whether for a small blog or a large-scale eCommerce platform, GraphQL in SpurtCMS handles growing complexities with ease.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bg-[#F6F5F4] p-6 rounded-xl">
                            <div class="flex flex-col space-y-[12px] items-start">
                                <div class="w-8 h-8"><img src="/public/img/Flexibility.svg" alt=""></div>
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-2xl text-[#202224] m-0">Flexibility</h3>
                                    <p class="text-[#717171] font-normal text-base ">Easily manage dynamic and nested queries for complex projects. GraphQL allows effortless access to related and nested content within a single query, simplifying structure management and streamlining content delivery.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{{template "template-footer"}}
