{{template "template-header" .}}

<section
class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">

{{template "webpageheader" .}}

<div class="px-[16px] sm:px-[28px] xl:px-10 py-6">
    <div class="w-full">
        <div class="max-w-[696px] mx-auto mb-6">
            <img src="/public/img/member-banner.svg" alt="" class="w-full">
        </div>
        <div class="flex flex-col gap-6 items-start mb-[24px] sm:mb-10 xl:mb-20">
            <div class="grid-cols-1 grid sm:grid-cols-2 gap-6 lg:gap-[92px] items-center">
                <h3 class="text-[#202224] text-[32px] lg:text-[44px] font-bold m-0">Personalized Member Dashboards </h3>
                <p class="text-[#202224] font-light text-sm lg:text-xl m-0">Each member gets their own tailored dashboard with relevant content, notifications, and updates. Customizable to prioritize key information, it keeps everything organized and easy to access.</p>
            </div>
            <div class="w-full">
                <img src="/public/img/member-img.png" class="shadow-low rounded-xl" />
            </div>
        </div>
        <div class="flex flex-col gap-6 items-start mb-[24px] sm:mb-10 xl:mb-20">
            <div class="max-w-[748px]">
                <h3 class="text-[#202224] text-[32px] lg:text-[44px] font-semibold m-0">Role-Based Content Access</h3>
            </div>
            <div
                class="bg-[#F6F5F4] p-8 pb-0 rounded-xl grid grid-cols-1 lg:grid-cols-2 justify-between gap-6 items-end">
                <div class="pb-[0] lg:pb-8 flex flex-col items-start gap-6 lg:gap-[90px]">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8"><img src="/public/img/Role-Based Content Access.svg" alt="sample"></div>
                        <div class="flex flex-col gap-2 items-start">
                            <!-- <h3 class="font-medium text-2xl text-[#202224] m-0">Create a Tailored Experience for Every Member</h3> -->
                            <p class="text-[#202224] font-light text-base m-0">Content visibility and interactions are securely managed based on member roles and permissions, ensuring only the right people access sensitive information.</p>
                        </div>
                    </div>
                    <a href="/admin" class="hover:bg-[#148569] bg-[#10A37F] rounded-[4px] text-white text-base font-normal h-8 w-auto px-[16px] mt-auto grid place-items-center">
                   Define Access
                    </a>
                    </div>
                <div>
                    <img src="/public/img/Member.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-6 items-start mb-[24px] sm:mb-10 xl:mb-20">
            <div class="max-w-[748px]">
                <h3 class="text-[#202224] text-[32px] lg:text-[44px] font-semibold m-0">Create a Tailored Experience for Every Member
                    </h3>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-3 gap-y-6">
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Role-Based Content Access.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Role-Based Content Access</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Members access content tailored to their roles and permissions, ensuring they see only what’s relevant and authorized for them.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Channel-Specific Relevance.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Channel-Specific Relevance</h3>
                            <p class="text-[#717171] font-normal text-base m-0">With content being organized into distinct channels, it allows members to easily navigate and explore areas of interest.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Visually Appealing Blocks.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Visually Appealing Blocks</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Dynamic blocks make content engaging with beautifully designed layouts, combining text, images, and media for an immersive experience.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Easy Navigation.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Easy Navigation</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Members enjoy smooth navigation through organized channels and content, ensuring they find what they’re looking for without hassle.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Personalized Dashboards.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Personalized Dashboards</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Members can access personalized dashboards showcasing updates, notifications, and relevant content, making their experience more efficient.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 "><img src="/public/img/Responsive and Interactive Design.svg" alt=""></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Responsive and Interactive Design</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Content looks stunning and works seamlessly on any device, ensuring members have a consistent and enjoyable experience everywhere.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 bg-[#D9D9D9]"></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Personalized Dashboards</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Members can access personalized dashboards showcasing updates, notifications, and relevant content, making their experience more efficient.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 bg-[#D9D9D9]"></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Default Channel</h3>
                            <p class="text-[#717171] font-normal text-base m-0">We have contractual
                                agreements
                                with our AI subprocessors that prohibit the use of customer data to train
                                their
                                models.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-[#F6F5F4] p-6 rounded-xl">
                    <div class="flex flex-col gap-3 items-start">
                        <div class="w-8 h-8 bg-[#D9D9D9]"></div>
                        <div class="flex flex-col gap-2 items-start">
                            <h3 class="font-medium text-2xl text-[#202224] m-0">Responsive and Interactive Design</h3>
                            <p class="text-[#717171] font-normal text-base m-0">Content looks stunning and works seamlessly on any device, ensuring members have a consistent and enjoyable experience everywhere.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


</section>
{{template "template-footer" .}}