{{template "template-header" .}}
<section class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">

    {{template "webpageheader" .}}

    <div class="px-[16px] sm:px-[28px] 2xl:px-10 py-6">
        <div class="sm:mb-10 2xl:mb-20">
            <div
                class="flex  md:space-x-[24px]   md:flex-row flex-col-reverse justify-between items-center mb-6 sm:mb-[32px] 2xl:mb-[96px]">
                <div class="flex flex-col space-y-[24px] items-start max-md:mt-[24px]">
                    <div class="flex flex-col space-y-[16px] max-w-[664px]">
                        <h3 class="text-[32px] lg:text-[44px] text-[#202224] font-bold leading-[55px] mb-0">
                            Designed to Impress, Built to Perform</h3>
                        <p class="text-[#202224] text-xl font-light mb-0">TailwindCSS powers our templates, offering
                            clean, modern designs that are fully customizable. Whether it’s for an eCommerce store, a
                            blog, or a knowledge base, these templates combine aesthetics and functionality to create
                            impactful user experiences.</p>
                    </div>
                    <a href="/admin"
                        class="bg-[#10A37F] hover:bg-[#148569] rounded-[3px] h-9 px-[16px] text-white font-medium text-base flex justify-center items-center">Explore
                        with Templates</a>
                </div>
                <div>
                    <img src="/public/img/banner-2.svg" />
                </div>
            </div>
            <!-- <div class="bg-[#F8F8F8] p-[24px] pb-5px 2xl:p-10  rounded-lg mb-[19px]">
                        <div
                            class="flex sm:flex-row flex-col items-start sm:items-center justify-between space-y-[16px] md:space-x-[32px] 2xl:space-y-[136px] mb-6">
                            <div class="flex flex-col space-y-[10px]">
                                <h3 class="text-2xl text-[#202224] font-medium mb-0">Where Creativity Meets Functionality</h3>
                                <p class="text-[#202224] text-lg font-light mb-0">From visually appealing blogs to dynamic eCommerce layouts, our TailwindCSS templates provide the perfect starting point. Every design is crafted to adapt to your content needs, making it easy to launch your site with style.</p>
                            </div>
                            <div class="flex space-x-[12px] items-center sm:w-[auto] w-full">
                                <button
                                    class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full sm:w-[119px] rounded-[5px]">
                                    <img src="/public/img/git.svg" />
                                    <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                    <a href="https://github.com/spurtcms/lms-themes" target="_blank" class="mx-auto">Github</a>
                                </button>
                                <button
                                    class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full sm:w-[119px] rounded-[5px]">
                                    <img src="/public/img/deploy.svg" />
                                    <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                    <p class="mx-auto">Deploy</p>
                                </button>
                            </div>
                        </div>
                     
                        <div>
                            <img src="/public/img/Blog1.jpg" />
                        </div>
                    </div> -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[20px] 2xl:gap-[30px] mb-[24px] ">
                <div class=" border border-[#EDEDED] rounded-lg flex flex-col justify-between">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px] grow">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px]  h-full">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start">
                                    <!-- <img src="/public/img/blogs.svg" /> -->
                                    <!-- <h3 class="text-[#202224] font-medium text-xl">Blog Template                                         </h3> -->
                                    <h3
                                        class=" font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Contentflow
                                    </h3>
                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=media/blogstarter.png"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://nextjs-starter-theme.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/nextjs-blog4-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <p class="mx-auto">Deploy</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/base.svg" /> -->
                                    <h3
                                        class=" font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Writer`s hub theme
                                    </h3>
                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=media/blog1.png"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://nextjs-blog-theme-liart.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/Content-flow" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <p class="mx-auto">Deploy</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->
                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Storyze</h3>
                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=media/blog2.png"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://storyze-nextjs-theme.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/nextjs-blog2-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->
                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Content chronicle</h3>
                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=media/blog4.png"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="javascript:void;" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/Content-chronicle" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        InsightSphere</h3>

                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=/media/V1-blog1.jpg"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="javascript:void;" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/v1-blog1-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        ContentVerse</h3>

                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=/media/V2-blog2.jpg"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://content-verse-five.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/ContentVerse" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Docuno</h3>

                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=media/knowledgeBase.png"
                                    class="shadow-xs w-full h-[170px] " />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://knowledge-base-lyart-one.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/Docuno-nextjs-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Support Sphere</h3>

                                </div>

                            </div>
                            <div class="group grow grid place-items-center">
                                <img src="/image-resize?name=/media/KnowledgeBase.jpg"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="https://support-sphere-gilt.vercel.app/" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/Support-Sphere" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto]">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        Newsprism</h3>

                                </div>

                            </div>
                            <div class="group grow grid place-items-center">

                                <img src="/image-resize?name=media/CoverimageNewsTemplate.jpg"
                                    class="shadow-xs w-full h-[170px]" />
                                    <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="javascript:void;" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/Newsprism-nextjs-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" border border-[#EDEDED] rounded-lg gird grid-rows-[1fr_auto] group">
                    <div class="p-8 border-b border-[#EDEDED] pb-[16px]">
                        <div class="flex flex-col space-y-[24px] xl:!space-y-[32px] justify-between">
                            <div>
                                <div class="flex flex-col space-y-[16px]  items-start ">
                                    <!-- <img src="/public/img/ecommerce-1.svg" /> -->

                                    <h3
                                        class="font-black font-RecoletaBlack text-[#262626] text-2xl text-center leading-5">
                                        JobiFylo</h3>

                                </div>

                            </div>

                            <div class=" group grow grid place-items-center">

                                <img src="/image-resize?name=media/jobs.png"
                                    class="shadow-xs w-full h-[170px]" />
                                <div
                                    class="absolute flex justify-center items-center opacity-[0] group-hover:opacity-100 ">


                                    <a href="javascript:void;" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                                        class="flex justify-center items-center space-x-2 bg-[#10A37FB2] hover:bg-[#10A37F] px-6 rounded-[40px] w-auto h-[42px] font-normal text-[#FFFFFF] text-sm">
                                        <img src="/public/img/eye-white.svg" alt="...">
                                        <span>Preview</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-[24px] xl:px-[32px] py-[16px]">
                        <div class="flex space-x-[12px] items-center  w-full">
                            <button
                                class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full  rounded-[5px]">
                                <img src="/public/img/git.svg" />
                                <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                <a href="https://github.com/spurtcms/JobiFylo-nextjs-theme" target="_blank"
                                    class="mx-auto">Github</a>
                            </button>
                            <button
                                class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full  rounded-[5px]">
                                <img src="/public/img/deploy.svg" />
                                <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                <a href="javascript:void;" class="mx-auto">Deploy</a>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- <div> <h3 class="text-[32px] lg:text-[44px] font-bold leading-[55px] mb-[32px] max-w-[664px]">Effortlessly Beautiful, Uniquely Yours</h3>
                    <div class="bg-[#F8F8F8]  rounded-lg mb-[19px]">
                        <div
                            class="flex sm:flex-row flex-col items-start px-[24px] pt-[24px] 2xl:pt-10 pb-5px 2xl:px-10 sm:items-center justify-between space-y-[16px] md:space-x-[32px] 2xl:space-x-[136px] mb-6">
                            <div class="flex flex-col space-y-[10px]">
                                <h3 class="text-[32px] space-x-[16px] text-[#202224] font-bold mb-0 flex items-center"><img
                                        src="/public/img/learning.svg" alt=""> <span> Learning </span> </h3>
                                <p class="text-[#202224] text-lg font-light mb-0">With TailwindCSS templates, every detail is in your control. Create sleek, responsive designs for knowledge bases, event pages, or online stores that leave a lasting impression on your audience.
                                </p>
                            </div>
                            <div class="flex space-x-[12px] items-center sm:w-[auto] w-full">
                                <button
                                    class="border border-[#D0D7DE] hover:bg-[#ededed] px-[12px] h-9 flex  items-center space-x-[12px] text-base text-[#1A1A1A] font-medium w-full sm:w-[119px] rounded-[5px]">
                                    <img src="/public/img/git.svg" />
                                    <div class="h-full min-w-px bg-[#D0D7DE]"></div>
                                    <p class="mx-auto">Github</p>
                                </button>
                                <button
                                    class="bg-[#1A1A1A] px-[12px] h-9 flex hover:bg-[#3f3a3a] items-center  space-x-[12px] text-base text-white font-medium w-full sm:w-[119px] rounded-[5px]">
                                    <img src="/public/img/deploy.svg" />
                                    <div class="h-full min-w-px bg-[#FFFFFF24]"></div>
                                    <p class="mx-auto">Deploy</p>
                                </button>
                            </div>
                        </div>
                      
                        <div class="pl-[24px] 2xl:pl-10 pr-[5px] pb-5px">
                            <img src="/public/img/Blog2.jpg" />
                        </div>
                    </div>
              
                </div> -->
    </div>
</section>
{{template "template-footer" .}}