{{template "template-header" .}}

<section class=" max-md:ms-0  max-md:max-w-full  w-full  ml-auto pt-[48px] min-h-screen ">

    {{template "webpageheader" .}}

    <div class="px-[16px] sm:px-[28px] xl:px-10 py-6">
        <div class="w-full">
            <div class="flex flex-col space-y-[24px] items-center mb-[24px] sm:mb-10 xl:mb-20">
                <div class="max-w-[504px] mx-auto flex flex-col space-y-[24px] items-center">
                    <div>
                        <img src="/public/img/web-hook-banner.svg" alt="">
                    </div>
                   
                </div>
                <div class="flex flex-col space-y-[12px] ">
                    <h2 class="text-[#202224] text-[32px] lg:text-[44px] m-0 text-center font-medium ">Experience Seamless Workflow Magic with Webhooks in spurtCMS</h2>
                    <p class="text-[#202224] font-light text-xl text-center ">Simplify integrations and automate workflows with spurtCMS Webhooks. Deliver real-time updates and notifications across platforms seamlessly.</p>
                </div>
                <div class="w-full">
                    <img src="/public/img/webhookcreate.jpg" alt="" class="shadow-low rounded-xl">
                </div>
            </div>
            <div class="flex flex-col space-y-[24px] items-start mb-[24px] sm:mb-10 xl:mb-20">
                <div class="max-w-[748px]">
                    <h3 class="text-[#202224] text-[32px] lg:text-[44px] m-0 font-semibold">Smarter Workflows with Webhooks in spurtCMS</h3>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-3 gap-y-6">
                    <div class="bg-[#F6F5F4] p-6 pb-0 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-6 h-6 "><img src="/public/img/real time notification.svg" alt=""></div>
                            <div class="flex flex-col space-y-[24px]">
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-xl text-[#202224] m-0">Real-Time Notifications</h3>
                                    <p class="text-[#202224] font-light text-base ">Send instant alerts to your apps or teams whenever new content is created, updated, or deleted.</p>
                                </div>
                                <div class="w-full">
                                    <img src="/public/img/web-hook-banner-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#F6F5F4] p-6 pb-0 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-6 h-6 "><img src="/public/img/Seamless Integration.svg" alt=""></div>
                            <div class="flex flex-col space-y-[24px]">
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-xl text-[#202224] m-0">Seamless Integrations</h3>
                                    <p class="text-[#202224] font-light text-base ">Easily connect spurtCMS with external services like CRMs, messaging platforms, and deployment pipelines.</p>
                                </div>
                                <div class="w-full">
                                    <img src="/public/img/web-hook-banner-3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#F6F5F4] p-6 pb-0 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-6 h-6 "><img src="/public/img/workflow.svg" alt=""></div>
                            <div class="flex flex-col space-y-[24px]">
                                <div class="flex flex-col space-y-[8px] items-start">
                                    <h3 class="font-medium text-xl text-[#202224] m-0">Automated Workflows</h3>
                                    <p class="text-[#202224] font-light text-base ">Trigger workflows for email campaigns, Slack notifications, or website rebuilds with no manual intervention.</p>
                                </div>
                                <div class="w-full">
                                    <img src="/public/img/web-hook-banner-4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-[#F6F5F4] p-6 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-8 h-8 "><img src="/public/img/Application.svg" alt=""></div>
                            <div class="flex flex-col space-y-[8px] items-start">
                                <h3 class="font-medium text-2xl text-[#202224] m-0">Scalable for All Applications</h3>
                                <p class="text-[#717171] font-normal text-base ">Webhooks adapt to any project—whether it’s a blog, eCommerce platform, or large-scale content hub.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#F6F5F4] p-6 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-8 h-8 "><img src="/public/img/Simplified Configuration.svg" alt=""></div>
                            <div class="flex flex-col space-y-[8px] items-start">
                                <h3 class="font-medium text-2xl text-[#202224] m-0">Simplified Configuration</h3>
                                <p class="text-[#717171] font-normal text-base ">Set up webhooks in minutes with user-friendly settings for URLs, events, and headers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#F6F5F4] p-6 rounded-xl">
                        <div class="flex flex-col space-y-[12px] items-start">
                            <div class="w-8 h-8 "><img src="/public/img/Enhanced Collaboration.svg" alt=""></div>
                            <div class="flex flex-col space-y-[8px] items-start">
                                <h3 class="font-medium text-2xl text-[#202224] m-0">Enhanced Collaboration</h3>
                                <p class="text-[#717171] font-normal text-base ">Keep your team in sync with real-time updates and automated task assignments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-[24px]">
                <h3 class="text-[#202224] text-[32px] lg:text-[44px] m-0 font-semibold text-center">See Webhooks in Action.</h3>
                <p class="text-[#202224] font-light text-xl text-center">Configure, test, and automate your workflows effortlessly with spurtCMS Webhooks. Your productivity has never looked better.</p>
                <div class="w-full">
                    <img src="/public/img/webhooklist.jpg" alt="" class="shadow-low rounded-xl">
                </div>
            </div>
        </div>
    </div>


</section>

{{template "template-footer"}}