{{template "header" .}}
{{template "settingsmenu" .}}
{{template "head" .}}
{{$Translate := .translate}}

{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}
{{$IMAGEPATH := ""}}
{{$IMAGEPATHM :=""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}}
{{$THEMECOLOR = "bgclr1"}} {{$TEXTCOLOR = "txtclr1"}} {{$BORDERCOLOR = "brclr1"}} {{$IMAGEPATH = "/public/img/blogUpload-img-red.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-red.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}}
{{$THEMECOLOR = "bgclr2"}} {{$TEXTCOLOR = "txtclr2"}} {{$BORDERCOLOR = "brclr2"}} {{$IMAGEPATH = "/public/img/blogUpload-img-purple.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-purple.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}}
{{$THEMECOLOR = "bgclr3"}} {{$TEXTCOLOR = "txtclr3"}} {{$BORDERCOLOR = "brclr3"}} {{$IMAGEPATH = "/public/img/blogUpload-img-blue.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-blue.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}}
{{$THEMECOLOR = "bgclr4"}} {{$TEXTCOLOR = "txtclr4"}} {{$BORDERCOLOR = "brclr4"}} {{$IMAGEPATH = "/public/img/blogUpload-img.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}}
{{$THEMECOLOR = "bgclr5"}} {{$TEXTCOLOR = "txtclr5"}} {{$BORDERCOLOR = "brclr5"}} {{$IMAGEPATH = "/public/img/blogUpload-img-yellow.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-yellow.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}}
{{$THEMECOLOR = "bgclr6"}} {{$TEXTCOLOR = "txtclr6"}} {{$BORDERCOLOR = "brclr6"}} {{$IMAGEPATH = "/public/img/blogUpload-img-orange.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-orange.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}}
{{$THEMECOLOR = "bgclr7"}} {{$TEXTCOLOR = "txtclr7"}} {{$BORDERCOLOR = "brclr7"}} {{$IMAGEPATH = "/public/img/blogUpload-img-light-green.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-light-green.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}}
{{$THEMECOLOR = "bgclr8"}} {{$TEXTCOLOR = "txtclr8"}} {{$BORDERCOLOR = "brclr8"}} {{$IMAGEPATH = "/public/img/blogUpload-img-green.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-green.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$THEMECOLOR = "bgclr9"}} {{$TEXTCOLOR = "txtclr9"}} {{$BORDERCOLOR = "brclr9"}} {{$IMAGEPATH = "/public/img/blogUpload-img-black.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous-black.svg"}}
{{else}}
{{$THEMECOLOR = "bgclr-default"}} {{$TEXTCOLOR = "txtclr-default"}} {{$BORDERCOLOR = "brclr-default"}} {{$IMAGEPATH = "/public/img/blogUpload-img.svg"}} {{$IMAGEPATHM = "/public/img/channel-previous.svg"}}
{{end}}
<div class="page-wrapper settings-wrapper">
    <input type="hidden" value="1" id="stepnum">
    <div class="dataContainer">

        <nav>
            <div class="nav setting-data-tab">
                <button class="data-import-btn active heading-three" data-bs-toggle="tab" data-bs-target="#data-import"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Data Import</button>
                <button class="data-export-btn heading-three" data-bs-toggle="tab" data-bs-target="#data-export"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Data Export</button>

            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="data-import" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <!-- step1 -->
                <div id="step1">
                    <div class="channelIdentifier-container data-indentifier">
                        <div class="channelIdentifier active">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">1</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head1">Import File</a>
                        </div>

                        <div class="channelIdentifier">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">2</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head2">Fields Mapping</a>
                        </div>

                        <div class="channelIdentifier">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">3</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head3">Data Migration</a>
                        </div>
                    </div>
                    <div class="data-head-txt">
                        <h2 class="heading">Import File</h2>
                        <p class="para">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                            amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor </p>

                    </div>

                    <div class="data-input-container">
                        <form action="">

                            <div class="input-group">
                                <label for="">Label</label>
                                <button class="dropdown-toggle" id="select_channel" data-bs-toggle="dropdown"
                                    data-id="">
                                    Select
                                </button>
                                <div class="dropdown-menu channel-drop">
                                    {{if .channelslist}}
                                    {{range .channelslist}}
                                    <div class="data-drop-list">
                                        <h3 class="heading-three chn-drop" data-id="{{.Id}}">{{.ChannelName}}</h3>
                                        <p class="para-extralight">{{.EntriesCount}} Entries Available</p>
                                        <div class="avaliable-dropdown-itemRight">
                                            <input class="check-circle" type="radio" name="avaliableRadio" id="checkbox">
                                            <div class="check-image">
                                                <img src="/public/img/unchecked-circle.svg" alt="">
                                                <img src="/public/img/checked-circle.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    {{end}}
                                    {{end}}
                                </div>
                                <label id="channel-error" class="error" style="display: none;">* Please select your channel</label>
                            </div>

                            <div class="input-group">
                                <label for="">Label</label>
                                <div class="upload-file">
                                    <div class="upload-file-btn">

                                        <button class="btn-reg btn-outline "> <img src="{{$IMAGEPATH}}"
                                                alt="">Browse File To Upload
                                            <input type="file" id="fileInput"></button>
                                        <p class="para"> Upload your <span>XLSX </span> file here.</p>
                                    </div>
                                </div>
                                <label id="File-error" class="error" style="display: none;">* Please select your
                                    file</label>
                                <label id="File-ms-error" class="error" style="display: none;">* Please select
                                    a xlsx file</label>
                                <label id="File-em-error" class="error" style="display: none;">* Your file is
                                    empty</label>
                            </div>
                        </form>



                    </div>
                </div>
                <!-- step2 -->
                <div id="step2" style="display: none;">
                    <div class="channelIdentifier-container data-indentifier">
                        <div class="channelIdentifier prev">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">1</span>

                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head1">Import File</a>
                        </div>

                        <div class="channelIdentifier active">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">2</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head2">Fields Mapping</a>
                        </div>

                        <div class="channelIdentifier">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">3</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head3">Data Migration</a>
                        </div>
                    </div>
                    <div class="data-head-txt">
                        <h2 class="heading">Fields Mapping</h2>
                        <p class="para">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                            amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor </p>

                    </div>

                    <div class="data-head-txt flexx">
                        <h3 class="heading">Blog</h3>


                    </div>


                    <div class="fields-container">

                        <div class="fields-row">
                            <div class="fields-file">
                                <h3 class="heading-three">Fields in File</h3>

                            </div>
                            <div class="fields-blog">
                                <h3 class="heading-three">Fields in Blog</h3>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- step3 -->
                <div id="step3" style="display: none;">
                    <div class="channelIdentifier-container data-indentifier">
                        <div class="channelIdentifier prev">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">1</span>

                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head1">Import File</a>
                        </div>

                        <div class="channelIdentifier prev">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">2</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head2">Fields Mapping</a>
                        </div>

                        <div class="channelIdentifier active">
                            <div class="channelTdentifier-num">
                                <span class="heading-second">3</span>
                            </div>

                            <a href="javascript:void(0)" class="heading-three channelTdentifier-name"
                                id="stp-head3">Data Migration</a>
                        </div>
                    </div>
                    <div class="data-head-txt">
                        <h2 class="heading">Data Migration</h2>
                        <p class="para">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                            amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor </p>

                    </div>

                    <div class="data-migration-container">
                        <div class="migration-top">
                            <div class="migration-img">
                                <img src="/public/img/migration-status.svg" alt="">
                            </div>
                            <p class="para">The migration has been completed successfully!</p>
                            <button class="btn-reg btn-md primary"> Get Started </button>

                        </div>

                        <div class="migration-table">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Uploaded Date</th>
                                            <th>Total No.Data</th>
                                            <th>Mapped Fields</th>
                                            <th>Unmapped Fields</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-completed.svg" alt=""></div>
                                                    <h4>Completed</h4>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-completed.svg" alt=""></div>
                                                    <h4>Completed</h4>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-completed.svg" alt=""></div>
                                                    <h4>Completed</h4>

                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-completed.svg" alt=""></div>
                                                    <h4>Completed</h4>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-incompleted.svg" alt=""></div>
                                                    <h4>Incompleted</h4>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>

                                                Embracing Resilience Strategies for Thriving in an Ever

                                            </td>
                                            <td>03-12-2023</td>
                                            <td>10</td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div class="tbl-img-content flexx">
                                                    <div class="status-completed"><img
                                                            src="/public/img/status-incompleted.svg" alt=""></div>
                                                    <h4>Incompleted</h4>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="configurationContent-btm" id="next-hide">
                    <button class="btn-reg btn-lg secondary">Cancel</button>
                    <button class="btn-reg btn-lg primary" id="nextstep">Next</a>
                </div>

            </div>
            <div class="tab-pane fade  " id="data-export" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">


                <div class="data-head-txt">
                    <h2 class="heading">Export File</h2>
                    <p class="para">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                        amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor </p>

                </div>
                <!-- exportstep1 -->

                <div id="data-export1">
                    <div class="data-input-container">
                        <form action="">

                            <div class="input-group" id="dropdown-check">
                                <label for="" class="input-label">Channel</label>
                                <button class="dropdown-toggle field" id="channel-dropdown"  data-bs-toggle="dropdown">
                                    Select
                                </button>
    
                                <label id="channelid-error" class="error" for="channelid" style="display: none;" >*
                                    Please select one channel
                                </label>
    
    
                                <div class="dropdown-menu">
                                    <input type="hidden" value="" id="channelid" name="channelid">
    
                                    {{range .Channellist}}
                                    <div class="data-drop-list chl-dropdown" data-name="{{.ChannelName}}"  data-id="{{.Id}}">
                                        <h3 class="heading-three" data-bs-toggle="tooltip" data-bs-custom-class="lms-tooltip" data-bs-html="true" data-bs-placement="top" title="{{.ChannelName}}">{{.ChannelName}}</h3>
                                        <p class="para-extralight">{{$Translate.Total}}  {{if gt .EntriesCount 1}}{{$Translate.Entries}} :  {{.EntriesCount}}    {{else}} {{$Translate.Channell.Entry}} : {{.EntriesCount}} {{end}}</p>
                                        <div class="avaliable-dropdown-itemRight">
                                            <input class="check-circle" type="checkbox" name="avaliableRadio" id="{{.Id}}">
                                            <div class="check-image">
                                                <img src="/public/img/unchecked-circle.svg" alt="">
                                                <img src="/public/img/checked-circle.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    {{end}}                 
    
                                </div>
                            </div>


                        </form>

                    </div>
                    <div class="configurationContent-btm ">
                        <button class="btn-reg btn-lg secondary">Cancel</button>
                        <button class="btn-reg btn-lg primary" type="button" id="export">Next</button>
                    </div>
                </div>
                <!-- exportstep2 -->

                <div id="data-export2" style="display: none;">

                    <div class="data-head-txt flexx" >
                        <h2 class="heading leftHeader" id="chennalname"></h2>
                        <div class="dropdown export-drop" >


                            <button class="btn-reg btn-sm btn-outline" data-bs-toggle="dropdown" aria-expanded="true">
                                <img src="/public/img/filter.svg" alt=""> Filters </button>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu" id="search-dropdown"
                                data-popper-placement="bottom-end"
                                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                                <div class="input-div">
                                    <label for="" class="para-light">Entries Name</label>
                                    <input type="text" value="{{.filter.Title}}" id="title" name="Title" class="para-extralight" />
    
                                </div>
    
                                <div class="input-div">
                                    <label for="" class="para-light">Created By</label>
                                    <input type="text" value="{{.filter.Username}}" id="username" name="Username" class="para-extralight" />
                                </div>
            
                                <div class="input-div">
                                     <label for="" class="para-light">Status </label>
                                 
                                    <div class="input-group  user-drop-down">
                                       
                                        <input class="dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" value="Status"  style="font-size: x-small;">
                                           
                                          <input type="hidden" value="{{.filter.Status}}" id="statusid" name="Status" class="para-extralight" />
                                       
                                        <div class="dropdown-menu" style="height: 85px;" aria-labelledby="triggerId">
                                          
                                            <button type="button"  class="dropdown-item statuss">Draft </button>
                                            <button type="button"  class="dropdown-item statuss">Published </button>
                                            <button type="button"  class="dropdown-item statuss">Unpublished </button>
                                           
                                        </div>
            
            
                                    </div>
                                   
                                </div>

                                <div class="button-col">
                                    <button class="btn-reg btn-xs primary" id="applyfilter" type="button">Apply Filter</button>
                                    <button class="btn-reg btn-xs btn-outline" id="filtercancel">Cancel</button>
                                </div>
                            </div>
                        </div>

                        <div class="transitionSearch active">
                            <img src="/public/img/Magnifying-Glass.svg" alt="">
                            <input type="text" name="keyword" id="searchentryname" placeholder="Search Entries" value="{{.filter.Keyword}}" class="para search">
                        </div>


                    </div>

                    <div class="data-head-txt flexx">
                    <form action="/settings/data/export" method="get">
                        <input type="hidden" value="" name="exportidarr" id="exportidarr">
                    <button id="download" class="data-download heading-three">
                            <img src="/public/img/data-download.svg" alt="">
                            Download
                        </button> 
                    </form>
                    
                    </div>
                    <input type="hidden" name="csrf" value="{{.csrf}}">

                    <div class="export-container">

                        <div class="table-responsive">
                            <table class="table">

                                <thead>
                                    <tr>
                                        <th>
                                            <div class="check-id">
                                                <div class="chk-group">
                                                    <input type="checkbox" id="Check">
                                                    <label for="Check"></label>
                                                </div>
                                                <h3 class="heading-three">S.No</h3>
                                            </div>
                                        </th>
                                        <th>Title</th>
                                        <th>Created Date/Time</th>
                                        <th>Created By</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="entries-list">



                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="pogination flexx pagenation-padding sticky-pagination export-pg">
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

{{template "footer" .}}
<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script src="/public/js/settings/data/data.js"></script>
<script src="/public/js/settings/data/export.js"></script>

{{template "footerclose" .}}