{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}

<section class="  max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[48px] min-h-screen">

    <header class="header-rht max-md:ms-0  max-md:w-full  flex justify-end space-x-[6px] h-[48px] border-b border-[#D9D9D9] p-[8px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0">
        <div class="mr-auto flex items-center space-x-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap">{{$Translate.Setting.Email}}</h2>

        </div>


        <div class="flex space-x-3">
            <a href="/settings/emails/" class="h-8 flex items-center justify-center px-3 text-sm font-normal text-bold-black bg-slate-250 rounded-[4px] no-underline" id="emailback">{{$Translate.Cancel}}</a>
            <a href="javascript:void(0);"  class="h-8 flex items-center justify-center px-3 text-sm font-normal text-white  hover:bg-[#148569] bg-[#10A37F] rounded-[4px] no-underline" id="addemailconfig">{{$Translate.Save}}</a>
        </div>
    </header>

    <div class="grid grid-cols-[236px_1fr] max-sm:h-fit h-full max-sm:grid-cols-1 max-xl:grid-cols-[180px_1fr]">
        <!--accordion-->

        {{template "settingsmenu" .}}
        <!--accordion-->



        <div class="block overflow-hidden @container pb-[120px] setConatiner ">


            <div class="block overflow-auto">
                <ul class="flex items-center border-b border-[#EDEDED] px-[16px]">
                    <li><a href="/settings/emails/" class="text-[14px] font-normal leading-[17.5px] tracking-[0.01em] py-[11px] px-[12px] grid place-items-center relative text-[#717171] hover:text-[#262626]">{{$Translate.Setting.Emailtemplates}} </a></li>
                    <li><a href="/settings/emails/emailconfig/" class="text-[14px] font-normal leading-[17.5px] tracking-[0.01em] py-[11px] px-[12px] grid place-items-center relative text-[#262626] hover:text-[#262626] after:inline-block after:w-full after:h-[2px] after:bg-[#262626] after:rounded-t-[18px] after:absolute after:bottom-0 after:left-0 ">{{$Translate.Setting.Emailconfig}}</a></li>
                </ul>
            </div>

            <div class="p-[24px_16px] max-w-[1920px] mx-auto  max-lg:p-[16px]">
                <div class=" grid-cols-1 grid configContainer @[500px]:grid-cols-[1fr_1.2fr] lg:gap-x-[80px] justify-between gap-[24px]   ">

                    <div class="block">
                        <h2 class=" text-[16px] font-[400] leading-[20px] text-[#262626] mb-[6px] ">{{$Translate.Setting.Emailconfig}}</h2>
                        <p class="text-[12px] font-[400] leading-[15px] text-[#717171]">{{$Translate.Setting.Emailconfcontent}} </p>
                    </div>

                    <div class="flex items-center space-x-[32px] flex-wrap max-md:space-x-[16px]">
                        <input type="radio" name="radio" id="radiosmtp" name="smtpradio" {{if eq .Maildetails.SelectedType "smtp" }} checked {{end}} value="{{.Maildetails.SelectedType}}"  class="hidden peer/local">
                        <input type="radio" name="radio" id="radioenv" name="envradio" {{if eq .Maildetails.SelectedType "environment" }} checked {{end}} value="{{.Malidetails.SelectedType}}"  class="hidden peer/amazon">

                        <label for="radiosmtp" id="smtpmail" class="relative cursor-pointer flex space-x-[8px] items-center mb-0 text-sm font-normal text-[#152027] peer-checked/member:text-[#262626] tracking-[0.005em] before:bg-transparent before:w-[16px] before:h-[16px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/radio-unchecked.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked/local:before:bg-[url('/public/img/radio-checked.svg')] before:mr-[8px]">
                            <div class="mediasetting-img-dv">
                                <img src="/public/img/smtp.svg" alt="smtp">
                            </div>
                           {{$Translate.Setting.Smtp}}
                        </label>

                        <label for="radioenv" id="environmentmail" class="relative cursor-pointer flex space-x-[8px] items-center mb-0 text-sm font-normal text-[#152027] peer-checked/member:text-[#262626] tracking-[0.005em] before:bg-transparent before:w-[16px] before:h-[16px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/radio-unchecked.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked/amazon:before:bg-[url('/public/img/radio-checked.svg')] before:mr-[8px]">
                            <div class="mediasetting-img-dv">
                                <img src="/public/img/env.svg" alt="env">
                            </div>
                             {{$Translate.Setting.Environment}}
                        </label>

                    </div>



                </div>
                <div class="border-b border-[#EDEDED] my-[24px] col-span-full ">

                </div>

                <div id="emailconfigdiv"  class="grid-cols-1 grid @[500px]:grid-cols-[1fr_1.2fr] configContainer lg:gap-x-[80px] justify-between gap-[24px]" {{if eq .Maildetails.SelectedType "environment" }} style="display: none;" {{end}} >
                    <div class="flex items-start space-x-[12px]">
                        <div class="provider-logo">
                            <img src="/public/img/smtp.svg" alt="smtp" class="w-[32px] min-w-[32px]">
                        </div>
                        <div>
                            <h4 class="text-[14px] font-[400] leading-[17.5px] text-[#152027] mb-[6px]">{{$Translate.Setting.Smtp}}
                            </h4>
                            <p class="text-[12px] font-[300] leading-[15px] text-[#525252] text-left">{{$Translate.Setting.Smtpcontent}}</p>
                        </div>
                    </div>

                    <form method="post" id="emailconfigform" action="/settings/emails/update" name="configemailform">
                        <input type="hidden" name="csrf" value="{{.csrf}}">
                        <input type="hidden" value="{{.Maildetails.Id}}" name="id" id="emailid">
                        <input type="hidden" name="seltype" id="emailseltype" value="{{.Maildetails.SelectedType}}">
                      <div class="block">
                        <div class="mb-[16px]">
                            <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Setting.Senderemail}} *</label>
                            <input type="text" value="{{.Email.Mail}}" name="email" id="emailaddress" placeholder="{{$Translate.Setting.Smtpplcholder}}" class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                        </div>
                        <div class="mb-[16px]">
                            <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Setting.Emailpass}}*</label>
                            <input type="text" value="{{.Email.Password}}" name="password" id="mailpassword" placeholder="{{$Translate.Setting.Smtpemailplcholder}}" class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                        </div>
                        <div class="mb-[16px]">
                            <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Setting.Smtphost}}*</label>
                            <input type="text" value="{{.Email.Host}}" name="host" id="mailhost" placeholder="{{$Translate.Setting.Smtphostplcholder}}" class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                        </div>
                        <div class="block">
                            <label class="text-[14px] font-[400] leading-[17.5px] text-[#262626] mb-[6px]">{{$Translate.Setting.Smtpport}}*</label>
                            <input type="number" placeholder="{{$Translate.Setting.Smtpportplcholder}}" value="{{.Email.Port}}" name="port" id="mailport" class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs bg-[#F7F7F5] p-[8px_12px] rounded-[4px] text-[14px] font-[400] leading-[17.5px] tracking-[0.005em] border-none outline-none h-[42px] block w-full placeholder:text-[#B2B2B2]">
                        </div>
                      </div>
                    </form>

                </div>

            </div>
        </div>
    </div>




</section>



{{template "footer" .}}
<script src="/public/js/settings/emailconfig/emailconfig.js"></script>

{{template "footerclose" .}}