{{template "header" .}}
{{template "settingsmenu" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$IMAGEPATH := ""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(225, 102, 97)"}}
{{$IMAGEPATH = "/public/img/add-icon-red.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(128, 96, 185)"}}
{{$IMAGEPATH = "/public/img/add-icon-purple.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(57, 129, 234)"}}
{{$IMAGEPATH = "/public/img/add-icon-blue.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 217)"}}
{{$IMAGEPATH = "/public/img/add-icon.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(109, 77, 64)"}}
{{$IMAGEPATH = "/public/img/add-icon-brown.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(243, 133, 7)"}}
{{$IMAGEPATH = "/public/img/add-icon-orange.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(75, 163, 74)"}}
{{$IMAGEPATH = "/public/img/add-icon-green.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(0, 140, 140)"}}
{{$IMAGEPATH = "/public/img/add-icon-teal-blue.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$IMAGEPATH = "/public/img/add-icon-black.svg"}}
{{else}}
 {{$IMAGEPATH ="/public/img/add-icon.svg"}}
{{end}}

<div class="page-wrapper settings-wrapper">
    <div class="details-roles roles-permission language-details dtl-rls">
        <div class="search-role">
            <form action="/settings/languages/" method="get">
                <div class="search-grp ">
                    <a type="button"><img src="/public/img/search.svg"></a>
                    <input type="text" name="keyword" class="search" id="languagesearch" placeholder="{{$Translate.Csearch}}"
                        value="{{ .Filter.Keyword }}">
                </div>
            </form>
            <a href="javascript:void(0)" class="primary-link decor-none" data-bs-toggle="modal"
                data-bs-target="#laguangeModal">
                <div class="add-new"><img src="{{$IMAGEPATH}}" alt="">
                    <p class="primary-link decor-none">{{$Translate.Languages.NewLanguage}}</p>
                </div>
            </a>
        </div>
        <div class="table-responsive entries-table">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 0; padding-right: 0;"> 
                            <div class="chk-group">
                              <input type="checkbox" id="Check">
                              <label for="Check"></label>
                            </div>
                          </th>
                        <th>{{$Translate.Languages.Languagename}}</th>
                        <th class="text-center">{{$Translate.Languages.Languagecode}}</th>
                        <th>{{$Translate.Languages.Lastupdatedon}}</th>
                        <th class="text-center">{{$Translate.Languages.Status}}</th>
                        <th style="text-align: end;padding-right: 60px;">{{$Translate.Actions}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{if .Languages}}

                    {{range .Languages}}
                    
                    <tr>
                        <td style="padding-right: 0;"> 
                            {{if ne .Id 1}}
                             <div class="d-flex  gap-4 align-items-center">
                            <div class="chk-group">
                              <input type="checkbox" class="selectcheckbox" id="Check{{.Id}}" data-id="{{.Id}}">
                              <label for="Check{{.Id}}"></label>
                            </div>
                          </div>
                          {{end}}
                        </td>
                        <td>
                            <div class="tbl-img-content flexx">
                                <div class="tbl-img lang-img"><img src="{{.ImagePath}}" alt=""></div>
                                <h4>{{.LanguageName}}</h4>
                                {{if ne .DefaultLanguageId 0}}<span
                                    class="default">{{$Translate.Languages.Default}}</span>{{end}}
                            </div>
                        </td>
                        <td class="text-center role-desc">{{.LanguageCode}}</td>
                        <td class="role-desc">{{.DateString}}</td>

                        <td class="text-center">
                            <div class="toggle">
                                <input class="tgl tgl-light" id="language{{.Id}}" data-id="{{.Id}}"
                                    onclick="LanguageStatus(this,event)" type="checkbox" {{if eq .IsStatus
                                    1}}checked{{end}} />
                                <label class="tgl-btn" for="language{{.Id}}"></label>
                            </div>
                        </td>
                        <td style="text-align: end;padding-right: 60px;">
                            <div class="btn-group language-group">
                                <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{$Translate.Action}} <img src="/public/img/arrow-down.svg" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <!-- <li><button class="dropdown-item" type="button"> <span><img
                                                    src="/public/img/published.svg" alt=""></span> Published</button>
                                    </li>
                                    <li><button class="dropdown-item" type="button"> <span><img
                                                    src="/public/img/eye_off.svg" alt=""></span> Unpublished </button>
                                    </li> -->
                                    <li><a href="/settings/languages/downloadlanguage/{{.Id}}"><button
                                                class="dropdown-item" type="button"> <span><img
                                                        src="/public/img/copy.svg" alt=""></span>
                                                {{$Translate.Download}} </button></a></li>
                                    <li><a class="dropdown-item edit-language" type="button" data-id="{{.Id}}">
                                            <span><img src="/public/img/edit.svg" alt=""></span> {{$Translate.Edit}}
                                        </a></li>
                                    <li><a class="dropdown-item delete-language" type="button" data-id="{{.Id}}">
                                            <span><img src="/public/img/delete.svg" alt=""></span> {{$Translate.Delete}}
                                        </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                    {{else}}
                    {{if .Filter.Keyword}}
                    <tr class="no-dataHvr">
                        <td style="text-align: center; border-bottom: none;" colspan="8">
                            <div class="noData-foundWrapper">

                                <div class="empty-folder">
                                    <img src="/public/img/nodatafilter.svg" alt="">
                                </div>
                                <h1 class="heading">{{$Translate.Oopsnodata}}</h1>

                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <tr class="noData-found-row no-dataHvr">
                        <td colspan="7" class="text-center">
                            <div class="noData-foundWrapper">

                                <div class="empty-folder">
                                    <img src="/public/img/folder-sh.svg" alt="" />
                                    <img src="/public/img/shadow.svg" alt="">
                                </div>
                                <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                <p class="para">
                                    {{$Translate.Pagesorry}}
                                    {{$Translate.Gobackhome}}
                                </p>
                                <a href="javascript:void(0)" class="heading-three " data-bs-toggle="modal"
                                    data-bs-target="#laguangeModal">{{$Translate.Clickadd}} >></a>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                {{end}}
                </tbody>
            </table>
        </div>
        {{if .Languages}}
        <div class="pogination flexx pagenation-padding sticky-pagination">
            <ul class="flexx">
                {{if gt .Count .Limit}}
            
                <li>  <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage 1}} class="disabled" {{end}}>
                    <img src="/public/img/carat-right.svg" alt="" />
                </a></li>
                {{if gt .CurrentPage 3}}
                <li><a href="?page=1{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" >1</a></li>
                {{end}}
                {{if eq .CurrentPage 5}}
                <li><a href="?page=2{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">2</a></li>
                {{end}}
                {{if gt .CurrentPage 5}}
                <li><a href="">...</a></li>
                {{end}}
                {{if gt .CurrentPage 2}}
                <li><a href="?page={{.Pagination.TwoBelow}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoBelow}}</a></li>
                {{end}}
                {{if gt .CurrentPage 1}}
                <li><a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.PreviousPage}}</a></li>
                {{end}}
                <li><a href="" {{if  .CurrentPage }} class="current" {{end}}>{{.CurrentPage}}</a></li>
                {{if lt .CurrentPage .Pagination.TotalPages}}
                <li><a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.NextPage}}</a></li>
                {{end}}
                {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
                <li><a href="?page={{.Pagination.TwoAfter}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TwoAfter}}</a></li>
                {{end}}
                {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
                <li><a href="">...</a></li>
                {{end}}
                {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
                <li><a href="?page={{.Pagination.TotalPages}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}">{{.Pagination.TotalPages}}</a></li>
                {{end}}
                <li>
                    <a href="?page={{.Pagination.NextPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}" {{if eq .CurrentPage .PageCount}} class="disabled" {{else}} class="next" {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a>
                </li>
               
               {{end}}
            </ul>
            <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
        </div>
        {{end}}
    </div>
     <!--------selected----------->
 <div class="selected-numbers leftalign" style="display: none;">
    <p class="heading-three text-white checkboxlength"> </p>
    <div class="d-flex">
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 pe-2 me-2 border-end border-gray " id="seleccheckboxdelete" data-bs-toggle="modal"
      data-bs-target="#centerModal">
        <img src="/public/img/delete-select.svg" alt="delete"> Delete</a>
      <a href="javascript:void(0)" class="heading-three text-white d-flex align-items-center gap-2 " id="unbulishslt" data-bs-toggle="modal" data-bs-target="#centerModal"> </a>
    </div>
    <a href="javascript:void(0)" class="heading-three text-white" id="deselectid">Deselect All</a>
  </div>
</div>

<!-- Center Modal -->
<div class="modal fade" id="laguangeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{$Translate.Languages.Addnewlanguage}}</h3>
                <button class='close' data-bs-dismiss="modal"> <img src="/public/img/modal-close.svg" alt="" />
                </button>
            </div>
            <form action="/settings/languages/addlanguage" name="language-form" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="csrf" value="{{.csrf}}">
                <input type="hidden" value="" id="langid" name="langid">

                <div class="modal-body">
                    <h1 class="heading">{{$Translate.Languages.Basicinfo}}</h1>
                    <div class="fill-account-details">
                        <div class="input-field-group">
                            <div class="input-group">
                                <label class="input-label" for="">{{$Translate.Languages.Languagename}} *</label>
                                <div class="ig-row">
                                    <input type="text" name="lang_name"   placeholder="{{$Translate.Languages.Languagename}}">
                                </div>
                            </div>

                            <div class="input-group  user-drop-down mb-15" id="languagecode">
                                <label for="" class="input-label">{{$Translate.Languages.Languagecode}}</label>
                                <a class="dropdown-toggle field" type="button" id="triggerId" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{$Translate.Languages.Selectlangcode}}

                                </a>
                                <div class="dropdown-menu filter-dropdown-menu" aria-labelledby="triggerId">
                                    {{$Id := .Languageidarr}}
                                    {{if .Languagecodearr}}

                                    <div class="ig-row ig-channel-input">
                                        <input type="text" id="searchlanguagecode" class="search" name="keyword"
                                            placeholder="{{$Translate.Languages.Searchpl}}" value="">

                                    </div>
                                    <input type="hidden" value="" id="lang_code" name="lang_code">

                                    <div class="languagecode-list-row">

                                        {{range .Languagecodearr}}
                                      
                                        <button class="dropdown-item dropdown-values"   type="button">{{.}}</button>
                                                
                                        {{end}}
                                    </div>
                                    {{else}}
                                    <div class="noData-foundWrapper" style="margin-top: -40px;">

                                        <div class="empty-folder">
                                            <img style="max-width: 20px;" src="/public/img/folder-sh.svg" alt="">
                                            <img src="/public/img/shadow.svg" alt="">
                                        </div>
                                        <h1 style="text-align: center;font-size: 10px;" class="heading">
                                            {{$Translate.Oopsnodata}}</h1>

                                    </div>

                                    {{end}}

                                    <div class="noData-foundWrapper" id="nodatafoundtexts"
                                        style="margin-top: -40px;display: none;">

                                        <div class="empty-folder">
                                            <img style="max-width: 20px;" src="/public/img/folder-sh.svg" alt="">
                                            <img src="/public/img/shadow.svg" alt="">
                                        </div>
                                        <h1 style="text-align: center;font-size: 10px;" class="heading">
                                            {{$Translate.Oopsnodata}}</h1>

                                    </div>

                                </div>
                                <label id="lang_code-error" class="error" for="lang_code"
                                style="display: none;">* {{$Translate.Languages.Langvailderr}} </label>
                            </div>

                        </div>
                        <div class="input-field-group">
                            <div class="active-toggle">
                                <div class="active-content">
                                    <h4 class="heading-four">{{$Translate.Languages.Active}}</h4>
                                    <!-- <p class="para-light">Lorem ipsum dolor sit amet, consetetur </p> -->
                                </div>
                                <div class="toggle">
                                    <input class="tgl tgl-light" id="ckb1" name="lang_status" type="checkbox" />
                                    <label class="tgl-btn" for="ckb1"></label>
                                </div>
                            </div>
                            <div class="active-toggle">
                                <div class="active-content">
                                    <h4 class="heading-four">{{$Translate.Languages.Makedefault}}</h4>
                                    <!-- <p class="para-light">Lorem ipsum dolor sit amet, consetetur </p> -->
                                </div>
                                <div class="toggle">
                                    <input class="tgl tgl-light" id="ckb2" name="lang_default" type="checkbox" />
                                    <label class="tgl-btn" for="ckb2"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upload-lang-modal">
                        <h1 class="heading">{{$Translate.Languages.Upload}}</h1>
                        <div class="full-upload" style="margin-bottom: 1rem;">
                            <div class="upload-json">
                                <span>{{$Translate.Languages.Jsonfile}} *</span>
                                <div class="file-upload">
                                    <img src="/public/img/folder.svg" alt="">
                                    <p class="para">{{$Translate.Languages.Uploadjson}}</p>

                                    <div class="upload-button">
                                        <button class="btn-reg btn-xs primary "> {{$Translate.Browse}}
                                        </button>
                                        <input type="file" name="lang_json" id="lang_json">
                                    </div>
                                </div>
                                <label id="lang_json-error" class="error lang_file"
                                    for="lang_json">{{$Translate.ContentAccessControl.Titlevailderr}}</label>
                            </div>
                            <div class="upload-json">
                                <span>{{$Translate.Languages.Flagpicture}} *</span>
                                <div class="file-upload">
                                    <img src="/public/img/upload-logo.svg" alt="">
                                    <p class="para">{{$Translate.Languages.Uploadimg}}</p>
                                    <div class="upload-button">
                                        <button class="btn-reg btn-xs primary "> {{$Translate.Browse}}
                                        </button>
                                        <input type="file" name="flag_imgpath">
                                    </div>
                                </div>
                                <label id="flag_imgpath-error" class="error lang_file"
                                    for="flag_imgpath">{{$Translate.ContentAccessControl.Titlevailderr}}</label>
                            </div>
                        </div>
                        <!-- <div class="full-upload">
                        <div class="upload-json">
                            <span>JSON file</span>
                            <div class="uploaded-file">
                                <img src="/public/img/folder.svg" alt="">
                                <p class="para">spanish.json</p>
                                <a href="#"><img src="/public/img/delete-icon.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="upload-json">
                            <span>Flag picture</span>
                            <div class="uploaded-file">
                                <img src="/public/img/spain-flag.png" alt="" class="uploaded-img-flag">
                                <button class="delete-flag"><img src="/public/img/delete-white-icon.svg"
                                        alt=""></button>
                                <div class="hover-delete-img"></div>
                            </div>
                        </div>
                    </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-save">
                        <button type="button" class="btn-reg btn-md primary "> {{$Translate.Save}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "mediamodal" .}}
{{template "mediadecidemodal" .}}
{{template "cropmodal" .}}
{{template "footer" .}}
<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script src="/public/js/settings/languages/language.js"></script>
<script src="/public/js/media/media.js"></script>
{{template "footerclose" .}}