{{template "header" .}}
{{template "settingsmenu" .}}
{{$Translate := .translate}}
{{template "head" .}}
{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}


<div class="page-wrapper settings-wrapper">
    <div class="details-roles">
        <div class="myaccount-details">
            <h4 class="heading-four">{{$Translate.Languages.Basicinfo}}</h4>
            <p class="para-light">{{$Translate.Myprofilequotes}} </p>
            <form action="/settings/updateprofile" method="post" id="userform" name="userform" >
                <input type="hidden" name="csrf" value="{{.csrf}}">
                <input type="hidden" value="{{.user.Id}}" name="id" id="id">
                <input type="hidden" name="crop_data">
            <div class="update-account">
                <div class="update-profile-img">
                    {{if .user.ProfileImagePath}}
                    <img src="/{{ .user.ProfileImagePath }}" alt="" id="profpic" name="prof_pic">
                    {{else}}
                    <img src="/{{ .user.ProfileImagePath }}" alt="" id="profpic" name="prof_pic" style="display: none;">
                    <div class="name-string"><span>{{.user.NameString}}</span></div>
                    {{end}}
                    <div class="profile-info"></div>
                    <button class="cam-logo" type="button">
                        <input id="myfile" name="prof_pic" type="file"> 
                        <img src="/public/img/cam-logo.svg" alt=""></button>
                        <label id="myfile-error" class="error" for="myfile" style="display: none;
                        font-size: 0.75rem;
                        font-weight: 400;
                        color: #F26674;position: absolute;
    top: 100%;">* Please select jpg|png|jpeg files only</label>
                </div>
                <!-- <div class="update-profile-img">
                    <img src="{{if .user.ProfileImagePath}}/{{ .user.ProfileImagePath }}{{else}} /public/img/profile.png{{end}}" alt="">
                    <div class="profile-info"></div>
                    <button class="cam-logo"><img src="/public/img/cam-logo.svg" alt=""></button>
                </div> -->
                <div class="fill-account-details">
                    <div class="input-field-group">
                        <div class="input-group">
                            <label for="" class="input-label">{{$Translate.Userss.Firstname}} *</label>
                            <div class="ig-row">
                                <input type="text" class="field" name="user_fname" placeholder="{{$Translate.Userss.Labelfname}}" value="{{.user.FirstName}}">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for=""  class="input-label">{{$Translate.Userss.Lastname}}</label>
                            <div class="ig-row">
                                <input type="text"  name="user_lname" placeholder="{{$Translate.Userss.Labellname}}" value="{{.user.LastName}}">
                            </div>
                        </div>
                    </div>
                    <div class="input-field-group">
                        <div class="input-group">
                            <label for="" class="input-label">{{$Translate.Userss.Username}} *</label>
                            <div class="ig-row">
                                <input type="text" class="field" name="user_name" placeholder="{{$Translate.Userss.Labeluname}}" value="{{.user.Username}}">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="" class="input-label">{{$Translate.Role}}</label>
                            <div class="ig-row">
                                <input type="text" name="user_role" style="color: #d2d2d2; " disabled placeholder="role" value="{{.rolename}}">
                            </div>
                        </div>
                    </div>
                    <div class="input-field-group">
                        <div class="input-group">
                            <label for="" class="input-label">{{$Translate.Email}} *</label>
                            <div class="ig-row">
                                <input type="text"class="field" name="user_email" placeholder="{{$Translate.Userss.Labelemail}}" value="{{.user.Email}}">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for=""  class="input-label">{{$Translate.Userss.Mobile}} *</label>
                            <div class="ig-row">
                                <input type="text" class="field" name="user_mob" placeholder="{{$Translate.Userss.Labelmobile}}" value="{{.user.MobileNo}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="configurationContent-btm">
            <button class="btn-reg btn-lg primary" type="button"  id="uptprofile">{{$Translate.Update}}</button>
        </div>
    </form>
</div>

{{template "footer" .}}
<script src="/public/js/settings/myprofile/myprofile.js"></script>

{{template "cropmodal" .}}
{{template "footerclose" .}}