{{template "header" .}}
{{template "settingsmenu" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$IMAGEPATH := ""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(225, 102, 97)"}}
{{$IMAGEPATH = "/public/img/add-icon-red.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(128, 96, 185)"}}
{{$IMAGEPATH = "/public/img/add-icon-purple.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(57, 129, 234)"}}
{{$IMAGEPATH = "/public/img/add-icon-blue.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 217)"}}
{{$IMAGEPATH = "/public/img/add-icon.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(109, 77, 64)"}}
{{$IMAGEPATH = "/public/img/add-icon-brown.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(243, 133, 7)"}}
{{$IMAGEPATH = "/public/img/add-icon-orange.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(75, 163, 74)"}}
{{$IMAGEPATH = "/public/img/add-icon-green.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(0, 140, 140)"}}
{{$IMAGEPATH = "/public/img/add-icon-teal-blue.svg"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$IMAGEPATH = "/public/img/add-icon-black.svg"}}
{{else}}
 {{$IMAGEPATH ="/public/img/add-icon.svg"}}
{{end}}
<div class="page-wrapper settings-wrapper">
    <input type="hidden" name="csrf" value="{{.csrf}}">
    <div class="details-roles roles-permission setting-teamm">
        <div class="search-role">
            <form action="/settings/roles/" class="filterform" method="get" autocomplete="off"
                style="position: relative;">
                <!-- <input type="text" name="" id="" class="search" placeholder="Search Roles"> -->
                <a type="button" class="searchbtn" id="filterformsubmit"><img src="/public/img/search.svg"></a>
                <div>
                    <input type="text" id="searchroles" class="search" name="keyword" value="{{.keyword}}"
                        placeholder="{{$Translate.Permission.Searchroles}}">
                </div>
            </form>
            <a href="javascript:void(0)" class="primary-link decor-none" data-bs-toggle="modal"
                data-bs-target="#roles-permissionModal">
                <div class="add-new"><img src="{{$IMAGEPATH}}" alt="">
                    <p class="primary-link decor-none">{{$Translate.Rolecontent.Newrole}}</p>
                </div>
            </a>
        </div>
        <div class="table-responsive page-ponit role-pg">
            <table class="table">
                <thead>
                    <tr>

                        <th>{{$Translate.Role}}</th>
                        <th width="50%">{{$Translate.Description}}</th>
                        <th>{{$Translate.Rolecontent.Lastmodifiedon}}</th>
                        <th class="text-center">{{$Translate.Channell.Status}}</th>
                        <th class="text-center">{{$Translate.Configuration}}</th>
                        <th>{{$Translate.Actions}}</th>

                    </tr>
                </thead>
                <tbody>
                    {{if .roles}}
                    {{range .roles}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td class="role-desc">{{.Description}}</td>
                        <td class="role-desc role-date">{{.CreatedDate}}</td>
                        <td class="text-center">
                            {{if ne .Id 1}}
                            <div class="toggle">
                                <input class="tgl tgl-light" id="cb{{.Id}}" data-id="{{.Id}}"
                                    onclick="RoleStatus('{{.Id}}')" type="checkbox" {{if eq .IsActive 1}} checked
                                    {{end}} />
                                <label class="tgl-btn" for="cb{{.Id}}"></label>
                            </div>
                            {{end}}
                        </td>
                        <td class="text-center">
                            {{if ne .Id 1}}
                            {{if eq .Slug "Yettoconf"}}
                            <a href="javascript:void(0)" class="primary-link" id="configure"
                                data-bs-toggle="modal" data-bs-target="#roles-permissionModal"
                                data-id="{{.Id}}">{{$Translate.Rolecontent.Yettoconfigure}}</a>
                            {{else}}
                            <a href="javascript:void(0)" id="manage" class="secondary-link" data-bs-toggle="modal"
                                data-bs-target="#roles-permissionModal"
                                data-id="{{.Id}}">{{$Translate.Rolecontent.Manage}}</a>
                            {{end}}
                            {{end}}
                        </td>
                        <td>
                            {{if ne .Id 1}}
                            <div class="btn-group language-group">
                                <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{$Translate.Action}} <img src="/public/img/arrow-down.svg" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><button class="dropdown-item roledit" type="button" data-bs-toggle="modal"
                                            data-bs-target="#roles-permissionModal" data-id="{{.Id}}"> <span><img
                                                    src="/public/img/edit.svg" alt=""></span> {{$Translate.Edit}}
                                        </button></li>
                                    <li><button class="dropdown-item roldel" type="button" data-bs-toggle="modal"
                                            data-bs-target="#centerModal" data-id="{{.Id}}"> <span><img
                                                    src="/public/img/delete.svg" alt=""></span> {{$Translate.Delete}}
                                        </button></li>
                                </ul>
                            </div>
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                    {{else}}
                    {{if .keyword}}
                    <tr class="no-dataHvr">
                        <td style="text-align: center; border-bottom: none;" colspan="8">
                            <div class="noData-foundWrapper">

                                <div class="empty-folder">
                                    <!-- <img src="/public/img/folder-sh.svg" alt=""> -->
                                    <img src="/public/img/nodatafilter.svg" alt="">
                                </div>
                                <h1 class="heading">{{$Translate.Oopsnodata}}</h1>

                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <tr class="no-dataHvr">
                        <td style="text-align: center; border-bottom: none;" colspan="8">
                            <div class="noData-foundWrapper">

                                <div class="empty-folder">
                                    <img src="/public/img/folder-sh.svg" alt="">
                                    <img src="/public/img/shadow.svg" alt="">
                                </div>
                                <h1 class="heading">{{$Translate.Oopsnodata}}</h1>
                                <p class="para">
                                    {{$Translate.Pagesorry}}
                                    {{$Translate.Gobackhome}}
                                </p>
                                <a href="/settings/roles/" data-bs-toggle="modal"
                                    data-bs-target="#roles-permissionModal" id="clickadd"
                                    class="heading-three">{{$Translate.Clickadd}} &gt;&gt;</a>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{if .roles}}
        <div class="pogination flexx pagenation-padding sticky-pagination">
            {{if .Page}}
            <ul class="flexx">
                <li>
                    <a href="?page={{.Previous}}" {{if eq .CurrentPage 1}} class="disabled" {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a>
                </li>
                {{range .Page}}
                <li><a href="?page={{.}}" {{if eq $.CurrentPage .}} class="current "
                        {{end}}>{{.}} </a></li>
                {{end}}
                <li>
                    <a href="?page={{.Next}}" {{if eq .CurrentPage .PageCount}} class="disabled " {{else}} class="next"
                        {{end}}>
                        <img src="/public/img/carat-right.svg" alt="" />
                    </a>
                </li>
            </ul>
            {{end}}
            <p>{{.Paginationstartcount}} – {{.Paginationendcount}} of {{.Count}}</p>
        </div>
        {{end}}
    </div>
</div>

<!-- Center Modal -->
<div class="modal fade roles-permision-modal" id="roles-permissionModal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{$Translate.Rolecontent.Addnewrole}} & {{$Translate.Rolecontent.Setpermisson}}</h3>
                <button class='close' data-bs-dismiss="modal"> <img src="/public/img/modal-close.svg" alt="" />
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="roleform" method="post">
                    <input type="hidden" name="pageno" value="" id="pageno">
                    <input type="hidden" id="url">
                    <input type="hidden" id="rolid">
                    <h1 class="heading">{{$Translate.Rolecontent.Roledetails}}</h1>
                    <div class="input-group" id="rolen">
                        <label for="" class="input-label">{{$Translate.Role}} *</label>
                        <div class="ig-row">
                            <input type="text" name="name" class="field" id="rolename" value="{{.Name}}"
                                placeholder="{{$Translate.Rolecontent.Enterrole}}" />
                            <label id="rolename-error" class="error" for="rolename" style="display: none;">* Please
                                enter the Role name</label>
                        </div>
                    </div>
                    <div class="input-group rolespermision-textarea" id="roledes">
                        <label for="" class="input-label">{{$Translate.Description}} *</label>
                        <div class="ig-row">
                            <textarea name="description" placeholder="{{$Translate.Enterdescription}}" class="field"
                                id="roledesc" style="resize: none;height:100px;"></textarea>
                        </div>
                    </div>
                    <div class="permissionsection">
                        <h1 class="heading">{{$Translate.Permission.Permissions}}</h1>
                        {{range .Module}}
                        <div class="accordion " id="{{.Description}}">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{.Description}}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{.Description}}" aria-expanded="true"
                                        aria-controls="collapse{{.Description}}">
                                        <div class="accord-head">
                                            <img src="{{.IconPath}}" alt="">
                                            {{.ModuleName}}
                                        </div>
                                    </button>
                            </div>
                            <div id="collapse{{.Description}}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{.Description}}" data-bs-parent="#{{.Description}}">
                                <div class="accordion-body">
                                    {{range .TblModulePermission}}
                                    <div class="permission-modal">
                                        <div class="permission-content">
                                            <h4 class="heading-four">{{.DisplayName}}</h4>
                                            <p class="para-light">{{.Description}}</p>
                                        </div>
                                        <div class="chk-group">
                                            <input type="checkbox" class="roleperm" data-id="{{.Id}}" id="Check{{.Id}}">
                                            <label for="Check{{.Id}}"></label>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>

                        {{end}}
                    </div>
            </div>
            <div class="modal-footer">
                <div class="modal-save">
                    <button class="btn-reg btn-md primary saverolperm" type="button">{{$Translate.Save}} </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{{template "footer" .}}
<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script src="/public/js/settings/rolespermissions/rolespermission.js"></script>
{{template "footerclose" .}}