{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
<div class="page-wrapper">
  <input type="hidden" name="csrf" value="{{.csrf}}">
  <div class="setting-admin">
    {{range .Menu.TblModule}}
    {{if eq .ModuleName "Settings"}}
    
    <div class="setting-profile">
      <h2 class="heading-second">{{$Translate.Profile}}</h2>
      <p class="para">{{$Translate.Setting.Profilecontent}}</p>
      <div class="full-details">
        {{range .SubModule}}
        {{if eq .ModuleName "My Account"}}
        <a href="/settings/myprofile" class="details">
          <img src="/public/img/profile.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Setting.Myaccount}}</h3>
            <p class="para">{{$Translate.Setting.Myaccountcontent}}</p>
          </div>
        </a>
        {{end}}
        {{if eq .ModuleName "Security"}}
        <a href="/settings/changepassword" class="details">
          <img src="/public/img/security.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Setting.Security}}</h3>
            <p class="para">{{$Translate.Setting.Securitycontent}} </p>
          </div>
        </a>
        {{end}}
        {{end}}
      </div>
      <div class="sep-settings"></div>
    </div>

    {{$FLG := ""}}

    <div class="setting-profile" {{range .SubModule}}{{if eq .ModuleName "Roles & Permissions"}} {{if .Routes}} {{$FLG = "true"}} {{end}}{{else if  eq .ModuleName "Team"}} {{if .Routes}} {{$FLG = "true"}} {{end}} {{end}}{{end}} {{if ne $FLG "true"}} style="display: none;"{{end}}>
      <h2 class="heading-second">{{$Translate.Permission.Permissions}}</h2>
      <p class="para">{{$Translate.Setting.Permissionscontent}}</p>
      <div class="full-details">
        {{range .SubModule}}
        {{if eq .ModuleName "Roles & Permissions"}}
        {{if .Routes}}
        <a href="/settings/roles/" class="details">
          <img src="/public/img/roles-permision.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Roles}} & {{$Translate.Permission.Permissions}}</h3>
            <p class="para">{{$Translate.Setting.Rolescontent}}
            </p>
          </div>
        </a>
        {{end}}
        {{end}}
        {{if eq .ModuleName "Team"}}
        {{if .Routes}}
        <a href="/settings/users" class="details">
          <img src="/public/img/team.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Setting.Teams}}</h3>
            <p class="para">{{$Translate.Setting.Teamcontent}}
            </p>
          </div>
        </a>
        {{end}}
        {{end}}
        {{end}}
      </div>
      <div class="sep-settings"></div>
    </div>

    {{$FLG2 := ""}}
    <div class="setting-profile" {{range .SubModule}}{{if eq .ModuleName "Languages"}} {{if .Routes}} {{$FLG2 = "true"}} {{end}}{{else if  eq .ModuleName "Email Templates"}} {{if .Routes}} {{$FLG2 = "true"}} {{end}}{{else if  eq .ModuleName "General Settings"}} {{if .Routes}} {{$FLG2 = "true"}} {{end}}{{else if  eq .ModuleName "Graphql Api"}} {{if .Routes}} {{$FLG2 = "true"}} {{end}}{{else if  eq .ModuleName "Data"}} {{if .Routes}} {{$FLG2 = "true"}} {{end}} {{end}}{{end}} {{if ne $FLG2 "true"}} style="display: none;"{{end}}>
      <h2 class="heading-second">{{$Translate.Setting.System}}</h2>
      <p class="para">{{$Translate.Setting.Systemcontent}}</p>
      <div class="full-details">
        {{range .SubModule}}
        {{if eq .ModuleName "General Settings"}}
        {{if .Routes}}
        <a href="/settings/general-settings" class="details">
          <img src="/public/img/general-settings.svg" alt="" width="32px" height="32px">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Setting.Generalsettings}}</h3>
            <p class="para">{{$Translate.Setting.Generalsettings}}</p>
          </div>
        </a>
        {{end}}
        {{end}}
        {{if eq .ModuleName "Languages"}}
        {{if .Routes}}
        <a href="/settings/languages/" class="details">
          <img src="/public/img/language.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Languages.Language}}</h3>
            <p class="para">{{$Translate.Setting.Languagecontent}} </p>
          </div>
        </a>
        {{end}}
        {{end}}
        {{if eq .ModuleName "Email"}}
        {{if .Routes}}
        <a href="/settings/emails/" class="details">
          <img src="/public/img/email.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Memberss.Email}}</h3>
            <p class="para">{{$Translate.Setting.Emailtemplatescontent}}</p>
          </div>
        </a>
        {{end}}
        {{end}}
        
        {{if eq .ModuleName "Data"}}
        {{if .Routes}}
        <a href="/settings/data" class="details">
          <img src="/public/img/data.svg" alt="">
          <div class="details-content">
            <h3 class="heading-three">{{$Translate.Data}}</h3>
            <p class="para">{{$Translate.Datas.Datadesc}}</p>
          </div>
        </a>
        {{end}}
        {{end}}
        {{end}}

      </div>

    </div>
 
    {{end}}
    {{end}}

   
  </div>
</div>
{{template "footer" .}}

{{template "footerclose" .}}