{{template "header" .}}
{{$Translate := .translate}}
{{template "head" .}}

<section class="sectionclass max-md:ms-0  max-md:max-w-full  w-full max-w-[calc(100%-232px)] ml-auto pt-[48px] min-h-screen">

    <header
        class="header-rht max-md:ms-0  max-md:w-full  flex justify-end space-x-[6px] h-[48px] border-b border-[#D9D9D9] p-[8px_16px] items-center fixed top-0 bg-white z-20 w-[calc(100%-232px)] right-0 z-[101]">
        <div class="mr-auto flex items-center space-x-[6px]">
            <a href="javascript:void(0);"
                class=" max-md:grid hidden h-[32px] w-[32px] min-w-[32px] place-items-center bg-[#F5F5F5]">
                <img src="/public/img/menu-button.svg" alt="toggle button" class="w-4 h-4 toggle-button">
            </a>
            <h2 class="text-[16px] font-medium leading-[20px] text-[#252525] whitespace-nowrap">{{$Translate.Setting.Teams}}</h2>
        </div>

            <div
                class="{{if eq .Searchtrue true}}transitionSearch active w-[300px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] border border-[#ECECEC]   {{else}}transitionSearch active w-[32px] h-[32px] flex items-center justify-center relative transition-all duration-300 ease-in-out rounded-[4px] {{end}} ">
                <a href="javascript:void(0);"
                    class=" {{if eq .Searchtrue true}} pointer-events-none {{end}} srchBtn-togg group grid h-full w-[32px] place-items-center absolute left-0 top-0  hover:bg-[#F0FFFB]">
                    <img src="/public/img/search-icon.svg" alt="search" class="block group-hover:hidden ">
                    <img src="/public/img/search-icon-active.svg" alt="search" class="hidden hovericon group-hover:block ">
                </a>
                <form action="/settings/users/" class="filterform" method="get" autocomplete="off">

                <input type="text" placeholder="{{$Translate.Csearch}}" name="keyword" id="searchroles"
                    value="{{ .Filter.Keyword }}"
                    class="top-0 text-[12px] font-light leading-[15px] flex-grow border-0 outline-none w-0 p-0 absolute right-0 w-[calc(100%-36px)] h-full block search shadow-none">
                    {{if eq .Searchtrue true}}
                    <div class=" absolute right-[6px] top-[9px] cursor-pointer searchClosebtn  ">
                        <img src="/public/img/close.svg" alt="close">
                    </div>
                    {{else}}
                    <div class=" absolute right-[6px] top-[9px] cursor-pointer hidden  Closebtn ">
                        <img src="/public/img/close.svg" alt="close">
                    </div>
                    {{end}}

                </form>
            </div>




        <button data-bs-target="#userModal" data-bs-toggle="modal"
            class="add-new h-8 px-[12px]  max-sm:px-[7px] max-sm:text-lg leading-none  max-sm:grid place-items-center max-sm:h-[32px] max-sm:min-w-[32px] rounded-[4px] bg-[#10A37F] flex items-center justify-center hover:bg-[#148569] text-sm font-normal text-white no-underline leading-0 space-x-[2px]">
           <span class="max-sm:hidden">
            {{$Translate.Userss.Addnewuser}}
            </span><span class="hidden max-sm:block text-lg leading-none ">+</span>
        </button>
    </header>

    <div class="grid grid-cols-[236px_1fr] max-sm:h-fit h-full max-sm:grid-cols-1 max-xl:grid-cols-[180px_1fr]">
        <!--accordion-->

        {{template "settingsmenu" .}}
        <!--accordion-->

        <!--table-->
        <div class="block overflow-hidden @container setConatiner pb-[70px] ">
            <input type="hidden" name="csrf" value="{{.csrf}}">
            <div class="overflow-x-auto scrollbar-thin  ">
                <table class="w-full min-w-[768px]">
                    <thead>
                        <tr>
                            <th class="px-[16px] py-[12px] pr-0 w-[30px] border-b border-[#EDEDED]">
                                <div class="chk-group chk-group-label flex justify-center">
                                    <input type="checkbox" id="Check" class="hidden peer">
                                    <label for="Check"
                                        class="w-[14px] h-[14px] relative cursor-pointer flex space-x-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                                            before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]  "></label>
                                </div>
                            </th>
                            <th class="px-[16px] py-[12px] border-b border-[#EDEDED]">
                                <p class="text-[#222222] text-sm font-normal mb-0">{{$Translate.Name}}</p>
                            </th>
                            <th
                                class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]  ">
                                {{$Translate.Role}}
                            </th>

                            <th
                                class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                                {{$Translate.Userss.Username}}
                            </th>
                            <th
                                class="text-[#222222] whitespace-nowrap font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED]">
                                {{$Translate.Memberss.Createdon}}
                            </th>
                            <th
                                class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                                {{$Translate.Channell.Status}}
                            </th>
                            <!-- <th
                                class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                                {{$Translate.Userss.Accesspermission}}
                            </th> -->

                            <th
                                class="text-[#222222] font-normal text-sm px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                                {{$Translate.Actions}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {{$roleidlog := .roleidlog}}
                        {{if .user}}
                        {{ range .user }}
                        <tr>
                            <td class="px-[16px] py-[12px] pr-0 border-b border-[#EDEDED] align-middle">
                                {{if or (eq $roleidlog 2) (ne .RoleId 2)}}
                                {{if ne $.loggedinuser .Id}}
                                    <div class="chk-group chk-group-label flex justify-center">
                                        <input type="checkbox" id="Check{{.Id}}"
                                            class="hidden peer selectcheckbox"
                                            data-id="{{.Id}}">
                                        <label for="Check{{.Id}}"
                                            class="z-[100] before:z-[100] w-[14px] h-[14px] relative cursor-pointer flex space-x-[6px] items-center mb-0 text-[14px] font-normal leading-[1] text-[#262626] tracking-[0.005em]
                                                before:bg-transparent before:w-[14px] before:h-[14px] before:inline-block before:relative before:align-middle before:cursor-pointer before:bg-[url('/public/img/unchecked-box.svg')] before:bg-no-repeat before:bg-contain before:-webkit-appearance-none peer-checked:before:bg-[url('/public/img/checked-box.svg')]"></label>
                                    </div>
                                    {{end}}
                                {{end}}
                            </td>

                            <td class="px-[16px] py-[12px] border-b border-[#EDEDED] align-middle">
                                <div class="flex space-x-[8px] items-center justify-start">

                                    <div
                                        class="min-w-[16px] h-[16px] bg-[#D9D9D9] grid place-items-center rounded-full">
                                        {{if .ProfileImagePath}}
                                        <div class="tbl-img w-[16px] h-[16px] rounded-full overflow-hidden">
                                            <img src="{{if .ProfileImagePath}}{{.ProfileImagePath}}{{else}}/public/img/profile-avtar.svg{{end}}"
                                                alt="" id="mem-img">
                                        </div>
                                        {{else}}
                                        <span class="text-[8px] font-normal">{{.NameString}}</span>
                                        {{end}}
                                    </div>

                                    <p id="username" class="text-[#262626] font-normal text-xs mb-0">{{.FirstName}}
                                        {{.LastName}}</p>
                                </div>
                            </td>


                            <td
                                class="px-[16px] py-[12px] border-b border-[#EDEDED] align-middle text-[#262626] text-xs font-normal">
                                {{.RoleName}}
                            </td>
                            <td
                                class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle">
                                {{.Username}}
                            </td>
                            <td
                                class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle">
                                {{.ModuleName}}
                            </td>
                            <!-- <td
                                class="px-[16px] whitespace-nowrap py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle">
                                05 Jul 2024 8:45 am
                            </td> -->

                            <td class="px-[16px] py-[12px] border-b border-[#EDEDED] text-center">
                                <label for="cbox{{.Id}}"
                                    class="  {{if or (eq $roleidlog 2) (ne .RoleId 2) }}{{else}} pointer-events-none opacity-50 roldisabled{{end}} {{if eq $.loggedinuser .Id}}pointer-events-none opacity-50{{end}} flex items-center justify-center cursor-pointer select-none text-dark dark:text-white">
                                    <div class="relative">
                                        <input type="checkbox" id="cbox{{.Id}}" value="{{.IsActive}}"
                                            class="peer sr-only tgl-light" data-id="{{.Id}}"
                                            onclick="UserStatus('{{.Id}}')" {{if eq .IsActive 1}}checked{{end}} />
                                        <div class="block h-4 rounded-full dark:bg-dark-2 bg-gray-3 w-[30px]">
                                        </div>
                                        <div
                                            class="absolute w-3 h-3 transition bg-white rounded-full dot dark:bg-dark-4 left-0.5 top-0.5  peer-checked:translate-x-[116%] peer-checked:bg-primary">
                                        </div>
                                    </div>
                                </label>
                            </td>


                            <td
                            class="px-[16px] py-[12px] border-b border-[#EDEDED] text-xs text-[#717171] align-middle text-center">
                            <div class="btn-group position-static">
                                <a href="javascript:void(0);" 
                                    class="border-0 grid place-items-center items-center gap-[5px] w-[24px] h-[24px] rounded-[4px] group hover:bg-[#F5F5F5] focus:bg-[#F5F5F5] show"
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                    <img src="/public/img/action-btn-active.svg" alt="dropdown"
                                        class="hidden group-hover:block">
                                    <img src="/public/img/action-btn.svg" alt="dropdown"
                                        class="block group-hover:hidden">
                                </a>
                                <div class="dropdown-menu dropdown-menu-start border-0 focus:bg-transparent drop-shadow-4 min-w-180 py-[12px]"
                                    aria-labelledby="triggerId">

                                    <a class="dropdown-item h-[40px] w-full grid grid-cols-[16px_1fr] gap-[12px] rounded-[3px] text-[12px] font-normal text-[#262626] items-center p-[12px_16px] leading-none hover:bg-[#F5F5F5] {{if or (eq $roleidlog 2) (ne .RoleId 2) }}{{else}} pointer-events-none opacity-50{{end}} {{if eq $.loggedinuser .Id}}pointer-events-none opacity-50{{end}}" href="#userModal" data-bs-toggle="modal"
                                        id="edit-btn" data-id="{{.Id}}"><img src="/public/img/edit.svg" /> <span>{{$Translate.Edit}}</span></a>
                                    <a class="cursor-pointer dropdown-item h-[40px] w-full grid grid-cols-[16px_1fr] gap-[12px] rounded-[3px] text-[12px] font-normal text-[#262626] items-center p-[12px_16px] leading-none hover:bg-[#F5F5F5]{{if or (eq $roleidlog 2) (ne .RoleId 2) }}{{else}} pointer-events-none opacity-50{{end}} {{if eq $.loggedinuser .Id}}pointer-events-none opacity-50{{end}}" data-id="{{ .Id }}" id="del-btn"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal"> <img src="/public/img/delete.svg"><span>{{$Translate.Delete}}</span></a>
                                </div>
                            </div>

                        </td>
                        </tr>
                        {{ end }}
                        {{else}}
                        {{if .Filter.Keyword}}
                        <!-- <tr class="no-dataHvr">
                            <td style="text-align: center; border-bottom: none;" colspan="8">
                                <div class="noData-foundWrapper">

                                    <div class="empty-folder">
                                        <img src="/public/img/nodatafilter.svg" alt="">
                                    </div>
                                    <h1 class="heading">{{$Translate.Oopsnodata}}</h1>

                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td colspan="8">

                                <div class="max-w-[328px] mx-auto text-center m-[120px_16px]">
                                    <div class="text-center w-fit mx-auto">
                                        <img src="/public/img/noFilter.svg" alt="noFilter">
                                    </div>
                                    <h2
                                        class="text-[#262626] text-center text-[18px] font-medium leading-[22.5px] mb-[6px] ">
                                        No data found with current filters</h2>
                                    <p
                                        class="text-[#717171] text-center text-[12px] font-normal leading-[15px] mb-[8px] ">
                                        Try changing any other keywords </p>

                                </div>
                            </td>
                        </tr>
                        {{else}}

                        {{end}}
                        {{ end }}

                    </tbody>
                </table>
            </div>


        </div>

        {{if .user}}


       <!--pagination-->
    <div
        class="@container space-x-[1rem] max-sm:w-full max-md:w-full flex justify-between   @[500px]:justify-center items-center p-[16px] fixed bottom-0 w-[calc(100%-468px)] max-[1279px]:w-[calc(100%-412px)] max-[768px]:w-[calc(100%-180px)] right-0 bg-[#ffffff] z-[978]">
        <ul class="@[500px]:!ml-auto justify-center items-center space-x-[8px] flex">
            {{if gt .Count .Limit}}
            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .Filter.Keyword}}&keyword={{.Filter.Keyword}}{{end}}"
                    class="flex justify-center w-[24px] h-[24px]  items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] space-x-[4px] {{if eq .CurrentPage 1}}opacity-50  pointer-events-none {{end}}">
                    <img src="/public/img/pg-prev.svg" alt="previous">
                    <span class="@[500px]:inline-block hidden"> {{$Translate.Jobs.Back}}</span>
                </a>
            </li>
            {{if gt .CurrentPage 3}}
            {{$keyword := .filter.Keyword}}
            <li> <a href="?page=1{{if $keyword}}&keyword={{$keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    1 </a> </li>
            {{end}}
            {{if eq .CurrentPage 5}}
            <li> <a href="?page=2{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px] ">
                    2 </a> </li>
            {{end}}
            {{if gt .CurrentPage 5}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    ...</a> </li>
            {{end}}
            {{if gt .CurrentPage 2}}
            <li> <a href="?page={{.Pagination.TwoBelow}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    {{.Pagination.TwoBelow}} </a> </li>
            {{end}}
            {{if gt .CurrentPage 1}}
            <li> <a href="?page={{.Pagination.PreviousPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    {{.Pagination.PreviousPage}} </a> </li>
            {{end}}

            <li> <a href="" class=" {{if  .CurrentPage }} flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] text-[14px]   @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px] border-none text-[#FFFFFF] hover:text-[#FFFFFF] bg-[#10A37F] hover:bg-[#148569] font-bold {{end}}">
                    {{.CurrentPage}} </a> </li>

            {{if lt .CurrentPage .Pagination.TotalPages}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
     @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    {{.Pagination.NextPage}} </a> </li>
            {{end}}
            {{if (le .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TwoAfter}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    {{.Pagination.TwoAfter}} </a> </li>
            {{end}}
            {{if (lt .Pagination.ThreeAfter .Pagination.TotalPages)}}
            <li> <a href="javascript:void(0)"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    ...</a> </li>
            {{end}}
            {{if (lt .Pagination.TwoAfter .Pagination.TotalPages)}}
            <li> <a href="?page={{.Pagination.TotalPages}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] font-normal hover:bg-[#F5F5F5] text-[#222222]
                    @[500px]:w-[33px] @[500px]:h-[36px]  w-[24px] h-[24px] space-x-[4px]">
                    {{.Pagination.TotalPages}}</a> </li> {{end}}
            <li> <a href="?page={{.Pagination.NextPage}}{{if .filter.Keyword}}&keyword={{.filter.Keyword}}{{end}}"
                    class="flex justify-center w-[24px] h-[24px] items-center rounded-[4px] border-[.0625rem] border-[#ECECEC] bg-[#FFF] hover:text-[#222222] text-[14px] hover:bg-[#F5F5F5] font-normal text-[#222222]  @[500px]:w-[77px]  @[500px]:h-[36px] space-x-[4px] {{if eq .CurrentPage .PageCount}}opacity-50  pointer-events-none {{end}}">
                    <span class="@[500px]:inline-block hidden"> {{$Translate.Next}} </span> <img src="/public/img\pg-nxt.svg"
                        alt="next">
                </a>
            </li>
            {{end}}
        </ul>
        <p class="@[500px]:!ml-auto text-[14px] font-normal text-[#222222] leading-[14px]">
            {{.Paginationstartcount}} – {{.Paginationendcount}} {{$Translate.Of}} {{.Count}}
        </p>
    </div>
    {{end}}


    </div>

    <!--Add user-->

    <div class="modal right fade" id="userModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="addmember-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content b-0 rounded-[3px] ">

                <div
                    class="px-6 max-sm:p-[6px_16px] py-1.5 border-b border-[#EDEDED] flex justify-between items-center ">
                    <h5 class="mb-0 text-bold-black font-medium text-base" id="addmember-title">
                        {{$Translate.Userss.Addnewuser}}
                    </h5>
                    <div class="flex space-x-[12px]">
                        <a href="#" data-bs-dismiss="modal" id="usermodelclose"
                            class="h-8 flex items-center justify-center px-3  text-sm font-normal text-bold-black bg-[#FAFAFA] hover:bg-[#e0e0e0] rounded-[4px] no-underline">{{$Translate.Cancel}}</a>
                        <button type="submit" id="saveuser"
                            class="flex items-center justify-center px-3  text-sm font-normal text-white bg-[#10A37F] hover:bg-[#148569] rounded-[4px] no-underline">{{$Translate.Save}}
                        </button>
                        <!-- <button type="submit" id="updateuser"
                        class="hidden h-8 flex items-center justify-center px-3  text-sm font-normal text-white bg-[#10A37F] hover:bg-[#148569] rounded-[4px] no-underline">Update
                    </button> -->
                    </div>
                </div>
                <div class="overflow-auto scrollbar-thin flex-grow-1">
                    <form action="/settings/users/createuser"  method="post" id="userform" name="userform">
                        <input type="hidden" name="csrf" value="{{.csrf}}">
                        <input type="hidden" name="userid" value="" id="userid">
                        <input type="hidden" name="pageno" value="" id="pageno">
                        <input type="hidden" name="crop_data" id="crop_data">
                        <input type="hidden" id="prof-crop">

                    <div class="p-6 max-sm:p-[16px] flex flex-col space-y-[16px]">
                        <div class="flex items-center justify-between">
                            <h3 class="text-[#262626] text-base font-normal mb-0">{{$Translate.Memberss.Basicinfo}}</h3>
                            <div class="flex space-x-[16px] items-center">
                                <div class="flex flex-col space-y-[6px]">
                                    <h3 class="text-[#152027] text-sm font-normal mb-0">
                                        {{$Translate.Memberss.Active}}</h3>
                                </div>
                                <label for="cb1"
                                    class="flex items-center  justify-center cursor-pointer select-none text-dark dark:text-white">
                                    <div class="relative">
                                        <input type="checkbox" name="mem_activestat" id="cb1" value="{{.User.IsActive}}" {{if eq .User.IsActive 1}} checked{{end}}
                                            class="peer sr-only" />
                                        <div class="block h-4 rounded-full dark:bg-dark-2 bg-gray-3 w-[30px]">
                                        </div>
                                        <div
                                            class="absolute w-3 h-3 transition bg-white rounded-full dot dark:bg-dark-4 left-0.5 top-0.5  peer-checked:translate-x-[116%] peer-checked:bg-primary">
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="flex items-start flex-col space-y-[16px]">

                            <div
                                class="min-w-[120px] w-[120px] h-[120px] rounded-full bg-[#F9F9FA] relative group overflow-hidden">

                                <img class="min-w-[120px] h-[120px]" src="/public/img/defaultprofile .svg" alt="profile"
                                    id="profpic-user">

                                <div
                                    class="absolute top-0 left-0 w-full h-full opacity-[0] bg-[#1E292C76] group-hover:opacity-100 flex justify-center items-center">
                                    <img src="/public/img/cam-logo.svg" />
                                </div>
                                <img src="" alt="" id="profpic" name="prof_pic">
                                <input id="myfile" type="file" name="prof_pics" accept="image/png, image/jpeg,image/jpg,image/svg"
                                    class="opacity-0 w-full h-full absolute top-0 left-0 cursor-pointer" />
                            </div>
                            <label id="myfile-error" class="error hidden" for="myfile" style="
                            font-size: 0.75rem;
                            font-weight: 400;
                            color: #F26674;">* Please select jpg | png | jpeg | svg file only</label>

                            <div class="w-full">

                                <div class=" grid-cols-1 grid w-full gap-[16px]">
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Userss.Firstname}}<span class="text-red-600" >*</span></p>
                                        <input type="text" id="user_fname" name="user_fname"  placeholder="{{$Translate.Userss.Labelfname}}" maxlength="25"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full checklength" />
                                            <p class="text-xs text-[#F26674] mt-2 hidden lengthErr">You have reached a maximum limit
                                                of 25
                                                characters
                                            </p>
                                        </div>
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Userss.Lastname}}</p>
                                        <input type="text" id="user_lname" name="user_lname"  placeholder="{{$Translate.Userss.Labellname}}" maxlength="25"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full checklength" />
                                            <p class="text-xs text-[#F26674] mt-2 hidden lengthErr">You have reached a maximum limit
                                                of 25
                                                characters
                                            </p>
                                        </div>
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Email}}  <span class="text-red-600" >*</span></p>
                                        <input type="text" id="user_email" name="user_email" placeholder="{{$Translate.Userss.Labelemail}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Userss.Mobile}}  <span class="text-red-600" >*</span></p>
                                        <input type="text" id="user_mob" name="user_mob" maxlength="10" placeholder="{{$Translate.Userss.Entermobilelabel}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Userss.Username}}  <span class="text-red-600" >*</span></p>
                                        <input type="text" id="user_name" name="user_name" placeholder="{{$Translate.Userss.Labeluname}}"
                                            class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                    </div>
                                    <div class="flex flex-col space-y-[6px]">
                                        <p class="text-bold-black text-sm font-normal mb-0">{{$Translate.Userss.Password}}  <span class="text-red-600" >*</span></p>
                                      <div class="relative">
                                        <input type="password" id="user_pass" name="user_pass" placeholder="{{$Translate.Userss.Enterpassword}}"
                                        class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs  field rounded-[4px] p-[12px] h-[36px] bg-[#F7F7F5] text-bold-black text-sm font-normal w-full" />
                                        <button type="button" class="eye absolute right-[8px] top-[10px] bg-transparent" id="eye">
                                            <img id="img" src="/public/img/eye-closed.svg" alt="">

                                        </button>
                                      </div>

                                    </div>

                                    <div class="dropdown open input-group" id="memgrp">
                                        <p class="text-bold-black text-sm font-normal mb-1.5">{{$Translate.Role}}  <span class="text-red-600" >*</span></p>
                                        <a  id="triggerId"
                                            class="rounded-[4px] p-[12px] h-9 border border-light-300 no-underline w-full flex justify-between items-center field cursor-pointer"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span id="showgroup" class="text-bold-gray text-sm font-normal">{{$Translate.Userss.Selectrole}}</span>
                                            <img src="/public/img/drop-down-img.svg" />
                                        </a>
                                        <input class="[&amp;+label]:text-[#F26674] [&amp;+label]:font-normal [&amp;+label]:text-xs" type="hidden" id="rolen"  name="user_role">

                                        <div class=" dropdown-menu  min-w-full w-full border-0 focus:bg-transparent pt-0 drop-shadow-4 max-h-52 overflow-auto"
                                            aria-labelledby="triggerId" data-dropdown="down">
                                            <div class="sticky top-0 bg-white z-10">
                                                <div class="px-[12px] py-[8px] relative ">
                                                    <input type="text" placeholder="Search Role"
                                                        id="searchdropdownrole" name="keyword"
                                                        class="search border border-[#ECECEC] pl-10 text-[#222222] text-xs font-light w-full h-8 rounded-[3px]" />
                                                    <img src="/public/img/search-icon.svg"
                                                        class="absolute top-4 left-6" />
                                                </div>
                                            </div>
                                            {{range .Roles}}
                                            {{if ne .Id 1}}
                                            <!-- <button
                                                class="{{if or (and (ne $.loggedinuser 1) (eq .Name `Admin`)) (and (ne $.loggedinuser 1) (eq .Name `admin`))}}pointer-events-none opacity-50{{end}}
                                                chk-group chk-group-label dropdown-items dropdown-item text-[14px] font-normal leading-[1] text-[#262626] dropdown-filter-roless cursor-pointer"
                                                type="button" data-id="{{.Id}}">{{.Name}}</button> -->

                                                <button
                                                class="{{if eq .Id 2 }}pointer-events-none opacity-50{{end}}
                                                chk-group chk-group-label dropdown-items dropdown-item text-[14px] font-normal leading-[1] text-[#262626] dropdown-filter-roless cursor-pointer"
                                                type="button" data-id="{{.Id}}">{{.Name}}</button>

                                            {{end}}
                                            {{end}}


                                            <div class="noData-foundWrapper hidden flex flex-col justify-content-center items-center h-full"
                                            id="nodatafounddesign">

                                            <div class="empty-folder">
                                                <img style="max-width: 50px;" src="/public/img/noData.svg" alt="">
                                                <img src="/public/img/shadow.svg" alt="">
                                            </div>
                                            <h1 style="text-align: center;font-size: 10px;" class="heading">
                                                {{$Translate.Oopsnodata}}</h1>
                                        </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






    </div>

</section>
{{template "footer" .}}

<script src="/public/js/settings/users/users.js"></script>


{{template "footerclose" .}}