{{template "header" .}}
{{template "head" .}}
{{$Translate := .translate}}
{{$THEMECOLOR := ""}}
{{$TEXTCOLOR := ""}}
{{$BORDERCOLOR := ""}}

{{ if eq .Menu.Personalize.MenuBackgroundColor "rgb(242, 102, 116)"}}
{{$THEMECOLOR = "bgclr1"}} {{$TEXTCOLOR = "txtclr1"}} {{$BORDERCOLOR = "brclr1"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(174, 62, 249)"}}
{{$THEMECOLOR = "bgclr2"}} {{$TEXTCOLOR = "txtclr2"}} {{$BORDERCOLOR = "brclr2"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(130, 189, 244)"}}
{{$THEMECOLOR = "bgclr3"}} {{$TEXTCOLOR = "txtclr3"}} {{$BORDERCOLOR = "brclr3"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(9, 171, 216)"}}
{{$THEMECOLOR = "bgclr4"}} {{$TEXTCOLOR = "txtclr4"}} {{$BORDERCOLOR = "brclr4"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(255, 222, 118)"}}
{{$THEMECOLOR = "bgclr5"}} {{$TEXTCOLOR = "txtclr5"}} {{$BORDERCOLOR = "brclr5"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(248, 131, 76)"}}
{{$THEMECOLOR = "bgclr6"}} {{$TEXTCOLOR = "txtclr6"}} {{$BORDERCOLOR = "brclr6"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(181, 224, 140)"}}
{{$THEMECOLOR = "bgclr7"}} {{$TEXTCOLOR = "txtclr7"}} {{$BORDERCOLOR = "brclr7"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(157, 204, 107)"}}
{{$THEMECOLOR = "bgclr8"}} {{$TEXTCOLOR = "txtclr8"}} {{$BORDERCOLOR = "brclr8"}}
{{else if eq .Menu.Personalize.MenuBackgroundColor "rgb(21, 32, 39)"}}
{{$THEMECOLOR = "bgclr9"}} {{$TEXTCOLOR = "txtclr9"}} {{$BORDERCOLOR = "brclr9"}}
{{else}}
{{$THEMECOLOR = "bgclr-default"}} {{$TEXTCOLOR = "txtclr-default"}} {{$BORDERCOLOR = "brclr-default"}}
{{end}}
<div class="page-wrapper">
    <section class="cms404-wrapper">
        <div class="cms404-img">
            <img src="/public/img/cms404-img.svg" alt="">
        </div>
        <h1 class="cms404-heading">Page not found</h1>
        <p class="heading-second">The page you are looking for might have been removed had its name changed or is
            temporarily unavailable.</p>
        <a href="/dashboard" class="btn-reg btn-lg primary">Back to Home</a>
    </section>

</div>

{{template "footer" .}}

{{template "footerclose" .}}